<% @warnings.each do |warning| %>
  <div class="px-3">
    <span class="primary-font-color d-block"><%= I18n.localize(warning.created_at, :format => :date_default) %></span>
    <span class="primary-font-color font-weight-bold text-capitalize"><%= warning.name %></span>
    <p class="primary-font-color font-weight-bold text-capitalize"><%= truncate(warning.description, :length => 250, :separator => ' ').html_safe %></p>
    <p class="text-right primary-font-color">
      <%= link_to(warning.warning_file.url(:original, false), :class => "no-style-link", :target=>"_blank") do %>
        <img src="/assets/icons/download.png" class="px-3">
        Download
      <% end %>
    </p>
  </div>
<% end %>
<div class="pt-5">
  <%= will_paginate(@warnings)%>
</div>