<section class="intitution-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= institutions_path %>">Institucional</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>Conheça <span class="font-weight-bold">mais a FESB</span></span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/topos/institution-banner.jpg">
  </div>
  <div class="container-fluid p-0 d-flex primary-background-color class-tabs">
    <ul class="tabs-custom nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-lg-down align-items-center">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if !params[:editais] %> px-3 py-5" data-toggle="tab" href="#history">história</a>
      </li>
      <li class="nav-item"><a class="nav-link px-3 py-custom-1" data-toggle="tab" href="#adm">direção e<br>administração</a></li>
      <li class="nav-item"><a class="nav-link px-3 py-5" data-toggle="tab" href="#conv">convênios</a></li>
      <li class="nav-item"><a class="nav-link px-3 py-custom-1" data-toggle="tab" href="#conse">conselho curador</a></li>
      <li class="nav-item"><a class="nav-link px-3 py-custom-1" data-toggle="tab" href="#pictures">fotos campus</a></li>
      <li class="nav-item"><a class="nav-link <%= 'active' if params[:editais] %> px-3 py-5" data-toggle="tab" href="#edit">editais</a></li>
      <li class="nav-item"><a class="nav-link px-3 py-custom-1" data-toggle="tab" href="#reg">regimento escolar</a></li>
      <!-- <li class="nav-item"><a class="nav-link px-3 py-custom-2" data-toggle="tab" href="#comi">comissão permanente de avaliação</a></li> -->
      <li class="nav-item"><a class="nav-link px-3 py-5" data-toggle="tab" href="#comis">Comissões</a></li>
    </ul>
    <ul class="nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-xl-up">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if !params[:editais] %> px-3 py-5" data-toggle="tab" href="#history">história</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3 py-5" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">
           mais opções</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#adm">administração</a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#conv">convênios</a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#conse">conselho<br>curador<br>curricular</a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#pictures">fotos campus</a>
          <a class="dropdown-item nav-link <%= 'active' if params[:editais] %> px-3 py-5" data-toggle="tab" href="#edit">editais</a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#reg">regimento<br>escolar</a>
          <!-- <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#comi">comissão<br>permanente<br>de avaliação</a> -->
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#comis">Comissões</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="container gray1-background mb-5 pb-5 px-0">
    <div class="tab-content">
      <div class="tab-pane in <%= 'active' if !params[:editais] %>" id="history">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">história</h1>
        <div class="row px-5">
          <div class="col-lg-8">
            <div class="responsive-video hidden-sm-down">
              <iframe src="//www.youtube.com/embed/zW--cBJz6cE"></iframe>
            </div>
            <div class="line my-4 mx-5"></div>
              <h3>Fundação de Ensino Superior de Bragança Paulista (FESB)</h3>
              <i>Mantenedora da Faculdade de Ciências e Letras e o Instituto Técnico Profissionalizante.</i>
              <p><b>Ano de Fundação:</b> 1967 (Criada por Lei Municipal Nº 855 de 03/05/1967)<br>
              <p><b>Autorização de Funcionamento:</b>  Resolução Nº 14/68 de 01/07/1968 do Conselho Estadual de Educação, homologado pelo Decreto Estadual Nº 970 de 12/05/1968 e reconhecido pelo Decreto Federal Nº 70813 de 07/07/1972<br>
              <p><b>Natureza Jurídica:</b> Fundação Pública de Direito Privado Municipal (Lei Municipal Nº 4530 de 30/06/2016, regida pelo Estatuto Social de 19/06/2016)</p>
              <p>Com cinco décadas de trabalho voltadas à Educação, a FESB, ao longo destes 50 anos, vem contribuindo de forma direta para o desenvolvimento e crescimento da região bragantina. Os ensinamentos transmitidos pela instituição já fizeram a diferença na vida de 35 mil pessoas, que hoje carregam a marca FESB, exercem suas profissões e movimentam a economia local e regional.</p>
              <p>O crescimento expressivo da faculdade mostra-se como resultado do empenho e dedicação de toda uma equipe que, não só forma excelentes profissionais e pesquisadores, como também gera cidadãos engajados com causas culturais e sociais.</p>
              <p>Contando com cursos de graduação nas áreas de educação, de saúde e de agro-negócios, a FESB carrega consigo uma bagagem repleta de memórias e conhecimentos, desenvolvendo-se cada vez mais e ganhando o devido destaque no cenário acadêmico de Bragança Paulista e região.</p>
              <p>Os cursos que iniciaram esta história foram Ciências, Letras, Desenho e Estudos Sociais (História). Em 1995,deu-se a instalação do curso Licenciatura Plena em Educação Física. A partir daí, uma sucessão de outros cursos foram tendo vez: em 1997 o Curso de Licenciatura Plena e Bacharelado em Geografia; em 1998, os Cursos de Medicina Veterinária e Nutrição são aprovados e em 2006, o curso de Pedagogia (anteriormente denominado de Normal Superior). Em 2010, tem início o curso de bacharelado em Educação Física. E em 2015, são implantados os cursos de Engenharia Agronômica e de Serviço Social.</p>
              <p>Em sua trajetória, a FESB sempre se destacou por sua atuação no campo de ensino, ciências, cultura e artes. Também marca presença através das pós-graduações, e extensões oferecidas, além de programas desenvolvidos no Hospital Veterinário (HVET), Ambulatório de Nutrição (Nutrifesb), Centro de Estudos de Educação Física (CEEF), Fazenda-Escola e no Núcleo Interdisciplinar de Estudos Pedagógicos e Pesquisa (NIEPP).</p>
              <p>Com vários prédios e uma estrutura invejável pronta a atender os acadêmicos e a comunidade, a FESB ganha cada vez mais espaço no coração da cidade de Bragança Paulista.  Integrada a sociedade, com as ações promovidas direta ou indiretamente junto à comunidade, a FESB segue com um olhar constante no futuro, porém sem desviar seu foco na missão institucional e em seu compromisso com a formação do ser humano cidadão, comprometido com a construção de uma sociedade justa e democrática.</p>
              <p>Leia nosso livro virtual: <a href="/fesb50anos">50 anos FESB</a></p>
          </div>
          <div class="col-lg-4">
            <div class="lateral-intitution-info p-4 text-white">
              <div class="media pb-3">
                <img class="d-flex mr-3" src="/assets/icons/mission.png" width="24">
                <div class="media-body">
                  <span class="font-weight-bold">Missão:</span>
                </div>
              </div>
              <span>“Fomentar a busca contínua do conhecimento, formar profissionais competentes e críticos para atuarem na sociedade com responsabilidade socioambiental, ética e justiça.”</span>
              <div class="media pb-3 pt-5">
                <img class="d-flex mr-3" src="/assets/icons/vision.png" width="24">
                <div class="media-body">
                  <span class="font-weight-bold">Visão:</span>
                </div>
              </div>
              <span>“Ser reconhecida por sua excelência acadêmica, transparência nas relações e dinamismo.”</span>
              <div class="media pb-3 pt-5">
                <img class="d-flex mr-3" src="/assets/icons/values.png" width="24">
                <div class="media-body">
                  <span class="font-weight-bold">Valores:</span>
                </div>
              </div>
              <ul>
                <li>Ética; </li>
                <li>Justiça; </li>
                <li>Respeito à individualidade e diversidade de ideias;</li>
                <li>Espírito de equipe; </li>
                <li>Respeito ao meio ambiente; </li>
                <li>Excelência no ensino, na pesquisa e na extensão; </li>
                <li>Comprometimento.</li>
              </ul>
            </div>
            <div class="pt-4">
              <p class="primary-font-color">FESB - Fundação de Ensino Superior de Bragança Paulista</p>
              <p><span class="primary-font-color">CNPJ:</span> 45.621.703/0001.75</p>
              <p><span class="primary-font-color">Endereço da Sede:</span> Avenida Francisco Samuel Lucchesi Filho, 770 - Bairro da Penha.</p>
              <p><span class="primary-font-color">Cidade:</span> Bragança Paulista </p>
              <p><span class="primary-font-color">UF:</span> SP</p>
              <p><span class="primary-font-color">CEP:</span> 12929-600 </p>
              <p><span class="primary-font-color">Fone:</span> (11) 4035 7800</p>
              <p><span class="primary-font-color">FAX:</span> (11) 4035 7802 </p>
              <p><span class="primary-font-color">Site:</span> www.fesb.br </p>
              <p><span class="primary-font-color">E-mail:</span> faculdade@fesb.br</p>
              <p><span class="primary-font-color">Nome do Presidente:</span> Adilson Octaviano </p>
              <p><span class="primary-font-color">Espécie Societária:</span> Fundação Municipal, estrutura privada.</p>
            </div>
          </div>
        </div>        
      </div>
      <div class="tab-pane fade" id="adm">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">presidente da fundação</h1>        
        <div class="p-5">
          <h3 class="primary-font-color font-weight-bold text-uppercase">ADILSON OCTAVIANO</h3>
          <div class="row">
            <div class="col-md-6 pt-4">
              <span class="primary-font-color">Formação Acadêmica</span>
              <p class="pt-4">Graduação Química Industrial (1975 – 1979) – Faculdades</p>
              <p>Oswaldo Cruz Graduação Engenharia Química (conclusão 1981) – Faculd </p>
              <p>ades Oswaldo Cruz Pós- Graduação em Gestão Ambiental ( 2006 – 2007)</p>
            </div>
            <div class="border-right-solid my-4"></div>
            <div class="col-md-5 pt-4 pl-md-5">
              <span class="primary-font-color">Atividade Profissional</span>
              <p class="pt-4">Engenheiro Químico da SABESP (de outubro de 1981 até a presente data)</p>
            </div>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">vice-presidente da fundação</h2>
        <div class="p-5">
          <div class="row">
            <h3 class="col-md-6 primary-font-color font-weight-bold">Clarice Paulina de Souza</h3>
            <!-- <span class="col-md-6 text-capitalize primary-font-color">Responsáveis pela estrutura acadêmica</span> -->
            <div class="pt-4 px-3">
              <span class="primary-font-color">Formação Acadêmica</span>
              <p class="pt-4">Pedagogia pela Universidade Nove de Julho</p>
              <p>Licenciatura em Letras- Português – Inglês pela Fundação de Ensino Superior de Bragança Paulista</p>
              <p>Especialização em: Tutoria, Metodologia, Metodologia Aprendizagem.</p>
              <p>Especialização em Design Instrucional Virtual UNIFEI- Universidade Federal de Itajubá. MG</p>
              <p>Especialização em Alfabetização e Letramento. UFSJR. Universidade Federal de São João Del Rei. </p>
            </div>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">diretoria acadêmica</h2>
        <div class="p-5">
          <h3 class="primary-font-color font-weight-bold text-uppercase">Profa. Dra. Maria Raquel de G Oriani Costa Negro </h3>
          <div class="row">
            <div class="col-md-6 pt-4">
              <span class="primary-font-color">Formação Acadêmico-Administrativa</span>
              <p class="pt-4">Doutorado em Ciência de Alimentos – Microbiologia- FEA, UNICAMP, 1999. </p>
              <p>Mestrado em Ciência de Alimentos – Microbiologia - FEA, UNICAMP, 1993. </p>
              <p>Bacharel em Ciências Biológicas – IB, UNICAMP, 1988.</p>
            </div>
            <div class="border-right-solid my-4"></div>
            <div class="col-md-5 pt-4 pl-md-5">
              <span class="primary-font-color">Mandato como vice-diretora acadêmica: 07/03/2007até 07/03/2011 e reconduzida para um novo mandato findo o período. </span>
              <span class="d-block primary-font-color">A partir de 2 de maio de 2013 assumiu a Direção Acadêmica da Instituição.</span>
            </div>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">vice-diretoria acadêmica</h2>
        <div class="p-5">
          <div class="row">
            <h3 class="col-md-6 primary-font-color font-weight-bold">Profa. Mestre Olinda de Cassia Garcia Sando</h3>
            <span class="col-md-6 text-capitalize primary-font-color">Mandato: 01/06/2013 a 01/06/2017</span>
            <div class="pt-4 px-3">
              <span class="primary-font-color">Formação Acadêmico-Administrativa </span>
              <p class="pt-4">Especialista em Gestão Educacional – CEUCLAR – Batatais, 2010. </p>
              <p>Mestrado em Educação com ênfase em linguagem – USF, Itatiba, 2009. Especialista em </p>
              <p>Didática do Ensino Superior – USF, Bragança Paulista, 1999. </p>
              <p>Licenciada em Letras Português – Alemão - UNESP, 1989.</p>
            </div>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">AdministraÇÃO</h2>
        <div class="row p-5">
          <div class="col-md-6">
            <span class="primary-font-color">Priscila Muzel Medeiros</span>
            <small class="d-block">Secretária Acadêmica da F.C.L.B.P.</small>
            <span class="primary-font-color">Claudemir Baffi Parrão</span>
            <small class="d-block">Diretor Admistrativo</small>
            <span class="primary-font-color">Mário Sergio Cintra Valinhos</span>
            <small class="d-block">Diretor Operacional</small>
            <span class="primary-font-color">Profa. Clarice Paulina Souza</span>
            <small class="d-block">Coordenadora Pedagógica da F.C.L.B.P.</small>
            <span class="primary-font-color">Profa. Esp. Célia Badari Goulart</span>
            <small class="d-block">Diretora do INTEP</small>
            <span class="primary-font-color">Sueli de Fátima Cesar</span>
            <small class="d-block">Assessoria de Controle Interno</small>
          </div>
          <div class="border-right-solid"></div>
          <div class="col-md-5 pl-md-5">             
            <span class="primary-font-color pl-md-5">Diva Aparecida Gonçalves Turella</span>
            <small class="d-block pl-md-5">Financeiro</small>           
            <span class="primary-font-color pl-md-5">Vera Filomena Bonifacio</span>
            <small class="d-block pl-md-5">Tesouraria</small>
            <span class="primary-font-color pl-md-5">Elaine Cristina Milozzi Camargo Rossini</span>
            <small class="d-block pl-md-5">Recursos Humanos</small>
            <span class="primary-font-color pl-md-5">Ana Silvia Cardoso</span>
            <small class="d-block pl-md-5">Assessoria de Comunicação e Marketing</small>
            <span class="primary-font-color pl-md-5">Reinaldo David dos Santos</span>
            <small class="d-block pl-md-5">Biblioteca</small>
            <span class="primary-font-color pl-md-5">Fábio Almeida de Moraes</span>
            <small class="d-block pl-md-5">Informática</small>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="conv">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">convênios</h1>
        <div class="px-5">
          <img src="/assets/convenio-banner.jpg" class="img-fluid w-100">
        </div>
        <div class="px-4 py-5">
          <div class="line"></div>
        </div>
        <div class="px-4">
          <p>
            O trabalho desenvolvido pela FESB reflete o seu compromisso político com a responsabilidade social e a qualidade da formação dos seus alunos. As parcerias com instituições nacionais, estaduais e locais têm como fundamento a permanente promoção de valores éticos, o desenvolvimento econômico e social a defesa do meio ambiente e da memória cultural. Atualmente, a Fesb possui um grande número de convênios com instituições que lhe garantem a devida integração com a comunidade para superação da exclusão pelo acesso e garantia de permanência dos alunos no ensino superior.
          </p>
        </div>
        <div class="px-4 py-5">
          <div class="line"></div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">fies</h2>
        <div class="row p-5">
          <div class="col-sm-3 p-0 text-center">
            <a href="http://sisfiesportal.mec.gov.br/" target="_blank">
              <img src="/assets/fies.png" class="img-fluid">
            </a>
          </div>
          <div class="col-sm-9">
            <p>Programa de Financiamento Estudantil - FIES, destinado a financiar a graduação no Ensino Superior de estudantes em instituições não gratuitas.</p>

            <span class="primary-font-color font-weight-bold">Acesse:<a class="font-weight-normal" href="http://sisfiesportal.mec.gov.br" target="_blank"> www.sisfiesportal.mec.gov.br</a></span>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">capes</h2>
        <div class="row p-5">
          <div class="col-sm-3 p-0 text-center">
            <a href="http://www.capes.gov.br/" target="_blank">
              <img src="/assets/capes.png" class="img-fluid">
            </a>
          </div>
          <div class="col-sm-9">
            <p>A Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (Capes), fundação do Ministério da Educação (MEC), desempenha papel fundamental na expansão e consolidação da pós-graduação stricto sensu (mestrado e doutorado) em todos os estados da Federação</p>

            <span class="primary-font-color font-weight-bold">Acesse:<a class="font-weight-normal" href="http://www.capes.gov.br" target="_blank"> www.capes.gov.br</a></span>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">PREFEITURA MUNICIPAL DE BRAGANÇA PAULISTA</h2>
        <div class="row p-5">
          <div class="col-sm-3 p-0 text-center">
            <a href="http://www.braganca.sp.gov.br/" target="_blank">
              <img src="/assets/brgov.png" class="img-fluid">
            </a>
          </div>
          <div class="col-sm-9">
            <p>Convênio com a Prefeitura destinado a subsidiar os estudos dos funcionários municipais.</p>

            <span class="primary-font-color font-weight-bold">Acesse:<a class="font-weight-normal" href="http://www.braganca.sp.gov.br/" target="_blank"> www.braganca.sp.gov.br</a></span>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">PROGRAMA ESCOLA DA FAMÍLIA</h2>
        <div class="row p-5">
          <div class="col-sm-3 p-0 text-center">
            <a href="http://escoladafamilia.fde.sp.gov.br/default.asp" target="_blank">
              <img src="/assets/fde.png" class="img-fluid">
            </a>
          </div>
          <div class="col-sm-9">
            <p>Programa da Fundação para o Desenvolvimento da Educação (FDE) e Governo do Estado de São Paulo.</p>

            <span class="primary-font-color font-weight-bold">Acesse:<a class="font-weight-normal" href="http://escoladafamilia.fde.sp.gov.br/default.asp" target="_blank"> www.escoladafamilia.fde.sp.gov.br</a></span>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="conse">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">conselho curador</h1>
        <h2 class="primary-background-color py-3 text-center mb-0 text-white text-uppercase">membros titulares</h2>
        <div class="px-5 py-4">
          <span class="primary-font-color font-weight-bold">Engenheiro Alexandre Ferreira Santos</span>
          <p class="pt-4">Representante da Associação dos Engenheiros, Arquitetos e Agrônomos da Região Bragantina</p>
          <p>Presidente do Conselho de Curadores</p>
          <span class="primary-font-color font-weight-bold">Prof. José Leandro Rossi</span>
          <p class="pt-4">Representante do Corpo Docente do INTEP </p>
          <p>Vice-Presidente do Conselho de Curadores</p>
          <span class="primary-font-color font-weight-bold">Prof. Eduardo Morvan Leme Gargaglione</span>
          <p class="pt-4">Representante do Corpo Docente da F.C.L.B.P.</p>
          <p>Secretário do Conselho de Curadores</p>
          <span class="primary-font-color font-weight-bold">Dr. Jivago de Lima Tivelli</span>
          <p class="pt-4">Representante da Ordem dos Advogados do Brasil</p>
          <span class="primary-font-color font-weight-bold">Eduardo Gianotti de Toledo</span>
          <p class="pt-4">Representante da Associação dos Contabilistas</p>
          <span class="primary-font-color font-weight-bold">Dr. Carlos Tadeu Parisi de Oliveira</span>
          <p class="pt-4">Representante da Associação Paulista de Medicina de Bragança Paulista</p>
          <span class="primary-font-color font-weight-bold">Mayara Villaça</span>
          <p class="pt-4">Representante do Corpo Discente da F.C.L.B.P.</p>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 text-white text-uppercase">membros suplentes</h2>
        <div class="px-5 py-4">
          <span class="primary-font-color font-weight-bold">Arquiteta Dilm Silvana de Aquino Lio</span>
          <p class="pt-4">Representante da Associação dos Engenheiros, Arquitetos e Agrônomos da Região Bragantina</p>
          <span class="primary-font-color font-weight-bold">Dr. Ivaldeci Ferreira da Costa</span>
          <p class="pt-4">Representante da Ordem dos Advogados do Brasil</p>
          <span class="primary-font-color font-weight-bold">Paulo Rogério Franco Bueno</span>
          <p class="pt-4">Representante da Associação dos Contabilistas</p>
          <span class="primary-font-color font-weight-bold">Prof. André Marcel Fonseca</span>
          <p class="pt-4">Representante do Corpo Docente da F.C.L.B.P.</p>
          <span class="primary-font-color font-weight-bold">Prof. José Messias da Rosa</span>
          <p class="pt-4">Representante do Corpo Docente do INTEP</p>
          <span class="primary-font-color font-weight-bold">Tércio Pereira de Araujo</span>
          <p class="pt-4">Representante do Corpo Discente da F.C.L.B.P.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="pictures">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">fotos campus</h1>
        <div class="px-5">
          <p class="py-4">Conheça o campus.</p>
          <div class="row">
            <% @pictures.item_images.each do |item_image| %>
              <%if  (item_image.active == true && item_image.published == true) %>
                <div class="col-12 col-sm-3 pb-5">
                  <%= link_to(image_tag(item_image.item_img.url("thumb_show")), item_image.item_img.url("original"), :class => "fancybox", :rel => "ïmagens") %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane <%= 'active' if params[:editais] %>" id="edit">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">editais</h1>
        <div id="warnings" class="px-5 warnings">
          <%= render 'warnings'%>
        </div>
      </div>
      <div class="tab-pane fade" id="reg">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">regimento escolar</h1>
        <div class="px-5">
          <% @warnings_regiments.each do |warning| %>
            <div class="px-3">
              <span class="primary-font-color d-block"><%= I18n.localize(warning.created_at, :format => :date_default) %></span>
              <span class="primary-font-color font-weight-bold text-capitalize"><%= warning.name %></span>
              <p class="primary-font-color font-weight-bold text-capitalize"><%= truncate(warning.description, :length => 250, :separator => ' ').html_safe %></p>
              <p class="text-right primary-font-color">
                <%= link_to(warning.warning_file.url(:original, false), :class => "no-style-link", :target=>"_blank") do %>
                  <img src="/assets/icons/download.png" class="px-3">
                  Download
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <!-- <div class="tab-pane fade" id="comi">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">Comissão Permanente de Avaliação</h1>
        <div class="px-5">
          <% @warnings_standings.each do |warning| %>
            <div class="px-3">
              <span class="primary-font-color d-block"><%= I18n.localize(warning.created_at, :format => :date_default) %></span>
              <span class="primary-font-color font-weight-bold text-capitalize"><%= warning.name %></span>
              <p class="primary-font-color font-weight-bold text-capitalize"><%= truncate(warning.description, :length => 250, :separator => ' ').html_safe %></p>
              <p class="text-right primary-font-color">
                <%= link_to(warning.warning_file.url(:original, false), :class => "no-style-link", :target=>"_blank") do %>
                  <img src="/assets/icons/download.png" class="px-3">
                  Download
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </div> -->
      <div class="tab-pane fade" id="comis">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">Comissões</h1>
        <div class="px-4">
          <p>
            São órgãos institucionais da Fundação de Ensino Superior de Bragança Paulista (FESB), responsáveis por organizar e normatizar pesquisas.
          </p>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">Comissão Permanente de Avaliação</h2>
        <div class="px-4 pt-5">
          <p>
            A avaliação institucional é realizada através de procedimentos internos através da Comissão Permanente de Avaliação (CPA) objetivando a análise e correção, quando for o caso, dos procedimentos pedagógicos, administrativos e éticos.
          </p>
          <p>
            O processo é organizado pela CPA a partir de objetivos,
            procedimentos e critérios definidos pelo Conselho
            Superior (Consup).
          </p>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">Comissão de Ética em Pesquisa</h2>
        <div class="text-center">
          <p class="px-4 pt-5">
            As pesquisas envolvendo seres humanos devem ser submetidas ao Sistema CEP-CONEP  por meio da Plataforma Brasil, que é uma base nacional e unificada de registro deste tipo de pesquisa. Ela permite que pesquisas em desenvolvimento sejam acompanhadas em seus diferentes estágios, ou seja, desde a sua submissão e aprovação, até seu encerramento.
          </p>
          <%= image_tag("cep.jpg", :class => "py-5") %>
          <br>
          <a type="button" class="mx-auto mt-5 primary-button text-uppercase py-3 px-5 primary-background-color text-white text-center" href="http://plataformabrasil.saude.gov.br/login.jsf" target="_blank"> Plataforma Brasil </a>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">Comissão de Ética no uso de Animais</h2>
        <div class="text-center">
          <p class="px-4 pt-5">
            As pesquisas que utilizarem animais deverão encaminhar à Comissão própria (CEUA – Comissão de Ética no Uso de Animais), bem como aulas práticas, trabalhos de conclusão de curso (TCC), projetos de iniciação científica (PIC),pesquisas clínicas e cirúrgicas ou atendimentos laboratoriais.
          </p>
          <%=link_to(image_tag("ceua.jpg", :class => "py-5"), "http://www.fesb.edu.br/comite/Ceua_Membros.htm", :target => "_blank") %>
        </div>
      </div>
    </div>
  </div>
</section>