= form_for [:admin, @tab] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      = f.label :name, "Nome"

      = f.text_field :name, :class => "form-control"


    .box-footer
      = f.submit "Salvar", :class =>"btn btn-primary"
