%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Abas da Biblioteca
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Abas da Biblioteca
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Abas Cadastradas
      .p-4
        %table.table.table-hover
          %tr
            %th Nome
            %th Ações
          - for tab in @tabs
            %tr
              %td= tab.name
              %td
                = link_to "Editar", edit_admin_librarie_tab_name_path(tab), :class => "btn btn-default"

