.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} esqueci minha senha
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          Vestibular
          %span.font-weight-bold
            2017
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold Esqueci minha Senha
    .row
      = form_tag password_resets_path, :class => "w-100"
      .body.bg-gray
        .row
          -if flash[:notice]
            .alert.alert-danger.alert-dismissable.col-12
              %i.fa.fa-ban
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
              %b Alert!
              = flash[:notice]
          .form-group.col-sm-8
            = text_field_tag :email, params[:email], :placeholder => "Informe seu E-mail", :class => "form-control"
          .form-group.text-center.col-sm-4
            = submit_tag "Enviar", :class => "btn primary-background-color text-white btn-primary pull-right"

