.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} esqueci minha senha
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          Vestibular
          %span.font-weight-bold
            2017
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold Esqueci minha Senha
    .px-5
      .row.text-left
        .alert.alert-success
          %b Senha alterada com sucesso!