%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Receitas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Receitas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Receitas
        %p.float-right
          = link_to "Nova Receita", new_admin_recipe_path, :class => "btn btn-primary"
      .p-4
        %table.table.table-hover
          %tr
            %th Imagem
            %th Titulo
            %th Ações
          - for recipe in @recipes
            %tr
              %td= image_tag(recipe.recipe_img.url(:thumb))
              %td= recipe.title
              %td
                =link_to 'Visualizar', [:admin, recipe], :class => "btn btn-default"
                =link_to 'Editar', edit_admin_recipe_path(recipe), :class => "btn btn-default"
                =link_to 'Excluir', [:admin, recipe], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default"


      .card-footer
        %p
          = link_to "Nova Receita", new_admin_recipe_path, :class => "btn btn-primary"