%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Receitas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Receitas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @recipe.title
        .p-4        
          %p
            ="Imagem:"
            %br
            =image_tag(@recipe.recipe_img.url(:original))

        .card-footer
          %p
            = link_to "Editar", edit_admin_recipe_path(@recipe), :class => "btn btn-default"
            = link_to "Visualizar Todas", admin_recipes_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @recipe], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
