- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"

- content_for :footer do
  = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"

  :javascript
    var table = $('#ShowReport').dataTable({
        "order": [[ 0, "desc" ]]
    } );

%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Ex-Alunos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Ex-Alunos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header

%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Ex-Alunos Cadastrados
      .p-4

        %table.table.table-hover#ShowReport
          %thead
            %tr
              %th Protocolo
              %th Nome
              %th Email
              %th Curso
              %th Assunto
              %th Data
              %th Ações
          %tbody
            - for exaluno in @ex_alunos
              %tr
                %td= exaluno.id
                %td= exaluno.name
                %td= exaluno.email
                %td= exaluno.curso
                %td= exaluno.subject
                %td= I18n.localize(exaluno.created_at, :format => :date_default)
                %td= link_to 'Visualizar', [:admin, exaluno], :class => "btn btn-default"