%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Ex-Aluno
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Ex-Aluno
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @ex_aluno.name
        .p-4
          .box-body
            %strong Protocolo:
            = @ex_aluno.id
          .box-body
            %strong Data:
            = I18n.localize(@ex_aluno.created_at, :format => :date_default)
          .box-body
            %strong Ano em que se formou:
            = @ex_aluno.conclusion_year
          .box-body
            %strong Email:
            = @ex_aluno.email
          .box-body
            %strong Curso:
            = @ex_aluno.curso
          .box-body
            %strong Telefone:
            = @ex_aluno.phone
          .box-body
            %strong Trabalha na area?
            - if @ex_aluno.w_area
              Sim
            - else
              Não
          - if @ex_aluno.w_area
            .box-body
              %strong Onde Trabalha:
              = @ex_aluno.work_area
          .box-body
            %strong Assunto:
            = @ex_aluno.subject
          .box-body
            %strong Mensagem:
            = @ex_aluno.message
        .card-footer
          %p
            = link_to "Visualizar Todos", admin_ex_alunos_path, :class => "btn btn-default"

