= form_for [:admin, @exam] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      = f.label :name, "Nome"

      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :exam_type_id, "Tipo"
      %br
      = f.select(:exam_type_id,options_for_select([["Tradicional","1"],["Agendado","2"],["ENEM","3"],["Simuladão","4"]], @exam.exam_type_id), {:class => "form-control"})

    .form-group
      = f.label :description, "Descrição"

      = f.text_area :description, :class => "form-control"
    .form-group
      = f.label :start_date, "Data de Início"

      = f.datetime_select :start_date, :class => "form-control"
    .form-group
      = f.label :end_date, "Data de Término"

      = f.datetime_select :end_date, :class => "form-control"
    .form-group
      = f.label :published, "Publicado"

      = f.check_box :published

    .form-group
      = f.label :view_notes, "Exibir Resultado do Vestibular"
      = f.check_box :view_notes, :class => "form-control"
    .form-group
      = f.label :year, "Ano do Vestibular"
      %br
      = f.select(:year,options_for_select(2015..2030, @exam.year), {:class => "form-control"})


    .box-footer
      = f.submit "Salvar", :class =>"btn btn-primary"
