-@subscribes.each do |subscribe|
  .container
    .main_content
      =subscribe.user.name.mb_chars.upcase.to_s
      <br />
      =subscribe.registration
      <br />
      =subscribe.first_option_class.name.mb_chars.upcase.to_s
  -if subscribe.id != @subscribes.last.id
    .next-page



