%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibulares
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Vestibulares Cadastrados
      .p-4
        %table.table.table-hover
          %tr
            %th Nome
            %th Tipo de Exame
            %th Data de Início
            %th Data de Término
            %th Publicado
            %th Exibe Resultado
            %th Ações

          -if @exams.present?
            - year = @exams.first.year
            - for exam in @exams
              -if year != exam.year
                %tr
                  %td.text-center{:colspan => "7"}
                    %h3
                      Ano Anterior -
                      =exam.year
              %tr
                %td= exam.name
                %td
                  - if exam.exam_type_id == 1
                    = "Tradicional"
                  - if exam.exam_type_id == 2
                    = "Agendado"
                  - if exam.exam_type_id == 3
                    = "ENEM"
                %td #{I18n.localize(exam.start_date, :format=>:short)}
                %td #{I18n.localize(exam.end_date, :format=>:short)}
                %td= show_boolean(exam.published)
                %td= show_boolean(exam.view_notes)
                %td
                  =link_to 'Visualizar', [:admin, exam], :class => "btn btn-default"
                  =link_to 'Editar', edit_admin_exam_path(exam), :class => "btn btn-default"
                  =link_to 'Excluir', [:admin, exam], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
                  =link_to 'Datas', admin_exam_exam_dates_path(exam), :class => "btn btn-primary" if exam.exam_type_id == 2
                  =link_to 'Inscritos', report_admin_exam_path(exam), :class => "btn btn-primary"
                -year = exam.year
      .card-footer
        %p
          = link_to "Cadastrar Vestibular", new_admin_exam_path, :class => "btn btn-primary"
