%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibulares
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
        / /.col
      / /.row
    / /.container-fluid
  / /.content-headers
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @exam.name
        .p-4
          %p
            %strong Nome:
            = @exam.name
          %p
            %strong Tipo de Exame:
            - if @exam.exam_type_id == 1
              = "Tradicional"
            - else
              = "Agendado"
          %p
            %strong Descrição:
            = @exam.description
          %p
            %strong Data de Início:
            #{I18n.localize(@exam.start_date, :format=>:short)}
          %p
            %strong Data de Término:
            #{I18n.localize(@exam.end_date, :format=>:short)}
          %p
            %strong Published:
            = show_boolean(@exam.published)

        .card-footer
          %p
            = link_to "Editar", edit_admin_exam_path(@exam), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_exams_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @exam], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
            = link_to 'Datas', admin_exam_exam_dates_path(@exam), :class => "btn btn-primary" if @exam.exam_type_id == 2
            =link_to 'Inscritos', report_admin_exam_path(@exam), :class => "btn btn-primary"