%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark=@subscribe.exam.name
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
          %li.breadcrumb-item.active Datas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @subscribe.user.name
        .p-4
          %p
            %strong Primeira Opção:
            = @subscribe.first_option_class.name
          %p
            %strong Segunda Opção:
            = @subscribe.second_option_class.name

          %p
            %strong Nota da Redação:
            = @subscribe.copywriting_note
          %p
            %strong Peso 2:
            = @subscribe.copywriting_weight
          %p
            %strong Nota das Alternativas:
            = @subscribe.note_issues
          %p
            %strong Peso 1:
            = @subscribe.weight_issues
          %p
            %strong Nota Final:
            = @subscribe.endnote
          %p#message_show
            =render :file => "admin/exams/_message"
        .card-footer
          %p
            = link_to "Visualizar Todos", report_admin_exam_path(@subscribe.exam_id), :class => "btn btn-default"
            - if !@subscribe.endnote.blank?
              = link_to "Aprovado", ajust_message_admin_exam_path(@subscribe, :text => "Parabéns! Você foi aprovado! Preencha sua pre matricula.", :show=>1),:remote => true, :class => "btn btn-success"
              = link_to "Reprovado", ajust_message_admin_exam_path(@subscribe, :text => "Reprovado.", :show=>0),:remote => true, :class => "btn btn-danger"
              = link_to "Aguarde",  ajust_message_admin_exam_path(@subscribe, :text => "Aguarde a segunda chamada, dia 11/12.", :show=>0),:remote => true, :class => "btn btn-warning"
              = link_to "Aprovado 2o opção",  ajust_message_admin_exam_path(@subscribe, :text => "Parabéns! Você foi aprovado em sua <b>segunda opção</b>!", :show=>1),:remote => true, :class => "btn btn-info"
