-@subscribes.each do |subscribe|
  .container
    .main_content{:width=>"100%", :style=>"margin-top:40px;"}
      =subscribe.user.name.mb_chars.upcase.to_s
      <br />
      <br />    
      %table{:width=>"100%", :style=>"margin-top:20px;"}
        %tr
          %td{:width=>"10%"}
          %td{:width=>"40%"}
            =subscribe.registration
          %td{:width=>"50%"}
            =subscribe.first_option_class.name.mb_chars.upcase.to_s
  -if subscribe.id != @subscribes.last.id
    .next-page