-content_for :footer do
  = tinymce

= form_for [:admin, @class_name] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages  
  -if current_user.has_role? :library
    .box-body
      %h3 Exclusivo da Biblioteca
      .form-group
        = f.label :cdd, "(Infome somente o código)"
        = f.text_field :cdd, :class => "form-control"
      .form-group
        = f.label :pha, "PHA"
        = f.text_field :pha, :class => "form-control"
  -else
    / Nav tabs
    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link.active{"data-toggle" => "tab", :href => "#general"} Geral
      %li.nav-item
        %a.nav-link{"data-toggle" => "tab", :href => "#descriptions"} Descrições
      %li.nav-item
        %a.nav-link{"data-toggle" => "tab", :href => "#images"} Arquivos/Imagens/Video
      %li.nav-item
        %a.nav-link{"data-toggle" => "tab", :href => "#teachers"} Professores
      %li.nav-item
        %a.nav-link{"data-toggle" => "tab", :href => "#library"} Biblioteca
    / Tab panes
    .tab-content
      #general.tab-pane.active
        .box-body
          .form-group
            = f.label :class_category_id, "Modalidade"
            = f.select :class_category_id, @class_categories,{ :prompt=>"Selecione uma Modalidade"}, {:class => "form-control"}
          .form-group
            = f.label :class_style_id, "Estilo"
            = f.select :class_style_id, @class_styles,{ :prompt=>"Selecione um Estilo"}, {:class => "form-control"}
          / -if @class_name.class_category_id == 3 or @class_name.class_category_id == 2 
          .form-group
            = f.label :price, "Preço"

            = f.text_field :price, :class => "form-control"
          -if @class_name.class_category_id == 1 and !@class_name.children.present?
            %h3 Valores das parcelas
            .row
              .form-group.col-4
                = f.label :financing_6, "6x de:"
                = f.number_field :financing_6, :class => "form-control", :max => "10000.00", :min => "0.00", :step => "0.01", :type => "number"

              .form-group.col-4
                = f.label :financing_8, "8x de:"
                = f.number_field :financing_8, :class => "form-control", :max => "10000.00", :min => "0.00", :step => "0.01", :type => "number"

              .form-group.col-4
                = f.label :financing_10, "10x de:"
                = f.number_field :financing_10, :class => "form-control", :max => "10000.00", :min => "0.00", :step => "0.01", :type => "number"

          .form-group
            = f.label :name, "Nome"

            = f.text_field :name, :class => "form-control"
          .form-group
            = f.label :duration, "Duração"

            = f.text_field :duration, :class => "form-control"
          .form-group
            = f.label :period, "Período"

            = f.text_field :period, :class => "form-control"
          .form-group
            = f.label :number_of_vacancies, "Vagas"

            = f.text_field :number_of_vacancies, :class => "form-control"
          .form-group
            = f.label :show_subscribe, "Exibe na Lista de Vestibular"
            = f.check_box :show_subscribe
          .form-group
            = f.label :show_remaining, "Exibe na Lista de vestibular inverno"
            = f.check_box :show_remaining
          .form-group
            = f.label :pre_subscribe, "Formulário de Pré-Inscrição"
            = f.check_box :pre_subscribe
          .form-group
            = f.label :published, "Publicado"

            = f.check_box :published
      #descriptions.tab-pane
        .box-body
          .form-group
            = f.label :description, "Descrição"

            = f.text_area :description, :class => "form-control tinymce"
          .form-group
            = f.label :objective, "Objetivo"

            = f.text_area :objective, :class => "form-control tinymce"
          .form-group
            = f.label :differential, "Diferencial"

            = f.text_area :differential, :class => "form-control tinymce"
          .form-group
            = f.label :target, "Público Alvo"

            = f.text_area :target, :class => "form-control tinymce"
          .form-group
            = f.label :requirements, "Exigências"

            = f.text_area :requirements, :class => "form-control tinymce"
          .form-group
            = f.label :labour_market, "Mercado de Trabalho"

            = f.text_area :labour_market, :class => "form-control tinymce"
      #images.tab-pane
        .box-body
          / .form-group
          /   = f.label :class_icon, "Ícone"

          /   = f.file_field :class_icon, :class => "form-control"
          .form-group
            = f.label :class_header, "Imagem de Cabeçalho"

            = f.file_field :class_header, :class => "form-control"
          / .form-group
          /   = f.label :class_footer, "Imagem de Rodapé"

          /   = f.file_field :class_footer, :class => "form-control"
          .form-group
            = f.label :class_matrix, "Matriz Curricular"
            = f.file_field :class_matrix, :class => "form-control"
          .form-group
            = f.label :summary_content, "Ementa e Conteúdo Programático "
            = f.file_field :summary_content, :class => "form-control"
          .form-group
            = f.label :embed, "Video do Youtube"
            = f.text_field :embed, :class => "form-control"
      #teachers.tab-pane
        .box-body 
          .form-group
            = f.label :teacher_id, "Cordenador"
            = f.select :teacher_id, @coordinators,{ :prompt=>"Selecione um Cordenador", :include_blank => true}, {:class => "form-control select2"}
          .form-group
            = label_tag 'class_name[teacher_ids][]', "Corpo Docente"
            = f.collection_select(:teacher_ids, Teacher.all, :id, :name, {}, {:multiple => "multiple", :class => "form-control select2 w-100"})
            / %br
            / - @teachers.each do |teacher|            
            /   = check_box_tag 'class_name[teacher_ids][]', teacher.id, @class_name.teachers.include?(teacher)
            /   = teacher.name
            %br
      #library.tab-pane
        .box-body
          %h3 Exclusivo da Biblioteca
          .form-group
            = f.label :cdd, "(Infome somente o código)"
            = f.text_field :cdd, :class => "form-control"
          .form-group
            = f.label :pha, "PHA"
            = f.text_field :pha, :class => "form-control"

  = f.submit "Salvar", :class =>"btn btn-primary"
