%h3 Novo Periodo
= form_for [@period], :url => save_adjusts_period_admin_class_name_path, :remote => true do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    %input{:name => "children", :type => "hidden", :value => "#{params[:children]}"}/
    .form-group
      = f.label :name, "Nome"     
      = f.text_field :name, :class => "form-control"
    %h3 Parcelas
    .row 
      .form-group.col-4
        = f.label :financing_6, "6x de"     
        = f.number_field :financing_6, :class => "form-control", :max => "10000.00", :min => "0.00", :step => "0.01", :type => "number"
      .form-group.col-4
        = f.label :financing_8, "8x de"     
        = f.number_field :financing_8, :class => "form-control", :max => "10000.00", :min => "0.00", :step => "0.01", :type => "number"
      .form-group.col-4
        = f.label :financing_10, "10x de"     
        = f.number_field :financing_10, :class => "form-control", :max => "10000.00", :min => "0.00", :step => "0.01", :type => "number"
    .form-group
      = f.label :published, "Publicado"
      = f.check_box :published
    .form-group
      = f.label :show_subscribe, "Exibe na Lista de Vestibular"
      = f.check_box :show_subscribe
    .form-group
      = f.label :show_remaining, "Exibe na Lista de vestibular inverno"
      = f.check_box :show_remaining
    = f.submit "Salvar", :class=>"btn btn-azul"