-if @childrens.blank?
  %h3 Nenhum Periodo Cadastrado!
  %p=link_to("Cadastrar novo Periodo!", adjusts_period_admin_class_name_path(@class_name.id, :children => 0), :class=> "btn btn-success", :remote => true, :confirm => 'Cadastrar um periodo fará com que o curso fique indisponível para seleção, aparecendo em seu lugar os periodos cadastrados.')
-else
  %h3 Periodos Cadastrados:
  %table.table.table-hover
    %tr
      %th Nome
      %th Parcelas
      %th Publicado?
      %th Exibe para vestibular?
      %th Ações
    - @childrens.each do |childen|
      %tr
        %td=childen.name
        %td
          = "6x #{number_to_currency_br(childen.financing_6)}"
          %br
          = "8x #{number_to_currency_br(childen.financing_8)}"
          %br
          = "10x #{number_to_currency_br(childen.financing_10)}"
        %td=show_boolean(childen.published)
        %td=show_boolean(childen.show_subscribe)
        %td=link_to("Editar Periodo", adjusts_period_admin_class_name_path(@class_name.id, :children => childen.id), :class=> "btn btn-info", :remote => true)
  %p=link_to("Cadastrar novo Periodo!", adjusts_period_admin_class_name_path(@class_name.id, :children => 0), :class=> "btn btn-success", :remote => true)