%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Cursos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Cursos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  -if current_user.has_role? :library
    .col-xs-12
      .card.card-primary.card-outline
        .card-header
          %h3.card-title Cursos Cadastrados
        .p-4
          %table.table.table-hover.dataTable
            %thead
              %tr
                %th Modalidade
                %th Nome
                %th Publicado
                %th Código CDD
                %th Código PHA
                %th Ações
            %tbody
              - for class_name in @class_names
                %tr
                  %td= class_name.class_category.name
                  %td= class_name.name
                  %td= show_boolean(class_name.published)
                  %td= class_name.cdd
                  %td= class_name.pha
                  %td
                    =link_to 'Visualizar', [:admin, class_name], :class => "btn btn-default"
                    =link_to 'Editar', edit_admin_class_name_path(class_name), :class => "btn btn-default"

  -else
    .col-xs-12
      .card.card-primary.card-outline
        .card-header
          %h3.card-title.float-sm-left Cursos Cadastrados
          = link_to "Novo Curso", new_admin_class_name_path, :class => "btn btn-primary float-sm-right"
        .p-4
          %table.table.table-hover.dataTable
            %thead
              %tr
                %th Modalidade
                %th Nome
                %th Publicado
                %th Exibe para Vestibular
                %th Criado em
                %th Ações
            %tbody
              - for class_name in @class_names
                %tr
                  %td= class_name.class_category.name
                  %td= class_name.name
                  %td= show_boolean(class_name.published)
                  - childrens = class_name.children
                  -if  childrens.count > 0
                    %td
                      %table.table
                        %tr
                          %th Periodo
                          %th Publicado
                          %th Exibe para Vestibular
                        - for children in childrens
                          %tr
                            %td=children.name
                            %td=show_boolean(children.published)
                            %td=show_boolean(children.show_subscribe)
                  -else
                    %td= show_boolean(class_name.show_subscribe)

                  %td= class_name.created_at.strftime("%d/%m/%Y")
                  %td
                    =link_to 'Visualizar', [:admin, class_name], :class => "btn btn-default"
                    =link_to 'Editar', edit_admin_class_name_path(class_name), :class => "btn btn-default"
                    =link_to 'Excluir', [:admin, class_name], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
                    = link_to 'Galeria de Imagens', admin_class_name_class_images_path(class_name), :class => "btn btn-default"
        .card-footer
          %p
            = link_to "Novo Curso", new_admin_class_name_path, :class => "btn btn-primary"

