%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Cursos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Cursos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary.card-outline
        .card-header
          %h3.card-title Novo Curso
        .p-4
          = render 'form'
        .card-footer
          %p
            = link_to "Visualizar Todos", admin_class_names_path, :class => "btn btn-default"

