%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Cursos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Cursos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @class_name.name
        -if current_user.has_role? :library
          .p-4
            %h4 Exclusivo da Biblioteca
            -if @class_name.cdd || @class_name.pha
              -if @class_name.cdd
                %p
                  %strong Código CDD:
                  ="CDD #{@class_name.cdd}"
              -if @class_name.pha
                %p
                  %strong Código PHA:
                  = @class_name.pha
            -else
              %p Nenhum codigo informado para o curso
        -else
          .p-4
            %p
              %strong Modalidade:
              = @class_name.class_category.name
            %p
              %strong Nome:
              = @class_name.name
            %p
              %strong Duração:
              = @class_name.duration
            %p
              %strong Período:
              = @class_name.period
            %p
              %strong Numero de Vagas:
              = @class_name.number_of_vacancies
            %p
              %strong Descrição:
              %br
              = raw(@class_name.description)
            %p
              %strong Mercado de Trabalho:
              %br
              = raw(@class_name.labour_market)
            %p
              %strong Publicado:
              = "#{show_boolean(@class_name.period)}"
            %p
              %strong Ícone:
              = image_tag(@class_name.class_icon.url(:thumb))
            %p
              %strong Imagem de Cabeçalho:
              = image_tag(@class_name.class_header.url(:original))
            %p
              %strong Imagem de Rodapé:
              = image_tag(@class_name.class_footer.url(:original))
            -if !@class_name.embed.blank?
              #video.responsive-video.hidden-xs
                %iframe{:src => "//www.youtube.com/embed/#{@class_name.embed}", :allowfullscreen => ""}
            #show_period
              =render :file => "admin/class_names/_period"
            -if @class_name.cdd || @class_name.pha
              %h4 Exclusivo da Biblioteca
            -if @class_name.cdd
              %p
                %strong Código CDD:
                ="CDD #{@class_name.cdd}"
            -if @class_name.pha
              %p
                %strong Código PHA:
                = @class_name.pha
        .card-footer
          %p
            = link_to "Editar", edit_admin_class_name_path(@class_name), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_class_names_path, :class => "btn btn-default"
            -if !(current_user.has_role? :library)
              = link_to "Excluir", [:admin, @class_name], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
