-content_for :footer do
  = tinymce
  
= form_for [:admin, @category, @item] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      = f.label :name, "Nome"
       
      = f.text_field :name, :class => "form-control"
    - if @category.id != 13
      - @category.id == 10 ? show_tinymce = "" : show_tinymce = " tinymce"
      .form-group
        = f.label :description, "Descrição"
         
        = f.text_area :description, :class => "form-control#{show_tinymce}"
    
    - elsif @category.id == 13
      .form-group
        = f.label :description, "Descrição Breve"
         
        = f.text_field :description, :class => "form-control#{show_tinymce}"
    .form-group
      = f.label :published, "Publicado"       
      = f.check_box :published
    -if @category.id == 10 or @category.id == 11 or @category.id == 12 or @category.id == 13
      .form-group
        =f.label :item_file, "Arquivo"
        = f.file_field :item_file, :class => "form-control"

    = f.submit "Salvar", :class =>"btn btn-primary"    

