%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Itens
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Itens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title="#{@category.name} - Itens Cadastrados"
      .p-4

        %table.table.table-hover#ShowReport
          %thead
            %tr
              %th ID
              %th Nome
              %th Publicado?
              %th Ações
          %tbody
            - for item in @items
              %tr
                %td= item.id
                %td= item.name
                %td= show_boolean(item.published)
                %td
                  = link_to "Visualizar", [:admin, @category, item], :class => "btn btn-default"
                  = link_to "Editar", edit_admin_category_item_path(@category,item), :class => "btn btn-default"
                  = link_to "Excluir", [:admin, @category, item], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
                  = link_to('Galeria de Imagens', admin_category_item_item_images_path(@category,item), :class => "btn btn-default") if !(@category.id == 10 || @category.id == 13)
      .card-footer
        %p= link_to "Novo Item", new_admin_category_item_path(@category), :class => "btn btn-primary"


- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"

- content_for :footer do
  = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"

  :javascript
    var table = $('#ShowReport').dataTable({
        "order": [[ 0, "desc" ]]
    } );