%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Itens
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Itens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title="#{@category.name} - #{@item.name}"
        .p-4
          %p= "Publicado? #{show_boolean(@item.published)}"
          %p
            Descrição:
            %br
            =raw(@item.description)
          - if @item.item_file.present?
            %span
              Arquivo:
            %span
              =@item.item_file_file_name
          - else
            %span Item sem arquivo.

        .card-footer
          %p
            = link_to "Editar", edit_admin_category_item_path(@category,@item), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_category_items_path(@category), :class => "btn btn-default"
            = link_to "Excluir", [:admin, @category, @item], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
            = link_to "Novo Item", new_admin_category_item_path(@category), :class => "btn btn-primary"