-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#exam_select').change(function() {
        $.ajax({
          url: "#{update_dates_exams_path}",
          data: {
            id : $('#exam_select').val()
          },
          dataType: "script"
        });
      });
      #{"//$('#myModal').modal('show');" if !current_user}
    });

.container-fluid.imagem-interna{:style => "background-image:url('/assets/topos/mude-seu-destino.jpg'); background-size:100% 100%;"}
#interno
  .container
    %ul.breadcrumb
      %li
        %a{:href => "#"} Inscrição
      %li
        %a{:href => "#"} Vestibular
    %h1 Seleção do Vestibular
    /.col-sm-9.col-xs-12
    /  .row
    /    %p.text-center
    /      As inscrições para o Vestibular 2017 serão iniciadas em 1 de setembro de 2016.
    /    %p.text-center
    /      Para sua comodidade, ele será oferecido nas modalidades agendada, ENEM e tradicional. (edital com maiores detalhes no site em breve)
    /    %p.text-center
    /      Ambos serão compostos por questões objetivas e redação. Veja o mais conveniente para você.
    /    %p.text-center
    /      Neste momento de escolha profissional é muito interessante conversar com os coordenadores e professores dos cursos da FESB para buscar elementos adicionais para a tomada de tão importante decisão.
    /    %p.text-center
    /      A FESB está pronta para recebê-lo. Basta agenda uma visita pelo telefone (11) 4035-7843.
    /    %p.text-center
    /      Você encontrará informações adicionais em nosso site.
    .col-sm-3.col-xs-12
      =render :file => "exams/_menu_lateral"
    .col-sm-9.col-xs-12
      - if !@exams.empty?
        .row
          .passos.col-xs-12.col-sm-10.pull-right
            %ul
              %li.active
                %span 1
                Vestibular
              %li
                %span 2
                Sócio-Econômico
              %li
                %span 3
                Cadastro
              %li
                %span 4
                Confirmação
              %li
                %span 5
                Pagamento
        %form.vestibular{:action =>"/socioeconomics/new" , :method => "get", :role => "form"}
          .row
            %fieldset
              .form-group
                %p Escolha o Vestibular o qual deseja fazer a inscrição
                =collection_select(nil, :exam_id, @exams, :id, :name, {:prompt   => "Escolha o vestibular"}, {:id => 'exam_select', :class => "form-control"})
                -#= select_tag 'exam_id', options_for_select(@exams), :class => "form-control"
                =collection_select(nil, :exam_date_id, @exam_dates, :id, :exam_date, {:prompt   => "Escolha a data"}, {:id => 'exam_date_select', :class => "form-control", :style => "display:none; margin-top:15px;"})
            / %span.text-muted
            /   Data do SIMULADÃO: 19/08 às 9h
          .row
            .form-group
              .col-sm-6.col-xs-12.pull-right
                .col-sm-6.col-xs-6

                .col-sm-6.col-xs-6
                  =submit_tag "Avançar", :class =>"btn btn-azul"
      -else
        -if current_user
          .row
            %p.text-center
              Você já se inscreveu para todos os vestibulares disponiveis!
              %br
              Qualquer dúvida, basta entrar em contato pelo telefone: (11) 4035-7843
            /%p.text-center Aguarde novas datas de Vestibular Agendado para as vagas remanescentes, a partir do dia 14/12/2015.﻿
            / %p.text-center
            /   As inscrições para o Vestibular Tradicional (26/11, às 14h) poderão ser feitas no próprio campus, a partir do dia 23/11 a 25/11.
            /   %br
            /   %br
            /   Pagamento da taxa de R$ 30,00 na tesouraria.
            /   %br
            /   %br
        -else
          .row
            %p.text-center
              Não existem vestibulares disponiveis para inscrição no momento!
              %br
              Qualquer dúvida, basta entrar em contato pelo telefone: (11) 4035-7843
            /%p.text-center Aguarde novas datas de Vestibular Agendado para as vagas remanescentes, a partir do dia 14/12/2015.﻿
            / %p.text-center
            /   As inscrições para o Vestibular Tradicional (26/11, às 14h) poderão ser feitas no próprio campus, a partir do dia 23/11 a 25/11.
            /   %br
            /   %br
            /   Pagamento da taxa de R$ 30,00 na tesouraria.
            /   %br
            /   %br

.modal.fade#myModal{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#gridSystemModalLabel.modal-title Atenção
      .modal-body
        .container-fluid
          .row
            .div-col-md-12
              %p
                Caso já tenha feito seu cadastro no ano anterior você deve se logar antes de continuar a inscrição!
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Não tenho incrição
        =link_to("Já me inscrevi na FESB", login_exams_path, :class => "btn btn-primary")