- if !@exams.empty?

  %form.vestibular{:action =>"/socioeconomics/new" , :method => "get", :role => "form"}
    %p Escolha o Vestibular o qual deseja fazer a inscrição
    .row
      .form-group.col-lg-8
        =collection_select(nil, :exam_id, @exams, :id, :name, {:prompt   => "Escolha o vestibular"}, {:id => 'exam_select', :class => "form-control"})
        -#= select_tag 'exam_id', options_for_select(@exams), :class => "form-control"
        .display.4.primary-font-color.text-uppercase.pt-3.font-weight-bold.exam_date{:style => "display: none"}
          Escolha a data do vestibular:
        =collection_select(nil, :exam_date_id, @exam_dates, :id, :exam_date, {:prompt   => "Escolha a data"}, {:id => 'exam_date_select', :class => "form-control", :style => "display:none; margin-top:15px;"})
      .form-group.col-lg-4
        .text-center
          =image_tag("fancybox_loading.gif", :class => "loading", :style => "display: none")
        .text-right
          =submit_tag "Avançar", :class =>"btn primary-button primary-background-color text-white", :id => "examButton"
      / %span.text-muted.px-3
      /   Data do SIMULADÃO: 19/08 às 9h
-else
  -if current_user
    .row.text-left
      /%p.text-center Você já se inscreveu para todos os vestibulares disponiveis!
      /%p.text-center Aguarde novas datas de Vestibular Agendado para as vagas remanescentes, a partir do dia 14/12/2015.﻿
      %p.mx-auto
        / As inscrições para o Vestibular Tradicional (26/11, às 14h) poderão ser feitas no próprio campus, a partir do dia 23/11 a 25/11.
        / Você já se inscreveu para todos os vestibulares disponiveis!
        / %br
        / %br
        / %span.primary-font-color
        /   Pagamento da taxa de R$ 30,00 na tesouraria.
        %br
        %br
        Qualquer dúvida, basta entrar em contato pelo telefone: (11) 4035-7843
  -else
    .row.text-left
      /%p.text-center Não existem vestibulares disponiveis para inscrição no momento!
      /%p.text-center Aguarde novas datas de Vestibular Agendado para as vagas remanescentes, a partir do dia 14/12/2015.﻿
      %p.mx-auto
        / As inscrições para o Vestibular Tradicional (26/11, às 14h) poderão ser feitas no próprio campus, a partir do dia 23/11 a 25/11.
        / Não existem vestibulares disponiveis para inscrição no momento!
        / %br
        / %br
        / %span.primary-font-color
        /   Pagamento da taxa de R$ 30,00 na tesouraria.
        %br
        %br
        Qualquer dúvida, basta entrar em contato pelo telefone: (11) 4035-7843

-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#exam_select').change(function() {
        $.ajax({
          url: "#{update_dates_exams_path}",
          data: {
            id : $('#exam_select').val()
          },
          dataType: "script"
        });
      });
      #{"//$('#myModal').modal('show');" if !current_user}
    });