-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#cpf').mask('00000000000');
     });
.container
  .row
    -if flash[:notice]
      .alert.alert-danger.alert-dismissable
        %i.fa.fa-ban
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        %b Alert!
        = flash[:notice]
    = form_tag find_result_exams_path, :class => "w-100"
    .row
      .form-group.col-lg-8
        = text_field_tag :cpf, params[:cpf], :placeholder => "Informe seu CPF", :class => "form-control"
      .col-lg-4.text-right
        = submit_tag "Enviar", :class => "btn primary-button primary-background-color text-white"

