-if !current_user
  = form_for @user_session do |f|
    .row
      -if flash[:error]
        .alert.alert-danger.alert-dismissable.col-12
          %i.fa.fa-ban
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %b Alert!
          Usuário e/ou senha inválidos.
      .form-group.col-sm-6
        = f.text_field :email, :placeholder => "E-mail", :class => "form-control"
      .form-group.col-sm-6
        = f.password_field :password, :placeholder => "Senha", :class => "form-control"

      .text-md-left.text-center.col-md-6
        = link_to("Esqueci minha senha", new_password_reset_path(), :class => "pr-3")
        = link_to("Esqueci meu e-mail", my_email_exams_path())
      .text-md-right.text-center.col-md-6
        = f.submit "Entrar", :class => "btn primary-button primary-background-color text-white"
-else
  .row
    %form.inscricao{:method => "post", :role => "form"}

      .row
        .form-group.col-sm-6
          %label{:for => "nome"} Nome
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.name}"}
            .clearfix
        .form-group.col-sm-6
          %label E-mail
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.email}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "telefone"} Telefone
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.phone}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "telefone"} Celular
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cell_phone}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} CPF
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cpf}"}
            .clearfix
        .col-sm-6.text-center.pt-4
          =link_to("Sair", logout_path, :class => "btn primary-button primary-background-color text-white") if current_user
    -if @subscribes.count > 0
      .col-xs-12.w-100#ShowSubscribes
        %table.table.table-hover.table-striped.col-12.table-responsive
          %thead
            %tr
              %th Vestibular Inscrito
              %th Situação
              -if @subscribes.select{ |subscribe| subscribe.registrationshow == true }.count > 0
                %th Pré-Matricula

          %tbody
            -@subscribes.each do |subscribe|
              -if subscribe.exam_id != "18"
                -if subscribe.exam.exam_type_id == 1 && subscribe.exam.view_notes
                  - show_result_note = true
                -else
                  -if subscribe.exam.exam_type_id == 2 && subscribe.exam.view_notes && subscribe.exam_date.view_notes
                    - show_result_note = true
                  -else
                    - show_result_note = false
                %tr
                  %td
                    =subscribe.exam.name.titleize
                    = " - " + I18n.localize(subscribe.exam_date.exam_date, :format => :date_default).to_s if subscribe.exam.exam_type_id == "2"
                    = " - " + subscribe.exam_date.itinerant_exam.city if subscribe.exam.exam_type_id == "2"
                  %td
                    -if !subscribe.paid && subscribe.exam.exam_type_id != 3
                      Aguardando Pagamento,
                      = link_to(" emitir 2a via", subscribe.ticket_link, :target=>"_blank")
                    -else
                      -if subscribe.endnote.blank? && subscribe.exam.exam_type_id != 3
                        Boa Prova!
                      -else
                        -if subscribe.exam.exam_type_id == 1 && subscribe.exam.view_notes
                          =raw(subscribe.subscribe_message)
                        -else
                          -if subscribe.exam.exam_type_id == 2 && subscribe.exam.view_notes && subscribe.exam_date.view_notes
                            ="#{raw(subscribe.subscribe_message)}"
                          -else
                            -if subscribe.exam.exam_type_id != 3
                              Aguarde a Liberação dos Resultados
                  %td
                    -if subscribe.exam.exam_type_id == 2
                      / Button trigger modal
                      %button.btn.primary-button.primary-background-color.text-white{"data-target" => "#exampleModal3", "data-toggle" => "modal", :type => "button"}
                        Ver local do Exame
                      / Modal
                      #exampleModal3.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModal3Label", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog{:role => "document"}
                          .modal-content
                            .modal-header
                              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                %span{"aria-hidden" => "true"} ×
                            .modal-body
                              -if subscribe.exam_date.itinerant_exam
                                .row
                                  .col-sm-6
                                    %label
                                      Horário:
                                    %span
                                      = subscribe.exam_date.exam_date.strftime('%H:%M')
                                  .col-sm-6
                                    %label
                                      Data:
                                    %span
                                      = subscribe.exam_date.exam_date.strftime('%d/%m/%y')
                                  .col-sm-6
                                    %label
                                      Telefone:
                                    %span
                                      = subscribe.exam_date.itinerant_exam.phone if subscribe.exam_date.itinerant_exam.phone
                                  .col-sm-6
                                    %label
                                      Tipo do Vestibular:
                                    %span
                                      Agendado
                                  .col-sm-6
                                    %label
                                      Local:
                                    %span
                                      = subscribe.exam_date.itinerant_exam.address
                                      %br
                                      = subscribe.exam_date.itinerant_exam.city

                            .modal-footer
                              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Fechar

                  %td
                    -if (subscribe.registrationshow && show_result_note || subscribe.exam.exam_type_id == 3)
                      =link_to("Preencha sua pré-matricula", new_subscribe_registration_path(subscribe), :class => "btn primary-button primary-background-color text-white")
