= current_user.name if current_user
%ul.lista-lateral
  %li
    =link_to("Inscrição do Vestibular", exams_path) if !@exams.empty?
  %li
    =link_to("Login / Resultado", login_exams_path)
  %li
    =link_to("Edital Simuladão", "/normas-sumuladao.pdf", :target => "_blank")
  /%li
  /  =link_to("Edital Retificado - 13/09/2016", "/edital-2017-vestibular-ratificado13-09-2016.pdf", :target => "_blank")
  /%li
  /  =link_to("Edital Retificado - 23/09/2016", "/retificacao22092016.pdf", :target => "_blank")
  %li
    =link_to("Consultar com CPF", find_cpf_exams_path) if !current_user
  %li
    =link_to("Sair", logout_path) if current_user



