- if !@user.blank?
  $('#Myemail').html('');
  $('#Myemail').html('<p>Seu email de cadastro é <b>#{escape_javascript(@user.email)}</b>.</p>');
-else
  $('#Myemail').html('');
  $('#Myemail').html('<p><b>Nehum email foi encontrado para o CPF digitado!</b><br /> Verifique se o numero do CPF está correto.</p>');