.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} consultar com cpf
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          Vestibular
          %span.font-weight-bold
            2017
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold Consultar com CPF
    .px-5
      .row

        %p="#{@user.name} - CPF: #{@user.cpf}"
        -if @subscribes.count > 0
          %table.table.table-bordered.table-striped.col-xs-12#ShowSubscribes
            %thead
              %tr
                %th Vestibular Inscrito
                %th Situação
                %th
                  -if @subscribes.select{ |subscribe| subscribe.registrationshow == true }.count > 0
                    Pré-Matricula
            %tbody
              -@subscribes.each do |subscribe|
                -if subscribe.exam.exam_type_id == 1 && subscribe.exam.view_notes
                  - show_result_note = true
                -else
                  -if subscribe.exam.exam_type_id == 2 && subscribe.exam.view_notes && subscribe.exam_date.view_notes
                    - show_result_note = true
                  -else
                    - show_result_note = false

                %tr
                  %td
                    =subscribe.exam.name.titleize
                    = " - " + I18n.localize(subscribe.exam_date.exam_date, :format => :date_default).to_s if subscribe.exam.exam_type_id == 2
                  %td
                    -if !subscribe.paid
                      = link_to("Aguardando Pagamento, emitir 2a via", subscribe.ticket_link, :target=>"_blank")
                    -else
                      -if subscribe.endnote.blank?
                        Boa Prova!
                      -else
                        -if show_result_note
                          =raw(subscribe.subscribe_message)
                        -else
                          Aguarde a Liberação dos Resultados

                  %td
                    -if (subscribe.registrationshow && show_result_note)
                      =link_to("Preencha sua pré-matricula", new_subscribe_registration_path(subscribe), :class => "btn btn-success")




