<section class="exam-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= exams_path %>">Vestibular</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>Vestibular <span class="font-weight-bold"><%= CURRENT_YEAR_EXAM%></span></span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/topos/exam-banner.jpg">
  </div>
  <div class="container gray1-background mb-5 pb-5 px-0">
    <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold"><%= @exams.empty? ? "Informações Vestibular 2019" : "seleção do Vestibular / ENEM" %></h1>


    <!-- <span class="display 4 primary-font-color text-uppercase py-4 px-5 font-weight-bold">*caso tenha realizado  ou se inscrito no SIMULADAO, antes de se increver no vestibular faça login no campo "login/resultado"!</span> -->
    <div class="exam-select px-5" id="login">
      <div class="row text-left">
        <p class="mx-auto">
          Nosso vestibular acontece no 2º semestre do ano para o início das aulas no ano seguinte. Esse ano o vestibular vai acontecer no dia 24 de novembro e a entrada com a nota do ENEM acontecerá a partir do mês de agosto.

          Para mais informações acompanhe as novidades do Vestibular FESB nas <a class="primary-font-color" target="_blank" href="https://www.facebook.com/FESBoficial">redes sociais</a> e também através do nosso site, aproveite para fazer um <strong><a class="primary-font-color" href="/tourvirtual" target="_blank">TOUR VIRTUAL</a></strong> por nosso campus e conheça a nossa estrutura.
        </p>
      </div>
      <%= render 'exam'%>
      <div class="text-center">
        <%=link_to("Edital Vestibular", "EDITAL-Vestibular.pdf", :target => "_blank", :class => "btn primary-background-color text-white")%>
        <!--
        <%=link_to("Edital Vagas Remanescentes", "http://fesb.br/system/warning_files/887/original/EDITAL_DA_N%C2%BA_010_-_VESTIBULAR_2018_REMANESCENTE.docx.pdf", :target => "_blank", :class => "btn primary-background-color text-white")%>

        <button type="button" class="btn primary-background-color text-white" data-toggle="modal" data-target="#gabarito">
          Gabaritos
        </button>
        -->

        <!-- Modal -->
        <!-- <div class="modal fade" id="gabarito" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true" style="margin-top: 20%;">
          <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Gabaritos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-6 py-3">
                    <%=link_to("Gabarito Simuladão", "/GABARITO-SIMULADAO.pdf", :target => "_blank", :class => "btn primary-background-color text-white", :style=>"max-width: 100%; white-space: normal;")%>
                  </div>
                  <div class="col-6 py-3">
                    <%=link_to("Gabarito Bom Jesus dos Perdões", "/BOM_JESUS.pdf", :target => "_blank", :class => "btn primary-background-color text-white", :style=>"max-width: 100%; white-space: normal;")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!--<%=link_to("Resultado Simuladão", "/resultado-bolsas.pdf", :target => "_blank", :class => "btn primary-background-color text-white")%>
        <%=link_to("Informações Candidatos Simuladão", "/informacao-sobre-simuladao.docx", :target => "_blank", :class => "btn primary-background-color text-white")%>-->
      </div>
    </div>
    <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">login / resultado</h2>
    <div class="login p-5">
      <%= render 'login'%>
    </div>
    <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase">consultar com cpf</h2>
    <div class="cpf p-5">
    <%= render 'find_cpf'%>
    </div>
  </div>
</section>

<!--<% if !current_user%>
  <div aria-labelledby="gridSystemModalLabel" class="modal fade" id="myModal" role="dialog" style="margin-top: 20%;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="div-col-md-12 text-center">
                <h2 class="primary-font-color">
                  CASO VOCÊ TENHA FEITO O SIMULADÃO, VOCÊ DEVE SE LOGAR ANTES DE SE INSCREVER NO VESTIBULAR
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default text-uppercase" data-dismiss="modal" type="button">Não fiz o simuladão</button>
          <%= link_to("já fiz o simuladão", login_exams_path, :class => "btn btn-primary text-uppercase") %>
        </div>
      </div>
    </div>
  </div>
<% end %>-->




<%content_for :footer do %>

  <!-- <script type="text/javascript">
          $(document).ready(function () {

              $("#myModal").modal("show");

          });
  </script> -->
<% end %>