.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} cadastro
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          Vestibular
          %span.font-weight-bold
            = CURRENT_YEAR_EXAM
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      Login
    = form_for @user_session do |f|
      .row
        -if flash[:error]
          .alert.alert-danger.alert-dismissable.col-12
            %i.fa.fa-ban
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
            %b Alert!
            Usuário e/ou senha inválidos.
        .form-group.col-sm-6
          = f.text_field :email, :placeholder => "E-mail", :class => "form-control"
        .form-group.col-sm-6
          = f.password_field :password, :placeholder => "Senha", :class => "form-control"

        .text-md-left.text-center.col-md-6
          = link_to("Esqueci minha senha", new_password_reset_path(), :class => "pr-3")
          = link_to("Esqueci meu e-mail", my_email_exams_path())
        .text-md-right.text-center.col-md-6
          = f.submit "Entrar", :class => "btn primary-button primary-background-color text-white"
