- content_for :footer do
  :javascript
    function er_replace( pattern, replacement, subject ){
    	return subject.replace( pattern, replacement );
    }
    $("#cpf").keyup(function() {
      var $this = $( this );
    	$this.val(er_replace( /[^0-9]+/g,'', $this.val() ) );
    });


.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} esqueci meu email
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          Vestibular
          %span.font-weight-bold
            2017
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold Esqueci meu email
    .col-sm-9.col-xs-12
      .row
        = form_tag find_my_email_exams_path, :class => "w-100", :remote => true do
          .body.bg-gray
            .row
              -if flash[:notice]
                .alert.alert-danger.alert-dismissable.col-12
                  %i.fa.fa-ban
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                  %b Alert!
                  = flash[:notice]
              .form-group.col-sm-8
                = text_field_tag :cpf, params[:cpf], :placeholder => "Informe seu CPF", :class => "form-control"
              .col-sm-4.text-center
                = submit_tag "Enviar", :class => "btn primary-background-color text-white btn-primary"
        .body.bg-gray#Myemail

