.container-fluid.imagem-interna{:style => "background-image:url('/assets/topos/mude-seu-destino.jpg'); background-size:100% 100%;"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to("Inscrição",exams_path())
      %li
        =link_to("Meus Dados", ticket_exams_path())
    %h1 Confirmação dos dados
    .row
    .col-sm-3.col-xs-12
      =render :file => "exams/_menu_lateral"
    .col-sm-9.col-xs-12
      .row
        %form.inscricao{:method => "post", :role => "form"}

          .col-xs-12
            .form-group
              %label{:for => "nome"} Nome
              %input.form-control{:disabled => "", :type => "text", :value => "#{@user.name}"}
                .clearfix
            .form-group
              %label E-mail
              %input.form-control{:disabled => "", :type => "text", :value => "#{@user.email}"}
                .clearfix
            .form-group
              %label{:for => "telefone"} Telefone
              %input.form-control{:disabled => "", :type => "text", :value => "#{@user.phone}"}
                .clearfix
            .form-group
              %label{:for => "telefone"} Celular
              %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cell_phone}"}
                .clearfix
            .form-group
              %label{:for => "nome"} CPF
              %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cpf}"}
                .clearfix
        -if @subscribes.count > 0
          .col-xs-12#ShowSubscribes
            %table.table.table-bordered.table-striped.col-xs-12
              %thead
                %tr
                  %th Vestibular Inscrito
                  %th Situação
                  -if @subscribes.select{ |subscribe| subscribe.registrationshow == true }.count > 0
                    %th Pré-Matricula

              %tbody
                -@subscribes.each do |subscribe|
                  -if subscribe.exam.exam_type_id == 1 && subscribe.exam.view_notes
                    - show_result_note = true
                  -else
                    -if subscribe.exam.exam_type_id == 2 && subscribe.exam.view_notes && subscribe.exam_date.view_notes
                      - show_result_note = true
                    -else
                      - show_result_note = false
                  %tr
                    %td
                      =subscribe.exam.name.titleize
                      = " - " + I18n.localize(subscribe.exam_date.exam_date, :format => :date_default).to_s if subscribe.exam.exam_type_id == 2
                    %td
                      -if !subscribe.paid
                        = link_to("Aguardando Pagamento, emitir 2a via", subscribe.ticket_link, :target=>"_blank")
                      -else
                        -if subscribe.endnote.blank?
                          Boa Prova!
                        -else
                          -if subscribe.exam.exam_type_id == 1 && subscribe.exam.view_notes
                            =raw(subscribe.subscribe_message)
                          -else
                            -if subscribe.exam.exam_type_id == 2 && subscribe.exam.view_notes && subscribe.exam_date.view_notes
                              ="#{raw(subscribe.subscribe_message)}"
                            -else
                              Aguarde a Liberação dos Resultados
                    %td
                      -if (subscribe.registrationshow && show_result_note)
                        =link_to("Preencha sua pré-matricula", new_subscribe_registration_path(subscribe), :class => "btn btn-success")





