%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Professores
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Professores
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Itens Cadastrados
      .card-body.table-responsive.no-padding

        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Imagem
              %th Nome
              %th Publicado
              %th Ações
          %tbody
            - for teacher in @teachers
              %tr
                %td= image_tag(teacher.teacher_image.url(:thumb))
                %td= teacher.name
                %td= show_boolean(teacher.published)
                %td
                  = link_to "Visualizar", [:admin, teacher], :class => "btn btn-default"
                  = link_to "Editar", edit_admin_teacher_path(teacher), :class => "btn btn-default"
                  = link_to "Excluir", [:admin, teacher], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p= link_to "Cadastrar Professor", new_admin_teacher_path, :class => "btn btn-primary"
