%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Professores
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Professores
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @teacher.name
        .card-body

          %p
            %strong Curriculum Vitae:
            = @teacher.curriculum_vitae
          %p
            %strong Publicado:
            = show_boolean(@teacher.published)
        .card-footer
          %p
            = link_to "Editar", edit_admin_teacher_path(@teacher), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_teachers_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @teacher], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
