%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Áreas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Áreas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @class_style.name
        .p-4

          = render 'form'
        .card-footer
          %p
            = link_to "Visualizar todos", admin_class_styles_path, :class => "btn btn-default"
            = link_to "Exibir", [:admin, @class_style], :class => "btn btn-default"
            = link_to "Excluir", [:admin, @class_style], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"

