%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Áreas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Áreas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Áreas Cadastradas
      .p-4
        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Name
              %th Published
              %th Ações
          %tbody
            - for class_style in @class_styles
              %tr
                %td= class_style.name
                %td= show_boolean(class_style.published)
                %td
                  =link_to 'Visualizar', [:admin, class_style], :class => "btn btn-default"
                  =link_to 'Editar', edit_admin_class_style_path(class_style), :class => "btn btn-default"
                  =link_to 'Excluir', [:admin, class_style], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Nova Área", new_admin_class_style_path, :class => "btn btn-primary"


