= form_for [@ex_aluno] do |f|
  %fieldset
    .row
      .form-group.col-sm-8
        = f.label :name, "Nome"
        = f.text_field :name, :placeholder => "Preencha o seu nome", :class => "form-control"
        = invisible_captcha
      .form-group.col-sm-4
        = f.label :phone, raw("Telefone: <small><span class='azul'>(Opcional)</span></small>" )
        = f.text_field :phone, :placeholder => "ex: (00) 0000-0000", :class => "form-control"
    .row
      .form-group.col-12
        = f.label :email, "E-mail:"
        = f.text_field :email, :placeholder => "Preencha o seu email", :class => "form-control"
    .row
      .form-group.col-sm-6
        = f.label :conclusion_year, "Ano em quem se formou:"
        = f.text_field :conclusion_year, :placeholder => "Preencha o ano do seu curso", :class => "form-control"
      .form-group.col-sm-6
        = f.label :curso, "Curso:"
        = f.text_field :curso, :placeholder => "Preencha o curso que você cursou", :class => "form-control"
    .row
      .form-group.col-sm-6
        = f.label :w_area, "Você trabalha na área?"
        %br
        = f.radio_button (:w_area, "1")
        Sim
        = f.radio_button (:w_area, "0")
        Não
      .form-group.col-sm-6
        = f.label :work_area, "Se sim, onde?"
        = f.text_field :work_area, :placeholder => "Se sim, preencha onde trabalha", :class => "form-control"
    .row
      .form-group.col-12
        = f.label :subject, "Assunto:"
        = f.text_field :subject, :placeholder => "Preencha o Assunto", :class => "form-control"
    .form-group
      = f.label :message, "Mensagem:"
      = f.text_area :message, :placeholder => "Escreva aqui a sua mensagem",  :class => "form-control big-text", :style=>"height: 394px;", :rows => "8"
    .clearfix
    = f.submit "Enviar", :class => "my-5 btn primary-button primary-background-color text-white pull-right", :data => { :disable_with=> "Aguarde..." }
.clearfix