- content_for :head do
  = stylesheet_link_tag "jquery.tagsinput.css"
- content_for :footer do
  = javascript_include_tag "jquery.tagsinput.min.js"
  :javascript
    $('.tags').tagsInput({
      'width':'100%',
      'height':'42px',
      'removeWithBackspace' : true,
      'defaultText':'+ item'
    });
.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to "Ex-Aluno", (new_ex_aluno_path)
    %h1 Ex-Aluno
    .div
      %p{:style => "text-align: center;"} Agora você tem mais uma opção de comunicação com nossa secretaria. Preencha os campos abaixo para fazer sua solicitação ou enviar uma mensagem!
    .clearfix
    =render 'form'