!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table
      %tr
        %td{:align => "center"}
          = image_tag("http://www.fesb.br/assets/obrigado.jpg")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            - if @subscribe.exam.exam_type_id == 1
              %strong.alert.alert-danger AVISO! Lembre-se de levar o comprovante de pagamento do boleto no dia do exame! (24/11/2018)
            - if @subscribe.exam.exam_type_id == 2
              INFORMAÇÕES SOBRE O SEU VESTIBULAR AGENDADO:
              -if @subscribe.exam_date.itinerant_exam
                .row
                  .col-sm-6
                    %label
                      Horário:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%H:%M')
                  .col-sm-6
                    %label
                      Data:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%d/%m/%y')
                  .col-sm-6
                    %label
                      Telefone:
                    %span
                      = @subscribe.exam_date.itinerant_exam.phone if @subscribe.exam_date.itinerant_exam.phone
                  .col-sm-6
                    %label
                      Tipo do Vestibular:
                    %span
                      Agendado
                  .col-sm-6
                    %label
                      Local:
                    %span
                      = @subscribe.exam_date.itinerant_exam.address
                      %br
                      = @subscribe.exam_date.itinerant_exam.city