!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table
      %tr
        %td{:align => "center"}
          = image_tag("http://www.fesb.br/assets/vagas_remanescentes_Documentos_enem.jpg")