%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      #dados{
        font-size:12px;
      }
      #dados p.aviso{
        font-size:14px;
      }
      #dados p.obs{
        font-size:10px;
      }
      

    %body
      #dados
        %p.aviso
          Informações que foram inseridas:
        %p
          %strong Nome:
          = @sheet.name
        %p
          %strong Email:
          = @sheet.email
        %p
          %strong RA:
          = @sheet.ra
        %p
          %strong Autor:
          = @sheet.author
        %p
          %strong Orientador:
          = @sheet.advisor
        %p
          %strong Titulo e Subtitulo do Trabalho:
          = @sheet.title_subtitle
        %p
          %strong Curso:
          = @sheet.class_name.name
        %p
          %strong CDD:
          = @sheet.class_name.cdd
        %p
          %strong PHA:
          = @sheet.class_name.pha
        %p
          %strong Numero de páginas:
          = @sheet.number_pages
        %p
          %strong Numero de Ilustrações:
          = @sheet.number_illustrations
        %p
          %strong Palavras-chave:
          = @sheet.keywords
        %p
          %strong Informações Adicionais:
          %br
          = @sheet.additional_information
        %p.obs
          *Seus dados foram enviados para FESB aguarde pela Ficha Catalográfica
        