!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #004687;"}
          = image_tag("http://www.fesb.br/assets/logo.jpg")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá"
            -if @pre_subscribe.social_name
              =@pre_subscribe.social_name
            -else
              =@pre_subscribe.name
            %br/
            %br/
            Seu formulário de Pré-Matrícula foi enviado com sucesso!
            %br/
            %br
            -if @class_name.class_category.id == 2
              %a{:href => "https://pag.ae/7UJx7Y2em", :target => "_blank"}
                Pague agora sua inscrição!
            %br            
            %p O eventual NÃO oferecimento do curso será comunicado aos alunos até três dias antes do início do curso. Neste caso, a devolução do pagamento deverá ser requerida junto a Secretaria da FESB até um mês após a data prevista para início do curso.
            %br/
            Atenciosamente,
            %br/
            %i FESB

          %br/
          %br/
      %tr
        %td{:style => "border-top:2px solid #004687;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} Fesb.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.fesb.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} faculdade@fesb.edu.br
