!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #004687;"}
          = image_tag("http://www.fesb.br/assets/logo.jpg")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá Adminsitrador, "
            %br/
            %br/
            Um contato foi feito através do site
            %br/
            %br/
            %p="Nome: #{@ex_aluno.name}"
            %p="Email: #{@ex_aluno.email}"
            %p="Telefone: #{@ex_aluno.phone}"
            %p="Curso: #{@ex_aluno.curso}"
            - if @ex_aluno.w_area
              %p="Trabalha na area? Sim"
              %p="Aonde Trabalha: #{@ex_aluno.work_area}"
            - else
              %p="Trabalha na area? Não"              
            %p="Ano em quem se formou: #{@ex_aluno.conclusion_year}"
            %p="Assunto: #{@ex_aluno.subject}"
            %p="Mensagem: #{@ex_aluno.message}"
            
          %br/
          %br/
      %tr
        %td{:style => "border-top:2px solid #004687;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} Fesb.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.fesb.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} faculdade@fesb.edu.br