%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      #ficha_catalografica{
        width:600px;
        height:297mm;
        padding:23mm 30mm;
        font-family: "Times New Roman", Times, serif;
        padding-top:350px;
        left: 50%;
        position: relative;
        margin-left: -105mm;
        margin-bottom: 50px;
      }
      .titulo{
        text-align: center;
        font-size:14.0pt;
        text-transform:uppercase;
      }
      .responsavel{
        text-align: center;
        font-size:8.0pt;
        margin-bottom:0px;
      }
      #ficha_catalografica hr{
        border-top: 1px solid black;
      }
      #ficha_catalografica .hr_responsavel{
        margin-top:0px;
      }
      .content_ficha{
        margin-left:10mm;
      }
      .pha{margin-left:-10mm;}
      #code_name{
        margin-left: -10mm;
      }
      .cod_show{
        margin-left:-10mm;
      }
      .titulo_desc{
        margin-left:12mm;
      }
      .descricao{
        font-size:11.0pt;
      }
      .data{
        margin-left:10mm;
      }
      .codigocdd{
        margin-left:80mm;
      }

    %body
      #dados
        %p
          %strong Nome:
          = @sheet.name
        %p
          %strong Email:
          = @sheet.email
        %p
          %strong RA:
          = @sheet.ra
        %p
          %strong Autor:
          = @sheet.author
        %p
          %strong Orientador:
          = @sheet.advisor
        %p
          %strong Titulo e Subtitulo do Trabalho:
          = @sheet.title_subtitle
        %p
          %strong Curso:
          = @sheet.class_name.name
        %p
          %strong CDD:
          = @sheet.class_name.cdd
        %p
          %strong PHA:
          = @sheet.class_name.pha
        %p
          %strong Numero de páginas:
          = @sheet.number_pages
        %p
          %strong Numero de Ilustrações:
          = @sheet.number_illustrations
        %p
          %strong Palavras-chave:
          = @sheet.keywords
        %p
          %strong Informações Adicionais:
          %br
          = @sheet.additional_information
      #ficha_catalografica
        %p.titulo FICHA CATALOGRÁFICA
        %br
          %p.responsavel Dados da catalogação elaborados por Reinaldo David dos Santos. Bibliotecário CRB 8 7643
          %hr
          .content_ficha
            %p.pha
              =@sheet.class_name.pha
            %p
              -name_show = @sheet.name.split(",").first
              =inverte_sobrenome(name_show)+"."
  
            %p
              %span.titulo_desc
                =@sheet.title_subtitle+" / "
                =@sheet.name.split(",").first+". "
                Bragança Paulista, SP: FESB,
                ="#{@sheet.created_at.strftime("%Y")}."
            %p
              = @sheet.number_pages.to_s+" p."
              = @sheet.number_illustrations.to_s+" il."
            %p
              Orientador:
              = @sheet.advisor+"." 
            %p
              Trabalho de Conclusão de Curso – Faculdade de Ciências e Letras de Bragança 
              %br 
              Paulista,
              = @sheet.class_name.name+"."
            %p.descricao
              - i = 1
              - @sheet.keywords.split(",").each do |keyword|
                = i.to_s+". "+keyword+". "
                - i += 1
                - numeros_romanos = [[1, "I"]]
              I. #{@sheet.advisor}. II. #{@sheet.name}. III. Faculdade de Ciências e Letras de Bragança Paulista, #{@sheet.class_name.name}. IV. Título.
            %p
              %span.data=@sheet.created_at.strftime("%d.%m.%y")			
              %span.codigocdd
                CDD
                =@sheet.class_name.cdd
          %hr
