!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #004687;"}
          = image_tag("http://www.fesb.br/assets/logo.jpg")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá Adminsitrador, "
            %br/
            %br/
            Um cadastro de pré matricula foi feito através do site
            %br/
            %br/
            %p Dados do Vestibular:
            %br/
            %p="Inscrição: #{@registration.subscribe.registration}"
            %p="Primeira Opção: #{@registration.subscribe.first_option_class.name}"
            %p="Segunda Opção: #{@registration.subscribe.second_option_class.name}"
            %br/
            %br/
            %p Dados do Aluno:
            %br/
            %p="Nome: #{@registration.subscribe.user.name}"
            %p="Telefone: #{@registration.subscribe.user.phone}"
            %p="Email: #{@registration.subscribe.user.email}"
            %p="RG: #{@registration.subscribe.user.rg}"
            %p="CPF: #{@registration.subscribe.user.cpf}"
            %p="Data de Nascimento: #{I18n.localize(@registration.subscribe.user.birth_date, :format=>"%d/%m/%Y")}"
            %p="CEP: #{@registration.subscribe.user.postal_code}"
            %p="Endereço: #{@registration.subscribe.user.address}"
            %p="Numero: #{@registration.subscribe.user.number}"
            %p="Complemento: #{@registration.subscribe.user.complement}"
            %p="Bairro: #{@registration.subscribe.user.neighbourhood}"
            %p="Cidade: #{@registration.subscribe.user.city}"
            %p="Estado: #{@registration.subscribe.user.state}"
            %br/
            %br/
            %p Dados do Responsavel Financeiro:
            %br/
            %p="Nome: #{@registration.name}"
            %p="Telefone: #{@registration.phone}"
            %p="CPF: #{@registration.cpf}"
            %p="CEP: #{@registration.postal_code}"
            %p="Endereço: #{@registration.address}"
            %p="Numero: #{@registration.number}"
            %p="Complemento: #{@registration.complement}"
            %p="Bairro: #{@registration.neighbourhood}"
            %p="Cidade: #{@registration.city}"
            %p="Estado: #{@registration.state}"
            %p="Agendamento: #{@registration.scheduling}"
            %br/
            %br/
            %p Documentos:
            %p
              ="Documento ENEM:"
              =link_to("http://www.fesb.br#{@registration.comprovante_enem.url()}", "Clique aqui pra fazer o download", :target => "_blank")
            %p
              ="Documento RG: "
              ="Frente"
              =link_to("http://www.fesb.br#{@registration.arquivo_rg.url()}", "Clique aqui pra fazer o download", :target => "_blank")
              ="Verso"
              =link_to("http://www.fesb.br#{@registration.arquivo_rg_verso.url()}", "Clique aqui pra fazer o download", :target => "_blank")
            %br/
          %br/
          %br/
      %tr
        %td{:style => "border-top:2px solid #004687;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} Fesb.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.fesb.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} faculdade@fesb.edu.br