!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #004687;"}
          = image_tag("http://www.fesb.br/assets/logo.jpg")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá Adminsitrador, "
            %br/
            %br/
            Um formulário de Pré-Matrícula enviado através do site
            %br/
            %br/
            %p="Curso: #{@pre_subscribe.class_name.name}"
            %p="Nome: #{@pre_subscribe.name}"
            %p="Nome Social: #{@pre_subscribe.social_name}"
            %p="Data de nascimento: #{@pre_subscribe.birthday}"
            %p="RG: #{@pre_subscribe.rg}"
            %p="CPF: #{@pre_subscribe.cpf}"
            %p="Email: #{@pre_subscribe.email}"
            %p="Telefone: #{@pre_subscribe.phone}"
            %p="Curso de graduação: #{@pre_subscribe.graduate_class}"
            %p="Ano de formação: #{@pre_subscribe.graduate_year}"
            %p="Instituição de formação: #{@pre_subscribe.graduate_institution}"


          %br/
          %br/
      %tr
        %td{:style => "border-top:2px solid #004687;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} Fesb.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.fesb.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} faculdade@fesb.edu.br
