!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #004687;"}
          = image_tag("http://www.fesb.br/assets/logo.jpg")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá"
            %br/
            %br/
            Nova inscrição efetuada pelo site!
            %br/
            %br/
            - if @subscribe.exam.exam_type_id == 1
              Vestibular Tradicional
            - if @subscribe.exam.exam_type_id == 2
              Vestibular Agendado
              -if @subscribe.exam_date.itinerant_exam
                .row
                  .col-sm-6
                    %label
                      Horário:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%H:%M')
                  .col-sm-6
                    %label
                      Data:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%d/%m/%y')
                  .col-sm-6
                    %label
                      Local:
                    %span
                      = @subscribe.exam_date.itinerant_exam.city
            - if @subscribe.exam.exam_type_id == 3
              Vestibular ENEM
              %br
              %p Nota do Enem
              %p= @subscribe.user.nota_enem


            %p
              Dados do candidato:
            %p="Primeira Opção: #{@subscribe.user.first_option_class.name}"
            %p="Segunda Opção: #{@subscribe.user.second_option_class.name}"
            %p="Nome: #{@subscribe.user.name}"
            %p="Nome Social: #{@subscribe.user.social_name}"
            %p="RG: #{@subscribe.user.rg}"
            %p="CPF: #{@subscribe.user.cpf}"
            %p="Email: #{@subscribe.user.email}"
            %p="Telefone: #{@subscribe.user.phone}"

          %br/
          %br/
      %tr
        %td{:style => "border-top:2px solid #004687;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} Fesb.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.fesb.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} faculdade@fesb.edu.br
