= form_for [:admin, @department] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body
    .form-group  
      = f.label :name, "Nome"
       
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :email
       
      = f.text_field :email, :class => "form-control"
    .form-group
      = f.label :published, "Publicado"
       
      = f.check_box :published
    .box_footer
      = f.submit "Salvar", :class =>"btn btn-primary"
