%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Departamentos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Departamentos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary
      .card-header
        %h3.card-title
          = @department.name
      .p-4
        = render 'form'
      .card-footer
        %p
          = link_to "Visualizar todos", admin_departments_path, :class => "btn btn-default"
          = link_to "Exibir", [:admin, @department], :class => "btn btn-default"
          = link_to "Excluir", [:admin, @department], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"


