%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Departamentos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Departamentos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title
          Cursos Cadastrados
      .p-4
        %table.table.table-hover
          %tr
            %th Name
            %th Email
            %th Published
            %th Ações
          - for department in @departments
            %tr
              %td= department.name
              %td= department.email
              %td= show_boolean(department.published)
              %td
                =link_to 'Visualizar', [:admin, department], :class => "btn btn-default"
                =link_to 'Editar', edit_admin_department_path(department), :class => "btn btn-default"
                =link_to 'Excluir', [:admin, department], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Novo Departamento",new_admin_department_path, :class => "btn btn-primary"
