<section class="page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="">Receitas</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span class="font-weight-bold">Receitas</span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/receitas.jpg">
  </div>
  <div class="container gray1-background mb-5 p-5">
    <div class="row">
      <div class="col-12">
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">Receitas Práticas e Saudáveis - Curso Nutrição</h3>
          </div>
          <div class="p-4">
            <table class="table table-hover">
              <tr>
                <th>Imagem</th>
                <th>Titulo</th>
                <th></th>
              </tr>
              <% for recipe in @recipes %>
                <tr>
                  <td>
                    <%= image_tag(recipe.recipe_img.url(:thumb)) %>
                  </td>
                  <td>
                    <%= recipe.title %>
                  </td>
                  <td>
                    <%= link_to 'Visualizar', [recipe], :class => "btn btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>    
  </div>  
</section>
