<div class="page-intern-margin">
	<div class="gray3-background py-3">
	  <div class="container">
	    <ul class="breadcrumb m-0">
	      <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
	      <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="/recipes">Receitas</a></li>
	      <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href=""><%= @recipe.title %></a></li>
	    </ul>
	  </div>
	</div>
	<div class="container-fluid banner-curso p-0 w-100">
	  <div class="text-banner">
	    <h1 class="mx-auto text-center text-white">
	      <span class="font-weight-bold">Receitas</span>
	    </h1>
	  </div>
	  <img class="img-fluid w-100" src="/assets/receitas.jpg">
	</div>
  <div class="container gray1-background mb-5 p-5">
    <h1>
      <%= @recipe.title %>
    </h1>
    <p>
      <%= raw(@recipe.description) %>
    </p>
  </div>
</div>
