= form_for [:admin, @subscribe] do |f|
  = f.error_messages
  %p
    = f.label :exam_id
    %br
    = f.number_field :exam_id
  %p
    = f.label :socioeconomic_id
    %br
    = f.number_field :socioeconomic_id
  %p
    = f.label :user_id
    %br
    = f.number_field :user_id
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :ticket_number
    %br
    = f.text_field :ticket_number
  %p
    = f.submit
