- if @subscribe.socioeconomic_id.blank?             
  %p
    = link_to "Cadastrar Dados Socioeconômicos", admin_subscribes_path, :class => "btn btn btn-success"
- else
  %p
    %strong Renda:
    = salarios(@subscribe.socioeconomic.income)
  %p
    %strong Renda Familiar:
    = salarios_familia(@subscribe.socioeconomic.income_family)
  %p
    %strong Formação 1º Grau:
    = tr_ensino(@subscribe.socioeconomic.school)
  %p
    %strong Formação 2º Grau:
    = tr_ensino(@subscribe.socioeconomic.highschool)
  %p
    %strong Profissão:
    =@subscribe.socioeconomic.occupation
  - if ((@subscribe.socioeconomic.city_id.blank?) or (@subscribe.socioeconomic.city_id == 0))
    %p
      %strong{:style=>"color:red;"} Cidade e Estado não cadastrado
  - else
    %p
      %strong Cidade Natal:
      =@subscribe.socioeconomic.city.title
    %p
      %strong Estado Natal:
      =@subscribe.socioeconomic.city.state
  %p
    %strong Como Conheceu a FESB?
    =conheceu(@subscribe.socioeconomic.how_did_me)
  %p
    %strong Qual material chamou mais atenção na campanha?
    =melhor_anuncio(@subscribe.socioeconomic.best_ad)
  =link_to("Alterar Dados Socioeconômicos", edit_socieconomic_data_admin_subscribe_path(@subscribe), :class => "btn btn-info", :remote => true)
