= form_for [@socieconomic], :url => socieconomic_data_update_admin_subscribe_path, :remote => true do |f| 
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  = hidden_field_tag :socieconomic_id , @socieconomic.id
  .box-body
    .form-group
      = f.label :income, "Renda Individual"
      = f.select :income, options_for_select([["Até 1 salário mínimo","1"],["de 2 a 4 salários mínimos","2"],["de 5 a 7 salários mínimos","3"],["acima de 8 salários mínimos","4"]],@socieconomic.income), {:prompt=>"Selecione..."}, {:class => "form-control"}  
    .form-group
      = f.label :income_family, "Renda Familiar"
      = f.select :income_family, options_for_select([["de 2 a 3 salários mínimos","0"],["de 4 a 6 salários mínimos","1"],["de 7 a 10 salários mínimos","2"]],@socieconomic.income_family), {:prompt=>"Selecione..."}, {:class => "form-control"}
    .form-group
      = f.label :school, "Formação Ensino Fundamental"
      = f.select :school, options_for_select([["Escola Pública","0"],["Escola Particular","1"]],@socieconomic.school), {:prompt=>"Selecione..."}, {:class => "form-control"}    
    .form-group
      = f.label :highschool, "Formação Ensino Médio"
      = f.select :highschool, options_for_select([["Escola Pública","0"],["Escola Particular","1"]],@socieconomic.highschool), {:prompt=>"Selecione..."}, {:class => "form-control"}        
    .form-group
      = f.label :occupation, "Profissão"
      = f.text_field :occupation, :class => "form-control"
    .form-group    
      = f.label :city_id, "Naturalidade Estado"
      = f.select :city_id, options_for_select(@states,@socieconomic.city.state), {:prompt=>"Escolha um estado"}, {:id=>"state_select",:class => "form-control"} 
    .form-group
      = f.label :city_id, "Naturalidade Cidade"
      = f.select :city_id, options_for_select([[@socieconomic.city.title, @socieconomic.city.id]],@socieconomic.city_id), {:prompt=>"Escolha uma cidade"}, {:class => "form-control"} 

    .form-group
      = f.label :how_did_me, "Como conheçeu a FESB?"
      = f.select :how_did_me, options_for_select([["Indicação de Amigos","1"],["Campanha Publicitária","2"],["Internet","4"]],@socieconomic.how_did_me), {:prompt=>"Selecione..."}, {:class => "form-control"}    
    .form-group
      = f.label :best_ad, "Qual material chamou mais atenção na campanha ?"
      = f.select :best_ad, options_for_select([["Rádio","2"],["Site","3"],["Outdoor","4"],["TV","8"],["Visita as Escolas","9"]],@socieconomic.best_ad), {:prompt=>"Selecione..."}, {:class => "form-control"}

    = f.submit "Salvar", :class=>"btn btn-azul"
    = link_to("Cancelar", admin_subscribe_path(@subscribe), :class=>"btn btn-danger")
    

:javascript
  $(document).ready(function() {
    $('#state_select').change(function() {
      $.ajax({
        url: "#{update_cities_admin_subscribes_path}",
        data: {
          id : $('#state_select').val()
        },
        dataType: "script"
      });
    });
  });
