= form_for [@subscribe], :url => subscribe_data_update_admin_subscribe_path, :remote => true do |f| 
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  = hidden_field_tag :subscribe_id , @subscribe.id
  .box-body
    /.form-group
    /  = f.label :name, "Nome"
    /  = f.text_field :name, :class => "form-control"
    /.form-group
    /  = f.label :email, "Email"
    /  = f.text_field :email, :class => "form-control"
    .row
      .form-group.col-xs-6
        = f.label :exam_id, "Vestibular"
        = f.select :exam_id, @exams, {:prompt=>"Selecione.."}, {:class => "form-control"}
      .form-group.col-xs-6#show_date
        -if @subscribe.exam.exam_type_id != 1  
          = f.label :exam_date_id, "Data do Vestibular"
          = f.select :exam_date_id, @exam_dates, {:prompt=>"Selecione.."}, {:class => "form-control"}
      .form-group.col-xs-6
        = f.label :first_option_id, "Primeira Opção"
        = f.select :first_option_id, @class_names, {:prompt=>"Selecione.."}, {:class => "form-control"}
      .form-group.col-xs-6
        = f.label :second_option_id, "Segunda Opção"
        = f.select :second_option_id, @class_names, {:prompt=>"Selecione.."}, {:class => "form-control"}
    = f.submit "Salvar", :class=>"btn btn-azul"
    = link_to("Cancelar", admin_subscribe_path(@subscribe), :class=>"btn btn-danger")
    :javascript
      $(document).ready(function() {
        $('#subscribe_exam_id').change(function() {
          $.ajax({
            url: "#{update_dates_admin_subscribes_path}",
            data: {
              id : $('#subscribe_exam_id :selected').val(),
              subscribe : $('#subscribe_id').val() 
            },
            dataType: "script"
          });
        });
      });