%p
  %strong Exame:
  = @subscribe.exam.name 
- if @subscribe.exam.exam_type_id == 2
  %p
    %strong Data do Exame:
    = !@subscribe.exam_date.blank? ? I18n.localize(@subscribe.exam_date.exam_date, :format => :date_default) : raw("<span style='color:red'>Erro Data está em branco, favor ajustar</span>")
%p
  %strong Preço:             
  ="R$ #{@subscribe.price.to_s[0..1]},#{@subscribe.price.to_s[2..3]}"
%p
  %strong Nosso Número: 
  = @subscribe.ticket_number
%p
  %strong Número de Inscrição: 
  = @subscribe.registration
%p
  %strong Primeira Opção: 
  = @subscribe.first_option_class.name
%p
  %strong Segunda Opção: 
  = @subscribe.second_option_class.name

-if @subscribe.exam.exam_type_id != 3
  %p
    %strong Boleto
    - if (!@subscribe.registration.blank? and !@subscribe.paid)
      %strong Vencimento:
      - date_link = @subscribe.ticket_link.scan(/dtvc\=([^\&]+)/).to_s
      - date_link = DateTime.strptime(date_link, '%d%m%Y')
      =I18n.localize(date_link, :format => :date_default)
      %br
      =link_to("2a Via", @subscribe.ticket_link, :target => "_blank", :class => "btn btn-success")
      =link_to("Novo Boleto pagar Amanhã", adjusts_ticket_date_admin_subscribe_path(@subscribe.id,:date =>1), :class => "btn btn-primary")
      =link_to("Novo Boleto pagar 2 dias", adjusts_ticket_date_admin_subscribe_path(@subscribe.id,:date =>2), :class => "btn btn-primary")
      =link_to("Novo Boleto pagar 3 dias", adjusts_ticket_date_admin_subscribe_path(@subscribe.id,:date =>3), :class => "btn btn-primary")
      =link_to("Novo Boleto pagar 5 dias", adjusts_ticket_date_admin_subscribe_path(@subscribe.id,:date =>5), :class => "btn btn-primary")
    - else
      -if @subscribe.paid
        %strong Pago
%p
  =link_to("Alterar Dados de Inscrição", edit_subscribe_data_admin_subscribe_path(@subscribe), :class => "btn btn-info", :remote => true)
  /= (!@subscribe.registration.blank? and !@subscribe.paid) ? link_to(@subscribe.ticket_link, @subscribe.ticket_link) : ""
/fim inscrição