= fields_for @subscribe do |f|
  -if @exam.exam_type_id == 1
    = f.hidden_field :exam_date_id, :value => "0"
  -else
    = f.label :exam_date_id, "Data do Vestibular"
    = f.select :exam_date_id, @exam_dates, {:prompt=>"Selecione.."}, {:class => "form-control"}