/usuário
%p
  %strong Email:
  =@subscribe.user.email
%p
  %strong Genero :
  =show_genero(@subscribe.user.sex)
%p
  %strong Data de Nascimento:
  #{I18n.localize(@subscribe.user.birth_date, :format=>"%d/%m/%y")}
%p
  %strong Nacionalidade:
  =@subscribe.user.place_of_birth.capitalize if @subscribe.user.place_of_birth
%p
  %strong Estado Civil:
  =show_civil_state(@subscribe.user.civil_state) if @subscribe.user.civil_state
%p
  %strong Telefone:
  =@subscribe.user.phone
%p
  %strong Celular:
  =@subscribe.user.cell_phone
%p
  %strong RG:
  =@subscribe.user.rg
%p
  %strong Orgão Expeditor:
  =@subscribe.user.rg_oe
%p
  %strong Local de Expedição:
  =@subscribe.user.rg_ee
- if !@subscribe.user.rne.blank?
  %p
    %strong RNE:
    =@subscribe.user.rne
%p
  %strong CPF:
  =@subscribe.user.cpf
%p
  %strong Necessidades Especiais?:
  =show_boolean(@subscribe.user.special_needs)
-if @subscribe.user.special_needs
  %p
    %strong Deficiente Físico?:
    =@subscribe.user.special_needs_phisics
  %p
    %strong Deficiente Visual?:
    =@subscribe.user.special_needs_visual
  %p
    %strong Deficiente Auditivo?:
    =@subscribe.user.special_needs_hearing
%p
  %strong Ano em que concluiu o ensino médio:
  =@subscribe.user.high_school
%p
  %strong Ex aluno da FESB?
  =show_boolean(@subscribe.user.ex_student)
%p
  %strong Endereço:
  =@subscribe.user.address
  ,
  =@subscribe.user.number

  =@subscribe.user.complement
%p
  %strong Bairro:
  =@subscribe.user.neighbourhood
%p
  %strong Cidade:
  =@subscribe.user.city
%p
  %strong Estado:
  =@subscribe.user.state
%p
  %strong CEP:
  =@subscribe.user.postal_code
%p
  %strong Nota ENEM:
  =@subscribe.user.nota_enem

=link_to("Alterar Dados Cadastrais", edit_user_data_admin_subscribe_path(@subscribe), :class => "btn btn-info", :remote => true)
/fim usuáio