= form_for [@user], :url => user_data_update_admin_subscribe_path, :remote => true do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body
    .form-group
      = f.label :name, "Nome"
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :email, "Email"
      = f.text_field :email, :class => "form-control"
    .row
      .form-group.col-xs-6
        = f.label :password, "Senha"
        = f.password_field :password, :class => "form-control"
      .form-group.col-xs-6
        = f.label :password, "Confirme a Senha"
        = f.password_field :password_confirmation, :class => "form-control"
    .row
      .form-group.col-xs-6
        = f.label :sex, "Sexo"
        = f.select :sex, options_for_select([["Masculino", "M"], ["Feminino", "F"]],@user.sex), {:prompt=>"Selecione.."}, {:class => "form-control"}
      .form-group.col-xs-6
        = f.label :birth_date, "Nascimento", :class=>"date-label-form"
        =f.date_select :birth_date, {:start_year => Time.now.year - 100}, {:class => "form-control date-select-form"}
    .row
      .form-group.col-xs-6
        = f.label :place_of_birth, "Nacionalidade"
        = f.text_field :place_of_birth, :class => "form-control"
      .form-group.col-xs-6
        = f.label :civil_state, "Estado Civil"
        = f.select :civil_state, options_for_select([["Solteiro", "S"], ["Casado", "C"],["Divorciado", "D"],["Viúvo", "V"]],@user.civil_state), { :prompt=>"Selecione.."}, {:class => "form-control"}
    .row
      .form-group.col-xs-6
        = f.label :phone, "Telefone"
        = f.text_field :phone, :class => "form-control", :placehodler => "(00) xxxx-xxxxx"
      .form-group.col-xs-6
        = f.label :cell_phone, "Celular"
        = f.text_field :cell_phone, :class => "form-control", :placeholder => "(00) xxxxxxxxx"
    .row
      .form-group.col-xs-4
        = f.label :rg, "RG"
        = f.text_field :rg, :class => "form-control"
      .form-group.col-xs-4
        = f.label :rg_oe, "Orgão Exp"
        = f.text_field :rg_oe, :class => "form-control"
      .form-group.col-xs-4
        = f.label :rg_ee, "Estado Emissor"
        = f.text_field :rg_ee, :class => "form-control"
    .row
      .form-group.col-xs-6
        = f.label :rne, "RNE (Estrangeiros)"
        = f.text_field :rne, :class => "form-control"
      .form-group.col-xs-6
        = f.label :cpf, "CPF"
        = f.text_field :cpf, :class => "form-control"
    .row
      .form-group.col-xs-3
        = f.label :special_needs, "Possui necessidades especiais?"
        = f.select :special_needs, options_for_select([["Sim", true], ["Não", false]],@user.special_needs), {},{:class => "form-control"}
      - if @user.special_needs
        .form-group.col-xs-9#necessidades
          .row
            .form-group.col-xs-4
              = f.label :special_needs_visual, "Necessidades Especiais Visuais"
              = f.select :special_needs_visual, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_visual), {},{:class => "form-control"}
            .form-group.col-xs-4
              = f.label :special_needs_phisics, "Necessidades Especiais Físicas"
              = f.select :special_needs_phisics, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_phisics), {},{:class => "form-control"}
            .form-group.col-xs-4
              = f.label :special_needs_hearing, "Necessidades Especiais Auditivas"
              = f.select :special_needs_hearing, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_hearing), {},{:class => "form-control"}

      - else
        .form-group.col-xs-9#necessidades.hide
          .row
            .form-group.col-xs-4
              = f.label :special_needs_visual, "Necessidades Especiais Visuais"
              = f.select :special_needs_visual, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_visual), {},{:class => "form-control"}
            .form-group.col-xs-4
              = f.label :special_needs_phisics, "Necessidades Especiais Físicas"
              = f.select :special_needs_phisics, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_phisics), {},{:class => "form-control"}
            .form-group.col-xs-4
              = f.label :special_needs_hearing, "Necessidades Especiais Auditivas"
              = f.select :special_needs_hearing, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_hearing), {},{:class => "form-control"}



    .row
      .form-group.col-xs-6
        = f.label :high_school, "Ano em que concluiu o ensino médio"
        = f.select :high_school, (Time.zone.now.year - 50)..(Time.zone.now.year + 1), {},{:class => "form-control"}
      .form-group.col-xs-6
        = f.label :ex_student, "Ex aluno da FESB ?"
        = f.select :ex_student, options_for_select([["Sim", true], ["Não", false]],@user.ex_student), {},{:class => "form-control"}
    .row
      .form-group.col-xs-3
        = f.label :postal_code, "CEP"
        = f.text_field :postal_code, :class => "form-control"
      .form-group.col-xs-7
        = f.label :address, "Endereço"
        = f.text_field :address, :class => "form-control"
      .form-group.col-xs-2
        = f.label :number, "Numero"
        = f.text_field :number, :class => "form-control"
    .row
      .form-group.col-xs-3
        = f.label :complement, "Complemento"
        = f.text_field :complement, :class => "form-control"
      .form-group.col-xs-3
        = f.label :neighbourhood, "Bairro"
        = f.text_field :neighbourhood, :class => "form-control"
      .form-group.col-xs-3
        = f.label :city, "Cidade"
        = f.text_field :city, :class => "form-control"
      .form-group.col-xs-3
        = f.label :state, "Estado"
        = f.text_field :state, :class => "form-control"
      .form-group.col-xs-3
        = f.label :nota_enem, "Nota Enem:"
        = f.number_field :nota_enem, :class => "form-control"


    = f.submit "Salvar", :class=>"btn btn-azul"
    = link_to("Cancelar", admin_subscribe_path(@subscribe), :class=>"btn btn-danger")

:javascript
  $('#user_special_needs').change(function() {
    var selecionado = $('#user_special_needs :selected').val();
    if (selecionado == "true"){
      $("#necessidades").removeClass("hide");
    }else{
      $("#necessidades").addClass("hide");
      $('#user_special_needs_visual').val("Nao");
      $('#user_special_needs_phisics').val("Nao");
      $('#user_special_needs_hearing').val("Nao");
    }
  });






