- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  //= stylesheet_link_tag "https://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css"

- content_for :footer do
  = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
  = javascript_include_tag "https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"
  = javascript_include_tag "plugins/datatables/dataTables.bootstrap.js"
  //= javascript_include_tag "https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.js"





  :javascript
    var table = $('#ShowReport').dataTable({
      //"bJQueryUI": true,
      //"bPaginate": false,
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'copyHtml5',
          text: 'Copiar',
          title: 'Lista de Presença'
        },
        {
          extend: 'excelHtml5',
          text: 'Exportar Excel',
          title: 'Lista de Presença'
        },
        {
          extend: 'pdfHtml5',
          text: 'Exportar PDF',
          title: 'Lista de Presença'
        }
      ],
      "bFilter": false,
      "iDisplayLength": 50,
      "charset":"utf-8",
      //"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
      "aLengthMenu": [[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,  -1], [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, "Todos"]],
      "oLanguage": {
        "sProcessing": "Processando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "Não foram encontrados resultados",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
        "sInfoFiltered": "",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "paging": false,
        "oPaginate": {
          "sFirst": "Primeiro",
          "sPrevious": "Anterior",
          "sNext": "Seguinte",
          "sLast": "Último"
        }
      }
    });


    //,{'sExtends':'pdf','sButtonText': 'Exportar para PDF', 'bFooter':false, 'sFileName':'Relatorio.pdf',"mColumns": [0, 1, 2, 3, 4,5,11,12]}

    //var tableTools = new $.fn.dataTable.TableTools(table, {
    //  'sSwfPath': '//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf',
      //'aButtons': [
      //  {'sExtends':'copy','sButtonText': 'Copiar para excel'}
      //  ,{'sExtends':'pdf','sButtonText': 'Exportar para PDF', 'bFooter':false, 'sFileName':'Relatorio.pdf'}
      //  //{'sExtends':'csv','sButtonText': 'Exportar para CSV', 'bFooter':false, 'sFileName':'Relatorio.csv',"mColumns": [0, 1, 2, 3, 4,5,6,7,8,9,10,11,12,13,17,18,19,20,21,22,23,24,25]}
      //]
    //});
    //$(tableTools.fnContainer()).insertBefore("#ShowReport_wrapper");

    function fnShowHide( iCol )
    {
        /* Get the DataTables object again - this is not a recreation, just a get of the object */
        var oTable = $('#ShowReport').dataTable();
        var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
        oTable.fnSetColumnVis( iCol, bVis ? false : true );
    }
    $("#adjust_room_number").click(function(){
      $(".room").html($("#room_number").val());
    });



    $('#exam').change(function() {
      $.ajax({
        url: "#{search_date_admin_subscribes_path}",
        data: {
          id : $('#exam').val()
        },
        dataType: "script"
      });
    });







%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Inscrições
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Inscrições
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title#title_box Lista de Presença
      .card-body{:style=>"overflow-x: scroll;"}
        #search.twelve.columns.no-print
          .col-sm-12
            %h4 Escolha os filtros para sua pesquisa.

          = form_tag management_presenca_admin_subscribes_path, :method => :get, :name=>"formkeyword"
          .col-sm-6
            = label_tag "paid", "Situação do Pagamento"
            %br
            = select_tag "paid", options_for_select([["Pagos","1"], ["Em Aberto", "0"]], params[:paid]), :prompt => "Todos", :class => "select2 form-control"
            %br
            = label_tag "first_option", "Primeira Opção"
            %br
            = select_tag "first_option", options_for_select(@class_categories, params[:first_option]), :prompt => "Todos", :class => "select2 form-control"
            %br
            = label_tag "second_option", "Segunda Opção"
            %br
            = select_tag "second_option", options_for_select(@class_categories, params[:second_option]), :prompt => "Todos", :class => "select2 form-control"
            %br
            = label_tag "city", "Cidade"
            %br
            = select_tag "city", options_for_select(@cities, params[:city]), :prompt => "Todas as cidades", :class => "select2 form-control"
            %br

          .col-sm-6
            = label_tag "exam", "Vestibular"
            %br
            = select_tag "exam", options_for_select(@exams, params[:exam]), :prompt => "Todos os vestibulares", :class => "select2 form-control"
            %span#exam_date
              - if !params[:exam].blank? and !@examsdate.blank?
                = label_tag "exam_date", "Data Vestibular Agendado"
                %br
                = select_tag "exam_date", options_for_select(@examsdate, params[:exam_date]), :prompt => "Todos as datas do vestibular", :class => "select2 form-control"


            %br
            = label_tag "special_needs", "Tipo de Aluno"
            %br
            = select_tag "special_needs", options_for_select([["Com necessidades especiais", "1"], ["Sem necessidades especiais", "0"]],params[:special_needs]), :prompt => "Todos", :class => "select2 form-control"
            %br
            = label_tag "status", "Status"
            %br
            = select_tag "status", options_for_select([["Aprovados", "aprovado"], ["Reprovados", "Reprovado"]],params[:status]), :prompt => "Todos", :class => "select2 form-control"
            %br
            %label Número da sala
            %br
            = select_tag "room_number", options_for_select(Subscribe.where("class_room is not null").all.map(&:class_room).uniq, params[:room_number]), :prompt => "Todas as salas", :class => "select2 form-control"

          .col-sm-12
            %br
            =# text_field_tag :keyword, nil
            = submit_tag "Buscar", :class => "btn btn-primary"


        .col-sm-12
          %div
            /%h2 Escolha o modelo do relatório
            /%br/
            .btn-group{"data-toggle" => "buttons-radio"}
              /%button.btn.btn-primary#attendance_list{:type => "button"} Lista de Presença
              /%button.btn.btn-primary#room_door{:type => "button"} Lista Porta Sala
              //%button.btn.btn-primary#approved_list{:type => "button"} Lista de Aprovados
              /%button.btn.btn-primary#special_need_list{:type => "button"} Lista de Necessidade Especial
              /%br
              /%br
              /%p Caso precise do número da sala nos relatórios, preencha o campo abaixo.
              /%input{:name => "lname", :id=> "room_number", :type => "text"}
              /%input{:type => "button", :id => "adjust_room_number", :value => "Ajustar Numero da Sala"}/
              /%br
              /%br

            /.btn-group{"data-toggle" => "buttons-checkbox"}
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(0);"} Nome
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(1);"} Email
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(2);"} Primeira Opção
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(3);"} Segunda Opção
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(4);"} Cidade
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(5);"} Estado
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(6);"} Pago?
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(7);fnShowHide(8);fnShowHide(9);fnShowHide(10);"} Necessidades Especiais?
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(11);"} CPF
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(12);"} RG
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(13);"} Nota Final
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(14);"} Presença
            /  %button.btn.btn-primary.active{:type => "button", :onclick => "fnShowHide(15);"} Sala

          -if @subscribes.blank?
            %p.text-center Nenhum Registro Encontrado
          -else
            #show_table_div.attendance_list
              %table.table.table-bordered.table-striped#ShowReport
                %thead
                  %tr
                    %th#name Nome

                    %th#first_option Curso

                    %th#rg RG

                    %th#attended Assinatura


                %tbody
                  /- i = 0
                  - for subscribe in @subscribes
                    -if subscribe.first_option_class
                      %tr{:style => @style, :id => subscribe.id}
                        %td= subscribe.name.parameterize.titleize

                        %td= subscribe.first_option_class.name

                        %td.text-center= subscribe.rg

                        %td.presence_line



              //%p
              //  Total:
              //  = i



