%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Inscrições
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Inscrições
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary.card-outline
        .card-header
          %h3.card-title= @subscribe.user.name
        .card-body
          %h3.card-title Dados de Usuário
          #dados_user
            =render :file => "admin/subscribes/_user_data"

          /inscrição
          %h3 Dados de Inscrição
          #dados_subscribe
            =render :file => "admin/subscribes/_subscribes"

          /socioeconomico
          %h3= @subscribe.socioeconomic_id.blank? ? "Dados Socioeconômicos - Não Informados" : "Dados Socioeconômicos"
          #dados_socieconomics
            =render :file => "admin/subscribes/_socieconomics"

        %p.card-footer
          = link_to "Visualizar Todos", admin_subscribes_path, :class => "btn btn-default"

/- content_for :footer do
-if flash[:notice]
  :javascript
    alert("#{flash[:notice]}");
