- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  //= stylesheet_link_tag "https://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css"

- content_for :footer do
  = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
  = javascript_include_tag "https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"
  = javascript_include_tag "plugins/datatables/dataTables.bootstrap.js"
  //= javascript_include_tag "https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.js"
  :javascript
    var table = $('#ShowReport').dataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'copyHtml5',
          text: 'Copiar',
          title: 'Relatório Questionário'
        },
        {
          extend: 'excelHtml5',
          text: 'Exportar Excel',
          title: 'Relatório Questionário'
        },
      ],
      //"bJQueryUI": true,
      //"bPaginate": false,

      "bFilter": false,
      "iDisplayLength": 50,
      "charset":"utf-8",
      //"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
      "aLengthMenu": [[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,  -1], [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, "Todos"]],
      "oLanguage": {
        "sProcessing": "Processando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "Não foram encontrados resultados",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
        "sInfoFiltered": "",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "paging": false,
        "oPaginate": {
          "sFirst": "Primeiro",
          "sPrevious": "Anterior",
          "sNext": "Seguinte",
          "sLast": "Último"
        }
      }
    });


    //,{'sExtends':'pdf','sButtonText': 'Exportar para PDF', 'bFooter':false, 'sFileName':'Relatorio.pdf',"mColumns": [0, 1, 2, 3, 4,5,11,12]}

    var tableTools = new $.fn.dataTable.TableTools(table, {
      'sSwfPath': '//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf',
      'aButtons': [
        {'sExtends':'copy','sButtonText': 'Copiar para excel'}
        //{'sExtends':'csv','sButtonText': 'Exportar para CSV', 'bFooter':false, 'sFileName':'Relatorio.csv',"mColumns": [0, 1, 2, 3, 4,5,6,7,8,9,10,11,12,13,17,18,19,20,21,22,23,24,25]}
      ]
    });
    $(tableTools.fnContainer()).insertBefore("#ShowReport_wrapper");

    function fnShowHide( iCol )
    {
        /* Get the DataTables object again - this is not a recreation, just a get of the object */
        var oTable = $('#ShowReport').dataTable();
        var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
        oTable.fnSetColumnVis( iCol, bVis ? false : true );
    }

    $('#exam').change(function() {
      $.ajax({
        url: "#{search_date_admin_subscribes_path}",
        data: {
          id : $('#exam').val()
        },
        dataType: "script"
      });
    });







%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Inscrições
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Inscrições
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title#title_box Inscritos
      .card-body.table-responsive.no-padding{:style=>"overflow-x: scroll;"}
        #search.twelve.columns.no-print
          %h2 Escolha os filtros para sua pesquisa.
          = form_tag socieconomic_report_admin_subscribes_path, :method => :get, :name=>"formkeyword"
          .col-sm-6
            = label_tag "how_did_me", "Como conheceu a FESB"
            %br
            = select_tag "best_ad", options_for_select([["Rádio","2"],["Site","3"],["Outdoor","4"],["TV","8"],["Visita as Escolas","9"],["Facebook","10"],["Anúncio da internet","11"]], params[:best_ad]), :prompt => "Todos", :class => "select2 form-control"

          .col-sm-12
            %br
            = submit_tag "Buscar", :class => "btn btn-primary"


        .col-sm-12
          %div
            .btn-group{"data-toggle" => "buttons-radio"}
              %br

          -if @subscribes.blank?
            %p.text-center Nenhum Registro Encontrado
          -else
            #show_table_div
              %table.table.table-bordered.table-striped#ShowReport
                %thead
                  %tr
                    %th#name Nome
                    %th#email Email
                    %th#cell_phone Celular
                    %th#first_option Primeira Opção Curso
                    %th Como conheceu a FESB

                %tbody
                  /- i = 0
                  - for subscribe in @subscribes
                    -if subscribe.first_option_class
                      %tr{:style => @style, :id => subscribe.id}
                        %td= subscribe.name.parameterize.titleize
                        %td= subscribe.email
                        %td= subscribe.user.cell_phone
                        %td= subscribe.first_option_class.name
                        %td= melhor_anuncio(subscribe.socioeconomic.best_ad)

                %tfoot.no-print
                  %tr
                  %th Nome
                  %th Email
                  %th Celular
                  %th Primeira Opção
                  %th Como conheceu a FESB



