$('#dados_socieconomics').html(" ");
- if !@erro
  $('#dados_socieconomics').html("#{escape_javascript(render('socieconomics'))}");
- else
  $('#dados_socieconomics').html("#{escape_javascript(render('socieconomic'))}");