= form_for [:admin, @itinerant_exam] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      = f.label :city, "Cidade"

      = f.text_field :city, :class => "form-control"
    .form-group
      = f.label :phone, "Telefone"

      = f.text_field :phone, :class => "form-control"
    .form-group
      = f.label :address, "Endereço"

      = f.text_field :address, :class => "form-control"


    .box-footer
      = f.submit "Salvar", :class =>"btn btn-primary"
