%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Cidades Itinerantes
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Cidades Itinerantes
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Cidades Itinerantes Cadastradas
      .p-4
        %table.table.table-hover
          %tr
            %th Cidade
            %th Telefone
            %th Endereço
            %th Ações
          - for itinerant_exam in @itinerant_exams
            %tr
              %td= itinerant_exam.city
              %td= itinerant_exam.phone
              %td= itinerant_exam.address
              %td
                = link_to "Visualizar", [:admin, itinerant_exam], :class => "btn btn-default"
                = link_to "Editar", edit_admin_itinerant_exam_path(itinerant_exam), :class => "btn btn-default"
                = link_to "Excluir", [:admin, itinerant_exam], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Cadastrar Cidade Itinerante", new_admin_itinerant_exam_path, :class => "btn btn-primary"
