%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Cidades Itinerantes
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Cidades Itinerantes
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @itinerant_exam.city
        .p-4
          %p
            %strong Cidade:
            = @itinerant_exam.city
          %p
            %strong Telefone:
            = @itinerant_exam.phone
          %p
            %strong Endereço:
            = @itinerant_exam.address

        .card-footer
          %p
            = link_to "Editar", edit_admin_itinerant_exam_path(@itinerant_exam), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_itinerant_exams_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @itinerant_exam], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"