= form_for [@work] do |f|
  %fieldset
    .row
      .form-group.col-sm-8
        = f.label :name, "Nome"
        = f.text_field :name, :placeholder => "Preencha o seu nome", :class => "form-control"
        = invisible_captcha
      .form-group.col-sm-4
        = f.label :phone, raw("Telefone: <small><span class='azul'>(Opcional)</span></small>" )
        = f.text_field :phone, :placeholder => "ex: (00) 0000-0000", :class => "form-control"
    .row
      .form-group.col-sm-6
        = f.label :attachment_work, "Anexo:"
        = f.file_field :attachment_work, :class => "form-control"
      .form-group.col-sm-6
        = f.label :email, "E-mail:"
        = f.text_field :email, :placeholder => "Preencha o seu email", :class => "form-control"
    .form-group
      = f.label :message, "Mensagem:"
      = f.text_area :message, :placeholder => "Escreva aqui a sua mensagem", :class => "form-control big-text", :rows => "8"
    .clearfix
    = f.submit "Enviar", :class => "my-5 btn primary-button primary-background-color text-white pull-right", :data => { :disable_with=> "Aguarde..." }
.clearfix