.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => contacts_path} Contato
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-0.text-center.text-white
        %span
          Entre em
          %span.font-weight-bold
            Contato
    =image_tag("/assets/topos/contact-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold=@category.name
    .px-5
      %h2.text-center.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold Mensagem Enviada
      %br
      %p.text-center.d-block Agradecemos o seu contato. Retornaremos o mais breve possível.