- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  //= stylesheet_link_tag "https://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css"

- content_for :footer do
  = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
  = javascript_include_tag "https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"
  = javascript_include_tag "plugins/datatables/dataTables.bootstrap.js"
  //= javascript_include_tag "https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.js"
  :javascript
    var table = $('.ShowReport').dataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'copyHtml5',
          text: 'Copiar',
          title: 'Inscritos Vagas Remanescentes ENEM'
        },
        {
          extend: 'excelHtml5',
          text: 'Exportar Excel',
          title: 'Inscritos Vagas Remanescentes ENEM'
        },
        {
          extend: 'pdfHtml5',
          text: 'Exportar PDF',
          title: 'Inscritos Vagas Remanescentes ENEM'
        }
      ],
      "iDisplayLength": 50,
      "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
      "oLanguage": {
        "sProcessing": "Processando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "Não foram encontrados resultados",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
        "sInfoFiltered": "",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "oPaginate": {
          "sFirst": "Primeiro",
          "sPrevious": "Anterior",
          "sNext": "Seguinte",
          "sLast": "Último"
        }
      }
    });

%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Inscrições ENEM
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Inscrições ENEM
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Inscritos Vagas Remanescentes ENEM
      .card-body.table-responsive.no-padding

        %table.table.table-bordered.ShowReport
          %thead
            %tr
              %th Nome
              %th Email
              %th Celular
              %th CPF
              %th Curso
              %th Nota
          %tbody
            - for subscribe in @enems

              %tr{:id => subscribe.id}
                %td= subscribe.name
                %td= subscribe.email
                %td= subscribe.cell
                %td= subscribe.cpf
                %td= subscribe.curso
                %td= subscribe.nota