%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Inscritos Vagas Remanescentes ENEM
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Inscritos Vagas Remanescentes ENEM
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @enem.name
        .p-4
          .box-body
            %strong Protocolo:
            = @enem.id
          .box-body
            %strong Email:
            = @enem.email
          .box-body
            %strong CPF:
            = @enem.cpf
          .box-body
            %strong Celular:
            = @enem.cell
          .box-body
            %strong Nota:
            =@enem.nota

          
        .card-footer
          %p
            = link_to "Visualizar Todos", admin_enems_path, :class => "btn btn-default"

