= form_for [@sheet] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Ocorreu um erro!
    = f.error_messages
  %fieldset
    %p *Utilize a ","(virgula) ou tab para adicionar mais de um item
    .form-group
      = f.label :name, "Nome"
      = f.text_field :name, :class => "form-control tags"
    .form-group
      = f.label :email, "Email"
      = f.text_field :email, :class => "form-control tags"
    .form-group
      = f.label :ra, "RA"
      = f.text_field :ra, :class => "form-control tags"
    .form-group
      = f.label :author, "Autor"
      %small.d-block *inserir o sobrenome primeiro com vírgula. Ex.: Santos, Jesus Maria José
      = f.text_field :author, :class => "form-control"
    .form-group
      = f.label :advisor, "Orientador"
      = f.text_field :advisor, :class => "form-control"
    .form-group
      = f.label :title_subtitle, "Titulo e Subtitulo do Trabalho"
      = f.text_field :title_subtitle, :class => "form-control"
    .form-group
      = f.label :class_name_id, "Curso"
      = f.select :class_name_id, @class_names,{ :prompt=>"Selecione um Curso"}, {:class => "form-control"}
    .form-group   
      = f.label :code_name, "Sobrenome Internacional e Nacional"
      = f.text_field :code_name, :class => "form-control"
    .form-group
      = f.label :number_pages, "Numero de páginas"
      = f.number_field :number_pages, :class => "form-control"
    .form-group
      = f.label :number_illustrations, "Numero de Ilustrações"
      = f.number_field :number_illustrations, :class => "form-control"
    .form-group
      = f.label :keywords, "Palavras-chave (máximo 4)"
      %small.d-block  inserir separadamente as palavras. Ex.: Desenho geométrico. Educação. Medicina Veterinária.
      = f.text_field :keywords, :class => "form-control tags"
    .form-group
      = f.label :additional_information, "Informações Adicionais"
      = f.text_area :additional_information, :class => "form-control", :rows => "6"
    .clearfix
    = f.submit "Enviar", :class => "btn enviar pull-right primary-button primary-background-color text-white"
.clearfix

- content_for :head do
  = stylesheet_link_tag "jquery.tagsinput.css"
- content_for :footer do
  = javascript_include_tag "jquery.tagsinput.min.js"
  :javascript
    $('.tags').tagsInput({
      'width':'100%',
      'height':'42px',
      'removeWithBackspace' : true,
      'defaultText':'+ item'
    });