.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to(@category.name, libraries_path)
      %li
        =link_to("Ficha Catalográfica", new_sheet_path()) 
    %h1 Ficha Catalográfica
    = render :file => "libraries/_menu" 
    .col-sm-9.col-xs-12
      .row
        %h2.text-center Ficha cadastrada
        %br
        %p.text-center Você receberá um copia da ficha que foi gerada pelo sistema.