.exam-section{:style => "margin-top: 94px;"}
  .container.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.font-weight-bold Presença confirmada com sucesso!
    .px-2
      %span="#{@user.name} Sua presença foi confirmada! esperamos você no dia 19/08 às 9h!"





