-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#cpf').mask('00000000000');
     });
%section{:style => "margin-top: 94px;"}
  .container-fluid.mb-5.p-5
    %h1.display.3.primary-font-color.text-uppercase.pb-4.font-weight-bold Confirme sua presença no Simuladão!
    .mb-5
      %span
        Para garantir a sua vaga no SIMULADÂO 2017, por favor insira o seu CPF no campo abaixo para confirmar a sua presença no SIMULADÂO 2017 no dia 19/08 às 9h.
    .row
      -if flash[:notice]
        .alert.alert-danger.alert-dismissable
          %i.fa.fa-ban
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %b Alert!
          = flash[:notice]
      = form_tag confirmation_simulateds_path, :class => "w-100"
      .row
        .form-group.col-lg-8
          = text_field_tag :cpf, params[:cpf], :placeholder => "Informe seu CPF", :class => "form-control"
        .col-lg-4.text-lg-right.text-center
          = submit_tag "Confirmar Presença", :class => "btn primary-button primary-background-color text-white", :style => "height: 50px"