= form_for ([@user], :role => "form", :class => "inscricao") do |f|
  -if @exam_enem.exam_type_id == 3
    - flash.each do |key, value|
      -content_for :footer do
        :javascript
          swal({
             title: "Oops...",
             text: "Parece que sua pontuação do ENEM é menor que 300 pontos, o mínimo para substituir o vestibular pelo ENEM é de 300 pontos. Mas não tem problema, você ainda pode prestar o VESTIBULAR 2019 da FESB. Caso tenha digitado errado, clique em 'Corrigir pontuação'.",
             type: "warning",
             showCancelButton: true,
             confirmButtonColor: "#014687",
             confirmButtonText: "Prestar Vestibular",
             cancelButtonText: "Corrigir pontuação",
             closeOnConfirm: false,
             closeOnCancel: false
           },
           function(isConfirm){
             if (isConfirm) {
              swal({
                title: "Escolha o tipo de vestibular",
                showCancelButton: true,
                confirmButtonColor: "#014687",
                cancelButtonColor: "#014687",
                confirmButtonText: "Vestibular Tradicional",
                cancelButtonText: "Vestibular Agendado",
                closeOnConfirm: false,
                closeOnCancel: false
              },
              function(isConfirm){
                if (isConfirm) {
                  swal({
                    title:(""),
                    showConfirmButton: false,
                    text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular Tradicional. ;)"),
                    html: true
                  });
                } else {
                  swal({
                    title:("Escolha sua data!"),
                    showConfirmButton: false,
                    text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular agendado, e escolha a data do vestibular! ;)"),
                    html: true
                  });
                }
              });

             } else {
               swal("Só falta corrigir!", "Corrija sua nota do ENEM, mas lembre-se de colocar a nota correta! ;)");
             }
           });
    / .alert.alert-danger.alert-dismissible.show{:role => "alert"}
    /   %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    /     %span{"aria-hidden" => "true"} ×
    /   = value
  -if f.error_messages
    .alert.alert-danger.alert-dismissable.col-12
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = f.error_messages
  %p.font-wieght-light.mt-5
    -if @exam_enem.exam_type_id == 3
      Inscreva-se com sua nota do ENEM dos anos anteriores
    -else
    =@exam_enem.name
  %p.font-weight-light.mt-5.mb-4
    Dados do login
  .row
    #login.form-group.col-sm-6
      - if current_user
        - if current_user.has_role? :user
          = f.text_field :name, :class => "form-control", :placeholder => "Nome"
        -else
          = f.text_field :name, :class => "form-control", :placeholder => "Nome", :readonly => true
      -else
        = f.text_field :name, :class => "form-control", :placeholder => "Nome"
      .clearfix
    .form-group.col-sm-6
      = f.text_field :email, :class => "form-control", :placeholder => "E-mail"
    .form-group.col-sm-6
      = f.text_field :social_name, :class => "form-control", :placeholder => "Nome Social"
    .clearfix
    .form-group.col-sm-6
      = f.password_field :password, :class => "form-control", :placeholder => "Senha"
    .form-group.col-sm-6
      = f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirmar a senha"
    .clearfix
  %p.font-weight-light.my-4
    Dados Pessoais
  #pessoais.row
    .form-group.col-sm-6
      = f.select :sex, "<option value='M'>Masculino</option><option value='F'>Feminino</option>".html_safe, { :prompt=>"Sexo"}, {:class => "custom-select"}

    .form-group.col-sm-6.text-center.custom-date-select
      %label.text-muted{:for => ""} Nascimento:
      %br
      =f.date_select :birth_date, {:start_year => Time.now.year - 100}
    .clearfix

    .clearfix

    .form-group.col-sm-6
      = f.text_field :phone, :class => "form-control", :placeholder => "Telefone"
    .form-group.col-sm-6
      = f.text_field :cell_phone, :class => "form-control", :placeholder => "Celular"
    .clearfix
  %p.font-weight-light.my-4
    Documentos
  #documentos.row
    .form-group.col-sm-6
      = f.text_field :rg, :class => "form-control", :placeholder => "RG"
    .form-group.col-sm-6
      = f.text_field :cpf, :class => "form-control", :placeholder => "CPF"
      %br
      %strong#resposta.alert-danger
    .clearfix
  %p.font-weight-light.my-4
    Necessidades Especiais
  #necessidadesEspeciais.row
    .form-group.col-md-4
      %br
      Não
      %input#user_special_needs.mx-5{:id=>"teste",:name => "user[special_needs]", :type => "radio", :value => "0", :onclick => "$('.deficientes').hide()", :checked => "true"}
      Sim
      %input#user_special_needs.mx-5{:name => "user[special_needs]", :type => "radio", :value => "1", :onclick => "$('.deficientes').show()"}

    .deficientes.col-md-8{:style => "display:none;"}
      .row
        .form-group.col-md-4
          %label{:for => ""} Necessidades Especiais Visuais:
          = f.select :special_needs_visual, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_visual), {},{:class => "custom-select"}
        .clearfix
        .form-group.col-md-4
          %label{:for => ""} Necessidades Especiais Físicas:
          = f.select :special_needs_phisics, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_phisics), {},{:class => "custom-select"}
        .form-group.col-md-4
          %label{:for => ""} Necessidades Especiais Auditivas:
          = f.select :special_needs_hearing, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_hearing), {},{:class => "custom-select"}
    .clearfix

  .clearfix

  %p.font-weight-light.my-4
    Endereço
  #endereco.row
    .form-group.col-sm-6
      = f.text_field :postal_code, :class => "form-control", :placeholder => "CEP"
    .clearfix

    .form-group.col-sm-6
      = f.text_field :address, :class => "form-control", :placeholder => "Endereço"
    .form-group.col-sm-6
      = f.text_field :number, :class => "form-control", :placeholder => "Número"
    .clearfix
    .form-group.col-sm-6
      = f.text_field :complement, :class => "form-control", :placeholder => "Complemento"
    .form-group.col-sm-6
      = f.text_field :neighbourhood, :class => "form-control", :placeholder => "Bairro"
    .clearfix
    .form-group.col-sm-6
      = f.text_field :city, :class => "form-control", :placeholder => "Cidade"
    .form-group.col-sm-6
      = f.text_field :state, :class => "form-control", :placeholder => "Estado"
    .clearfix

  -if @exam_enem.exam_type_id == 3
    %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      Nota da Redação do Enem
    .form-group.col-sm-6
      = f.number_field :nota_enem, :class => "form-control", :placeholder => "Nota"

  %p.font-weight-light.my-4
    Opções de Curso
  #Curso.row
    .form-group.col-sm-6
      = f.collection_select(:first_option_id, @class_names, :id, :name, {:prompt   => "Primeira Opção de Curso"}, {:id => 'first_option_select', :class => "custom-select"})
    .form-group.col-sm-6
      = f.collection_select(:second_option_id, @second, :id, :name, {:include_blank   => "Segunda Opção de Curso"}, {:id => 'second_option_select', :class => "custom-select"})
    .clearfix

    .clearfix
  .from-group
    .col-xs-12      
      -if @exam_enem.exam_type_id == 3
        %button.nav-subscribe-btn.px-md-5.py-3.text-white.mt-5.px-4.submit-form{:type => "submit"}
          Finalizar Inscrição
      -else
        %button.nav-subscribe-btn.px-md-5.py-3.text-white.mt-5.px-4.submit-form{:type => "submit"}
          Avançar
    .clearfix

-content_for :head do
  :javascript    
    function gtag_report_conversion(url) { var callback = function () { if (typeof(url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-974711487/KHupCM-b0ooBEL_V49AD', 'event_callback': callback }); return false; } 

-content_for :footer do

  :javascript
    $(document).ready(function() {

      $('#datetimepicker1').datepicker({
        language: 'pt-BR',
        format: 'dd/mm/yyyy',
        orientation: "bottom auto",
        autoclose: true
      });

      if ($("#user_nota_enem").length){
        $('.submit-form').on('click', function(e){
           e.preventDefault();
           if($("#user_nota_enem").val() < 300){
             swal({
               title: "Oops...",
               text: "Parece que sua pontuação do ENEM é menor que 300 pontos, o mínimo para substituir o vestibular pelo ENEM é de 300 pontos. Mas não tem problema, você ainda pode prestar o VESTIBULAR 2019 da FESB. Caso tenha digitado errado, clique em 'Corrigir pontuação'.",
               type: "warning",
               showCancelButton: true,
               confirmButtonColor: "#014687",
               confirmButtonText: "Prestar Vestibular",
               cancelButtonText: "Corrigir pontuação",
               closeOnConfirm: false,
               closeOnCancel: false
             },
             function(isConfirm){
               if (isConfirm) {
                swal({
                  title:("Vestibular Tradicional!"),
                  showConfirmButton: false,
                  text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular Tradicional. ;)"),
                  html: true
                });


               } else {
                 swal("Só falta corrigir!", "Corrija sua nota do ENEM, mas lembre-se de colocar a nota correta! ;)");
               }
             });
           }else{
            $("form").submit();
           };
        });
      }

      $('#user_phone').mask('(00) 0000-0000');
      $('#user_cell_phone').mask('(00) 000000000');
      $('#user_cpf').mask('00000000000');
      $('#user_rg').mask('000000000');
      $('#user_rg_oe').mask('SSS');
      $('#user_rg_ee').mask('SS');
      $('#user_postal_code').mask('00000-000');
      $('#user_number').mask('000000');
      $('#user_state').mask('SS');

      if($('#first_option_select').val()){
        $.ajax({
          url: "#{update_second_option_users_path}",
          data: {
            class_name_id : $('#first_option_select').val()
          },
          dataType: "script"
        });
      }

      $('#first_option_select').on('change', function() {
        $.ajax({
          url: "#{update_second_option_users_path}",
          data: {
            class_name_id : $('#first_option_select').val()
          },
          dataType: "script"
        });
      });


      /* Executa a requisição quando o campo CEP perder o foco */
      $('#user_postal_code').blur(function(){
        /* Configura a requisição AJAX */
        $.ajax({
          url : '/users/search_cep', /* URL que será chamada */
          type : 'POST', /* Tipo da requisição */
          data: 'cep=' + $('#user_postal_code').val(), /* dado que será enviado via POST */
          dataType: 'json', /* Tipo de transmissão */
          success: function(data){
            if(data.resultado == 2){
              $('#user_city').val(data.cidade);
              $('#user_state').val(data.uf);
              $('#user_address').val('');
              $('#user_neighbourhood').val('');
              $('#user_complement').val('');
              $('#user_number').val('');
              $('#user_address').removeAttr('readonly');
              $('#user_number').removeAttr('readonly');
              $('#user_complement').removeAttr('readonly');
              $('#user_neighbourhood').removeAttr('readonly');
              $('#user_address').focus();
            }
            if(data.resultado == 1){
              $('#user_city').val(data.cidade);
              $('#user_state').val(data.uf);
              $('#user_address').val('');
              $('#user_neighbourhood').val('');
              $('#user_complement').val('');
              $('#user_number').val('');
              $('#user_address').val(data.logradouro);
              $('#user_neighbourhood').val(data.bairro);
              $('#user_complement').removeAttr('readonly');
              $('#user_number').removeAttr('readonly');
              $('#user_number').val('');
              $('#user_number').focus();
            }
            if(data.resultado == 0){
              swal("CEP informado é inválido! Tente novamente.)");
            }

          }
        });
        return false;
      })
    });

    function CPF(){"user_strict";function r(r){for(var t=null,n=0;9>n;++n)t+=r.toString().charAt(n)*(10-n);var i=t%11;return i=2>i?0:11-i}function t(r){for(var t=null,n=0;10>n;++n)t+=r.toString().charAt(n)*(11-n);var i=t%11;return i=2>i?0:11-i}var n="CPF Inválido",i="";this.gera=function(){for(var n="",i=0;9>i;++i)n+=Math.floor(9*Math.random())+"";var o=r(n),a=n+"-"+o+t(n+""+o);return a},this.valida=function(o){for(var a=o.replace(/\D/g,""),u=a.substring(0,9),f=a.substring(9,11),v=0;10>v;v++)if(""+u+f==""+v+v+v+v+v+v+v+v+v+v+v)return n;var c=r(u),e=t(u+""+c);return f.toString()===c.toString()+e.toString()?i:n}}



    var CPF = new CPF();


    $("#user_cpf").keypress(function(){
        $("#resposta").html(CPF.valida($(this).val()));
    });

    $("#user_cpf").blur(function(){
         $("#resposta").html(CPF.valida($(this).val()));
    });

/ swal({
/   title: "Escolha o tipo de vestibular",
/   showCancelButton: true,
/   confirmButtonColor: "#014687",
/   cancelButtonColor: "#014687",
/   confirmButtonText: "Vestibular Tradicional",
/   cancelButtonText: "Vestibular Agendado",
/   closeOnConfirm: false,
/   closeOnCancel: false
/ },
/ function(isConfirm){
/   if (isConfirm) {
/     swal({
/       title:(""),
/       showConfirmButton: false,
/       text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular Tradicional. ;)"),
/       html: true
/     });
/   } else {
/     swal({
/       title:("Escolha sua data!"),
/       showConfirmButton: false,
/       text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular agendado, e escolha a data do vestibular! ;)"),
/       html: true
/     });
/   }
/ });