-content_for :head do
  :javascript
    (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6018869615734', {'value':'0.20','currency':'USD'}]);
  %noscript
    %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6018869615734&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1", :style => "display:none", :width => "1"}/
.exam-section.my-5.py-5
  .container.text-center.mt-2.mb-3
    %img{:src=>"/assets/exams/progresso4.png", :class=>"img-fluid"}
  .container.text-center.mt-2
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      Inscrição concluida
    - if @subscribe.exam.exam_type_id == 1
      .my-5.text-center
        %strong.alert.alert-danger AVISO! Lembre-se de levar o comprovante de pagamento do boleto no dia do exame! (24/11/2018)
    %form.inscricao.w-100{:method => "post", :role => "form"}
      .row
        .form-group.col-sm-6
          %label{:for => "nome"} Nome
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "telefone"} Telefone
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.phone}"}
            .clearfix
        .form-group.col-sm-6
          %label E-mail
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.email}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} CPF
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cpf}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Primeira Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.first_option_class.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Segunda Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.second_option_class.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Valor da Inscrição
          %input.form-control{:disabled => "", :type => "text", :value => "R$ 30,00"}
            .clearfix
        - if @subscribe.exam.exam_type_id == 2
          -if @subscribe.exam_date.itinerant_exam
            .col-12
              %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
                Informações gerais
              .form-group                
                .row
                  .col-sm-6
                    %label
                      Horário:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%H:%M')
                  .col-sm-6
                    %label
                      Data:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%d/%m/%y')
                  .col-sm-6
                    %label
                      Telefone:
                    %span
                      = @subscribe.exam_date.itinerant_exam.phone if @subscribe.exam_date.itinerant_exam.phone
                  .col-sm-6
                    %label
                      Tipo do Vestibular:
                    %span
                      Agendado
                  .col-sm-6
                    %label
                      Local:
                    %span
                      = @subscribe.exam_date.itinerant_exam.address
                      %br
                      = @subscribe.exam_date.itinerant_exam.city


      .row.pull-right
        %a.nav-subscribe-btn.py-4.text-white.px-5.d-block.my-auto{:href => "#{@subscribe.ticket_link}", :target => "_blank"} Imprimir Boleto

/ The Modal
#myModal.modal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "margin-top: 20%;"}
  .modal-dialog
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title FESB INFORMA
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      / Modal body
      .modal-body
        .container-fluid
          .row
            .div-col-md-12.text-center              
              %strong
                Alguns boletos estão tendo problema no momento do pagamento devido mudanças na Caixa Econômica Federal, mas não se preocupe, você pode efetuar o pagamento no dia do vestibular. Não perca a prova pois haverá sorteio da primeira mensalidade!

-content_for :footer do 
  :javascript
    $(document).ready(function () {

        $("#myModal").modal("show");

    });