.exam-section.my-5.py-5
  .container.text-center.mt-2.mb-3
    %img{:src=>"/assets/exams/progresso4.png", :class=>"img-fluid"}
  .container.text-center.mt-2
    %p.my-5
      -if @exam_type == 3
        Inscrição finalizada, confirme seus dados e preencha sua pré-matricula
      -else
        Confirme seus dados para concluir sua inscrição
    %form.inscricao.w-100{:method => "post", :role => "form"}
      .row.w-100.m-0
        .form-group.col-md-6
          %label{:for => "nome"} Nome
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.name}"}
            .clearfix
        .form-group.col-md-6
          %label{:for => "telefone"} Telefone
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.phone}"}
            .clearfix
        .form-group.col-md-6
          %label E-mail
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.email}"}
            .clearfix
        .form-group.col-md-6
          %label{:for => "nome"} CPF
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cpf}"}
            .clearfix
        .form-group.col-md-6
          %label{:for => "nome"} Primeira Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.first_option_class.name}"}
            .clearfix
        .form-group.col-md-6
          %label{:for => "nome"} Segunda Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.second_option_class.name}"}
            .clearfix  
        .col-md-6.text-md-left
          %a.btn.secondary-btn.px-md-5.py-4.text-white.mt-3.px-4.w-50{:href => edit_user_path} Corrigir dados

        .col-12.mt-5.p-0.mx-md-3.border-top
          .row.pt-5.w-100.m-0
            .col-md-6.d-flex.align-items-center
              -if @exam_type != 3
                %span Valor da Inscrição
                %input.p-4.ml-5.mb-5.mb-md-0{:disabled => "", :type => "text", :value => "#{@exam_type == 4 ? 'R$ 0,00' : 'R$ 30,00'}"}
                .clearfix
            .col-md-6
              -if @exam_type != 3
                -if @exam_type == 4
                  %a.nav-subscribe-btn.py-4.text-white.px-5.d-block.my-auto#loadgif{:href => "/vestibular/login"} Finalizar
                -else
                  %a.nav-subscribe-btn.py-4.text-white.px-5.d-block.my-auto#loadgif{:href => payment_user_path(current_user),:data => { :disable_with => "Aguarde..." }} CONFIRMAR
              -else
                %a.nav-subscribe-btn.py-4.text-white.px-5.d-block.my-auto#loadgif{:href => new_subscribe_registration_path(@subscribe)} PRÉ-MATRICULA


-content_for :footer do
  :javascript

    jQuery.fn.center = function () {
      this.css("position","absolute");
      this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                                                  $(window).scrollTop()) + "px");
      this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                                                  $(window).scrollLeft()) + "px");
      return this;
    }

    $(document).ready(function(){
      $("#loadgif").on("click", function(){
        $("body").css("overflow", "hidden");
        $("#sendloader").fadeIn();
        $("#sendloader").center();
      });//submit
    });//document ready