= form_for [:admin, @socioeconomic] do |f|
  = f.error_messages
  %p
    = f.label :birth_state
    %br
    = f.text_field :birth_state
  %p
    = f.label :birth_city
    %br
    = f.text_field :birth_city
  %p
    = f.label :income
    %br
    = f.text_field :income
  %p
    = f.label :income_family
    %br
    = f.text_field :income_family
  %p
    = f.label :school
    %br
    = f.text_field :school
  %p
    = f.label :highschool
    %br
    = f.text_field :highschool
  %p
    = f.label :occupation
    %br
    = f.text_field :occupation
  %p
    = f.label :how_did_me
    %br
    = f.text_field :how_did_me
  %p
    = f.label :best_ad
    %br
    = f.text_field :best_ad
  %p
    = f.submit
