- title "Admin/Socioeconomics"

%table
  %tr
    %th Birth state
    %th Birth city
    %th Income
    %th Income family
    %th School
    %th Highschool
    %th Occupation
    %th How did me
    %th Best ad
  - for socioeconomic in @socioeconomics
    %tr
      %td= socioeconomic.birth_state
      %td= socioeconomic.birth_city
      %td= socioeconomic.income
      %td= socioeconomic.income_family
      %td= socioeconomic.school
      %td= socioeconomic.highschool
      %td= socioeconomic.occupation
      %td= socioeconomic.how_did_me
      %td= socioeconomic.best_ad
      %td= link_to 'Show', [:admin, socioeconomic]
      %td= link_to 'Edit', edit_admin_socioeconomic_path(socioeconomic)
      %td= link_to 'Destroy', [:admin, socioeconomic], :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Admin/Socioeconomic", new_admin_socioeconomic_path
