- title "Admin/Socioeconomic"

%p
  %strong Birth State:
  = @socioeconomic.birth_state
%p
  %strong Birth City:
  = @socioeconomic.birth_city
%p
  %strong Income:
  = @socioeconomic.income
%p
  %strong Income Family:
  = @socioeconomic.income_family
%p
  %strong School:
  = @socioeconomic.school
%p
  %strong Highschool:
  = @socioeconomic.highschool
%p
  %strong Occupation:
  = @socioeconomic.occupation
%p
  %strong How Did Me:
  = @socioeconomic.how_did_me
%p
  %strong Best Ad:
  = @socioeconomic.best_ad

%p
  = link_to "Edit", edit_admin_socioeconomic_path(@socioeconomic)
  |
  = link_to "Destroy", [:admin, @socioeconomic], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", admin_socioeconomics_path
