-content_for :head do
  = stylesheet_link_tag "bootstrap-datepicker3.css"

-content_for :footer do
  = javascript_include_tag "bootstrap-datepicker"
  = javascript_include_tag "locales/bootstrap-datepicker.pt-BR.min"
  = javascript_include_tag "vendor/bootstrap-filestyle.js"
  :javascript

    $(document).ready( function (){
        $(".new_registration").submit( function(submitEvent) {
            $("#sendloader").removeClass("d-none");
            $("body").removeClass("overflow-auto");
            if($(".enem").length){
              // get the file name, possibly with path (depends on browser)
              var filename1 = $(".enem").val();

              // Use a regular expression to trim everything before final dot
              var extension = filename1.replace(/^.*\./, '');

              // Iff there is no dot anywhere in filename, we would have extension == filename,
              // so we account for this possibility now
              if (extension == filename1) {
                  extension = '';
              } else {
                  // if there is an extension, we convert to lower case
                  // (N.B. this conversion will not effect the value of the extension
                  // on the file upload.)
                  extension = extension.toLowerCase();
              }

              switch (extension) {
                  case 'pdf':
                  // uncomment the next line to allow the form to submitted in this case:
               break;
                  default:                      
                    submitEvent.preventDefault();
                    $("#sendloader").addClass("d-none");
                    $("body").addClass("overflow-auto");
                    swal({
                     title: "Oops...",
                     text: "Parece que você selecionou o tipo de arquivo incorreto para o Resultado do ENEM, por favor envie um arquivo com a extensão 'PDF'. :)",
                     type: "warning",
                     confirmButtonColor: "#014687",
                     confirmButtonText: "Ok",
                     closeOnConfirm: false
                    });
                    // Cancel the form submission
              }

              // get the file name, possibly with path (depends on browser)
              var filename = $(".rg").val();

              // Use a regular expression to trim everything before final dot
              var extension = filename.replace(/^.*\./, '');

              // Iff there is no dot anywhere in filename, we would have extension == filename,
              // so we account for this possibility now
              if (extension == filename) {
                  extension = '';
              } else {
                  // if there is an extension, we convert to lower case
                  // (N.B. this conversion will not effect the value of the extension
                  // on the file upload.)
                  extension = extension.toLowerCase();
              }

              switch (extension) {
                  case 'jpg':
                  case 'jpeg':
                  case 'png':

                  // uncomment the next line to allow the form to submitted in this case:
               break;

                  default:
                      $("#sendloader").addClass("d-none");
                      $("body").addClass("overflow-auto");
                      swal({
                         title: "Oops...",
                         text: "Parece que você selecionou o tipo de arquivo incorreto para o RG ou CPF (FRENTE), por favor envie um arquivo com a extensão 'JPG', 'JPEG' ou 'PNG. :)",
                         type: "warning",
                         confirmButtonColor: "#014687",
                         confirmButtonText: "Ok"
                       });
                      // Cancel the form submission
                      submitEvent.preventDefault();
              }

              var filename = $(".rg-verso").val();

              // Use a regular expression to trim everything before final dot
              var extension = filename.replace(/^.*\./, '');

              // Iff there is no dot anywhere in filename, we would have extension == filename,
              // so we account for this possibility now
              if (extension == filename) {
                  extension = '';
              } else {
                  // if there is an extension, we convert to lower case
                  // (N.B. this conversion will not effect the value of the extension
                  // on the file upload.)
                  extension = extension.toLowerCase();
              }

              switch (extension) {
                  case 'jpg':
                  case 'jpeg':
                  case 'png':

                  // uncomment the next line to allow the form to submitted in this case:
               break;

                  default:
                      $("#sendloader").addClass("d-none");
                      $("body").addClass("overflow-auto");
                      swal({
                         title: "Oops...",
                         text: "Parece que você selecionou o tipo de arquivo incorreto para o RG ou CPF (VERSO), por favor envie um arquivo com a extensão 'JPG', 'JPEG' ou 'PNG. :)",
                         type: "warning",
                         confirmButtonColor: "#014687",
                         confirmButtonText: "Ok"
                       });
                      // Cancel the form submission
                      submitEvent.preventDefault();
              }
            }else{

              // get the file name, possibly with path (depends on browser)
              var filename = $(".rg").val();

              // Use a regular expression to trim everything before final dot
              var extension = filename.replace(/^.*\./, '');

              // Iff there is no dot anywhere in filename, we would have extension == filename,
              // so we account for this possibility now
              if (extension == filename) {
                  extension = '';
              } else {
                  // if there is an extension, we convert to lower case
                  // (N.B. this conversion will not effect the value of the extension
                  // on the file upload.)
                  extension = extension.toLowerCase();
              }

              switch (extension) {
                  case 'jpg':
                  case 'jpeg':
                  case 'png':

                  // uncomment the next line to allow the form to submitted in this case:
               break;

                  default:
                      $("#sendloader").addClass("d-none");
                      $("body").addClass("overflow-auto");
                      swal({
                         title: "Oops...",
                         text: "Parece que você selecionou o tipo de arquivo incorreto para o RG ou CPF (FRENTE), por favor envie um arquivo com a extensão 'JPG', 'JPEG' ou 'PNG. :)",
                         type: "warning",
                         confirmButtonColor: "#014687",
                         confirmButtonText: "Ok"
                       });
                      // Cancel the form submission
                      submitEvent.preventDefault();
              }
              
              var filename = $(".rg-verso").val();

              // Use a regular expression to trim everything before final dot
              var extension = filename.replace(/^.*\./, '');

              // Iff there is no dot anywhere in filename, we would have extension == filename,
              // so we account for this possibility now
              if (extension == filename) {
                  extension = '';
              } else {
                  // if there is an extension, we convert to lower case
                  // (N.B. this conversion will not effect the value of the extension
                  // on the file upload.)
                  extension = extension.toLowerCase();
              }

              switch (extension) {
                  case 'jpg':
                  case 'jpeg':
                  case 'png':

                  // uncomment the next line to allow the form to submitted in this case:
               break;

                  default:
                      $("#sendloader").addClass("d-none");
                      $("body").addClass("overflow-auto");
                      swal({
                         title: "Oops...",
                         text: "Parece que você selecionou o tipo de arquivo incorreto para o RG ou CPF (VERSO), por favor envie um arquivo com a extensão 'JPG', 'JPEG' ou 'PNG. :)",
                         type: "warning",
                         confirmButtonColor: "#014687",
                         confirmButtonText: "Ok"
                       });
                      // Cancel the form submission
                      submitEvent.preventDefault();
              }
            }

      });
    });

    $(".rg-enem").filestyle();
    $(".buttonText").html('Selecionar Arquivo');
    //http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=09%2F24%2F2015&endDate=10%2F03%2F2015&startView=0&minViewMode=0&todayBtn=linked&clearBtn=false&language=pt-BR&orientation=auto&multidate=&multidateSeparator=&daysOfWeekDisabled=0&keyboardNavigation=on&forceParse=on&datesDisabled=on#sandbox
    $('.data_enem').datepicker({
      startDate: "03/09/#{LAST_YEAR_EXAM}",
      endDate: "09/11/#{LAST_YEAR_EXAM}",
      todayBtn: "linked",
      language: 'pt-BR',
      format: 'dd/mm/yyyy',
      autoclose: true,
      daysOfWeekDisabled: "0,6"
      //,datesDisabled: ['11/14/2015']
    });
    $('.agendamento').datepicker({
      startDate: "03/09/#{LAST_YEAR_EXAM}",
      endDate: "14/01/2019",
      todayBtn: "linked",
      language: 'pt-BR',
      format: 'dd/mm/yyyy',
      autoclose: true,
      daysOfWeekDisabled: "0,6"
      //,datesDisabled: ['11/14/2015']
    });
    $('.tradicional').datepicker({
      startDate: "29/11/#{LAST_YEAR_EXAM}",
      endDate: "07/12/#{LAST_YEAR_EXAM}",
      todayBtn: "linked",
      language: 'pt-BR',
      format: 'dd/mm/yyyy',
      autoclose: true,
      daysOfWeekDisabled: "0,6"
      //,datesDisabled: ['11/14/2015']
    });
    $('#registration_cpf').mask('00000000000');
    $('#registration_postal_code').mask('00000-000');
    $('#registration_phone').mask('(00) 0000-0000');
    /* Executa a requisição quando o campo CEP perder o foco */
    $('#registration_postal_code').blur(function(){
      /* Configura a requisição AJAX */
      $.ajax({
        url : '#{search_cep_subscribe_registrations_path(@subscribe)}', /* URL que será chamada */
        type : 'POST', /* Tipo da requisição */
        data: 'cep=' + $('#registration_postal_code').val(), /* dado que será enviado via POST */
        dataType: 'json', /* Tipo de transmissão */
        success: function(data){
          if(data.resultado == 2){
            $('#registration_city').val(data.cidade);
            $('#registration_state').val(data.uf);
            $('#registration_address').val('');
            $('#registration_neighbourhood').val('');
            $('#registration_number').val('');
            //$('#registration_address').removeAttr('readonly');
            //$('#registration_complement').removeAttr('readonly');
            //$('#registration_number').removeAttr('readonly');
            //$('#registration_neighbourhood').removeAttr('readonly');
            $('#registration_scheduling').focus();
          }
          if(data.resultado == 1){
            $('#registration_city').val(data.cidade);
            $('#registration_state').val(data.uf);
            $('#registration_address').val('');
            $('#registration_neighbourhood').val('');
            $('#registration_number').val('');
            $('#registration_address').val(data.logradouro);
            $('#registration_neighbourhood').val(data.bairro);
            //$('#registration_address').attr('readonly', 'readonly');
            //$('#registration_neighbourhood').attr('readonly', 'readonly');
            //$('#registration_complement').removeAttr('readonly');
            //$('#registration_number').removeAttr('readonly');
            $('#registration_number').val('');
            $('#registration_number').focus();
          }
          if(data.resultado == 0){
            alert("CEP informado é inválido! Tente novamente.");
          }

        }
      });
      return false;
    })
    $('#responsavel').click(function(){
      swal("Estamos preenchendo os dados financeiros com seus dados. ;)");
      $('#registration_name').val($('#base_nome').val());
      $('#registration_phone').val($('#base_telefone').val());
      $('#registration_cpf').val($('#base_cpf').val());
      $('#registration_city').val($('#base_cidade').val());
      $('#registration_state').val($('#base_estado').val());
      $('#registration_address').val($('#base_endereco').val());
      $('#registration_neighbourhood').val($('#base_bairro').val());
      $('#registration_number').val($('#base_numero').val());
      $('#registration_postal_code').val($('#cep').val());
      $('#registration_scheduling').focus();

    })
.exam-section.my-5.py-5
  .container.text-center.mt-2
    %h2.font-weight-light.mt-5.mb-4
      Pré-Matricula
    .row.px-5
      .col-md-6
        %p.font-weight-light.mt-5.mb-4 Dados Responsavel Financeiro
        -if @idade >= 18
          .col-12.text-center.mb-4
            %button.btn.btn-primary#responsavel{:type => "button"} Eu Sou o Responsavel Financeiro
        -else
          .col-12
            %p{:style=>"color:red;"} O Responsavel Financeiro deve ter pelo menos 18 anos e deve comparecer na Secretaria no dia agendado para assinar a matricula e retirar o boleto.
        = form_for [@subscribe, @registration] do |f|
          -if f.error_messages
            .alert.alert-danger.alert-dismissable
              %i.fa.fa-ban
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
              = f.error_messages
          .form-group
            = f.text_field :name, :class =>"form-control", :placeholder => "Nome do Responsavel Financeiro"
            .clearfix
          .form-group
            = f.text_field :phone, :class =>"form-control", :placeholder => "Telefone"
            .clearfix
          .form-group
            = f.text_field :cpf, :class =>"form-control", :placeholder => "CPF"
            .clearfix
          .form-group
            = f.text_field :postal_code, :class =>"form-control", :placeholder => "CEP"
            .clearfix
          .form-group
            .row
              .col-sm-6
                = f.text_field :address, :class =>"form-control", :placeholder => "Endereço"
              .col-sm-6
                = f.text_field :number, :class =>"form-control", :placeholder => "N."
              .clearfix
          .form-group
            .row
              .col-sm-6
                = f.text_field :complement, :class =>"form-control", :placeholder => "Complemento"
              .col-sm-6
                = f.text_field :neighbourhood, :class =>"form-control", :placeholder => "Bairro"
              .clearfix
          .form-group
            .row
              .col-sm-6
                = f.text_field :city, :class =>"form-control", :placeholder => "Cidade"
              .col-sm-6
                = f.text_field :state, :class =>"form-control", :placeholder => "Estado"
              .clearfix
          -if @subscribe.exam.exam_type_id == 3
            .form-group
              = f.text_field :scheduling, :class =>"form-control data_enem", :placeholder => "Data do agendamento"
              .clearfix
          -elsif @subscribe.exam.exam_type_id == 2
            .form-group
              = f.text_field :scheduling, :class =>"form-control agendamento", :placeholder => "Data do agendamento"
              .clearfix
          -else 
            .form-group
              = f.text_field :scheduling, :class =>"form-control tradicional", :placeholder => "Data do agendamento"
              .clearfix
          -if @subscribe.exam.exam_type_id == 3
            .alert.alert-info
              %p Precisamos do documento em PDF do seu resultado do ENEM
            .form-group
              =f.label :comprovante_enem, "Resultado ENEM"
              = f.file_field :comprovante_enem, :class =>"form-control enem rg-enem filestyle"
              .clearfix
          .alert.alert-info
            %p Precisamos de algumas fotos para completar seu cadastro. Garanta que suas fotos do RG ou CNH estejam legíveis.
            %p.text-center
              Tenha certeza de enquadrar bem todo o conteúdo do seu documento
            .text-center
              =image_tag("card.png", :class => "img-fluid")
          .form-group
            =f.label :arquivo_rg, "RG ou CNH (FRENTE)"
            = f.file_field :arquivo_rg, :class =>"form-control rg rg-enem filestyle"
          .form-group
            =f.label :arquivo_rg_verso, "RG ou CNH (VERSO)"
            = f.file_field :arquivo_rg_verso, :class =>"form-control rg-verso rg-enem filestyle"
            .clearfix
          %small
            *Caso os documentos enviados por aqui não estejam legíveis, entraremos em contato para pedi-los novamente, já que são essenciais para o seu cadastro.

          .from-group
            %button.nav-subscribe-btn.px-md-5.py-3.text-white.mt-5.px-4{:type => "submit"} Cadastrar Pré-Matricula
          .clearfix

      .col-md-6
        %p.font-weight-light.mt-5.mb-4 Dados do Aluno
        .form-group
          %input.form-control#base_nome{:disabled => "", :type => "text", :value => "#{@subscribe.user.name}"}
            .clearfix

        .form-group
          %input.form-control#base_telefone{:disabled => "", :type => "text", :value => "#{@subscribe.user.phone}"}
            .clearfix
        .form-group
          %input.form-control#base_email{:disabled => "", :type => "text", :value => "#{@subscribe.user.email}"}
            .clearfix
        .form-group
          %input.form-control{:disabled => "", :type => "text", :value => "#{@subscribe.user.rg}"}
            .clearfix
        .form-group
          %input.form-control#base_cpf{:disabled => "", :type => "text", :value => "#{@subscribe.user.cpf}"}
            .clearfix
        .form-group
          %input.form-control{:disabled => "", :type => "text", :value => "#{I18n.localize(@subscribe.user.birth_date, :format=>"%d/%m/%Y")}"}
            .clearfix
        .form-group
          %input.form-control#cep{:disabled => "", :type => "text", :value => "#{@subscribe.user.postal_code}"}
            .clearfix
        .form-group
          .row
            .col-sm-6
              %input.form-control#base_endereco{:disabled => "", :type => "text", :value => "#{@subscribe.user.address}"}
            .col-sm-6
              %input.form-control#base_numero{:disabled => "", :type => "text", :value => "#{@subscribe.user.number}"}
            .clearfix
        .form-group
          .row
            .col-sm-6
              %input.form-control#base_complemento{:disabled => "", :type => "text", :value => "#{@subscribe.user.complement}"}
            .col-sm-6
              %input.form-control#base_bairro{:disabled => "", :type => "text", :value => "#{@subscribe.user.neighbourhood}"}
            .clearfix
        .form-group
          .row
            .col-sm-6
              %input.form-control#base_cidade{:disabled => "", :type => "text", :value => "#{@subscribe.user.city}"}
            .col-sm-6
              %input.form-control#base_estado{:disabled => "", :type => "text", :value => "#{@subscribe.user.state}"}
            .clearfix