.exam-section.my-5.py-5
  .container.text-center.mt-2
    %h2.font-weight-light.mt-5.mb-4
      Pré-Matricula
    .row.px-5
      %h2.font-weight-light.mt-5.mb-4.w-100.text-center A sua Pré-Matricula foi cadastrada com sucesso!
      %br
      %p.w-100.text-center= "Compareça na Secretaria da FESB no dia (#{@registration.scheduling}) informado no cadastro de pré-matricula."
    .div.px-5
      -if @exam_type == 3
        %p.mt-5.mb-4
          %b ATENÇÃO!
        %p Para as inscrições feitas através do ENEM, confira as informações abaixo!

        %p Você finalizou sua inscrição corretamente, fique atento para a data do agendamento da matrícula e compareça na secretaria até às 21h do dia marcado.


        / %p.text-center
        /   %b.mt-5.mb-4 Pontuação
        / %p <b>700 Pontos</b> - Aguarde o resultado