= form_for ([@user], :role => "form", :class => "inscricao") do |f|
  -if @exam_enem.exam_type_id == 3
    - flash.each do |key, value|
      -content_for :footer do
        :javascript
          swal({
             title: "Oops...",
             text: "Parece que sua pontuação do ENEM é menor que 300 pontos, o mínimo para substituir o vestibular pelo ENEM é de 300 pontos. Mas não tem problema, você ainda pode prestar o VESTIBULAR 2019 da FESB. Caso tenha digitado errado, clique em 'Corrigir pontuação'.",
             type: "warning",
             showCancelButton: true,
             confirmButtonColor: "#014687",
             confirmButtonText: "Prestar Vestibular",
             cancelButtonText: "Corrigir pontuação",
             closeOnConfirm: false,
             closeOnCancel: false
           },
           function(isConfirm){
             if (isConfirm) {
              swal({
                title: "Escolha o tipo de vestibular",
                showCancelButton: true,
                confirmButtonColor: "#014687",
                cancelButtonColor: "#014687",
                confirmButtonText: "Vestibular Tradicional",
                cancelButtonText: "Vestibular Agendado",
                closeOnConfirm: false,
                closeOnCancel: false
              },
              function(isConfirm){
                if (isConfirm) {
                  swal({
                    title:(""),
                    showConfirmButton: false,
                    text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular Tradicional. ;)"),
                    html: true
                  });
                } else {
                  swal({
                    title:("Escolha sua data!"),
                    showConfirmButton: false,
                    text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular agendado, e escolha a data do vestibular! ;)"),
                    html: true
                  });
                }
              });

             } else {
               swal("Só falta corrigir!", "Corrija sua nota do ENEM, mas lembre-se de colocar a nota correta! ;)");
             }
           });
    / .alert.alert-danger.alert-dismissible.show{:role => "alert"}
    /   %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    /     %span{"aria-hidden" => "true"} ×
    /   = value
  -if f.error_messages
    .alert.alert-danger.alert-dismissable.col-12
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = f.error_messages

  / .col-sm-3.pull-right.hidden-xs-down.espiao
  /   %h3 Cadastro
  /   %ul.nav
  /     %li
  /       %a{:href => "#login"} Dados do Login
  /     %li
  /       %a{:href => "#pessoais"} Dados pessoais
  /     %li
  /       %a{:href => "#documentos"} Documentos
  /     %li
  /       %a{:href => "#necessidadesEspeciais"} Necessidades Especiais
  /     %li
  /       %a{:href => "#endereco"} Endereço
  /     %li
  /       %a{:href => "#ensinoMedio"} Ensino Médio
  /     %li
  /       %a{:href => "#Curso"} Opções de Cursoss
  %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
    Dados do login
  .row
    #login.form-group.col-sm-6
      %label{:for => ""} Nome:
      - if current_user
        - if current_user.has_role? :user
          = f.text_field :name, :class => "form-control", :placeholder => "Preencha o nome"
        -else
          = f.text_field :name, :class => "form-control", :placeholder => "Preencha o nome", :readonly => true
      -else
        = f.text_field :name, :class => "form-control", :placeholder => "Preencha o nome"
      .clearfix
    .form-group.col-sm-6
      %label{:for => ""} E-mail:
      = f.text_field :email, :class => "form-control"
    .form-group.col-sm-6
      %label{:for => ""} Nome Social:
      = f.text_field :social_name, :class => "form-control"
    .clearfix
    .form-group.col-sm-6
      %label{:for => ""} Senha:
      = f.password_field :password, :class => "form-control"
    .form-group.col-sm-6
      %label{:for => ""} Confirmar a senha:
      = f.password_field :password_confirmation, :class => "form-control"
    .clearfix
  %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
    Dados Pessoais
  #pessoais.row
    .form-group.col-sm-6
      %label{:for => ""} Sexo:
      = f.select :sex, "<option value='M'>Masculino</option><option value='F'>Feminino</option>".html_safe, { :prompt=>"Selecione.."}, {:class => "form-control"}

    .form-group.col-sm-6.text-center
      %label{:for => ""} Nascimento:
      %br
      =f.date_select :birth_date, {:start_year => Time.now.year - 100}
    .clearfix

    / .form-group.col-sm-6
    /   %label{:for => ""} Nacionalidade:
    /   = f.text_field :place_of_birth, :class => "form-control"
    / .form-group.col-sm-6
    /   %label{:for => ""} Estado Civil:
    /   = f.select :civil_state, "<option value='S'>Solteiro</option><option value='C'>Casado</option><option value='D'>Divorciado</option><option value='V'>Viúvo</option>".html_safe, { :prompt=>"Selecione.."}, {:class => "form-control"}

    .clearfix

    .form-group.col-sm-6
      %label{:for => ""} Telefone:
      = f.text_field :phone, :class => "form-control", :placehodler => "(00) xxxx-xxxxx"
    .form-group.col-sm-6
      %label{:for => ""} Celular:
      = f.text_field :cell_phone, :class => "form-control", :placeholder => "(00) xxxxxxxxx"
    .clearfix
  %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
    Documentos
  #documentos.row
    .form-group.col-sm-6
      %label{:for => "rg"} RG:
      = f.text_field :rg, :class => "form-control"
    / .form-group.col-sm-3
    /   %label{:for => "orgaoExpeditor"} Orgão Exp:
    /   = f.text_field :rg_oe, :class => "form-control"
    / .form-group.col-sm-3
    /   %label{:for => "estadoEmissor"} Estado Emissor:
    /   = f.text_field :rg_ee, :class => "form-control"
    / .clearfix
    / .form-group.col-sm-6
    /   %label{:for => "rg"} RNE (Estrangeiros):
    /   = f.text_field :rne, :class => "form-control"
    .form-group.col-sm-6
      %label{:for => "rg"} CPF:
      = f.text_field :cpf, :class => "form-control"
      %br
      %strong#resposta.alert-danger
    .clearfix
  %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
    Necessidades Especiais
  #necessidadesEspeciais.row
    .form-group.col-md-4
      %label
        Possui necessidades especiais?
      %br
      %input#user_special_needs.mx-5{:name => "user[special_needs]", :type => "radio", :value => "0", :onclick => "$('.deficientes').hide()", :checked => "true"}
        Não
      %input#user_special_needs.mx-5{:name => "user[special_needs]", :type => "radio", :value => "1", :onclick => "$('.deficientes').show()"}
        Sim

    .deficientes.col-md-8{:style => "display:none;"}
      .row
        .form-group.col-md-4
          %label{:for => ""} Necessidades Especiais Visuais:
          = f.select :special_needs_visual, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_visual), {},{:class => "form-control"}
        .clearfix
        .form-group.col-md-4
          %label{:for => ""} Necessidades Especiais Físicas:
          = f.select :special_needs_phisics, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_phisics), {},{:class => "form-control"}
        .form-group.col-md-4
          %label{:for => ""} Necessidades Especiais Auditivas:
          = f.select :special_needs_hearing, options_for_select([["Sim", "Sim"], ["Não", "Nao"]],@user.special_needs_hearing), {},{:class => "form-control"}
    .clearfix
  / %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
  /   Ensino Médio
  / .row
  /   .form-group
  /     %label{:for => "high_school"} Ano em que concluiu o ensino médio:
  /     %br
  /     =f.select :high_school, (Time.zone.now.year - 50)..(Time.zone.now.year + 1), {},{:class => "form-control"}

  .clearfix

  %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
    Endereço
  #endereco.row
    .form-group.col-sm-6
      %label{:for => ""} CEP:
      = f.text_field :postal_code, :class => "form-control"
    .clearfix

    .form-group.col-sm-6
      %label{:for => ""} Endereço:
      = f.text_field :address, :class => "form-control"
    .form-group.col-sm-6
      %label{:for => ""} N.:
      = f.text_field :number, :class => "form-control"
    .clearfix
    .form-group.col-sm-6
      %label{:for => ""} Complemento:
      = f.text_field :complement, :class => "form-control"
    .form-group.col-sm-6
      %label{:for => ""} Bairro:
      = f.text_field :neighbourhood, :class => "form-control"
    .clearfix
    .form-group.col-sm-6
      %label{:for => ""} Cidade:
      = f.text_field :city, :class => "form-control"
    .form-group.col-sm-6
      %label{:for => ""} Estado:
      = f.text_field :state, :class => "form-control"
    .clearfix

  -if @exam_enem.exam_type_id == 3
    %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      Nota do Enem
    .form-group.col-sm-6
      %label{:for => "nota_enem"} Nota:
      = f.number_field :nota_enem, :class => "form-control"

  %h2.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
    Opções de Curso
  #Curso.row
    .form-group.col-sm-6
      %label{:for => "rg"} Primeira Opção de Curso
      = f.collection_select(:first_option_id, @class_names, :id, :name, {:prompt   => "Escolha um curso"}, {:id => 'first_option_select', :class => "form-control"})
    .form-group.col-sm-6
      %label{:for => "rg"} Segunda Opção de Curso
      = f.collection_select(:second_option_id, @second, :id, :name, {:include_blank   => "Escolha a segunda opção"}, {:id => 'second_option_select', :class => "form-control"})
    / .form-group.col-12
    /   %label Sou ex aluno da FESB ?
    /   %br
    /   %input#user_ex_student.mx-5{:name => "user[ex_student]", :type => "radio", :value => "0", :checked => "true"}
    /     Não
    /   %input#user_ex_student.mx-5{:name => "user[ex_student]", :type => "radio", :value => "1"}
    /     Sim
    .clearfix

    .clearfix
  .from-group
    .col-xs-12
      %button.btn.primary-background-color.text-white.btn-primary.pull-right.submit-form{:type => "submit"}
        -if @exam_enem.exam_type_id == 3
          Finalizar Inscrição
        -else
          Avançar
    .clearfix



-content_for :footer do
  :javascript
    $(document).ready(function() {

      if ($("#user_nota_enem").length){
        $('.submit-form').on('click', function(e){
           e.preventDefault();
           if($("#user_nota_enem").val() < 300){
             swal({
               title: "Oops...",
               text: "Parece que sua pontuação do ENEM é menor que 300 pontos, o mínimo para substituir o vestibular pelo ENEM é de 300 pontos. Mas não tem problema, você ainda pode prestar o VESTIBULAR 2019 da FESB. Caso tenha digitado errado, clique em 'Corrigir pontuação'.",
               type: "warning",
               showCancelButton: true,
               confirmButtonColor: "#014687",
               confirmButtonText: "Prestar Vestibular",
               cancelButtonText: "Corrigir pontuação",
               closeOnConfirm: false,
               closeOnCancel: false
             },
             function(isConfirm){
               if (isConfirm) {
                swal({
                  title:("Vestibular Tradicional!"),
                  showConfirmButton: false,
                  text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular Tradicional. ;)"),
                  html: true
                });


               } else {
                 swal("Só falta corrigir!", "Corrija sua nota do ENEM, mas lembre-se de colocar a nota correta! ;)");
               }
             });
           }else{
            $("form").submit();
           };
        });
      }

      $('#user_phone').mask('(00) 0000-0000');
      $('#user_cell_phone').mask('(00) 000000000');
      $('#user_cpf').mask('00000000000');
      $('#user_rg').mask('000000000');
      $('#user_rg_oe').mask('SSS');
      $('#user_rg_ee').mask('SS');
      $('#user_postal_code').mask('00000-000');
      $('#user_number').mask('000000');
      $('#user_state').mask('SS');

      if($('#first_option_select').val()){
        $.ajax({
          url: "#{update_second_option_users_path}",
          data: {
            class_name_id : $('#first_option_select').val()
          },
          dataType: "script"
        });
      }

      $('#first_option_select').on('change', function() {
        $.ajax({
          url: "#{update_second_option_users_path}",
          data: {
            class_name_id : $('#first_option_select').val()
          },
          dataType: "script"
        });
      });


      /* Executa a requisição quando o campo CEP perder o foco */
      $('#user_postal_code').blur(function(){
        /* Configura a requisição AJAX */
        $.ajax({
          url : '/users/search_cep', /* URL que será chamada */
          type : 'POST', /* Tipo da requisição */
          data: 'cep=' + $('#user_postal_code').val(), /* dado que será enviado via POST */
          dataType: 'json', /* Tipo de transmissão */
          success: function(data){
            if(data.resultado == 2){
              $('#user_city').val(data.cidade);
              $('#user_state').val(data.uf);
              $('#user_address').val('');
              $('#user_neighbourhood').val('');
              $('#user_complement').val('');
              $('#user_number').val('');
              $('#user_address').removeAttr('readonly');
              $('#user_number').removeAttr('readonly');
              $('#user_complement').removeAttr('readonly');
              $('#user_neighbourhood').removeAttr('readonly');
              $('#user_address').focus();
            }
            if(data.resultado == 1){
              $('#user_city').val(data.cidade);
              $('#user_state').val(data.uf);
              $('#user_address').val('');
              $('#user_neighbourhood').val('');
              $('#user_complement').val('');
              $('#user_number').val('');
              $('#user_address').val(data.logradouro);
              $('#user_neighbourhood').val(data.bairro);
              $('#user_complement').removeAttr('readonly');
              $('#user_number').removeAttr('readonly');
              $('#user_number').val('');
              $('#user_number').focus();
            }
            if(data.resultado == 0){
              swal("CEP informado é inválido! Tente novamente.)");
            }

          }
        });
        return false;
      })
    });

    function CPF(){"user_strict";function r(r){for(var t=null,n=0;9>n;++n)t+=r.toString().charAt(n)*(10-n);var i=t%11;return i=2>i?0:11-i}function t(r){for(var t=null,n=0;10>n;++n)t+=r.toString().charAt(n)*(11-n);var i=t%11;return i=2>i?0:11-i}var n="CPF Inválido",i="";this.gera=function(){for(var n="",i=0;9>i;++i)n+=Math.floor(9*Math.random())+"";var o=r(n),a=n+"-"+o+t(n+""+o);return a},this.valida=function(o){for(var a=o.replace(/\D/g,""),u=a.substring(0,9),f=a.substring(9,11),v=0;10>v;v++)if(""+u+f==""+v+v+v+v+v+v+v+v+v+v+v)return n;var c=r(u),e=t(u+""+c);return f.toString()===c.toString()+e.toString()?i:n}}



    var CPF = new CPF();


    $("#user_cpf").keypress(function(){
        $("#resposta").html(CPF.valida($(this).val()));
    });

    $("#user_cpf").blur(function(){
         $("#resposta").html(CPF.valida($(this).val()));
    });

/ swal({
/   title: "Escolha o tipo de vestibular",
/   showCancelButton: true,
/   confirmButtonColor: "#014687",
/   cancelButtonColor: "#014687",
/   confirmButtonText: "Vestibular Tradicional",
/   cancelButtonText: "Vestibular Agendado",
/   closeOnConfirm: false,
/   closeOnCancel: false
/ },
/ function(isConfirm){
/   if (isConfirm) {
/     swal({
/       title:(""),
/       showConfirmButton: false,
/       text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular Tradicional. ;)"),
/       html: true
/     });
/   } else {
/     swal({
/       title:("Escolha sua data!"),
/       showConfirmButton: false,
/       text:("<a href='/exams'>Clique aqui</a> e selecione a opção de Vestibular agendado, e escolha a data do vestibular! ;)"),
/       html: true
/     });
/   }
/ });