.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} cadastro
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          -if @exam_enem.exam_type_id == 4
            Simuladão
          -else
            Vestibular
          %span.font-weight-bold
            = CURRENT_YEAR_EXAM
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
    / .row
    /   .passos.col-xs-12.col-sm-8.pull-right
    /     %ul
    /       %li
    /         %span 1
    /         Vestibular
    /       %li
    /         %span 2
    /         Sócio-Econômico
    /       %li.active
    /         %span 3
    /         Cadastro
    /       %li
    /         %span 4
    /         Confirmação
    /       - if @exam_id != "18"
    /         %li
    /           %span 5
    /           Pagamento
  .container.gray1-background.mb-5.pb-5.px-5
    = render 'form'