-content_for :head do
  :javascript
    (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6018869615734', {'value':'0.20','currency':'USD'}]);
  %noscript
    %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6018869615734&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1", :style => "display:none", :width => "1"}/
.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} pagamento
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          Vestibular
          %span.font-weight-bold
            = CURRENT_YEAR_EXAM
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      Inscrição concluida
    - if @subscribe.exam.exam_type_id == 1
      .my-5.text-center
        %strong.alert.alert-danger AVISO! Lembre-se de levar o comprovante de pagamento do boleto no dia do exame! (24/11/2018)
    / .row
    /   .passos.col-xs-12.col-sm-8.pull-right
    /     %ul
    /       %li
    /         %span 1
    /         Vestibular
    /       %li
    /         %span 2
    /         Sócio-Econômico
    /       %li
    /         %span 3
    /         Cadastro
    /       %li
    /         %span 4
    /         Confirmação
    /       %li.active
    /         %span 5
    /         Pagamento
    %form.inscricao.w-100{:method => "post", :role => "form"}
      .row
        .form-group.col-sm-6
          %label{:for => "nome"} Nome
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "telefone"} Telefone
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.phone}"}
            .clearfix
        .form-group.col-sm-6
          %label E-mail
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.email}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} CPF
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cpf}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Primeira Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.first_option_class.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Segunda Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.second_option_class.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Valor da Inscrição
          %input.form-control{:disabled => "", :type => "text", :value => "R$ 30,00"}
            .clearfix
        - if @subscribe.exam.exam_type_id == 2
          -if @subscribe.exam_date.itinerant_exam
            .col-12
              %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
                Informações gerais
              .form-group                
                .row
                  .col-sm-6
                    %label
                      Horário:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%H:%M')
                  .col-sm-6
                    %label
                      Data:
                    %span
                      = @subscribe.exam_date.exam_date.strftime('%d/%m/%y')
                  .col-sm-6
                    %label
                      Telefone:
                    %span
                      = @subscribe.exam_date.itinerant_exam.phone if @subscribe.exam_date.itinerant_exam.phone
                  .col-sm-6
                    %label
                      Tipo do Vestibular:
                    %span
                      Agendado
                  .col-sm-6
                    %label
                      Local:
                    %span
                      = @subscribe.exam_date.itinerant_exam.address
                      %br
                      = @subscribe.exam_date.itinerant_exam.city


      .row.pull-right
        %a.btn.primary-background-color.text-white.btn-primary.font-weight-bold.text-uppercase{:href => "#{@subscribe.ticket_link}", :target => "_blank"} Imprimir Boleto
