.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} cadastro
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          -if @exam_enem.exam_type_id == 4
            Simuladão
          -else
            Vestibular
          %span.font-weight-bold
            = CURRENT_YEAR_EXAM
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      -if @exam_type == 3
        Inscrição finalizada, confirme seus dados e preencha sua pré-matricula
      -else
        Confirme seus dados para concluir sua inscrição
    / .row
    /   .passos.col-xs-12.col-sm-8.pull-right
    /     %ul
    /       %li
    /         %span 1
    /         Vestibular
    /       %li
    /         %span 2
    /         Sócio-Econômico
    /       %li
    /         %span 3
    /         Cadastro
    /       %li.active
    /         %span 4
    /         Confirmação
    /       - if @exam.id != 18
    /         %li
    /           %span 5
    /           Pagamento
    %form.inscricao.w-100{:method => "post", :role => "form"}
      .row
        .form-group.col-sm-6
          %label{:for => "nome"} Nome
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "telefone"} Telefone
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.phone}"}
            .clearfix
        .form-group.col-sm-6
          %label E-mail
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.email}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} CPF
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.cpf}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Primeira Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.first_option_class.name}"}
            .clearfix
        .form-group.col-sm-6
          %label{:for => "nome"} Segunda Opção de Curso
          %input.form-control{:disabled => "", :type => "text", :value => "#{@user.second_option_class.name}"}
            .clearfix
        -if @exam_type != 3
          .form-group.col-sm-6
            %label{:for => "nome"} Valor da Inscrição
            %input.form-control{:disabled => "", :type => "text", :value => "#{@exam_type == 4 ? 'R$ 0,00' : 'R$ 30,00'}"}
            .clearfix

      .row.text-center
        .col-6
          %a.btn.primary-background-color.text-white.btn-primary.p-4{:href => edit_user_path} Corrigir dados

        .col-6
          -if @exam_type != 3
            -if @exam_type == 4
              %a.btn.primary-background-color.text-white.btn-primary.font-weight-bold.p-4#loadgif{:href => exams_path} Finalizar
            -else
              %a.btn.primary-background-color.text-white.btn-primary.font-weight-bold.p-4#loadgif{:href => payment_user_path(current_user),:data => { :disable_with => "Aguarde..." }} CONFIRMAR
          -else
            %a.btn.primary-background-color.text-white.btn-primary.font-weight-bold.p-4#loadgif{:href => new_subscribe_registration_path(@subscribe)} PRÉ-MATRICULA


-content_for :footer do
  :javascript

    jQuery.fn.center = function () {
      this.css("position","absolute");
      this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                                                  $(window).scrollTop()) + "px");
      this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                                                  $(window).scrollLeft()) + "px");
      return this;
    }

    $(document).ready(function(){
      $("#loadgif").on("click", function(){
        $("body").css("overflow", "hidden");
        $("#sendloader").fadeIn();
        $("#sendloader").center();
      });//submit
    });//document ready