<section class="news-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="/channel_students/1-noticias">notícias</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>Notícias</span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/topos/news-banner.jpg">
  </div>
  <div class="container gray1-background mb-5 pb-5 px-5">
    <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">notícias</h1>
    <div class="list-inline">
      <div class="list-inline-item badge warning-type-1 font-weight-bold px-4 py-2">
        <%= @warning.type_warning.name %>
      </div>
      <div class="list-inline-item pl-3">
        <%= I18n.localize(@warning.created_at, :format => :date_default)  %>
      </div>
    </div>
    <h2 class="primary-font-color py-4"><%=@warning.name%></h2>
    <div class="raw-primary-font-color">
      <%= raw(@warning.description)%>
    </div>
    <p><%=link_to("Download", @warning.warning_file.url(:original, false), :target=>"_blank") if @warning.warning_file.file?%></p>
    <% if @warning.warning_images.count > 0 %>
      <h2 class="primary-font-color py-4"> Galeria de imagens </h2>
      <div class="row">
        <% @warning.warning_images.each do |item_image| %>
          <%if  (item_image.active == true && item_image.published == true) %>
            <div class="col-12 col-sm-3 pb-5">
              <%=link_to(image_tag(item_image.warning_images.url("thumb_show"), :alt => item_image.name), item_image.warning_images.url("original"), :class => "fancybox", :rel => "ïmagens", :title=> item_image.name) %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>