-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#state_select').change(function() {
        $.ajax({
          url: "#{update_cities_socioeconomics_path}",
          data: {
            id : $('#state_select').val()
          },
          dataType: "script"
        });
      });
    });

.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => exams_path} Inscrição
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} Questionário
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-auto.text-center.text-white
        %span
          -if @exam.exam_type_id == 4
            Simuladão
          -else
            Vestibular
          %span.font-weight-bold
            = CURRENT_YEAR_EXAM
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-0
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      Questionário
    / .row
    /   .passos.col-xs-12.col-sm-8.pull-right
    /     %ul
    /       %li
    /         %span 1
    /         Vestibular
    /       %li.active
    /         %span 2
    /         Sócio-Econômico
    /       %li
    /         %span 3
    /         Cadastro
    /       %li
    /         %span 4
    /         Confirmação
    /       - if @exam.id != 18
    /         %li
    /           %span 5
    /           Pagamento
    =form_for([@socioeconomic], :class => "inscricao") do |f|
      .row.px-5
        -if f.error_messages
          .alert.alert-danger.alert-dismissable.col-12
            %i.fa.fa-ban
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
            %b Alert!
            Confira os campos marcados em vermelho.


        / .col-sm-6
        /   .form-group
        /     %label{:for => "naturalidadeEstado"} Naturalidade Estado
        /     = f.collection_select(:city_id, @states, :id, :state, {:prompt   => "Escolha um estado"}, {:id => 'state_select', :class => "form-control"})
        /   .form-group
        /     %label{:for => "naturalidadeCidade"} Naturalidade Cidade
        /     = f.collection_select(:city_id, @states, :id, :title, {:prompt   => "Escolha uma cidade"}, {:id => 'city_select', :class => "form-control"})
        .col-sm-6
          / .form-group
          /   %label{:for => "formacaoEnsinoFundamental"} Formação Ensino Fundamental
          /   = f.select :school, "<option value=\"0\"> Escola Pública </option><option value=\"1\"> Escola Particular </option>".html_safe,{ :prompt=>"Selecione.."}, {:class => "form-control"}
          .form-group
            %label{:for => "conheceu"} Como conheçeu a FESB?
            = f.select :how_did_me, "<option value=\"1\"> Indicação de Amigos </option><option value=\"2\"> Campanha Publicitária </option><option value=\"4\"> Internet </option>".html_safe,{ :prompt=>"Selecione.."}, {:class => "form-control"}
        / .col-12
        /   .form-group
        /     %label{:for => "profissao"} Profissão
        /     =f.text_field :occupation, :class => "form-control"
        / .col-sm-6
        /   .form-group
        /     %label{:for => "rendaIndividual"} Renda Individual
        /     = f.select :income, "<option value=\"1\"> Até 1 salário mínimo </option><option value=\"2\"> de 2 a 4 salários mínimos </option><option value=\"3\"> de 5 a 7 salários mínimos </option><option value=\"4\"> acima de 8 salários mínimos </option>".html_safe,{ :prompt=>"Selecione.."}, {:class => "form-control"}
        / .col-sm-6
        /   .form-group
        /     %label{:for => "rendaFamiliar"} Renda Familiar
        /     = f.select :income_family, "<option value=\"0\"> de 2 a 3 salários mínimos </option><option value=\"1\"> de 4 a 6 salários mínimos </option><option value=\"2\"> de 7 a 10 salários mínimos </option>".html_safe,{ :prompt=>"Selecione.."}, {:class => "form-control"}
        / .col-sm-6
        /   .form-group
        /     %label{:for => "formacaoEnsinoMedio"} Formação Ensino Médio
        /     = f.select :highschool, "<option value=\"0\"> Escola Pública </option><option value=\"1\"> Escola Particular </option>".html_safe,{ :prompt=>"Selecione.."}, {:class => "form-control"}
        .col-sm-6
          .form-group.skip
            %label{:for => "campanha"} Qual material chamou mais atenção na campanha ?
            = f.select :best_ad, "<option value=\"2\"> Rádio </option><option value=\"3\"> Site </option><option value=\"4\"> Outdoor </option><option value=\"10\"> Facebook </option><option value=\"9\"> Visita as Escolas </option>".html_safe,{ :prompt=>"Selecione.."}, {:class => "form-control"}
      .row.px-5.text-center
        .col-sm-6.col-xs-6
          %button.btn.primary-background-color.text-white.btn-primary
            Anterior
        .col-sm-6.col-xs-6
          =f.submit "Avançar", :class => "btn btn-primary primary-background-color text-white"