-@news_libraries.each do |item|
  .virtual_library
    %h2.primary-background-color.py-3.text-center.mb-0.mt-5.text-white.text-uppercase.px-5=item.name
    .px-5.mt-5
      %p
        = truncate(item.description, :length => 250, :separator => ' ').html_safe
        -if item.description?
          =link_to("Saiba mais", news_library_library_path(item.id)).html_safe
        = link_to("Faça o Download!", item.item_file.url, :target => "_blank") if item.item_file.file?
/= will_paginate @virtual_libraries
