-@sites_interessantes_itens.each do |item|
  .virtual_library
    %h2.primary-background-color.py-3.text-center.mb-0.mt-5.text-white.text-uppercase.px-5=item.name
    .px-5.mt-5
      %p
        = raw(item.description)
/= will_paginate @virtual_libraries