<% @tcc_nts.each do |item| %>
  <div class="px-3">
    <span class="primary-font-color font-weight-bold text-capitalize"><%= item.name %></span>
    <p class="text-capitalize"><%= truncate(item.description, :length => 250, :separator => ' ').html_safe %></p>
    <p class="text-right primary-font-color">
      <%= link_to(item.item_file.url, :class => "no-style-link", :target=>"_blank") do %>
        <img src="/assets/icons/download.png" class="px-3">
        Download
      <% end %>
    </p>
  </div>
<% end %>
<!-- <div class="pt-5">
 <%= will_paginate(@tcc_nts) %>
</div> -->
