// $("#tcc_partial").html("<%= escape_javascript(render("tcc")) %>");
$("#d_library").html("<%= escape_javascript(render("d_library")) %>");
$('.pagination .current').text("");
$('.pagination a').text("");
$('.pagination .translation_missing').text("");