<section class="libraries-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= libraries_path %>">biblioteca</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>A nossa <span class="font-weight-bold">biblioteca</span></span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/topos/library-banner.jpg">
  </div>
  <div class="container-fluid p-0 d-flex primary-background-color class-tabs">
    <ul class="tabs-custom nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-sm-down align-items-center">
      <li class="nav-item">
        <a class="nav-link active px-3 <%= name_length(LibrarieTabName.find(1).name.length) %>" data-toggle="tab" href="#library"><%= LibrarieTabName.find(1).name %></a>
      </li>
      <li class="nav-item"><a class="nav-link px-3 <%= name_length(LibrarieTabName.find(2).name.length) %> " data-toggle="tab" href="#d-library"><%= LibrarieTabName.find(2).name %></a></li>
      <li class="nav-item"><a class="nav-link px-3 <%= name_length(LibrarieTabName.find(3).name.length) %>" data-toggle="tab" href="#tcc"><%= LibrarieTabName.find(3).name %></a></li>
      <li class="nav-item"><a class="nav-link px-3 <%= name_length(LibrarieTabName.find(4).name.length) %>" data-toggle="tab" href="#ficha"><%= LibrarieTabName.find(4).name %></a></li>
      <li class="nav-item"><a class="nav-link px-3 <%= name_length(LibrarieTabName.find(5).name.length) %>" data-toggle="tab" href="#binews"><%= LibrarieTabName.find(5).name %></a></li>
      <li class="nav-item"><a class="nav-link px-3 <%= name_length(LibrarieTabName.find(6).name.length) %>" data-toggle="tab" href="#sites"><%= LibrarieTabName.find(6).name %></a></li>
    </ul>
    <ul class="nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-md-up">
      <li class="nav-item">
        <a class="nav-link active px-3 py-5" data-toggle="tab" href="#library"><%= LibrarieTabName.find(1).name %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3 py-5" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">
           mais opções</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#d-library"><%= LibrarieTabName.find(2).name %></a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#tcc"><%= LibrarieTabName.find(3).name %></a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#ficha"><%= LibrarieTabName.find(4).name %></a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#binews"><%= LibrarieTabName.find(5).name %></a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#sites"><%= LibrarieTabName.find(6).name %></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="container gray1-background mb-5 pb-5 px-0">
    <div class="tab-content">
      <div class="tab-pane in active" id="library">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">biblioteca</h1>
        <div class="row">
          <div class="col-lg-8">
            <p class=" px-5">
              A história da criação da Biblioteca “Waldemar Ferreira” está intimamente ligada à gestão dos Cursos da Faculdade de Ciências e Letras de Bragança Paulista. O prédio que resulta desta iniciativa foi inaugurado em 03 de outubro de 1999. Aqui você encontrará mais de 28 mil livros, revistas, trabalhos acadêmicos, DVD, CD-ROM, VHS, disponíveis para consulta e empréstimos.
            </p>
            <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">nosso acervo</h2>
            <div class="px-5">
              <h3 class="py-4 blue2-font-color text-uppercase font-weight-bold">
                visitantes:
              </h3>
              <p>
                a Biblioteca disponibiliza o acesso a consulta do acervo, clicando no link (ACESSAR ACERVO), utilizando o usuário e senha.<br>
                IMPORTANTE: No momento da digitação do usuário e senha, é importante salientar que devem ser digitados em letra maiúscula, atentem-se para ver se o Caps Lock está ativo no teclado.
              </p>
              <span class="d-block font-weight-bold primary-font-color">Usuário: <span class="blue2-font-color text-uppercase">BIBLIOTECA</span></span>
              <span class="d-block font-weight-bold primary-font-color">Senha: <span class="blue2-font-color text-uppercase">FESBNET</span></span>
              <h3 class="py-4 blue2-font-color text-uppercase font-weight-bold">
                alunos e professores:
              </h3>
              <p>
                <span class="blue2-font-color font-weight-bold">1)</span>
                O email é uma forma de lembrá-lo da data de devolução do material, que é uma responsabilidade sua. Portanto, o não envio da mensagem, independentemente do motivo, não o isenta do pagamento de multa.
              </p>
              <p>
                <span class="blue2-font-color font-weight-bold">2)</span>
                A justificativa de atraso na entrega de material bibliográfico, por impossibilidade de acesso à renovação do empréstimo online, não é aceita. Em caso de impossibilidade de acesso online, o usuário deve fazer a renovação na biblioteca. A multa pelo atraso é irrevogável. As obras em atraso não podem ser renovadas via WEB. <strong class="primary-font-color">O USUÁRIO DEVE COMPARECER À BIBLIOTECA COM OS MATERIAIS EM MÃOS PARA A DEVOLUÇÃO E PAGAMENTO DA MULTA, UMA VEZ QUE O SISTEMA NÃO RENOVA MATERIAL EM ATRASO.</strong>
              </p>
              <a href="http://portal.fesb.edu.br/corpore.net" target="_blank" class="blue2-font-color">
                <img src="/assets/icons/books.png" class="pr-2">
                Acessar Acervo
              </a>
            </div>
          </div>
          <div class="col-lg-4 px-5">
            <div class="lateral-intitution-info p-4 text-white">
              <div class="media pb-3">
                <img class="d-flex mr-3" src="/assets/icons/mission.png" width="24">
                <div class="media-body">
                  <span class="font-weight-bold">Missão:</span>
                </div>
              </div>
              <span>Atender à sociedade em geral, oferecendo serviços públicos e gratuitos de livre acesso à leitura, à informação e aos registros de expressão cultural e intelectual humana, sem distinção de faixa etária e nenhuma forma de censura ideológica, política ou religiosa em sua diversidade e pluralidade e, desenvolvendo atividades de caráter informativo, cultural e educacional. </span>
              <div class="media pb-3 pt-5">
                <img class="d-flex mr-3" src="/assets/icons/place.png" width="24">
                <div class="media-body">
                  <span class="font-weight-bold">Localização:</span>
                </div>
              </div>
              <p>
                Campus da FESB
              </p>
              <p>
                Av. Francisco Samuel Lucchesi Filho, 770 – Penha
              </p>
              <p>
                CEP: 12910-600 - Bragança Paulista SP
              </p>
              <p>
                CEP: 12910-600 - Bragança Paulista SP
              </p>
              <div class="media pb-3 pt-5">
                <img class="d-flex mr-3" src="/assets/icons/clock.png" width="24">
                <div class="media-body">
                  <span class="font-weight-bold">Horário de Funcionamento:</span>
                </div>
              </div>
              <span class="font-weight-bold">Alunos, Funcionários e Professores</span>
              <p>
                De 2ª a 6ª feira, das 09h00 às 23h00.

                Sábados das 9h00 às 13h00
              </p>
              <span class="font-weight-bold">Visitantes</span>
              <p>
                De 2ª a 6ª, das 14h às 16h.
              </p>
            </div>
          </div>
        </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">regulamento da biblioteca</h2>
        <div class="library-terms p-5">
          <%= raw(@terms.description)%>
        </div>
      </div>
      <div class="tab-pane fade" id="d-library">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">biblioteca digital</h1>
        <div id="d_library" class="px-5">
          <%= render 'd_library'%>
        </div>
      </div>
      <div class="tab-pane fade" id="tcc">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">tcc - normas técnicas </h1>
        <div id="tcc_partial" class="px-5">
          <%= render 'tcc'%>
        </div>
      </div>
      <div class="tab-pane fade" id="ficha">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">Ficha catalográfica</h1>
        <div class="px-5">
          <%= render 'sheets/form'%>
        </div>
      </div>
      <div class="tab-pane fade" id="binews">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">Biblionews</h1>
        <div class="px-0">
          <%= render 'news_libraries'%>
        </div>
      </div>
      <div class="tab-pane fade" id="sites">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">Sites Interessantes</h1>
        <div class="px-0">
          <%= render 'sites_interessantes'%>
        </div>
      </div>
    </div>
  </div>
</section>