.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => libraries_path} biblioteca
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} biblionews
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.m-0.text-center.text-white
        %span A nossa
        %span.font-weight-bold biblioteca
    %img.img-fluid.w-100{ :src=>"/assets/topos/library-banner.jpg"}
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold
      =@news_library_item.name
    .published
      =I18n.localize(@news_library_item.created_at, :format => :date_default)
    %p
      = raw(@news_library_item.description)
    -if @news_library_item.item_images.count > 0
      %h2 Fotos
      %ul.galeria
        - @news_library_item.item_images.each do |item_image|
          -if  (item_image.active == true && item_image.published == true)
            %li.col-xs-12.col-sm-3
              =image_tag(item_image.item_img.url("thumb_show"))