%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Modalidades
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Modalidades
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Modalidades Cadastradas
      .p-4
        %table.table.table-hover
          %tr
            %th Nome
            %th Publicado
            %th Ações
          - for class_category in @class_categories
            %tr
              %td= class_category.name
              %td= show_boolean(class_category.published)
              %td
                = link_to "Visualizar", [:admin, class_category], :class => "btn btn-default"
                = link_to "Editar", edit_admin_class_category_path(class_category), :class => "btn btn-default"
                = link_to "Excluir", [:admin, class_category], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"



      .card-footer
        %p= link_to "Nova Modalidade", new_admin_class_category_path, :class => "btn btn-primary"
