%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@class_name.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active #{@class_name.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Imagens
      .p-4
        %table.table.table-hover
          %tr
            %th Imagem
            %th Nome
            %th Publicado
            %th Ações
          - for class_image in @class_images
            %tr
              %td= image_tag(class_image.class_images.url(:thumb))
              %td= class_image.name
              %td= show_boolean(class_image.published)
              %td
                =link_to 'Visualizar', [:admin, @class_name, class_image], :class => "btn btn-default"
                =link_to 'Editar', edit_admin_class_name_class_image_path(@class_name, class_image), :class => "btn btn-default"
                =link_to 'Excluir', [:admin, @class_name, class_image], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Nova imagem", new_admin_class_name_class_image_path, :class => "btn btn-primary"
          = link_to "Retornar", admin_class_names_path, :class => "btn btn-primary"
