%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@class_name.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active #{@class_name.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @class_image.name

        .p-4
          %p
            %strong Publicado:
            = show_boolean(@class_image.published)
          %p
            %strong Imagem
            %br
            = image_tag(@class_image.class_images.url(:original))
        .card-footer
          %p
            = link_to "Editar", edit_admin_class_name_class_image_path(@class_image), :class => "btn btn-default"
            = link_to "Visualizar Todas", admin_class_name_class_images_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @class_name, @class_image], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"

