%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Tipos de avisos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Tipos de avisos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @type_warning.name
        .card-body
          = render 'form'

        .card-footer
          %p
            = link_to "Visualizar todos", admin_type_warnings_path, :class => "btn btn-default"
            = link_to "Exibir", [:admin, @type_warning], :class => "btn btn-default"
            = link_to "Excluir", [:admin, @type_warning], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"

