%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Tipos de avisos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Tipos de avisos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Tipos de Avisos Cadastrados
      .card-body.table-responsive.no-padding
        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Name
              %th Published
              %th Ações
          %tbody
            - for type_warning in @type_warnings
              %tr
                %td= type_warning.name
                %td= show_boolean(type_warning.published)
                %td
                  = link_to "Visualizar", [:admin, type_warning], :class => "btn btn-default"
                  = link_to "Editar", edit_admin_type_warning_path(type_warning), :class => "btn btn-default"
                  = link_to "Excluir", [:admin, type_warning], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p= link_to "Criar Tipo de Aviso", new_admin_type_warning_path, :class => "btn btn-primary"

