<section class="contacts-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= contacts_path %>">contato</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>Entre em <span class="font-weight-bold">Contato</span></span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/topos/contact-banner.jpg">
  </div>
  <div class="container-fluid p-0 d-flex primary-background-color class-tabs">
    <ul class="tabs-custom nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-sm-down align-items-center">
      <li class="nav-item">
        <a class="nav-link active px-3 py-5" data-toggle="tab" href="#contact">contato</a>
      </li>
      <li class="nav-item"><a class="nav-link px-3 py-custom-1" data-toggle="tab" href="#work">trabalhe na fesb</a></li>
      <li class="nav-item"><a class="nav-link px-3 py-5" data-toggle="tab" href="#ex">ex-aluno</a></li>
    </ul>
    <ul class="nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-md-up">
      <li class="nav-item">
        <a class="nav-link active px-3 py-5" data-toggle="tab" href="#contact">contato</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3 py-5" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">
           mais opções</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#work">trabalhe na fesb</a>
          <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#ex">ex-aluno</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="container gray1-background mb-5 pb-5 px-0">
    <div class="tab-content">
      <div class="tab-pane in active" id="contact">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">contato</h1>
        <div class="contact-form px-5">
          <%= render 'form'%>
        </div>
      </div>
      <div class="tab-pane fade" id="work">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">trabalhe na fesb</h1>
        <div class="work-form px-5">
          <%= render 'works/form'%>
        </div>
      </div>
      <div class="tab-pane fade" id="ex">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">ex-aluno</h1>
        <div class="work-form px-5">
          <%= render 'ex_alunos/form'%>
        </div>
      </div>
    </div>
  </div>
</section>