= form_for [:admin, @cataloguing_data], :url => new_admin_cataloguing_datum_path do |f| 
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body
    .form-group
      = f.label :name 
      = f.text_field :name, :class => "form-control"   
    .form-group  
      = f.label :email 
      = f.text_field :email, :class => "form-control"   
    .form-group    
      = f.label :ra 
      = f.text_field :ra, :class => "form-control"   
    .form-group 
      = f.label :author 
      = f.text_field :author, :class => "form-control"   
    .form-group    
      = f.label :advisor 
      = f.text_field :advisor, :class => "form-control"   
    .form-group
      = f.label :title_subtitle 
      = f.text_field :title_subtitle, :class => "form-control"   
    .form-group    
      = f.label :course 
      = f.text_field :course, :class => "form-control"   
    .form-group   
      = f.label :number_pages 
      = f.number_field :number_pages, :class => "form-control"   
    .form-group  
      = f.label :number_illustrations 
      = f.number_field :number_illustrations, :class => "form-control"   
    .form-group    
      = f.label :keywords 
      = f.text_field :keywords, :class => "form-control"   
    .form-group    
      = f.label :additional_information 
      = f.text_area :additional_information, :class => "form-control"   
      
    = f.submit 
