%section.content-header
  %h1
    Cursos
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li Gerenciar Biblioteca
    %li.active Ficha catalográfica 
%section.content
  .col-xs-12
    %p
      = link_to "Nova Ficha", new_admin_cataloguing_datum_path, :class => "btn btn-primary"  
    .box
      .box-header
        %h3.box-title Ficha catalográfica cadastradas
      .box-body.table-responsive.no-padding
      %table.table.table-hover
        %tr
          %th Nome
          %th Email
          %th RA
          %th Autor
          %th Ações
        - for cataloguing_data in @cataloguing_data
          %tr
            %td= cataloguing_data.name
            %td= cataloguing_data.email
            %td= cataloguing_data.ra
            %td= cataloguing_data.author
            %td 
              =link_to 'Visualizar', [:admin, cataloguing_data], :class => "btn btn-default"
              =link_to 'Editar', edit_admin_cataloguing_data_path(cataloguing_data), :class => "btn btn-default"
              =link_to 'Excluir', [:admin, cataloguing_data], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
%section.content
  .col-xs-12
    %p
      = link_to "Nova Ficha", new_admin_cataloguing_datum_path, :class => "btn btn-primary"      
