%section.content-header
  %h1
    Cursos  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li Gerenciar Biblioteca
    %li.active Ficha catalográfica
%section.content
  .row
    .col-md-12
      .box.box-primary
        .box-header
          %h3.box-title Nova Ficha catalográfica
        .box-body
          = render 'form'
        %p
          = link_to "Visualizar Todos", admin_cataloguing_data_path, :class => "btn btn-default"