<% title "Admin/Cataloguing Data" %>

<p>
  <strong>Name:</strong>
  <%= @cataloguing_data.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @cataloguing_data.email %>
</p>
<p>
  <strong>Ra:</strong>
  <%= @cataloguing_data.ra %>
</p>
<p>
  <strong>Author:</strong>
  <%= @cataloguing_data.author %>
</p>
<p>
  <strong>Advisor:</strong>
  <%= @cataloguing_data.advisor %>
</p>
<p>
  <strong>Title Subtitle:</strong>
  <%= @cataloguing_data.title_subtitle %>
</p>
<p>
  <strong>Course:</strong>
  <%= @cataloguing_data.course %>
</p>
<p>
  <strong>Number Pages:</strong>
  <%= @cataloguing_data.number_pages %>
</p>
<p>
  <strong>Number Illustrations:</strong>
  <%= @cataloguing_data.number_illustrations %>
</p>
<p>
  <strong>Keywords:</strong>
  <%= @cataloguing_data.keywords %>
</p>
<p>
  <strong>Additional Information:</strong>
  <%= @cataloguing_data.additional_information %>
</p>

<p>
  <%= link_to "Edit", edit_admin_cataloguing_data_path(@cataloguing_data) %> |
  <%= link_to "Destroy", [:admin, @cataloguing_data], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_cataloguing_data_path %>
</p>
