= form_for [:admin, @highlight] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group   
      = f.label :name, "Nome:"
       
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :flag, "Posição:"       
      = f.select(:flag,options_for_select([["Cabeçalho","1"],["Corpo","2"],["Lateral - Home","3"]], @highlight.flag), :class => "form-control")
    .form-group
      = f.label :link       
      = f.text_field :link, :class => "form-control"
    .form-group
      = f.label :target,"Abrir em:"       
      = f.select(:target,options_for_select([["Nova aba","_blank"],["Mesma aba","_self"]], @highlight.target), :class => "form-control")
    .form-group
      = f.label :published, "Publicado"
       
      = f.check_box :published
    .form-group
      = f.label :high_img, "Imagem do Destaque"      
      = f.file_field :high_img, :class => "form-control"
    -if @highlight.high_img.file?
      .form-group
        %span Imagem Atual
        =image_tag(@highlight.high_img.url, :class => "img-responsive")
    .form-group
      = f.label :highlight_file, "Arquivo para download (*Se existir um aqruivo para download o Link será desconsiderado)" 
      = f.file_field :highlight_file, :class => "form-control"
    -if @highlight.highlight_file.file?
      .form-group
        %span Arquivo Atual
        =link_to(@highlight.highlight_file.original_filename, @highlight.highlight_file.url)
          
    = f.submit "Salvar", :class =>"btn btn-primary"
