%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Destaques
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Destaques
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary
      .card-header
        %h3.card-title= @highlight.name
      .p-4
        = render 'form'
      .card-footer
        = link_to "Visualizar Todos", admin_highlights_path, :class => "btn btn-default"
        = link_to "Excluir", [:admin, @highlight], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"

