%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Destaques
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Destaques
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Destaques Cadastrados
      .p-4
        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Imagem
              %th Nome
              %th Posição
              %th Published
              %th Ações
          %tbody
            - for highlight in @highlights
              %tr
                %td= image_tag(highlight.high_img.url(:thumb))
                %td= highlight.name
                %td= if_highflag(highlight.flag)
                %td= show_boolean(highlight.published)
                %td
                  =link_to 'Visualizar', [:admin, highlight], :class => "btn btn-default"
                  =link_to 'Editar', edit_admin_highlight_path(highlight), :class => "btn btn-default"
                  =link_to 'Excluir', [:admin, highlight], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Cadastrar Destaque", new_admin_highlight_path, :class => "btn btn-primary"
