.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to(@category.name, awards_path)
    %h1=@category.name
    .col-sm-3.col-xs-12
      %ul.lista-lateral
        %li
          =link_to("Premiações", awards_path())
          
    .col-sm-9.col-xs-12
      .row
        %h1 Premiações
        -@awards.each do |award|
          %article
            =image_tag(award.award_image.url("thumb_show")) if award.award_image.file?
            .published=I18n.localize(award.created_at, :format => :date_default)
            %h2=award.name
            %p= truncate(award.description, :length => 150, :separator => ' ').html_safe 
            %p
              =link_to("Saiba mais", award_path(award.url_slug), :class=>"pull-right btn btn-azul")  