.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to(@category.name, awards_path())
      %li
        =link_to(@award.name, award_path(@award.url_slug)) 
    %h1=@category.name 
    .col-sm-3.col-xs-12
      %ul.lista-lateral
        -@awards.each do |award|
          %li
            =link_to(award.name, award_path(award.url_slug))
    .col-sm-9.col-xs-12
      %h2=@award.name
      .published
        =I18n.localize(@award.created_at, :format => :date_default)
      %p
        = raw(@award.description)
      -if @award.award_galleries.count > 0
        %h2 Fotos
        %ul.galeria
          - @award.award_galleries.each do |award_gallery|
            -if  (award_gallery.active == true && award_gallery.published == true) 
              %li.col-xs-12.col-sm-3
                =link_to(image_tag(award_gallery.award_img.url("thumb_show"), :alt => award_gallery.name), award_gallery.award_img.url("original"), :class => "fancybox", :rel => "ïmagens", :title=> award_gallery.name)