%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@item.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active #{@item.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title Editar Imagem
        .p-4
          = render 'form'

        .card-footer
          %p
            = link_to "Visualizar todos", admin_category_item_item_images_path(@category, @item), :class => "btn btn-default"
            = link_to "Exibir", [:admin, @category, @item, @item_image], :class => "btn btn-default"
            = link_to "Excluir", [:admin, @category, @item, @item_image], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
