%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@item.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active #{@item.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Imagens
      .p-4
        %table.table.table-hover
          %tr
            %th Imagem
            %th Nome
            %th Publicado
            %th Ações
          - for item_image in @item_images
            %tr
              %td= image_tag(item_image.item_img.url(:thumb))
              %td= item_image.name
              %td= show_boolean(item_image.published)
              %td
                =link_to 'Visualizar', [:admin, @category,@item, item_image], :class => "btn btn-default"
                =link_to 'Editar', edit_admin_category_item_item_image_path(@category, @item, item_image), :class => "btn btn-default"
                =link_to 'Excluir', [:admin, @category, @item, item_image], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Nova Imagem", new_admin_category_item_item_image_path(@category, @item), :class => "btn btn-primary"
          = link_to "Retornar", admin_category_items_path(@category), :class => "btn btn-primary"
