%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@item.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active #{@item.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @item_image.name
        .p-4
          %p= "Publicado? #{show_boolean(@item_image.published)}"
          %p
            ="Imagem:"
            %br
            =image_tag(@item_image.item_img.url(:original))

        .card-footer
          %p
            = link_to "Editar", edit_admin_category_item_item_image_path(@category, @item, @item_image), :class => "btn btn-default"
            = link_to "Visualizar Todas", admin_category_item_item_images_path(@category, @item), :class => "btn btn-default"
            = link_to "Excluir", [:admin, @category, @item, @item_image], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
