-content_for :footer do
  = tinymce

= form_for [:admin, @file_import] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body
    .form-group
      = f.label :fileimport, "Arquivo de Importação"
      = f.file_field :fileimport, :class => "form-control"
    = f.submit "Salvar", :class =>"btn btn-primary"

