%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibular
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Importação
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Arquivos Importados
      .p-4
        %table.table.table-hover
          %tr
            %th Data da Importação
            %th Nome do Arquivo
            %th Usuário
            %th Ações
          - for file_import in @file_imports
            %tr
              %td= I18n.localize(file_import.created_at, :format => :long)
              %td= file_import.fileimport.original_filename
              %td= file_import.user.name
              %td
                =link_to 'Visualizar', [:admin, file_import], :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Novo Arquivo de Importação", new_admin_file_import_path, :class => "btn btn-primary"