%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibular
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Importação
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title Novo Arquivo de Importação
        .p-4
          %p
            %b Aviso:
            %br
            O arquivo de importação devem estar no formato csv, separado por ; (ponto e virgula).
            %br
            Todos os registros encontrados serão atualizados para os dados contidos no arquivo,
            %b não sendo possivel a recuperação dos valores anteriores.
            %br
            Por padrão o sistema desconsidera a primeira linha geralmente deixada para o titulo da coluna.
            %br
            Para fins de importação o sistema está considerando:
            %br
            %ul
              %li 2ª Coluna (Inscrição) é o código de Inscrição do Aluno
              %li 37ª Coluna (Total) é o valor aplicado para Nota das Alternativas
          = render 'form'
        .card-footer
          %p
            = link_to "Visualizar Todos", admin_file_imports_path, :class => "btn btn-default"

