%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibular
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Importação
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title
            Arquivo Importado -
            = @file_import.fileimport.original_filename
        .p-4
          %p
            %strong Importados com Sucesso:
            %br
            = raw(@file_import.log)
          %p
            %strong Erro de Importação:
            %br
            = @file_import.error.blank? ? "Nenhum erro encontrado na importação" : raw(@file_import.error)
          %p
            %strong Usuário da Importação:
            = @file_import.user.name
          %p
            %strong Data da Importação:
            = I18n.localize(@file_import.created_at, :format => :long)
        .card-footer
          %p
            = link_to "Visualizar Todos", admin_file_imports_path, :class => "btn btn-default"


