- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"

- content_for :footer do
  = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"

  :javascript
    var table = $('#ShowReport').dataTable({
        "order": [[ 0, "desc" ]]
    } );

%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Contatos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Contatos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header

%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Contatos Cadastrados
      .p-4

        %table.table.table-hover#ShowReport
          %thead
            %tr
              %th Protocolo
              %th Nome
              %th Email
              %th Departamento
              %th Data
              %th Ações
          %tbody
            - for contact in @contacts
              %tr
                %td= contact.id
                %td= contact.name
                %td= contact.email
                %td= contact.department.name
                %td= I18n.localize(contact.created_at, :format => :date_default)
                %td= link_to 'Visualizar', [:admin, contact], :class => "btn btn-default"



