%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Contatos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Contatos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @contact.name
        .p-4
          .box-body
            %strong Protocolo:
            = @contact.id
          .box-body
            %strong Data:
            = I18n.localize(@contact.created_at, :format => :date_default)
          .box-body
            %strong Email:
            = @contact.email
          .box-body
            %strong Telefone:
            = @contact.phone
          .box-body
            %strong Departamento:
            = @contact.department.name
          .box-body
            %strong Mensagem:
            = @contact.message
        .card-footer
          %p
            = link_to "Visualizar Todos", admin_contacts_path, :class => "btn btn-default"

