%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Trabalhe Conosco
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Trabalhe Conosco
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header

%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Curriculos
      .card-body.table-responsive.no-padding

        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Protocolo
              %th Nome
              %th Email
              %th Data
              %th Ações
          %tbody
            - for work in @works
              %tr
                %td= work.id
                %td= work.name
                %td= work.email
                %td= I18n.localize(work.created_at, :format => :date_default)
                %td= link_to 'Visualizar', [:admin, work], :class => "btn btn-default"

