%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Trabalhe Conosco
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Trabalhe Conosco
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @work.name
        .card-body
          %strong Protocolo:
          = @work.id
        .card-body
          %strong Data:
          = I18n.localize(@work.created_at, :format => :date_default)
        .card-body
          %strong Email:
          = @work.email
        .card-body
          %strong Telefone:
          = @work.phone
        .card-body
          %strong Mensagem:
          = @work.message
        .card-body
          %strong Curriculo
          =link_to("Baixar", @work.attachment_work.url)

        .card-footer
          = link_to "Visualizar Todos", admin_works_path, :class => "btn btn-default"
