- content_for :head do 
  = stylesheet_link_tag "jquery.tagsinput.css"
- content_for :footer do 
  = javascript_include_tag "jquery.tagsinput.min.js"
  :javascript
    $('.tags').tagsInput({
      'width':'100%',
      'height':'42px',
      'removeWithBackspace' : true,
      'defaultText':'+ item'
    });
= form_for [:admin, @sheet] do |f| 
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
    = f.error_messages
  .box-body
    %p *Utilize a ","(virgula) para adicionar mais de um item
    .form-group
      = f.label :name, "Nome"
      = f.text_field :name, :class => "form-control tags"   
    .form-group  
      = f.label :email, "Email"
      = f.text_field :email, :class => "form-control tags"   
    .form-group    
      = f.label :ra, "RA"
      = f.text_field :ra, :class => "form-control tags"   
    .form-group 
      = f.label :author, "Autor"
      = f.text_field :author, :class => "form-control"   
    .form-group    
      = f.label :advisor, "Orientador"
      = f.text_field :advisor, :class => "form-control"   
    .form-group
      = f.label :title_subtitle, "Titulo e Subtitulo do Trabalho"
      = f.text_field :title_subtitle, :class => "form-control"   
    .form-group
      = f.label :class_name_id, "Curso"       
      = f.select :class_name_id, @class_names,{ :prompt=>"Selecione um Curso"}, {:class => "form-control"}
    .form-group   
      = f.label :code_name, "Sobrenome Internacional e Nacional"
      = f.text_field :code_name, :class => "form-control"
    .form-group   
      = f.label :number_pages, "Numero de páginas"
      = f.number_field :number_pages, :class => "form-control"   
    .form-group  
      = f.label :number_illustrations, "Numero de Ilustrações"
      = f.number_field :number_illustrations, :class => "form-control"   
    .form-group    
      = f.label :keywords, "Palavras-chave (máximo 4)"
      = f.text_field :keywords, :class => "form-control tags"   
    .form-group    
      = f.label :additional_information, "Informações Adicionais"
      = f.text_area :additional_information, :class => "form-control"   
      
    = f.submit "Salvar"