%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Fichas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Fichas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Ficha catalográfica cadastradas
      .card-body.table-responsive.no-padding
        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Nome
              %th Email
              %th RA
              %th Autor
              %th Ações
          %tbody
            - for sheet in @sheets
              %tr
                %td= sheet.name
                %td= sheet.email
                %td= sheet.ra
                %td= sheet.author
                %td
                  =link_to 'Visualizar', [:admin, sheet], :class => "btn btn-default"
                  =link_to 'Editar', edit_admin_sheet_path(sheet), :class => "btn btn-default"
                  =link_to 'Excluir', [:admin, sheet], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Nova Ficha", new_admin_sheet_path, :class => "btn btn-primary"
