- content_for :head do
  = stylesheet_link_tag "ficha_catalografica"
%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Fichas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Fichas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title Ficha Catalográfica - #{@sheet.name}
        .card-body
          %p
            %strong Nome:
            = @sheet.name
          %p
            %strong Email:
            = @sheet.email
          %p
            %strong RA:
            = @sheet.ra
          %p
            %strong Autor:
            = @sheet.author
          %p
            %strong Orientador:
            = @sheet.advisor
          %p
            %strong Titulo e Subtitulo do Trabalho:
            = @sheet.title_subtitle
          %p
            %strong Curso:
            = @sheet.class_name.name
          %p
            %strong CDD:
            = @sheet.class_name.cdd
          %p
            %strong PHA:
            = @sheet.class_name.pha
          %p
            %strong Sobrenome Internacional e Nacional:
            = @sheet.code_name
          %p
            %strong Numero de páginas:
            = @sheet.number_pages
          %p
            %strong Numero de Ilustrações:
            = @sheet.number_illustrations
          %p
            %strong Palavras-chave:
            = @sheet.keywords
          %p
            %strong Informações Adicionais:
            %br
            = @sheet.additional_information

          %p
            %strong Modelo da Ficha:
          #ficha_catalografica
            %p.titulo FICHA CATALOGRÁFICA
            %br
            %p.responsavel Dados da catalogação elaborados por Reinaldo David dos Santos. Bibliotecário CRB 8 7643
            %hr.hr_responsavel
            .content_ficha
              %p.pha
                =@sheet.class_name.pha
              %p
                %span#code_name=@sheet.code_name
                -name_show = @sheet.name.split(",").first
                =inverte_sobrenome(name_show)+"."

              %p
                %span.titulo_desc
                  =@sheet.title_subtitle+" / "
                  =@sheet.name.split(",").first+". "
                  Bragança Paulista, SP: FESB,
                  ="#{@sheet.created_at.strftime("%Y")}."
              %p
                = @sheet.number_pages.to_s+" p."
                = @sheet.number_illustrations.to_s+" il."
              %p
                Orientador:
                = @sheet.advisor+"."
              %p
                Trabalho de Conclusão de Curso – Faculdade de Ciências e Letras de Bragança
                %br
                Paulista,
                = @sheet.class_name.name+"."
              %p.descricao
                - i = 1
                - @sheet.keywords.split(",").each do |keyword|
                  = i.to_s+". "+keyword+". "
                  - i += 1
                  - numeros_romanos = [[1, "I"]]
                I. #{@sheet.advisor}. II. #{@sheet.name}. III. Faculdade de Ciências e Letras de Bragança Paulista, #{@sheet.class_name.name}. IV. Título.
              %p
                %span.data=@sheet.created_at.strftime("%d.%m.%y")
                %span.codigocdd
                  CDD
                  =@sheet.class_name.cdd
            %hr
        .card-footer
          %p
            = link_to "Editar", edit_admin_sheet_path(@sheet), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_sheets_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @sheet], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
            = link_to "Exportar CSV", export_csv_admin_sheet_path(@sheet), :class => "btn btn-default"

