<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">  
<HTML>  
 <HEAD>  
    <STYLE type="text/css">
      #ficha_catalografica{
      	width:210mm;
      	height:297mm;
      	padding:23mm 30mm;
      	font-family: "Times New Roman", Times, serif;
      	padding-top:350px;
      	left: 50%;
      	position: relative;
      	margin-left: -105mm;
      	margin-bottom: 50px;
      }
      	.titulo{
      		text-align: center;		
      		font-size:14.0pt;
      		text-transform:uppercase;
      	}
      	.responsavel{
      		text-align: center;
      		font-size:8.0pt;
      		text-transform:uppercase;
      	}
      	#ficha_catalografica hr{
      		border-top: 1px solid black;
      	}
      	.content_ficha{
      		margin-left:10mm;
      	}
      	.cod_show{
      		margin-left:-10mm;	
      	}
      	.titulo_desc{
      		margin-left:12mm;
      	}
      	.descricao{
      		font-size:11.0pt;
      	}
      	.data{
      		margin-left:10mm;	
      	}
      	.codigocdd{
      		margin-left:80mm;
      	}
    
    </STYLE>  
   
  </HEAD>  
  <BODY>
    <div id="ficha_catalografica">
      <p class="titulo">FICHA CATALOGRÁFICA</p>
      <br>
      <p class="responsavel">Dados da catalogação elaborados por Reinaldo David dos Santos. Bibliotecário CRB 8</p>
      <hr>
      <div class="content_ficha">
        <p></p>
        Silva, Bruno Vinicius da.
        <p>
          <span class="titulo_desc">
            TituloTeste /
            Bruno Vinicius da Silva,Ana Gracielly Pedroso.
            Bragança Paulista, SP: FESB, 2014.
          </span>
        </p>
        <p>
          10 p.
          3 il.
        </p>
        <p style="word-spacing: 7px;">
          Orientador:
          SupervisorTeste.
        </p>
        <p>
          Trabalho de Conclusão de Curso – Faculdade de Ciências e Letras de Bragança
          <br>
          Paulista,
          Ciências Biológicas.
        </p>
        <p class="descricao">
          1. funções.
          2. operações.
          3. calculo.
          4. conjuntos.
          I. SupervisorTeste. II. Bruno Vinicius da Silva,Ana Gracielly Pedroso. III. Faculdade de Ciências e Letras de Bragança Paulista, Ciências Biológicas. IV. Título.
        </p>
        <p>
          <span class="data">14.10.14</span>
          <span class="codigocdd">Ciências Biológicas</span>
        </p>
      </div>
      <hr>
    </div>
                  
  </BODY>  
</HTML>