<% title "Admin/Cities" %>

<table>
  <tr>
    <th>State</th>
    <th>Title</th>
  </tr>
  <% for city in @cities %>
    <tr>
      <td><%= city.state %></td>
      <td><%= city.title %></td>
      <td><%= link_to "Show", [:admin, city] %></td>
      <td><%= link_to "Edit", edit_admin_city_path(city) %></td>
      <td><%= link_to "Destroy", [:admin, city], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/City", new_admin_city_path %></p>
