<% title "Admin/City" %>

<p>
  <strong>State:</strong>
  <%= @city.state %>
</p>
<p>
  <strong>Title:</strong>
  <%= @city.title %>
</p>

<p>
  <%= link_to "Edit", edit_admin_city_path(@city) %> |
  <%= link_to "Destroy", [:admin, @city], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_cities_path %>
</p>
