= form_for [@redacao] do |f|
  %fieldset
    .row
      -if f.error_messages
        .alert.alert-danger.alert-dismissable.col-12
          %i.fa.fa-ban
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          = f.error_messages
      .form-group.col-sm-6
        = f.label :name, "Nome:"
        = f.text_field :name, :placeholder => "Preencha o seu nome", :class => "form-control"
      .form-group.col-sm-6
        = f.label :email, "E-mail:"
        = f.text_field :email, :placeholder => "Preencha o seu e-mail", :class => "form-control"
    .row
      .form-group.col-sm-6
        = f.label :cpf, "CPF:"
        = f.text_field :cpf, :placeholder => "Preencha o seu CPF", :class => "form-control"
      .form-group.col-sm-6
        = f.label :cell, "Celular:"
        = f.text_field :cell, :placeholder => "ex: (00) 000000000", :class => "form-control"
      .form-group.col-sm-12
        = f.label :curso, "Curso:"
        = f.collection_select(:curso, @class_names, :name, :name, {:prompt   => "Selecione um curso"}, {:id => 'curso', :class => "custom-select"})

    = f.submit "Enviar", :class => "button nav-subscribe-btn px-md-5 py-3 text-white mt-5 px-4 submit-form", :data => { :disable_with=> "Aguarde..." }
.clearfix

-content_for :footer do

  :javascript
    $('#redacao_cell').mask('(00) 000000000');
    $('#redacao_cpf').mask('00000000000');