.exam-section.mb-5.py-5
  .container.text-center.mt-2
    %h4
      = "Elabore um texto contando um pouco sobre sua história e por quê você se interessou pelo curso '#{@redacao.curso}'"
      
    = form_for [@redacao] do |f|
      %fieldset
        .row.mt-4
          .form-group.col-sm-12
            = f.label :essay, "Redação"
            = f.text_area :essay, :placeholder => "Escreva aqui a sua redação de 250 a 300 palavras", :class => "form-control big-text", :rows => "8"
            %small.float-left
              %strong
                *o texto deverá conter entre 250 a 300 palavras.
            .float-right
              %span#chars 300
              palavaras restantes.

        = f.submit "Enviar", :class => "button nav-subscribe-btn px-md-5 py-3 text-white mt-5 px-4 submit-form", :data => { :disable_with=> "Aguarde..." }

-content_for :footer do

  :javascript
    var maxLength = 300;
    $('#redacao_essay').keyup(function() {
      var length = $(this).val().split(/\s+/).length;
      var length = maxLength-length;
      $('#chars').text(length);
    });

    $('.submit-form').on('click', function(e){
      e.preventDefault();

      var minLength = 250;
      var maxLength = 300;
      var $textarea = $('#redacao_essay').val().split(/\s+/).length;

      if($textarea < minLength) {
         swal({
            title: "Oops...",
            text: "Você precisar escrever pelo menos " + minLength + " palavras.",
            type: "warning",
            confirmButtonColor: "#014687",
            confirmButtonText: "Ok"
          });
      }
      else if($textarea > maxLength){
        swal({
            title: "Oops...",
            text: "A redação não pode ter mais que " + maxLength + " palavras.",
            type: "warning",
            confirmButtonColor: "#014687",
            confirmButtonText: "Ok"
          });
      }
      else{
        $("form").submit();
      }

    });