.exam-section.mb-5.py-5
  .container.text-center.mt-2
    %h4 Cadastro Vestibular de Inverno
    .my-4
    = render 'form'
    .my-5
      %span
        Já fez o cadastro mas não fez a redação?
        %a{:href => "/redacao"} clique aqui
        para fazer sua redação! :)
      %span.d-block
        %a{:href=>"/EDITALinverno_2019.pdf", :target=>"_blank"} Cliquei aqui        
        para ver o edital do vestibular de inverno!
      .row.mt-5.text-justify
        .col-md-6.my-3
          %strong Educação Física Licenciatura:
          %p{:style => "\n"} O curso de Licenciatura em Educação Física promove conhecimentos sobre o ser humano e as práticas corporais (esporte, jogo, ginástica, danças e lutas) por ele realizadas.
        .col-md-6.my-3
          %strong Ciências Biológicas Licenciatura::
          %p O licenciado em Ciências Biológicas está apto a lecionar Biologia no ensino médio e, no ensino fundamental, pode atuar como educador ambiental ou docente de Ciências.
        .col-md-6.my-3
          %strong História:
          %p O licenciado em História atuará nos anos finais do Ensino Fundamental e Ensino Médio, bem como exercer atividades nos diversos campos da produção e divulgação do conhecimento histórico.
        .col-md-6.my-3
          %strong Letras:
          %p A atuação deste profissional em ensino de línguas concentra-se em escolas de Ensino Fundamental e Médio e também em editoras e empresas com atividades relacionadas à revisão e à tradução textuais.
        .col-md-6.my-3
          %strong Serviço Social:
          %p Buscamos formar assistentes sociais capazes de intervir e construir conhecimentos numa perspectiva crítico-científica, auxiliando principalmente aqueles em situação de vulnerabilidade social a buscar e fazer valer seus direitos como cidadão.
