.exam-section.mb-5.py-5
  .container.text-center.mt-2
    %h4 Insira seu CPF para escrever sua redação
    .my-4
      .row
        -if flash[:notice]
          .alert.alert-danger.alert-dismissable.w-100
            %i.fa.fa-ban
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
            = flash[:notice]
        .form-group.col-sm-12
          = form_tag(find_essay_redacaos_path, :method => :get, :id=> "search_form") do 
            = text_field_tag 'cpf', nil, :id=>"cpf", :class => "form-control", :placeholder => "Preencha seu CPF"
            %input{:type => "submit", :value => "Enviar", :class => "button nav-subscribe-btn px-md-5 py-3 text-white mt-5 px-4 submit-form", :data => { :disable_with=> "Aguarde..." }}/
      
.clearfix

-content_for :footer do

  :javascript
    $('#cpf').mask('00000000000');