.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} pré-inscrição
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.mx-auto.text-center.text-white
        %span
          Pré-Matrícula
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold Formulário de Pré-Matrícula
    .clearfix
    = form_for [@pre_subscribe] do |f|
      .row
        .form-group.col-12
          = f.label :class_name_id, "Curso: "
          = f.hidden_field :class_name_id, :class => "form-control"
          %input{:disabled => "", :name => "Curso", :type => "text", :value => "#{@class_name.name}", :class => "form-control"}/
        .form-group.col-sm-6
          = f.label :name, "Nome*"
          = f.text_field :name, :placeholder => "Preencha o seu nome", :class => "form-control", :required => true
        .form-group.col-sm-6
          = f.label :social_name, "Nome Social"
          = f.text_field :social_name, :placeholder => "Preencha o seu nome social", :class => "form-control"
        .form-group.col-sm-6
          = f.label :birthday, "Data de Náscimento*"
          = f.text_field :birthday, :placeholder => "00/00/0000", :class => "form-control", :required => true
        .form-group.col-sm-6
          = f.label :email, "Email*"
          = f.text_field :email, :placeholder => "Preencha o seu email", :class => "form-control", :required => true
        .form-group.col-sm-6
          = f.label :rg, "RG*:"
          = f.text_field :rg, :placeholder => "Preencha o seu RG", :class => "form-control", :required => true
        .form-group.col-sm-6
          = f.label :cpf, "CPF:*"
          = f.text_field :cpf, :placeholder => "Preencha o seu CPF", :class => "form-control", :required => true
        .form-group.col-sm-6
          = f.label :phone, "Telefone*"
          = f.text_field :phone, :placeholder => "ex: (00) 0000-0000", :class => "form-control", :required => true
        .form-group.col-sm-6
          = f.label :graduate_class, "Curso de Graduação"
          = f.text_field :graduate_class, :placeholder => "Preencha sua curso de graduação", :class => "form-control"
        .form-group.col-sm-6
          = f.label :graduate_year, "Ano de formação"
          = f.text_field :graduate_year, :placeholder => "Preencha seu ano de formação", :class => "form-control"
        .form-group.col-sm-6
          = f.label :graduate_institution, "Instituição de formação"
          = f.text_field :graduate_institution, :placeholder => "Preencha sua instituição de formação", :class => "form-control"
      .clearfix
        / %p.primary-font-color.px-5 Informamos que o início do curso está previsto para o mês de abril de 2019. Até esta data entraremos em contato para a efetivação da matrícula.
        %p.primary-font-color.px-5= "Caso o número de interessados na #{@class_name.class_category.id == 2 ? 'pós-graduação' : 'extensão'} não atinja o número mínimo necessário para a abertura de turma, será feita a devolução integral da taxa de matrícula."

        %input.btn.enviar.pull-right{:type => "submit", :value => "Enviar", :class => "btn primary-background-color text-white btn-primary",:data => { :disable_with => "Aguarde..." }}
    .clearfix

-content_for :footer do
  :javascript
    $('#pre_subscribe_birthday').mask('00/00/0000');