.exam-section.page-intern-margin
  .gray3-background.py-3
    .container
      %ul.breadcrumb.m-0.text-uppercase
        %li.breadcrumb-item
          %a.primary-font-color{:href => root_path} home
        %li.breadcrumb-item
          %a.primary-font-color{:href => "#"} pré-inscrição
  .container-fluid.banner-curso.p-0.w-100
    .text-banner
      %h1.mx-auto.text-center.text-white
        %span
          Pré-Matrícula
    =image_tag("/assets/topos/exam-banner.jpg", :class=> "img-fluid w-100")
  .container.gray1-background.mb-5.pb-5.px-5
    %h1.primary-font-color.text-uppercase.py-4.px-5.font-weight-bold Formulário de Pré-Matrícula
    .clearfix
    %h2.text-center Formulário Enviado
    %br
    %p.text-center Agradecemos o seu contato.
    -if @class_name.class_category.id == 2
      .text-center.my-5
        %a.mx-auto.mt-5.primary-button.text-uppercase.py-3.px-5.btn-success.text-white.text-center{:href => "https://pag.ae/7UJx7Y2em", :target => "_blank"}
          Pague agora sua inscrição
    / %p.primary-font-color.px-5 DIRIJA-SE A SECRETARIA DA FESB ( em até um dia útil) para EFETIVAÇÃO DA MATRÍCULA. Somente após este procedimento a efetivação de sua matrícula será finalizada.
    %p.primary-font-color.px-5 O eventual NÃO oferecimento do curso será comunicado aos alunos até três dias antes do início do curso. Neste caso, a devolução do pagamento deverá ser requerida junto a Secretaria da FESB até um mês após a data prevista para início do curso.