.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        Busca 

    %h1
      Busca pelo termo:
      = params[:search] 
    .internal-list
      - if @warnings.blank?        

        Nenhum resultado foi encontrado
      -else
        %ul.internal-list
          -@warnings.each do |warning|
            %article.canaldoaluno
              =raw("<div class='label #{show_type_color(warning.type_warning_id)}'>#{warning.type_warning.name}</div>") 
              .label.label-primary
              .published=I18n.localize(warning.created_at, :format => :date_default) 
              %h2=warning.name
              %p= truncate(warning.description, :length => 250, :separator => ' ').html_safe 
              %p.text-right
                - if warning.type_warning.id ==1 or warning.type_warning.id ==4
                  =link_to("Saiba mais", channel_student_display_path(warning.type_warning.url_slug, warning.url_slug))   
                - else 
                  =link_to("Download", warning.warning_file.url(:original, false), :target=>"_blank")