<section class="home-section" style="margin-top: 120px;">
  <div class="container-fluid">
    <section class="banner-section">
      <div class="row">
        <div id="home-banners" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @highlights_top.each_with_index do |highlight, x| %>
              <li data-target="#home-banners" data-slide-to="<%= x%>" class="<%= 'active' if x == 0 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% if @highlights_top.count > 0 %>
              <% @highlights_top.each_with_index do |highlight, x| %>
                <div class="carousel-item <%= "active" if x == 0 %>">
                  <% if highlight.highlight_file.file? %>
                    <%= link_to(image_tag(highlight.high_img.url(), :class => "d-block img-fluid"), highlight.highlight_file.url, :target => "_blank") %>
                  <% else %>
                    <% if highlight.link.blank? %>
                      <div>
                        <%= image_tag(highlight.high_img.url(),  :class => "d-block img-fluid")  %>
                      </div>
                    <% else %>
                      <%= link_to(image_tag(highlight.high_img.url(),  :class => "d-block img-fluid"), highlight.link, :target => highlight.target) %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <section class="news-section">
      <div class="container">
        <div class="row">
          <h1 class="text-uppercase font-weight-bold primary-font-color py-4">notícias</h1>
        </div>
      </div>
      <div class="container-fluid p-0">
        <div class="row">
          <div class="news-div w-100 gray1-background p-5">
            <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <% @warnings.take(4).each do |warning| %>
                    <div class="col-md-6">
                      <%= image_tag(warning.warning_image.url("thumb_home"), :class=>"img-fluid mx-auto d-block") if warning.warning_image.file?%>
                      <span class="primary-font-color font-weight-bold pt-2"><%= warning.short_description%></span>
                      <p class="font-weight-bold">
                        <%= truncate(raw(warning.description), :length => 120, :separator => ' ').html_safe %>
                        <%= link_to(" leia mais", channel_student_display_path(warning.type_warning.url_slug, warning.url_slug)) %>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-4">
                <a href="<%= recipes_path %>" >
                  <img src="/assets/curso-de-nutricao.png" class="img-fluid">
                </a>
              </div>
            </div>              
              <!-- <div class="multiple-items" id="newsSlide">
                <% @warnings.each do |warning| %>
                  <div class="new-slide-item px-3">
                    <%= image_tag(warning.warning_image.url("thumb_home"), :class=>"img-fluid mx-auto") if warning.warning_image.file?%>
                    <span class="primary-font-color font-weight-bold pt-2"><%= warning.short_description%></span>
                    <p class="font-weight-bold">
                      <%= truncate(raw(warning.description), :length => 120, :separator => ' ').html_safe %>
                      <%= link_to(" leia mais", channel_student_display_path(warning.type_warning.url_slug, warning.url_slug)) %>
                    </p>
                  </div>
                <% end %>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="integrafesb-section">
      <div class="container-fluid p-0">
        <div class="row primary-background-color p-0">
          <div class="container">
            <h1 class="text-uppercase font-weight-bold text-white py-4">integrafesb</h1>
          </div>
        </div>
        <div class="integrafesb-div row">
          <div class="container py-5">
            <div class="row p-5">
              <div class="integrafesb-item coral col-sm-6 col-md-4 p-0">
                <img src="/assets/integrafesb/img1.jpg" class="img-fluid">
                <div class="integrafesb-content-vertical-bottom coral-content text-white text-center p-2 p-lg-3">
                  <h3>CORAL<small class="d-block hidden-lg-up">clique para ver mais</small></h3>
                  <span>QUE CANTAR FAZ BEM A SAÚDE JÁ É CONHECIDO POR TODO MUNDO, E SOLTAR A VOZ TRAZ INÚMEROS BENEFÍCIOS FÍSICOS E PSÍQUICOS.</span>
                  <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions">Saiba mais ></a>
                </div>
              </div>
              <div class="integrafesb-item nafe col-sm-6 col-md-4 p-0">
                <img src="/assets/integrafesb/niep.jpg" class="img-fluid">
                <div class="integrafesb-content-vertical-top nafe-content text-white text-center py-2 py-lg-3">
                  <h3>NIEPP<small class="d-block hidden-lg-up pt-5">clique para ver mais</small></h3>
                  <span>NÚCLEO INTERDISCIPLINAR DE ESTUDOS PEDAGÓGICOS E DE PESQUISA</span>
                  <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions?niep=" >Saiba mais ></a>
                </div>
              </div>
              <div class="integrafesb-item hvet col-sm-6 col-md-4 p-0">
                <img src="/assets/integrafesb/img3.jpg" class="img-fluid">
                <div class="integrafesb-content-horizontal-right ggd-content text-white text-center py-2 py-lg-3">
                  <h3>HVET<small class="d-block hidden-lg-up">clique para ver mais</small></h3>
                  <span>O HOSPITAL VETERINÁRIO É UMA NECESSIDADE IMPRESCINDÍVEL NA FORMAÇÃO DE QUALIDADE DO MÉDICO VETERINÁRIO</span>
                  <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions?hvet=">Saiba mais ></a>
                </div>
              </div>
              <div class="integrafesb-item ceef col-sm-6 col-md-6 p-0">
                <img src="/assets/integrafesb/img4.jpg" class="img-fluid">
                <div class="integrafesb-content-horizontal-left ceef-content text-white text-center py-2 py-lg-3">
                  <h3>CEEF<small class="d-block hidden-lg-up pt-5">clique para ver mais</small></h3>
                  <span>O CENTRO DE ESTUDOS DE EDUCAÇÃO FÍSICA PROPORCIONA AULAS QUE ESTIMULAM A PRÁTICA DE EXERCÍCIOS</span>
                  <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions?ceef=">Saiba mais ></a>
                </div>
              </div>
              <div class="integrafesb-item nutri col-sm-6 col-md-6 p-0">
                <img src="/assets/integrafesb/img5.jpg" class="img-fluid">
                <div class="integrafesb-content-vertical-top hvet-content text-white text-center p-2 p-lg-3">
                  <h3>NUTRIFESB<small class="d-block hidden-lg-up">clique para ver mais</small></h3>
                  <span>O AMBULATÓRIO DE NUTRIÇÃO DA FESB PROPORCIONA A TODOS UM ACOMPANHAMENTO CLÍNICO NUTRICIONAL POR MEIO DE CONSULTAS E INDIVIDUALIZADAS. </span>
                  <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions?nutri=">Saiba mais ></a>
                </div>
              </div>
              <!-- <div class="integrafesb-item ggd col-sm-6 col-md-4 p-0">
                <img src="/assets/integrafesb/img6.jpg" class="img-fluid">
                <div class="integrafesb-content-vertical-bottom nutri-content text-white text-center p-2 p-lg-3">
                  <h3>GGD<small class="d-block hidden-lg-up pt-5">clique para ver mais</small></h3>
                  <span>O GGD (GRUPO DE GINÁSTICA E DANÇA) DA FESB, UM PROJETO ELABORADO ESPECIALMENTE PARA TODOS QUE QUEREM CRIAR HÁBITOS SAUDÁVEIS</span>
                  <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions?ggd=">Saiba mais ></a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="partners-section">
      <div class="container">
        <div class="row">
          <h1 class="text-uppercase font-weight-bold primary-font-color py-4">Parceiros</h1>
        </div>
      </div>
      <div class="container-fluid p-0">
        <div class="row">
          <div class="news-div w-100 gray1-background p-5">
            <div class="container">
              <div class="multiple-items" id="newsSlidePartners">
                <div class="new-slide-item px-3">
                  <img src="assets/logo_alta_cdl_braganca.jpg" class="img-fluid mx-auto my-4 py-1">
                </div>
                <div class="new-slide-item px-3">
                  <img src="assets/LOGO IDD.jpg" class="img-fluid mx-auto">
                </div>
                <div class="new-slide-item px-3">
                  <img src="assets/LOGO-COLORIDA-EFEITO-TRANSFORMANDO-VIDAS.jpg" class="img-fluid mx-auto my-4 py-1">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="student-channel-appointment-section">
      <div class="container-fluid p-0">
        <div class="row p-0">
          <div class="col-lg-6 text-center">
            <h1 class="text-uppercase font-weight-bold primary-font-color py-4">agenda</h1>
          </div>
          <div class="col-lg-6 primary-background-color text-center hidden-md-down">
            <h1 class="text-uppercase font-weight-bold text-white py-4">canal do aluno</h1>
          </div>
        </div>
        <div class="row p-0 gray1-background">
          <div class="col-lg-6 my-5 px-5 schedule-content">
            <% if @schedules.count > 0 %>
              <ul class="agendaLinks">
                <% @schedules.each do |schedule|    %>
                  <li class="schedule-item pb-3">
                    <a class="row align-items-center" href='<%= schedule.attach.file? ? schedule.attach.url : "javascript:void;" %>' target='<%= schedule.attach.file? ? "_blank" : "" %>'>
                      <div class="schedule-date col-2 text-center text-white font-weight-bold">
                        <% if schedule.schedule_date_end.nil? %>
                          <span class="schedule-day">
                            <%= I18n.localize(schedule.schedule_date, :format => :show_home) %>
                            <% if schedule.schedule_time.present? %>
                              <small>às <%= schedule.schedule_time.strftime("%H:%M")%></small>
                            <% end %>
                          </span>
                        <% else %>
                          <span class="schedule-day text-center">
                            <%= raw("#{I18n.localize(schedule.schedule_date, :format => :show_home)} <br>a<br> #{I18n.localize(schedule.schedule_date_end, :format => :show_home)}") %>
                            <% if schedule.schedule_time.present? %>
                              <small>às <%= schedule.schedule_time.strftime("%H:%M")%></small>
                            <% end %>
                          </span>
                        <% end %>
                      </div>
                      <span class="schedule-title primary-font-color col-8">
                        <h3><%= schedule.name %></h3>

                        <% if !schedule.description.blank? %>
                          <p>
                            <%= schedule.description %>
                            <% if schedule.attach.file? %>
                              Download do Arquivo
                            <% end %>
                          </p>
                        <% end %>
                        <% if schedule.attach.file? && schedule.description.blank? %>
                          Download do Arquivo
                        <% end %>
                      </span>
                    </a>
                    <div class="clearfix"></div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="col-lg-6 p-0">
            <div class="primary-background-color text-center hidden-lg-up">
              <h1 class="text-uppercase font-weight-bold text-white py-4">canal do aluno</h1>
            </div>
            <div class="p-5">
              <div class="px-3">
                <% @warnings_channel.first(3).each do |warning| %>
                  <article class="canaldoaluno primary-font-color">
                    <div class="list-inline">
                      <div class="list-inline-item badge warning-type-<%= warning.type_warning_id %> font-weight-bold px-4 py-2">
                        <%= warning.type_warning.name %>
                      </div>
                      <div class="list-inline-item pl-3">
                        <%= I18n.localize(warning.created_at, :format => :date_default)  %>
                      </div>
                    </div>
                    <h3 class="pt-4"><%= warning.name %></h3>
                    <p>
                      <%= truncate(warning.description, :length => 250).html_safe  %>
                    </p>
                    <p class="text-right">
                      <% if warning.type_warning.id ==1 or warning.type_warning.id ==4 %>
                        <%= link_to("Saiba mais", channel_student_display_path(warning.type_warning.url_slug, warning.url_slug))    %>
                      <% else  %>
                        <%= link_to("Download", warning.warning_file.url(:original, false), :target=>"_blank")  %>
                      <% end %>
                    </p>
                  </article>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</section>