.container-fluid.slide-container
  #slide.cycle-slideshow{ "data-cycle-pager" => "#pager", "data-cycle-timeout" => "10000", "data-cycle-slides" => "> div", "data-cycle-pager-template"=>"<a href='#' class=''></a>"}
    
    -if @highlights_top.count > 0
      -@highlights_top.each do |highlight|
        .div
          -if highlight.highlight_file.file?
            = link_to(image_tag(highlight.high_img.url(), :style=>"display: block; width: 100%; height: auto;"), highlight.highlight_file.url, :target => "_blank")
          -else
            -if highlight.link.blank?
              = image_tag(highlight.high_img.url(), :style=>"display: block; width: 100%; height: auto;") 
            -else
              = link_to(image_tag(highlight.high_img.url(), :style=>"display: block; width: 100%; height: auto;"), highlight.link, :target => highlight.target)
  .cycle-pager.hidden-xs#pager 
  .clearfix
%section#home-content
  .container
    .row
      -  if @warnings.count > 0 
        .canaldoaluno.col-sm-8.col-xs-12
          .title.text-center
            %h2 Notícias
          - @warnings.each do |warning|
            %article
              = image_tag(warning.warning_image.url("thumb_home"), :class=>"pull-left") if warning.warning_image.file?
              %h3=warning.short_description
              %p
                = truncate(raw(warning.description), :length => 200, :separator => ' ').html_safe
                =link_to(" leia mais", channel_student_display_path(warning.type_warning.url_slug, warning.url_slug))   

          .clearfix
          //.line 
        
      .col-sm-4.col-xs-12  
        -  if @schedules.count > 0   
          .title.text-center
            %h2 Agenda
          %ul.agendaLinks
            - @schedules.each do |schedule|   
              %li
                -if schedule.attach.file?
                  %a{:href => "#{schedule.attach.url}", :target => "_blank"}
                    %span.title
                      .date
                        -if schedule.schedule_date_end.nil?
                          %span.dia
                            =I18n.localize(schedule.schedule_date, :format => :show_home)
                        -else
                          %span.dia.text-center
                            =raw("#{I18n.localize(schedule.schedule_date, :format => :show_home)} <br>a<br> #{I18n.localize(schedule.schedule_date_end, :format => :show_home)}")
                            
                        %span.hora= !schedule.schedule_time.blank? ? I18n.localize(schedule.schedule_time, :format=>"%H:%M") : raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                      %h3=schedule.name
                      %p
                        = !schedule.description.blank? ? schedule.description : raw("&nbsp;&nbsp;")
                        -if schedule.attach.file?
                          Download do Arquivo
                -else
                  %a{:href => "javascript:void;"}
                    %span.title
                      .date
                        -if schedule.schedule_date_end.nil?
                          %span.dia
                            =I18n.localize(schedule.schedule_date, :format => :show_home)
                        -else
                          %span.dia.text-center
                            =raw("#{I18n.localize(schedule.schedule_date, :format => :show_home)} <br>a<br> #{I18n.localize(schedule.schedule_date_end, :format => :show_home)}")
                                                       
                        %span.hora= !schedule.schedule_time.blank? ? I18n.localize(schedule.schedule_time, :format=>"%H:%M") : raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                      %h3=schedule.name
                      %p
                        = !schedule.description.blank? ? schedule.description : raw("&nbsp;&nbsp;")
                
                .clearfix                     
          
        -if @highlights_lat.count > 0
          -@highlights_lat.each do |lat|
            =link_to(image_tag(lat.high_img.url(:lateral), :style => "margin-top:15px;"), lat.link, :target => lat.target)
          .clearfix
          //.line   
  .container-fluid.banner.text-center#slide_mid
    -if @highlights_mid.count > 0
      -@highlights_mid.each do |highlight|     
        -if highlight.link.blank?
          = image_tag(highlight.high_img.url(), :class=>"img-responsive") 
        -else
          = link_to(image_tag(highlight.high_img.url(), :class=>"img-responsive"), highlight.link, :target => highlight.target)  
  .container.itens
    %a{:href => institution_path("5-fotos-campus")}
      .col-sm-4.col-xs-12.show_campus
        %h2 Conheça o Campus
        = image_tag("img-1n.jpg", :class=>"img-responsive")
        %p A infraestrutura de nossa institução é planejada cuidadosamente para atender a todas as demandas acadêmicas.
    %a{:href => social_action_path("8-hvet")}
      .col-sm-4.col-xs-12.show_campus
        %h2 HVET
        // %br Hospital Veterinário da FESB
        = image_tag("img-2n.jpg", :class=>"img-responsive") 
        %p Em nosso hospital veterinário o seu animal de estimação recebe carinho, atenção e atendimento de qualidade.
    %a{:href => institution_path("3-convenios")}
      .col-sm-4.col-xs-12.show_campus
        %h2 Convênios
        = image_tag("img-3.jpg", :class=>"img-responsive") 
        %p Os melhores convênios para aproximá-lo de seu sonho.
