<section class="page-intern-margin">
  <div class="container gray1-background mb-5 p-5">
    <h1 class="display 3 primary-font-color text-uppercase pb-4 font-weight-bold">SAE FESB</h1>
    <p>
      O <strong>Serviço de Apoio ao Estudante</strong> – SAE foi criado com o objetivo
      de orientar o aluno, auxiliando-o na organização de seus
      estudos frente à nova realidade estudantil. Oferece também
      atendimento na resolução de conflitos sociais e acadêmicos
      que possam interferir no seu rendimento. Conta ainda com o
      Pronto Atendimento Psicológico, realizado em apenas uma
      sessão, caracterizando-se como atendimento de caráter
      emergencial com o propósito de oferecer ao aluno suporte em
      situação de crise que posteriormente será encaminhado para
      atendimento especializado fora da Instituição. O SAE está
      disponível para todos os alunos sem qualquer custo. Para
      agendar um horário o aluno ou o professor deverá solicitar ao
      coordenador do curso o encaminhamento através de formulário
      próprio.
    </p>
  </div>
</section>