<section class="channel-students-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="#">Busca</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>Busca</span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/topos/search-banner.jpg">
  </div>
  <div class="container gray1-background mb-5 pb-5 px-0">
    <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">busca pelo termo: <%= params[:search]%></h1>
    <div class="px-5" id="warnings">
      <%= render 'warnings'%>
    </div>
  </div>
</section>