<section class="integrafesb-section page-intern-margin">
  <div class="container-fluid p-0">
    <div class="integrafesb-div row">
      <div class="container py-5">
        <div class="row p-5">
          <div class="integrafesb-item coral col-sm-6 col-md-4 p-0">
            <img src="/assets/integrafesb/img1.jpg" class="img-fluid">
            <div class="integrafesb-content-vertical-bottom coral-content text-white text-center p-2 p-lg-3">
              <h3>CORAL<small class="d-block hidden-lg-up">clique para ver mais</small></h3>
              <span>QUE CANTAR FAZ BEM A SAÚDE JÁ É CONHECIDO POR TODO MUNDO, E SOLTAR A VOZ TRAZ INÚMEROS BENEFÍCIOS FÍSICOS E PSÍQUICOS.</span>
              <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions/10-coral">Saiba mais ></a>
            </div>
          </div>
          <div class="integrafesb-item nafe col-sm-6 col-md-4 p-0">
            <img src="/assets/integrafesb/img2.jpg" class="img-fluid">
            <div class="integrafesb-content-horizontal-right nafe-content text-white text-center py-2 py-lg-3">
              <h3>NAFE<small class="d-block hidden-lg-up pt-5">clique para ver mais</small></h3>
              <span>O NAFE DESENVOLVE UM TRABALHO COM CRIANÇAS E JOVENS</span>
              <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions/6-nafe" >Saiba mais ></a>
            </div>
          </div>
          <div class="integrafesb-item hvet col-sm-6 col-md-4 p-0">
            <img src="/assets/integrafesb/img3.jpg" class="img-fluid">
            <div class="integrafesb-content-vertical-top hvet-content text-white text-center p-2 p-lg-3">
              <h3>HVET<small class="d-block hidden-lg-up">clique para ver mais</small></h3>
              <span>O HOSPITAL VETERINÁRIO É UMA NECESSIDADE IMPRESCINDÍVEL NA FORMAÇÃO DE QUALIDADE DO MÉDICO VETERINÁRIO</span>
              <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions/8-hvet">Saiba mais ></a>
            </div>
          </div>
          <div class="integrafesb-item ceef col-sm-6 col-md-4 p-0">
            <img src="/assets/integrafesb/img4.jpg" class="img-fluid">
            <div class="integrafesb-content-horizontal-left ceef-content text-white text-center py-2 py-lg-3">
              <h3>CEEF<small class="d-block hidden-lg-up pt-5">clique para ver mais</small></h3>
              <span>O CENTRO DE ESTUDOS DE EDUCAÇÃO FÍSICA PROPORCIONA AULAS QUE ESTIMULAM A PRÁTICA DE EXERCÍCIOS</span>
              <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions/524-ceef">Saiba mais ></a>
            </div>
          </div>
          <div class="integrafesb-item nutri col-sm-6 col-md-4 p-0">
            <img src="/assets/integrafesb/img5.jpg" class="img-fluid">
            <div class="integrafesb-content-vertical-bottom nutri-content text-white text-center p-2 p-lg-3">
              <h3>NUTRIFESB<small class="d-block hidden-lg-up">clique para ver mais</small></h3>
              <span>O AMBULATÓRIO DE NUTRIÇÃO DA FESB PROPORCIONA A TODOS UM ACOMPANHAMENTO CLÍNICO NUTRICIONAL POR MEIO DE CONSULTAS GRATUITAS E INDIVIDUALIZADAS.</span>
              <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions/7-nutrifesb">Saiba mais ></a>
            </div>
          </div>
          <div class="integrafesb-item ggd col-sm-6 col-md-4 p-0">
            <img src="/assets/integrafesb/img6.jpg" class="img-fluid">
            <div class="integrafesb-content-horizontal-right ggd-content text-white text-center py-2 py-lg-3">
              <h3>GGD<small class="d-block hidden-lg-up pt-5">clique para ver mais</small></h3>
              <span>O GGD (GRUPO DE GINÁSTICA E DANÇA) DA FESB, UM PROJETO ELABORADO ESPECIALMENTE PARA TODOS QUE QUEREM CRIAR HÁBITOS SAUDÁVEIS</span>
              <a class="pt-2 pr-3 d-block text-right text-white text-uppercase" href="/social_actions/645-ggd">Saiba mais ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>