z<section class="libraries-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= social_actions_path %>">integrafesb</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>Nossos <span class="font-weight-bold">Projetos</span></span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/class/class-4.png">
  </div>
  <div class="container-fluid p-0 d-flex primary-background-color class-tabs">
    <ul class="tabs-custom nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-sm-down align-items-center">
      <li class="nav-item"><a class="nav-link <%= 'active' if !params[:niep] && !params[:hvet] && !params[:ceef] && !params[:nutri] && !params[:ggd] %> px-3 py-5" data-toggle="tab" href="#coral">Coral</a></li>
      <li class="nav-item"><a class="nav-link <%= 'active' if params[:niep]%> px-3 py-5" data-toggle="tab" href="#niep">Niepp</a></li>
      <li class="nav-item"><a class="nav-link <%= 'active' if params[:havet]%> px-3 py-5" data-toggle="tab" href="#hvet">Hvet</a></li>
      <li class="nav-item"><a class="nav-link <%= 'active' if params[:ceef]%> px-3 py-5" data-toggle="tab" href="#ceef">Ceef</a></li>
      <li class="nav-item"><a class="nav-link <%= 'active' if params[:nutri]%> px-3 py-5" data-toggle="tab" href="#nutri">Nutrifesb</a></li>
      <!-- <li class="nav-item"><a class="nav-link <%= 'active' if params[:ggd]%> px-3 py-5" data-toggle="tab" href="#ggd">ggd</a></li> -->
    </ul>
    <ul class="nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-md-up">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if !params[:niep] && !params[:hvet] && !params[:ceef] && !params[:nutri] && !params[:ggd] %> px-3 py-5" data-toggle="tab" href="#coral">Coral</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3 py-5" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">
           mais opções</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link <%= 'active' if params[:niep]%> px-3 py-5" data-toggle="tab" href="#niep">Niepp</a>
          <a class="dropdown-item nav-link <%= 'active' if params[:havet]%> px-3 py-5" data-toggle="tab" href="#hvet">Hvet</a>
          <a class="dropdown-item nav-link <%= 'active' if params[:ceef]%> px-3 py-5" data-toggle="tab" href="#ceef">Ceef</a>
          <a class="dropdown-item nav-link <%= 'active' if params[:nutri]%> px-3 py-5" data-toggle="tab" href="#nutri">Nutrifesb</a>
          <!-- <a class="dropdown-item nav-link <%= 'active' if params[:ggd]%> px-3 py-5" data-toggle="tab" href="#ggd">Ggd</a> -->
        </div>
      </li>
    </ul>
  </div>
  <div class="container gray1-background mb-5 pb-5 px-0">
    <div class="tab-content">
      <div class="tab-pane <%= 'in active' if !params[:niep] && !params[:hvet] && !params[:ceef] && !params[:nutri] && !params[:ggd] %>" id="coral">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">coral</h1>
        <div class="px-5">
          <p class="px-4">
             Que cantar faz bem a saúde já é conhecido por todo mundo, e soltar a voz traz inúmeros benefícios físicos e psíquicos.
            Já está mais do que provado cientificamente que o ato de cantar provoca reações muito positivas no cérebro: diminui o estresse, melhora a coordenação motora, fortalece o sistema imunológico, reduz sintomas de depressão e ansiedade (males bem recorrentes na sociedade moderna) e até, ajuda a preservar a pressão expiratória em pessoas com doenças pulmonares obstrutivas crônicas (DPOC) – como pesquisa da Universidade de São Paulo (USP), que analisou 43 pessoas portadoras das doenças.

            Através dos exercícios vocais, muitas pessoas conseguem diminuir ou até mesmo abandonar o uso do fumo, álcool, e drogas. Agentes, que prejudicam os pulmões e os reflexos auditivos e visuais.

            Cantar em Coral é uma válvula de escape positiva na vida para vários problemas ajudando na saúde e bem estar. Outros benefícios também comprovados pela prática do canto são: desenvolvimento da proatividade, auto-confiança, autoestima, liderança, disciplina, concentração, desenvolvimento cognitivo e motor.

            O Canto Coral é considerado uma atividade democrática, já que o respeito e o trabalho comunitário são necessários para um bom resultado, e a música é capaz de trazer a leveza para as adversidades do dia a dia.

            Inserção social e música são muito comuns de serem encontrados no estilo canto coral, recomendadas a todas as pessoas e pode servir também como terapia alternativa .

            Sensibilizada com todas essas vantagens, a FESB tem disponibilizado ensaios de Canto Coral desde 1998 onde formou-se o Coral Vozes EnCanto, atuante até os dias de hoje, que tem se empenhado no canto a capella a fim de educar a voz e os ouvidos, elevando a cultura musical e o trabalho artístico que desenvolve. Em pouco tempo que a pessoa frequenta os ensaios, é possível perceber a mudança no comportamento com relatos de melhoras significativas no stress e humor, trazendo sensação de alívio e relaxamento. Cantar em Coral aguça a sensibilidade e, ainda melhora a autoestima de poder apresentar-se em público fazendo parte de um grupo, sendo necessária e útil sua participação.

            O Coral Vozes EnCanto canta nas diversas atividades comemorativas da FESB, e tem se popularizado recebendo convites para várias apresentações festivas e natalinas em Bragança Paulista. Participou de Encontro de Corais da cidade e região que foram marcantes para o Coral tornando-o reconhecido no meio musical como referência na sua formação com quatro naipes de vozes.

            O Coral é misto adulto que integra alunos, professores e funcionários e comunidade em geral, é um projeto social e não é necessário nenhum pré- requisito para participar. Os ensaios são às terças feiras as 18 horas na FESB e desde sua formação inicial é orientado e regido pela Professora Luciene Costa Lima, pianista e docente na FESB (Instituição mantenedora do coral) nas disciplinas de Música.

          </p>
          <span class="blue2-font-color">Luciene Costa Lima</span>
        </div>
      </div>
      <div class="tab-pane <%= 'fade' if !params[:niep]%> <%= 'in active' if params[:niep]%>" id="niep">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">Niepp</h1>
        <div class="px-5">
          <p class="px-4">
            O Núcleo Interdisciplinar de Estudos Pedagógicos e de pesquisa (NIEPP) apresenta-se como um espaço de planejamento e execução de práticas educativas, o que proporcionará maior dedicação à pesquisa.
            Os objetivos deste Núcleo são:
            <ul>
              <li>gerir novas formas de organização curricular, visando ações e projetos interdisciplinares;</li>
              <li>incentivar experiências metodológicas e práticas docentes de caráter inovador e/ou exitosas nos processos de ensino e aprendizagem dos futuros docentes;</li>
              <li>estimular o desenvolvimento profissional e a formação continuada dos professores das licenciaturas, com foco no melhoramento de estratégias didático-pedagógicas dos cursos de formação de professores; </li>
              <li>desenvolver um trabalho articulado entre IES e escola de educação básica em busca de uma educação de qualidade;</li>
              <li>realizar articulação entre IES e comunidade local;</li>
              <li>ofertar ensino de qualidade de acordo com os princípios, visão, missão e valores da Fundação  de Ensino Superior de Bragança Paulista.     </li>         
            </ul>
          </p>
        </div>
      </div>
      <div class="tab-pane <%= 'fade' if !params[:hvet]%> <%= 'in active' if params[:hvet]%>" id="hvet">
        <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">hvet</h1>
        <div class="px-5">
          <h3 class="py-4 blue2-font-color text-uppercase font-weight-bold">HOSPITAL VETERINÁRIO HVET-FESB</h3>
          <span class="primary-font-color font-weight-bold">A comunidade de Bragança e região bem atendida</span>

          <p>O Hospital Veterinário é uma necessidade imprescindível na formação de qualidade do médico veterinário, e assim, desde 2003 o HVET-FESB– Dr. Bernardo Aranovich vem atuando e ampliando os seus serviços para um atendimento de excelência à comunidade.</p>

          <div class="line"></div>
        </div>
          <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">O que é um serviço de excelência?</h2>
        <div class="px-5">
          <ul class="py-4">
            <li>Um serviço de excelência necessita de profissionais competentes e comprometidos com o bem-estar do animal;</li>
            <li>Um serviço de excelência só é possível em um ambiente que tenha uma visão dirigida para o atendimento de qualidade;</li>
            <li>Um serviço de excelência necessita de uma equipe de apoio organizada para aquisição de medicamentos (Farmácia), atendimento ao cliente e agendamento de consultas como também a limpeza e higienização dos ambientes e materiais;</li>
            <li>Um serviço de excelência possui monitoração anestésica em centros cirúrgicos bem equipados, tanto para pequenos quanto para grandes animais;</li>
            <li>Um serviço de excelência conta com uma equipe de médicos veterinários com diferentes especialidades: clínica, cirurgia, ortopedia, anestesiologia, cardiologia, oftalmologia, endocrinologia, atendimento de silvestres, laboratório clínico, imaginologia e, em breve, dermatologia e oncologia.</li>
          </ul>
        </div>
          <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Quais são os benefícios de um serviço de excelência?</h2>
        <div class="px-5">
          <ul class="py-4">
            <li>Avaliação clínica realizada por equipe multidisciplinar;</li>
            <li>Oferecimento de exames complementares necessários para uma avaliação pré-cirúrgica e diagnóstica;</li>
            <li>Prioridade e agilidade no atendimento com hora marcada;
            <li>Uma equipe que se preocupa com a evolução clínica dos pacientes e assim é rigorosa no agendamento dos retornos;</li>
            <li>Inclusão de um consultório exclusivo para o atendimento de felinos, propiciando um ambiente mais tranquilo e adequado para os hábitos dos gatos;</li>
            <li>Atendimento de emergências com suporte diferenciado para cada caso;</li>
            <li>Atenção especial aos proprietários e seus animais quando há necessidades especiais, contando com a colaboração de empresas parceiras.</li>
          </ul>

          <div class="line"></div>

          <p class="py-4">Assim, com uma reforma realizada nas instalações em 2012, foi possível aumentar o número de atendimentos de cães e gatos, como também realizar atendimento 24h na área de clínica e cirurgia de equinos e ruminantes, possibilitando um atendimento ainda melhor à população.</p>



          <span class="primary-font-color">Siga nossa Fanpage no Facebook <a href="https://www.facebook.com/HVETFESB/?fref=ts" target="_blank"></a> www.facebook.com/HVETFESB</span>
        </div>
    </div>
    <div class="tab-pane <%= 'fade' if !params[:ceef]%> <%= 'in active' if params[:ceef]%>" id="ceef">
      <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">ceef</h1>
      <div class="px-5">
        <div class="card gray3-background p-4 d-block my-2">
          <span>MAIS SAÚDE I</span>
          <a class="primary-font-color float-right" data-toggle="collapse" href="#saude" aria-expanded="false" aria-controls="collapseExample">Ver mais</a>
          <div class="collapse" id="saude">
            <div class="">
              <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">PROJETO FESB MAIS SAÚDE</h1>

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Justificativa</h2>
              <br>
              <p>A população mundial atualmente convive com inúmeras patologias que de diversas maneiras afetam a saúde e consequentemente a qualidade de vida, impedindo muitas vezes a execução de tarefas diárias como subir para o ônibus, pegar algo no chão e até mesmo caminhar. (ORGANIZAÇÃO MUNDIAL DA SAÚDE - OMS).</p>
              <p>Diante desta situação o presente projeto visa por meio da prática de exercício físico combater as lesões e patologias que afetam a população de Bragança Paulista, no intuito de elevar a expectativa de vida e consequentemente proporcionar uma melhor qualidade de vida aos envolvidos, dando a eles mais autonomia para suas atividades cotidianas no trabalho e no lazer. Também oportunizar experiências práticas e estágio para os alunos de graduação do curso de Educação Física Bacharelado.</p>

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">OBJETIVOS</h2>
              <br>
              <p>Atender a comunidade de Bragança Paulista portadora de lesões ou patologias;</p>
              <p>Diminuir ou extinguir as lesões e doenças dos participantes;</p>
              <p>Estimular a prática de exercício físico e hábitos alimentares equilibrados;</p>
              <p>Devolver e melhorar a autonomia de todos os alunos em suas atividades diárias;</p>
              <p>Proporcionar aos alunos da instituição uma oportunidade de estágio nas disciplinas de:</p>
              <br>
              -Medidas e avaliações;
              <br>
              -Condicionamento Físico;
              <br>
              -Exercício Resistido;
              <br>
              -Distúrbios Metabólicos;
              <br>
              -Distúrbios Cardiovasculares.



              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Público alvo</h2>
              <br>
              <p>Moradores de Bragança Paulista de ambos os gêneros na faixa etária igual ou superior a 15 anos de idade que tenham por comprovado um laudo médico diagnosticando a lesão ou patologia (por exemplo, Hérnia de disco, artroses, hipertensão, diabetes entre outros) e estando liberado pelo mesmo à prática de exercício físico.</p>



              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Período de duração</h2>
              <br>
              <p>Os alunos têm direito a participar por 1 ano desde que cumpram com as normas.</p>




              <strong>Horários</strong>
              <br>
              <p>O projeto ocorre em dois horários:</p>
              <p>16:30 às 17:30 para pessoas com doenças metabólicas e cardiovasculares (hipertensão, diabetes, hipercolesterolemia, obesidade, entre outras).</p>
              <p>18:00 às 19:00 para pessoas com doenças ou restrições mioarticulares (hérnia de disco, artrose, desvio postural, osteoporose, entre outros).</p>
              <p>Ambos os horários são de segunda, quarta e sextas-feiras.</p>



              <strong>Taxa</strong>
              <br>
              <p>R$50 mensais </p>

              <strong>Horário 18:00 às 19:00</strong>

              <img src="/assets/saude1.png" class="img-fluid">
              <br>
              <br>
              <img src="/assets/saude2.png" class="img-fluid">
              <br>
              <br>
              <strong>Horário 16:30 às 17:30</strong>
              <br>
              <br>
              <img src="/assets/saude4.png" class="img-fluid">
              <br>
              <br>
              <img src="/assets/saude5.png" class="img-fluid">


            </div>
          </div>
        </div>
        <!-- <div class="card gray1-background p-4 d-block my-2" data-toggle="collapse" href="#saude2" aria-expanded="false" aria-controls="collapseExample">
          <span>MAIS SAÚDE II (Prof. Rafael PP  e Prof. Wellington PP)</span>
        </div> -->
        <div class="card gray3-background p-4 d-block my-2">
          <span class="">GINÁSTICA ARTÍSTICA E CIRCO ACROBÁTICO</span>
          <a class="primary-font-color float-right" data-toggle="collapse" href="#ginastica" aria-expanded="false" aria-controls="collapseExample">Ver mais</a>
          <div class="collapse" id="ginastica">
            <div class="">
              <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">GINÁSTICA ARTÍSTICA E CIRCO ACROBÁTICO DA FESB</h1>

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">INTRODUÇÃO</h2>
              <br>
              <p>Proporcionar à criança experiências de movimentos diferenciados criará possibilidades cada vez maiores de ampliação do seu acervo motor e melhoria acentuada das diferentes capacidades físicas a serem utilizadas. Neste contexto, a Ginástica Artística e o Circo Acrobático são modalidades que buscam o pleno domínio do corpo exigindo interação constante entre o físico e o intelecto e proporcionando prazer na realização da atividade física, auxiliando assim na formação do ser humano, pois permite explorar uma variação infinita de combinações de movimentos.</p>

              <img src="/assets/ginastica1.png" class="img-fluid">

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">OBJETIVOS</h2>
              <br>
              <p>O Projeto de Ginástica Artística e Circo Acrobático da FESB têm como objetivo, propiciar aos alunos experiências com as modalidades, descobrindo e conquistando saberes que vão além do conhecimento do corpo, bem como suas possibilidades de movimento e que possam dessa forma, ampliar seu repertorio motor aumentando o gosto pela prática de atividade física, melhorando sua autoconfiança, sua autoestima e consequentemente sua interação social.</p>




              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Objetivos Específicos</h2>
              <br>
              <p>Aumentar o tempo de prática de atividade física das crianças envolvidas.</p>

              <p>Instruir os responsáveis e as crianças sobre hábitos alimentares corretos.</p>

              <p>Auxiliar no desenvolvimento motor das crianças.</p>

              <p>Promover diversas vivências e possibilidades de atividades física.</p>

              <p>Reduzir o sedentarismo e suas consequências.</p>


              <img src="/assets/ginastica2.png" class="img-fluid">




              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">PÚBLICO ALVO</h2>
              <br>
              <p>Crianças de ambos os gêneros que residem na cidade de Bragança Paulista na faixa etária entre 05 anos completo a 10 anos e 11 meses de idade.</p>




              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Período de duração</h2>
              <br>
              <p>Os alunos tem direito a participar por um período mínimo de 1 ano desde que cumpram com as normas.</p>



              <strong>Horários</strong>
              <br>
              <p>O projeto ocorre nas segunda e quarta feiras, das 17:20 às 18:10.</p>

              <strong>Taxa</strong>

              <p>40 reais mensais</p>


            </div>
          </div>
        </div>
        <div class="card gray3-background p-4 d-block my-2" data-toggle="collapse" href="#gepamas" aria-expanded="false" aria-controls="collapseExample">
          <td>GEPAMAS – Grupo de Estudos e Pesquisas de Atividades Motoras adaptadas</td>
        </div>
        <div class="card gray1-background p-4 d-block my-2">
          <span>LAMAS - Laboratório de Atividades Motoras Adaptadas-(Tênis de Mesa e Bocha)</span>
          <a class="primary-font-color float-right" data-toggle="collapse" href="#lamas" aria-expanded="false" aria-controls="collapseExample">Ver mais</a>
          <div class="collapse" id="lamas">
            <div class="">
              <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">TÊNIS DE MESA ADAPTADO</h1>

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Descrição</h2>
              <br>
              <p>O Tênis de Mesa é um dos esportes mais populares no mundo, se considerado pela quantidade de jogadores. Também chamada de Pingue-Pongue e Mesatenismo, a modalidade teve seu início na Inglaterra (Século XIX) e inicialmente foi chamado de pingpong, mas alguns anos depois se tornou uma marca registrada e foi convencionado se chamar de Tênis de Mesa. Ainda é considerado um esporte com a bola mais veloz do mundo, cuja raquete pode produzir uma força motriz de grande efeito.</p>

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Horário</h2>
              <br>
              <p>TÊNIS DE MESA – Segunda \Quarta \ Sexta                  HORÁRIO – 18 às 19</p>
              <!-- <p>Atleta – Matheus Domingues </p>
              <p>Técnico – Vitor Luciano R. de Oliveira</p>

              <p>"Os treinos já estavam em andamento no 1º semestre antes das competições, treinamos durante 3 meses, desde o primeiro dia em que o Matheus nunca havia tido contato com o esporte até o dia em que ele foi para o campeonato universitário de tênis de mesa."</p> -->

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">OBJETIVOS</h2>
              <br>
              <p> Atender a comunidade de Bragança Paulista portadora de lesões ou patologias (a princípio para os alunos da FESB);</p>
              <p>Diminuir ou extinguir as lesões e doenças dos participantes</p>
              <p>Estimular a prática de exercício físico;</p>
              <p>Devolver e melhorar a autonomia de todos os alunos em suas atividades diárias;</p>
              <p>Proporcionar aos alunos da instituição uma oportunidade de estágio nas disciplinas de:</p>
              <p>-Medidas e avaliações;</p>
              <p>-Condicionamento Físico;</p>
              <p>-AACC;Proporcionar aos alunos da instituição uma oportunidade de estágio nas disciplinas de:</p>
              <p>-Medidas e avaliações;</p>
              <p>-Condicionamento Físico;</p>
              <p>-AACC;</p>


              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">PÚBLICO ALVO</h2>
              <br>
              <p> a princípio para os alunos da FESB.</p>




              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Uma breve apresentação do tênis de mesa da FESB</h2>
              <br>

              <img src="/assets/tenis1.png" class="img-fluid">
              <br>
              <br>
              <h2>1º dia de treino juntamente com o Professor Miguel, iniciamos esse trabalho.</h2>
              <br>
              <img src="/assets/tenis2.png" class="img-fluid">
              <br>
              <br>
              <h2>Exatos 3 meses depois demos início ao Campeonato Paralímpico universitário</h2>
              <br>
              <br>
              <h2>Matheus vence este jogo por 3x0 e passa para a próxima fase.</h2>
              <br>
              <br>
              <img src="/assets/tenis3.png" class="img-fluid">
              <br>
              <br>
              <h2>Pós o jogo em que o Matheus participou, conversamos muito a respeito da sua evolução, pois, só podíamos ter certeza que ele atingiu os objetivos após sua participação do primeiro jogo, em que ele ganhou.</h2>


            </div>
          </div>
        </div>
        <div class="card gray1-background p-4 d-block my-2">
          <span>NAFE – Núcleo de Atividade Física e Esporte</span>
          <a class="primary-font-color float-right" data-toggle="collapse" href="#nafe" aria-expanded="false" aria-controls="collapseExample">Ver mais</a>
          <div class="collapse" id="nafe">
            <div class="">
              <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">NAFE – Núcleo de Atividade Física e Esporte</h1>
              <br>
              <p>O NAFE desenvolve um trabalho com crianças e jovens, cujas famílias não podem arcar com os custos de sua formação, no sentido de valorizar o esporte em sua vida, de forma agradável e participativa. O componente lúdico prevalece sobre o competitivo na prescrição de atividade física. O Programa oferece alternativas para a prática do desporto, de forma a contemplar os interesses individuais e o desenvolvimento de diferentes habilidades motoras, contribuindo para o despertar de talentos, somado a isso proporcionar um ambiente saudável para a criança e o adolescente</p>


              <strong>Horários</strong>
              <br>
              <p>Adolescentes de 10 à 18 anos</p>
              <p>Quarta</p>
              <p>9:00 às 11:30  e 13:00 às 17:10</p>
              <br>
              <p>3° Idade</p>
              <p>Segunda, apenas de Tarde Quinta, apenas de Manhã</p>
              <p>17:00 às 17:50, 8:00 às 8:50 </p>


            </div>
          </div>
        </div>
        <!-- <div class="card gray3-background p-4 d-block my-2" data-toggle="collapse" href="#nafe2" aria-expanded="false" aria-controls="collapseExample">
          <td>NAFE – Núcleo de Atividade Física e Esporte – MELHOR IDADE (Prof.a. Esp. Magali)</td>
        </div> -->
        <div class="card gray1-background p-4 d-block my-2">
          <span>GEPSE - Grupo de Estudos em Psicofisiologia do Exercício</span>
          <a class="primary-font-color float-right" data-toggle="collapse" href="#gepse" aria-expanded="false" aria-controls="collapseExample">Ver mais</a>
          <div class="collapse" id="gepse">
            <div class="">
              <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">GRUPO DE ESTUDOS EM PSICOFISIOLOGIA DO EXERCÍCIO (GEPSE)</h1>

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Justificativa</h2>
              <br>
              <p>A produção científica na área da educação física vem crescendo exponencialmente nas últimas décadas. Porém, o direcionamento da grande massa de produção se concentra em aspectos biológicos do desempenho humano e promoção da saúde através do exercício físico. O GEPSE se preocupa em discutir, produzir e direcionar estudos nessa área que envolvam esses aspectos biológicos, porém com intima relação com o desfecho psicológico gerado por esses aspectos. Focando tanto no desempenho humano como na aderência e afeto ao exercício físico para saúde.</p>

              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">OBJETIVOS</h2>
              <br>
              <p>Promover oportunidade para iniciação científica de acadêmicos do curso de educação física da FESB;</p>
              <p>Espaço para discussão de aspectos psicofisiologicos do desempenho e saúde;</p>
              <p>Oportunidade para aproximação de professores e alunos do curso de educação física, para discussão de projetos de pesquisa;</p>
              <p>Estimular o pensamento científico nos acadêmicos de educação física da FESB.</p>


              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">PÚBLICO ALVO</h2>
              <br>
              <p>Acadêmicos e professores da FESB, além de profissionais de educação física da região. </p>




              <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Período de duração</h2>
              <br>
              <p>Continuo</p>



              <strong>Horários</strong>
              <br>
              <p>Matutino as sextas das 11:40 às 12:10 <br> Noturno as quintas das 18:30 às 19:10 </p>

            </div>
          </div>
        </div>
      </div>
      <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">MAIORES INFORMAÇÕES:</h2>
      <div class="px-5">
        <p class="mt-4">LABORATÓRIO DE BIODINÂMICA (ACADEMIA DO CEEF)</p>
        <p>Email: ceef@fesb.edu.br</p>
        <p>TEL: (11) 4035-7832</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Atendimento</th>
              <th>Segunda à Sexta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Marcelo Maiani</td>
              <td>8:00 às 11:40</td>
            </tr>
            <tr>
              <td>Prof. Rafael e Prof. Wellington </td>
              <td>15:00 às 19:00</td>
            </tr>
            <tr>
              <td>Marcelo Barsoti</td>
              <td>19:00 às 22:30</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane <%= 'fade' if !params[:nutri]%> <%= 'in active' if params[:nutri]%>" id="nutri">
      <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">nutrifesb</h1>
      <div class="px-5">
        <p>Em funcionamento desde 2002, o ambulatório de Nutrição (NUTRIFESB) oferece atendimentos à toda comunidade de Bragança Paulista e região. Estagiários do 7º e 8º semestres do curso de Nutrição realizam os atendimentos com supervisão e orientação dos professores, o que é fundamental para formação de qualidade do nutricionista.</p>

        <p>O NUTRIFESB possui as melhores e as mais atuais soluções em Nutrição Clínica especializada para atender ao público em geral.</p>

        <div class="line"></div>
      </div>
        <h2 class="primary-background-color py-3 text-center mb-0 mt-5 text-white text-uppercase px-5">Um atendimento Nutricional de Excelência consta de:</h2>
      <div class="px-5">
        <ul class="py-4">
          <li>Conhecimento do objetivo da consulta;</li>
          <li>Entendimento da rotina atual do paciente;</li>
          <li>Levantamento da história clínica e sinais clínicos;</li>
          <li>Levantamento do histórico familiar de doenças;</li>
          <li>Levantamento dos hábitos alimentares, preferências e aversões;</li>
          <li>Análise de exames bioquímicos e solicitação de novos, quando necessário;</li>
          <li>Avaliação antropométrica, para avaliar a composição corporal a partir de medidas corporais como altura, peso, circunferências e dobras cutâneas, que permitem predizer a densidade corporal e o percentual de gordura do corpo;</li>
          <li>Desenvolvimento de um plano alimentar individualizado com base nas necessidades nutricionais previamente analisados.</li>
        </ul>

        <div class="line py-4"></div>

        <p>O NUTRIFESB  preocupa-se com a humanização e acolhimento do paciente e com suas reais necessidades, assim como visa constante aprimoramento no padrão de qualidade dos atendimentos.</p>

        <p>Os atendimentos são realizados com data e horário previamente agendados no NUTRIFESB ou pelo telefone (11) 4035 7823.</p>
      </div>
    </div>
    <div class="tab-pane <%= 'fade' if !params[:ggd]%> <%= 'in active' if params[:ggd]%>" id="ggd">
      <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">ggd</h1>
      <div class="px-5">
        <p>O GGD (grupo de ginástica e dança) da FESB, um projeto elaborado especialmente para todos que querem criar hábitos saudáveis</p>
      </div>
  </div>
</section>