.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to(@category.name, institutions_path)  
      %li
        =link_to(@item.name, institution_path(@item.url_slug)) 
    %h1=@category.name 
    .col-sm-3.col-xs-12
      %ul.lista-lateral
        -@category.items.each do | category_item|
          - if  (category_item.active == true && category_item.published == true)
            %li=link_to(category_item.name, social_action_path(category_item.url_slug)) 

    .col-sm-9.col-xs-12
      %h2=@item.name
      .published
        =I18n.localize(@item.created_at, :format => :date_default)
      %p
        = raw(@item.description)
      -if @item.item_images.count > 0
        %h2 Fotos
        %ul.galeria
          - @item.item_images.each do |item_image|
            -if  (item_image.active == true && item_image.published == true) 
              %li.col-xs-12.col-sm-3
                =link_to(image_tag(item_image.item_img.url("thumb_show"), :alt => item_image.name), item_image.item_img.url("original"), :class => "fancybox", :rel => "ïmagens", :title=> item_image.name)      