= form_for [:admin, @pre_subscribe] do |f|
  = f.error_messages
  %p
    = f.label :class_name_id
    %br
    = f.number_field :class_name_id
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :phone
    %br
    = f.text_field :phone
  %p
    = f.label :message
    %br
    = f.text_area :message
  %p
    = f.label :active
    %br
    = f.check_box :active
  %p
    = f.label :published
    %br
    = f.check_box :published
  %p
    = f.submit
