- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  //= stylesheet_link_tag "https://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"
  = stylesheet_link_tag "https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css"

- content_for :footer do
  = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
  = javascript_include_tag "https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"
  = javascript_include_tag "//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"
  = javascript_include_tag "//cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"
  = javascript_include_tag "plugins/datatables/dataTables.bootstrap.js"

  :javascript

    $(".selectFilter").change(function(){
      // $("body").css("overflow", "hidden");
      $("#sendloader").fadeIn();
    });

    $.urlParam = function(name){
      var results = new RegExp('[\?&]' + name + '=([^]*)').exec(window.location.href);
      if (results==null){
        $("#search-form").submit();
      }
      else{
         var queryParameters = {}, queryString = location.search.substring(1),
             re = /([^&=]+)=([^&]*)/g, m;

         // Creates a map with the query string parameters
         while (m = re.exec(queryString)) {
             queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
         }

         // Add new parameters or update existing ones
         queryParameters['class_category'] = $("#class_category").val();
         queryParameters['class_name'] = '';
         queryParameters['data'] = '';

         /*
          * Replace the query portion of the URL.
          * jQuery.param() -> create a serialized representation of an array or
          *     object, suitable for use in a URL query string or Ajax request.
          */
         location.search = $.param(queryParameters); // Causes page to reload
      }
    }

    var table = $('#ShowReport').dataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'copyHtml5',
          text: 'Copiar',
          title: 'Pré-inscrições'
        },
        {
          extend: 'excelHtml5',
          text: 'Exportar Excel',
          title: 'Pré-inscrições'
        },
      ],
      //"bJQueryUI": true,
      //"bPaginate": false,

      "bFilter": true,
      "iDisplayLength": 50,
      "charset":"utf-8",
      //"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
      "aLengthMenu": [[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,  -1], [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, "Todos"]],
      "oLanguage": {
        "sProcessing": "Processando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "Não foram encontrados resultados",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
        "sInfoFiltered": "",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "paging": false,
        "oPaginate": {
          "sFirst": "Primeiro",
          "sPrevious": "Anterior",
          "sNext": "Seguinte",
          "sLast": "Último"
        }
      }
    });

%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Pré-Matrículas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Pré-Matrículas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header

%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Pré Matrículas
      .p-4
        .container
          %h3 Escolha os filtros para sua pesquisa.
          = form_tag(admin_pre_subscribes_path, :method => "get", :id => "search-form") do
            .row
              .col-xs-6
                %label Categoria do Curso
                = select_tag :class_category, options_for_select(ClassCategory.where("EXISTS(SELECT 1 from pre_subscribes inner join class_names where class_names.id = pre_subscribes.class_name_id AND class_categories.id in(class_names.class_category_id))").map(&:name).uniq.sort_by { |id| id }, params[:class_category] || "Tipo Curso"), :class => "select2 form-control selectFilter", :onchange => "$.urlParam('class_name');",:prompt => "Todas as categorias"
                %label Curso
                -if params[:class_category] && params[:class_category] != ""
                  = select_tag :class_name, options_for_select(ClassName.where("EXISTS(SELECT 1 from pre_subscribes inner join class_categories where class_names.id = pre_subscribes.class_name_id AND class_categories.name = '#{params[:class_category]}' AND class_categories.id in (class_names.class_category_id))").map(&:name).uniq.sort_by { |id| id }, params[:class_name] || "Curso"),:prompt => "Todos os cursos", :class => "select2 form-control selectFilter", :onchange => "this.form.submit()"
                - else
                  = select_tag :class_name, "", :prompt => "Selecione uma categoria de curso antes", :class => "select2 form-control"
              .col-xs-6
                %label Ano
                = select_tag :data, options_for_select(@pre_subscribes.map{ |d| d.created_at.year }.uniq, params[:data]), :onchange => "this.form.submit()", :class => "select2 form-control selectFilter",:prompt => "Todos os anos"
            %br
            %br
            %br
        %table.table.table-bordered.table-striped#ShowReport
          %thead
            %tr
              %th Nome
              %th Email
              %th Curso
              %th Data
              %th Ações
          %tbody
            - for pre_subscribe in @pre_subscribes
              - if pre_subscribe.class_name
                %tr
                  %td= pre_subscribe.name
                  %td= pre_subscribe.email
                  %td= pre_subscribe.class_name.name
                  %td= pre_subscribe.created_at.strftime("%d/%m/%y")
                  %td= link_to 'Visualizar', [:admin, pre_subscribe], :class => "btn btn-default"

