%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Pré-Matrículas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Pré-Matrículas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @pre_subscribe.name
        .p-4
          .box-body
            %strong Class Name:
            = @pre_subscribe.class_name.name
          .box-body
            %strong Name:
            = @pre_subscribe.name
          .box-body
            %strong Email:
            = @pre_subscribe.email
          .box-body
            %strong Phone:
            = @pre_subscribe.phone
          .box-body
            %strong Message:
            = @pre_subscribe.message
          .box-body
            %strong Published:
            = show_boolean(@pre_subscribe.published)
        .card-footer
          = link_to "Visualizar Todos", admin_pre_subscribes_path, :class => "btn btn-default"
