.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to("Comissões", commissions_path)
    %h1 Comissões
    %p São órgãos institucionais da Fundação de Ensino Superior de Bragança Paulista (FESB) responsáveis por organizar e normatizar pesquisas que utilizam animais (CEUA - Comissão de Ética no Uso de Animais) e humanos (CEP - Comissão de Ética em Pesquisa), bem como aulas práticas, trabalhos de conclusão de curso (TCC), projetos de iniciação científica (PIC), pesquisas clínicas e cirúrgicas ou atendimentos laboratoriais.
    .col-sm-6.col-xs-12
      %h2 Comissão de Ética em Pesquisa
      =image_tag("cep.jpg")
    .col-sm-6.col-xs-12
      %h2 Comissão de Ética no uso de Animais
      =link_to(image_tag("ceua.jpg"), "http://www.fesb.edu.br/comite/Ceua_Membros.htm", :target => "_blank")