-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#state_select').change(function() {
        $.ajax({
          url: "#{update_cities_socioeconomics_path}",
          data: {
            id : $('#state_select').val()
          },
          dataType: "script"
        });
      });
    });

.exam-section.my-5.py-5
  .container.text-center.mt-2
    %img{:src=>"/assets/exams/progresso2.png", :class=>"img-fluid"}
  .container.mt-5.mb-3.pt-5.text-center
    %p.font-weight-light.mb-5
      -if @exam.exam_type_id == 3
        Inscreva-se com sua nota do ENEM dos anos anteriores
      -else
        =@exam.name
    %p.font-weight-light.mb-5
      Questionário
    =form_for([@socioeconomic], :class => "inscricao") do |f|
      .row.px-5
        -if f.error_messages
          .alert.alert-danger.alert-dismissable.col-12
            %i.fa.fa-ban
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
            %b Alert!
            Confira os campos marcados em vermelho.    
        .col-md-3
        .col-md-6
          .form-group
            = f.select :how_did_me, "<option value=\"1\"> Indicação de Amigos </option><option value=\"2\"> Campanha Publicitária </option><option value=\"4\"> Internet </option>".html_safe,{ :prompt=>"Como conheçeu a FESB?"}, {:class => "custom-select"}
        .col-md-3
        .col-md-3
        .col-md-6
          .form-group.skip
            = f.select :best_ad, "<option value=\"2\"> Rádio </option><option value=\"3\"> Site </option><option value=\"4\"> Outdoor </option><option value=\"10\"> Facebook </option><option value=\"9\"> Visita as Escolas </option><option value=\"11\"> Anúncio da internet </option>".html_safe,{ :prompt=>"Qual material chamou mais atenção na campanha ?"}, {:class => "custom-select"}
        .col-md-3
        .col-6.text-right
          %a.btn.secondary-btn.text-white.font-weight-light.px-md-5.py-3.mt-3.px-4{:href=>"/vestibular/inscricao"}
            Anterior
        .col-6.text-left
          =f.submit "Avançar", :class => "nav-subscribe-btn px-md-5 py-3 text-white mt-3 px-4"

