= form_for [:admin, @warning, @warning_image] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body
    .form-group 
      %p
        = f.label :name, "Legenda"
         
        = f.text_field :name, :class => "form-control"
      %p
        = f.label :published, "Publicado"
         
        = f.check_box :published
      %p
        = f.label :warning_images, "Imagem"
         
        = f.file_field :warning_images, :class => "form-control"

    = f.submit "Salvar", :class =>"btn btn-primary"
