%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@warning.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active #{@warning.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Imagens
      .card-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th Imagem
            %th Legenda
            %th Publicado
            %th Ações
          - for warning_image in @warning_images
            %tr
              %td= image_tag(warning_image.warning_images.url(:thumb))
              %td= warning_image.name
              %td= show_boolean(warning_image.published)
              %td
                =link_to 'Visualizar', [:admin, @warning, warning_image], :class => "btn btn-default"
                =link_to 'Editar', edit_admin_warning_warning_image_path(@warning, warning_image), :class => "btn btn-default"
                =link_to 'Excluir', [:admin, @warning, warning_image], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Nova Imagem", new_admin_warning_warning_image_path, :class => "btn btn-primary"
          = link_to "Retornar", admin_warnings_path, :class => "btn btn-primary"
