%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@warning.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active #{@warning.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title=@warning_image.name

        .card-body
          %p
            %strong Legenda:
            =@warning_image.name
          %p
            %strong Publicado:
            = show_boolean(@warning_image.published)
          %p
            %strong Imagem
            %br
            = image_tag(@warning_image.warning_images.url(:original))
        .card-footer
          %p
            = link_to "Editar", edit_admin_warning_warning_image_path(@warning, @warning_image), :class => "btn btn-default"
            = link_to "Visualizar Todas", admin_warning_warning_images_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @warning, @warning_image], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"

