Fn<section class="class-inter-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= class_category_path(@class_name.class_category.url_slug) %>"><%= @class_name.class_category.name %></a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= @class_name.url_slug %>"><%= @class_name.name %></a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span><%= @class_name.name %></span>
      </h1>
    </div>
    <% if @class_name.class_header.file? %>
      <img class="img-fluid w-100" src="<%= @class_name.class_header.url(:original) %>">
    <% else %>
      <img class="img-fluid w-100" src="/assets/class/class-3.png">
    <% end %>
  </div>
  <div id="interno">
    <div class="container-fluid p-0 d-flex primary-background-color class-tabs">
      <ul class="nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-sm-down">
        <li class="nav-item">
          <a class="nav-link active px-3 py-5" data-toggle="tab" href="#about">
            <% case @class_name.class_category.id%>
            <% when 1 %>
              Sobre o Curso
            <% when 2 %>
              Sobre a Pós
            <% when 3 %>
              Sobre a Extensão
            <% when 4 %>
              Sobre o Curso
            <% end %>
          </a>
        </li>
        <li class="nav-item"><a class="nav-link px-3 py-5" data-toggle="tab" href="#carrer">Carreira</a></li>
        <li class="nav-item"><a class="nav-link px-3 py-5" data-toggle="tab" href="#infra">Diferencial</a></li>
        <li class="nav-item"><a class="nav-link px-3 py-5" data-toggle="tab" href="#grade">matriz curricular</a></li>
        <li class="nav-item"><a class="nav-link px-3 py-5" data-toggle="tab" href="#coord">coordenação e corpo docente</a></li>
      </ul>
      <ul class="nav nav-tabs text-uppercase ml-auto mr-auto mt-2 blue2-background text-center hidden-md-up">
        <li class="nav-item">
          <a class="nav-link active px-3 py-5" data-toggle="tab" href="#about">
            <% case @class_name.class_category.id%>
            <% when 1 %>
              Sobre o Curso
            <% when 2 %>
              Sobre a Pós
            <% when 3 %>
              Sobre a Extensão
            <% when 4 %>
              Sobre o Curso
            <% end %>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-3 py-5" data-toggle="dropdown"
             href="#" role="button" aria-haspopup="true" aria-expanded="false">
             mais opções</a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#carrer">Carreira</a>
            <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#infra">Diferencial</a>
            <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#grade">matriz curricular</a>
            <a class="dropdown-item nav-link px-3 py-5" data-toggle="tab" href="#coord">coordenação e corpo docente</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="container gray1-background mb-5 pb-5">
      <div class="row">
        <div class="tab-content col-md-8 pl-0">
          <div id="about" class="tab-pane in active">
            <h1 class="display 3 primary-font-color text-uppercase py-4 px-5">
              <% case @class_name.class_category.id%>
              <% when 1 %>
                Sobre o Curso
              <% when 2 %>
                Sobre a Pós
              <% when 3 %>
                Sobre a Extensão
              <% when 4 %>
                Sobre o Curso
              <% end %>
            </h1>
            <div class="row px-5">
              <% if !@class_name.embed.blank? %>
                <div class="responsive-video hidden-sm-down col-12" id="video">
                  <iframe src="//www.youtube.com/embed/<%= @class_name.embed %>"></iframe>
                </div>
              <% else %>
                <div class="raw-primary-font-color px-5">
                  <%= raw(@class_name.description) %>
                </div>
              <% end %>
            </div>
            <div class="line my-4 mx-5 <%= 'hidden' if @class_name.embed.blank? %>"></div>
            <div class="raw-primary-font-color px-5 <%= 'hidden' if @class_name.embed.blank? %>">
              <%= raw(@class_name.description) %>
            </div>
            <% if !@class_name.objective.blank? %>
              <div class="line my-4 mx-5 <%= 'hidden' if !@class_name.embed.blank? %>"></div>
              <h2 class="title-class py-3 pr-md-5 mb-0 mt-5 text-white text-uppercase">Objetivo</h2>
              <div class="raw-primary-font-color px-5 pt-3">
                <%= raw(@class_name.objective)  %>
              </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="carrer">
            <h1 class="display 3 primary-font-color text-uppercase py-4 px-5">carreira</h1>
            <div class="row px-5">
              <div class="primary-font-color px-5">
                <% case @class_name.id %>
                <% when 23 %>
                    <p>
                      O profissional formado em Agronomia tem o objetivo de melhorar a qualidade e produtividade de rebanhos, plantações e produtos agroindustriais.
                    </p>
                    <p>
                      O agrônomo cuida do planejamento, coordenação e execução das atividades relacionadas a todas as etapas de um agronegócio. Ele acompanha o preparo e o cultivo do solo, o processo de colheita, o armazenamento e a distribuição dos alimentos.
                    </p>
                    <p>
                      No que diz respeito à criação de animais, este profissional se ocupa da alimentação do rebanho, da reprodução, saúde e abata.
                    </p>
                    <p>
                      Ele ainda gerencia os processos de industrialização, armazenamento e comercialização de produtos de origem animal ou vegetal.
                    </p>
                <% end %>
              </div>
            </div>
            <div class="line my-4 mx-5"></div>
            <% if !@class_name.target.blank? %>
              <h2 class="title-class py-3 pr-md-5 mb-0 mt-5 text-white text-uppercase">Publico Alvo</h2>
              <div class="raw-primary-font-color px-5 pt-3">
                <%= raw(@class_name.target) %>
              </div>
            <% end %>
            <h2 class="title-class py-3 pr-md-5 mb-0 mt-5 text-white text-uppercase">Mercado de Trabalho</h2>
            <div class="raw-primary-font-color px-5 pt-3">
              <%= raw(@class_name.labour_market) %>
            </div>
          </div>
          <div class="tab-pane fade" id="infra">
            <h1 class="display 3 primary-font-color text-uppercase py-4 px-5">Diferencial</h1>
            <% if @class_name.class_images.all_published.count > 0 %>
            <% puts @class_name.class_images.all_published.count %>
              <div id="class-pictures" class="carousel slide px-5 pt-3" data-ride="carousel">
                <ol class="carousel-indicators">
                  <% i = 0%>
                  <% @class_name.class_images.all_published.each_with_index do |class_image, x| %>
                    <% if class_image.class_images.exists? %>
                      <li data-target="#class-pictures" data-slide-to="<%= i%>" class="<%= 'active' if i == 0 %>"></li>
                      <% i = i + 1%>
                    <% end %>
                  <% end %>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <% @class_name.class_images.all_published.each_with_index do |class_image, x| %>
                    <% if class_image.class_images.exists? %>
                      <div class="carousel-item <%= "active" if x == 0 %>">
                        <div>                        
                          <%= image_tag(class_image.class_images.url(),  :class => "d-block img-fluid")  %>
                        </div>
                        <div class="carousel-caption">
                          <h3><%= class_image.name %></h3>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#class-pictures" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#class-pictures" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            <% end %>
            <% if !@class_name.differential.blank? %>
              <div class="raw-primary-font-color px-5 pt-3">
                <%= raw(@class_name.differential) %>
              </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="grade">
            <h1 class="display 3 primary-font-color text-uppercase py-4 px-5">matriz curricular</h1>
            <% if @class_name.class_matrix.file? %>
              <div class="primary-font-color px-5 pt-3">
                <%= link_to("CLIQUE AQUI ", @class_name.class_matrix.url) %>
                e acesse a matriz curricular
              </div>
            <% end %>
           <!-- <% if @class_name.summary_content.file? %>
               <h2 class="title-class py-3 pr-md-5 mb-0 mt-5 text-white text-uppercase">Ementa e Conteudo Programatico </h2>
              <div class="primary-font-color px-5 pt-3">
                <%= link_to("CLIQUE AQUI ", @class_name.summary_content.url) %>
                e acesse o conteudo
              </div> 
            <% end %>-->
          </div>
          <div class="tab-pane fade" id="coord">
            <!-- <h1 class="display 3 primary-font-color text-uppercase py-4 px-5">coordenação e Corpo Docente</h1> -->
            <% if !@class_name.teacher_id.blank? %>
              <% if (@class_name.teacher.active == true && @class_name.teacher.published == true) %>
                <!-- <h2  class="title-class py-3 pr-md-5 mb-0 mt-5 text-white text-uppercase">Coordenação</h2> -->
                <h1 class="display 3 primary-font-color text-uppercase py-4 px-5">coordenação</h1>
                <div class="teacher primary-font-color px-5 pt-5">
                  <span>
                    <%= @class_name.teacher.name %>
                  </span>
                  <% if !@class_name.teacher.curriculum_vitae.blank? %>
                    <div class="text-right">
                      <a data-toggle="tooltip" data-placement="top" title="clique para ver o CV" href="<%= @class_name.teacher.curriculum_vitae %>" target="_blank"><img src="/assets/icons/resume.png"></a>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <% if @class_name.teaching_bodies.count > 0 %>
              <h2  class="title-class py-3 pr-md-5 mb-0 mt-5 text-white text-uppercase">Corpo Docente</h2>
              <% @class_name.teaching_bodies.each do |teaching_body| %>
                <% if (teaching_body.teacher.active == true && teaching_body.teacher.published == true) %>
                  <div class="teacher primary-font-color px-5 py-3">
                    <span>
                      <%= teaching_body.teacher.name %>
                    </span>
                    <% if !teaching_body.teacher.curriculum_vitae.blank? %>
                      <div class="text-right">
                        <a data-toggle="tooltip" data-placement="top" title="clique para ver o CV" href="<%= teaching_body.teacher.curriculum_vitae %>" target="_blank"><img src="/assets/icons/resume.png"></a>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 mt-5 pt-5 teste">
          <div class="lista-lateral">
            <div class="lateral-class-info p-5 text-white">
              <div class="media pb-5">
                <img class="d-flex mr-3" src="/assets/icons/calendar.png" width="40">
                <div class="media-body">
                  <span class="font-weight-bold">Duração:</span>
                  <span class="d-block"><%= @class_name.duration %></span>
                </div>
              </div>
              <div class="media pb-5">
                <img class="d-flex mr-3" src="/assets/icons/sun.png" width="40">
                <div class="media-body">
                  <span class="font-weight-bold">Período:</span>
                  <span class="d-block"><%= @class_name.period %></span>
                </div>
              </div>
              <div class="media pb-5">
                <img class="d-flex mr-3" src="/assets/icons/students-cap.png" width="40">
                <div class="media-body">
                  <span class="font-weight-bold">Número de Vagas:</span>
                  <span class="d-block"><%= @class_name.number_of_vacancies %></span>
                </div>
              </div> 
              <% if @class_name.price.present? %>
                <div class="media pb-5">
                  <img class="d-flex mr-3" src="/assets/icons/price-tag.png" width="40">
                  <div class="media-body">
                    <span class="font-weight-bold">Investimento:</span>
                    <span class="d-block"><%= @class_name.price %></span>
                  </div>
                </div>
              <% end %>
              <% if @class_name.children.present? %>   
                <% if @class_name.class_category_id == 1 and @childrens.last.financing_6.present? and @childrens.last.financing_8.present? and @childrens.last.financing_10.present? %>   
                  <div class="media">
                    <a href="" type="button" data-toggle="modal" data-target="#prices" class="mx-auto primary-button text-uppercase py-3 px-5 warning-type-21 text-white text-center"> Simular Parcelas</a>
                  </div>
                <% end %>
              <% else %>      
                <% if @class_name.class_category_id == 1 and @class_name.financing_6.present? and @class_name.financing_8.present? and @class_name.financing_10.present? %>
                  <div class="media">
                    <a href="" type="button" data-toggle="modal" data-target="#prices" class="mx-auto primary-button text-uppercase py-3 px-5 warning-type-21 text-white text-center"> Simular Parcelas</a>
                  </div>
                <% end %>
              <% end %>
              <% if @class_name.class_category_id == 3 %>
                <!-- <div class="media">
                  <img class="d-flex mr-3" src="/assets/icons/id.png" width="40">
                  <div class="media-body">
                    <span class="font-weight-bold">Documentos Para Matrícula:</span>
                    <span class="d-block"> RG, CPF </span>
                    <span class="d-block"> Comprovante de endereço </span>
                    <span class="d-block"> Título de Eleitor </span>
                    <span class="d-block"> Certidão de Nascimento ou Casamento</span>
                  </div>
                </div> -->
              <% end %>
            </div>
            <% if @class_name.class_category_id == 1 %>
              <% if !@exams.empty? %>
                <div class="d-flex">
                  <a type="button" class="mx-auto mt-5 primary-button text-uppercase py-3 px-5 primary-background-color text-white text-center" href="<%= exams_path %>"> inscreva-se para o vestibular </a>
                </div>
              <% end %>
            <% else %>
              <% if @class_name.pre_subscribe == true%>
                <div class="d-flex">
                  <a type="button" class="mx-auto mt-5 primary-button text-uppercase py-3 px-5 primary-background-color text-white text-center" href="<%= class_new_pre_subscribe_path(@class_name.id) %>"> inscreva-se vagas limitadas </a>
                </div>
              <%end%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="prices" role="dialog" aria-labelledby="pricesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content lateral-intitution-info text-white">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="pricesLabes">Simulação de Valores</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Aqui na <strong>FESB</strong> você tem a possibilidade de parcelar o semestre do seu curso em 6, 8 ou em 10 vezes!</p>
          <p>Para fazer a simulação, basta selecionar a opção desejada abaixo:</p>
          <ul class="nav text-center">
            <li class="nav-item dropdown nav-item dropdown card bg-primary">
              <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                 href="#" role="button" aria-haspopup="true" aria-expanded="true">
                 Parcelas</a>
              <div class="dropdown-menu">
                <a class="dropdown-item nav-link" data-toggle="tab" href="#seis">6x</a>
                <a class="dropdown-item nav-link" data-toggle="tab" href="#oito">8x</a>
                <a class="dropdown-item nav-link" data-toggle="tab" href="#dez">10x</a>
              </div>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content mt-3">
            <div class="tab-pane container in active text-center" id="#">
              <p>Selecione as parcelas</p>
            </div>
            <div class="tab-pane container fade text-center" id="seis">
              <% if @class_name.children.present? %>
                <% @childrens.each do |c| %>
                  <strong><%= c.name %></strong>
                  <p>6 parcelas a partir de <%= number_to_currency_br(c.financing_6) %></p>
                <% end %>
                <p>Desconto especial para pagamento do semestre à vista.</p>
              <% else %>
                <p>6 parcelas a partir de <%= number_to_currency_br(@class_name.financing_6) %></p>
                <p>Desconto especial para pagamento do semestre à vista.</p>
              <% end %>
            </div>
            <div class="tab-pane container fade text-center" id="oito">
              <% if @class_name.children.present? %>
                <% @childrens.each do |c| %>
                  <strong><%= c.name %></strong>
                  <p>8 parcelas a partir de <%= number_to_currency_br(c.financing_8) %></p>
                <% end %>
                <p>Desconto especial para pagamento do semestre à vista.</p>
              <% else %>
                <p>8 parcelas a partir de <%= number_to_currency_br(@class_name.financing_8) %></p>
                <p>Desconto especial para pagamento do semestre à vista.</p>
              <% end %>
            </div>
            <div class="tab-pane container fade text-center" id="dez">
              <% if @class_name.children.present? %>
                <% @childrens.each do |c| %>
                  <strong><%= c.name %></strong>
                  <p>10 parcelas a partir de <%= number_to_currency_br(c.financing_10) %></p>
                <% end %>
                <p>Desconto especial para pagamento do semestre à vista.</p>
              <% else %>
                <p>10 parcelas a partir de <%= number_to_currency_br(@class_name.financing_10) %></p>
                <p>Desconto especial para pagamento do semestre à vista.</p>
              <% end %>
            </div>
          </div>
          <small>*financiamento em número limitado.</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</section>