= form_for [:admin, @award, @award_gallery] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body    
    .form-group 
      = f.label :name, "Nome"
       
      = f.text_field :name, :class => "form-control"
    .form-group 
      = f.label :published, "Publicado"
       
      = f.check_box :published
    .form-group
      =f.label :award_img, "Imagem"
      
      =f.file_field :award_img, :class => "form-control"
      
    = f.submit "Salvar", :class =>"btn btn-primary"
