%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@award.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb.active Premiações
          %li.breadcrumb.active #{@award.name}
          %li.breadcrumb.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title
          Imagens
      .p-4
        %table.table.table-hover
          %tr
            %th Imagem
            %th Nome
            %th Publicado
            %th Ações
          - for award_gallery in @award_galleries
            %tr
              %td= image_tag(award_gallery.award_img.url(:thumb)) if award_gallery.award_img.file?
              %td= award_gallery.name
              %td= show_boolean(award_gallery.published)
              %td
                =link_to 'Visualizar', [:admin, @award, award_gallery], :class => "btn btn-default"
                =link_to 'Editar', edit_admin_award_award_gallery_path(@award, award_gallery), :class => "btn btn-default"
                =link_to 'Excluir', [:admin, @award, award_gallery], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p
          = link_to "Nova imagem", new_admin_award_award_gallery_path, :class => "btn btn-primary"
          = link_to "Retornar", admin_awards_path, :class => "btn btn-primary"
