%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Galeria de Imagens - #{@award.name}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Premiações
          %li.breadcrumb-item.active #{@award.name}
          %li.breadcrumb-item.active Galeria de Imagens
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary
      .card-header
        %h3.card-title Imagens
      .p-4
        %p
          %strong Nome:
          = @award_gallery.name
        %p
          %strong Publicado:
          = show_boolean(@award_gallery.published)
        %p
          %strong Imagem:
          =image_tag(@award_gallery.award_img.url) if @award_gallery.award_img.file?
      .card-footer
        %p
          = link_to "Editar", edit_admin_award_award_gallery_path(@award, @award_gallery), :class => "btn btn-default"
          = link_to "Visualizar Todas", admin_award_award_galleries_path, :class => "btn btn-default"
          = link_to "Excluir", [:admin, @award, @award_gallery], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
