<% @warnings.each do |warning| %>
  <article class="canaldoaluno primary-font-color">
    <div class="list-inline">
      <div class="list-inline-item badge warning-type-<%= warning.type_warning_id %> font-weight-bold px-4 py-2">
        <%= warning.type_warning.name %>
      </div>
      <div class="list-inline-item pl-3">
        <%= I18n.localize(warning.created_at, :format => :date_default)  %>
      </div>
    </div>
    <h3 class="pt-4"><%= warning.name %></h3>
    <p>
      <%= truncate(warning.description, :length => 250).html_safe  %>
    </p>
    <p class="text-right">
      <% if warning.type_warning.id ==1 or warning.type_warning.id ==4 %>
        <%= link_to("Saiba mais", channel_student_display_path(warning.type_warning.url_slug, warning.url_slug))    %>
      <% else  %>
        <%= link_to("Download", warning.warning_file.url(:original, false), :target=>"_blank")  %>
      <% end %>
    </p>
  </article>
<% end %>
<div class="pt-5">
  <%= will_paginate(@warnings)%>
</div>