<section class="channel-students-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= channel_students_path %>">canal do aluno</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <span>Canal <span class="font-weight-bold">do Aluno</span></span>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/topos/student-channel-banner.jpg">
  </div>
  <div class="container gray1-background mb-5 pb-5 px-0">
    <h1 class="display 3 primary-font-color text-uppercase py-4 px-5 font-weight-bold">canal do aluno</h1>
    <div class="container px-5 pt-4">
      <div class="row">
        <div class="col-sm-3">
          <a class="" href="<%= channel_student_path("1-noticias")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-1">
              notícias
            </div>
          </a>
          <a class="" href="<%= channel_student_path("2-fique-ligado")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-2">
              fique ligado
            </div>
          </a>
          <a class="" href="<%= channel_student_path("6-tutoriais")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-6">
              tutoriais
            </div>
          </a>
          <a class="" href="<%= channel_student_path("9-tcc")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-9">
              tcc
            </div>
          </a>
          <a class="" href="<%= channel_student_path("10-aacc-ac")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-10">
              aacc/ac
            </div>
          </a>
          <a class="" href="<%= channel_student_path("11-aacc-ac-duvidas")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-11">
              aacc/ac dúvidas
            </div>
          </a>
          <a class="" href="<%= channel_student_path("12-oportunidades")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-12">
              oportunidades
            </div>
          </a>
          <a class="" href="<%= channel_student_path("13-estagios-curroculares")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-13">
              estágios curriculares
            </div>
          </a>
          <a class="" href="<%= channel_student_path("14-iniciacao-cientifica")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-14">
              iniciação científica
            </div>
          </a>
          <a class="" href="<%= channel_student_path("20-pibid")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-20">
              pibid
            </div>
          </a>
          <a class="" href="<%= channel_student_path("21-bolsa-premio")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-21">
              bolsa prêmio
            </div>
          </a>
          <a class="" href="<%= channel_student_path("22-programa-de-apoio-academico")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-22">
              programa de apoio acadêmico
            </div>
          </a>
          <a class="" href="<%= channel_student_path("23-programa-de-aprimoramento-profissional")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-23">
              programa de aprimoramento profissional 
            </div>
          </a>
          <a class="" href="<%= channel_student_path("24-residencia-pedagogica")%>">
            <div class="mb-2 py-3 text-center text-uppercase text-white warning-type-24">
              RESIDÊNCIA PEDAGÓGICA
            </div>
          </a>
        </div>
        <div class="col-sm-9 px-5" id="warnings">
          <%= render 'warnings'%>
        </div>
      </div>
    </div>
  </div>
</section>