.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to("Regimento Escolar", regiments_path)
      -if !params[:id].blank?
        %li
          =link_to(@warnings.first.type_warning.name, channel_student_path(@warnings.first.type_warning.url_slug))  
    
    %h1 Regimento Escolar
    .col-sm-3.col-xs-12
      %ul.lista-lateral
        -@type_warnings.each do |type_warning|
          %li
            =link_to(raw("#{type_warning.name}<span class='qtd'>#{type_warning.warnings(:conditions => ["published =  true and active = true"]).count}</span>"), regiments_path)

    .col-sm-9.col-xs-12
      .row
        .col-xs-12
          -@warnings.each do |warning|
            %article.canaldoaluno
              =raw("<div class='label #{show_type_color(warning.type_warning_id)}'>#{warning.type_warning.name}</div>")
              .label.label-primary
              .published=I18n.localize(warning.created_at, :format => :date_default) 
              %h2=warning.name
              %p= truncate(warning.description, :length => 250, :separator => ' ').html_safe 
              %p.text-right
                         
                =link_to("Download", warning.warning_file.url(:original, false), :target=>"_blank")  
          
          
          = pagination_links(@warnings)
