= form_for [:admin, @registration] do |f|
  = f.error_messages
  %p
    = f.label :address
    %br
    = f.text_field :address
  %p
    = f.label :postal_code
    %br
    = f.text_field :postal_code
  %p
    = f.label :number
    %br
    = f.number_field :number
  %p
    = f.label :complement
    %br
    = f.text_field :complement
  %p
    = f.label :neighbourhood
    %br
    = f.text_field :neighbourhood
  %p
    = f.label :state
    %br
    = f.text_field :state
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :active
    %br
    = f.check_box :active
  %p
    = f.label :published
    %br
    = f.check_box :published
  %p
    = f.submit
