%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Pré-Matrículas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Pré-Matrículas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Pré Matriculas Cadastradas
      .p-4

        %table.table.table-hover
          %tr
            %th Codigo
            %th Nome do Aluno
            %th Nome do Responsavel Financeiro
            %th Numero da Inscrição do vestibular
            %th Data do agendamento
            %th Ações
          - for registration in @registrations
            -if registration.subscribe
              %tr
                %td= registration.id
                %td= registration.subscribe.user.name
                %td= registration.name
                %td= registration.subscribe.registration
                %td= registration.scheduling
                %td= link_to 'Visualizar', [:admin, registration], :class => "btn btn-default"






