%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Pré-Matrículas
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Pré-Matrículas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title
            = @department.name if @department
            = @registration.subscribe.user.name
        .p-4
          .box-body
            %strong Inscrição:
            = @registration.subscribe.registration
          .box-body
            %strong Primeira Opção:
            = @registration.subscribe.first_option_class.name
          .box-body
            %strong Segunda Opção:
            = @registration.subscribe.second_option_class.name
          %h2 Dados do Aluno
          .box-body
            %strong Nome:
            = @registration.subscribe.user.name
          .box-body
            %strong Telefone:
            = @registration.subscribe.user.phone
          .box-body
            %strong Email:
            = @registration.subscribe.user.email
          .box-body
            %strong RG:
            = @registration.subscribe.user.rg
          .box-body
            %strong CPF:
            = @registration.subscribe.user.cpf
          .box-body
            %strong CEP:
            = @registration.subscribe.user.postal_code
          .box-body
            %strong Endereço:
            = @registration.subscribe.user.address
          .box-body
            %strong Numero:
            = @registration.subscribe.user.number
          .box-body
            %strong Complemento:
            = @registration.subscribe.user.complement
          .box-body
            %strong Bairro:
            = @registration.subscribe.user.neighbourhood
          .box-body
            %strong Cidade:
            = @registration.subscribe.user.city
          .box-body
            %strong Estado:
            = @registration.subscribe.user.state


          %h2 Dados do Responsavel Financeiro
          .box-body
            %strong Nome:
            = @registration.name
          .box-body
            %strong Telefone:
            = @registration.phone
          .box-body
            %strong CPF:
            = @registration.cpf
          .box-body
            %strong CEP:
            = @registration.postal_code
          .box-body
            %strong Endereço:
            = @registration.address
          .box-body
            %strong Numero:
            = @registration.number
          .box-body
            %strong Complemento:
            = @registration.complement
          .box-body
            %strong Bairro:
            = @registration.neighbourhood
          .box-body
            %strong Cidade:
            = @registration.city
          .box-body
            %strong Estado:
            = @registration.state
          .box-body
            %strong Agendamento:
            = @registration.scheduling

          -if @registration.comprovante_enem.file?
            %h2 Resultado ENEM / RG
            .box-body
              %strong Enem:
              %br
              =link_to ("resultado enem", @registration.comprovante_enem.url())

          .box-body
            %strong RG frente:
            %br
            =image_tag(@registration.arquivo_rg.url(), :class => "img-reponsive", :width => 500)
            %br
            =link_to("Download", @registration.arquivo_rg.url())

          .box-body
            %strong RG verso:
            %br
            =image_tag(@registration.arquivo_rg_verso.url(), :class => "img-reponsive", :width => 500)
            %br
            =link_to("Download", @registration.arquivo_rg_verso.url())

        .card-footer
          %p
            = link_to "Visualizar Todos", admin_registrations_path, :class => "btn btn-default"