= form_for [:admin, @category] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      = f.label :name
       
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :published
       
      = f.check_box :published
    .form-group
      =f.label :category_img
      = f.file_field :category_img, :class => "form-control"

    = f.submit "Salvar", :class =>"btn btn-primary"
