%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Categorias
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Categorias
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title Editar Categoria
        .p-4
          = render 'form'

        .card-footer
          %p
            = link_to "Visualizar todos", admin_categories_path, :class => "btn btn-default" if @category.id != 9
            = link_to "Exibir", [:admin, @category], :class => "btn btn-default"

