%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Categorias
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Categorias
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Categorias Cadastradas
      .p-4
        %table.table.table-hover
          %tr
            %th Imagem
            %th Nome
            %th Publicado?
            %th Ações
          - for category in @categories
            -if category.id != 9
              %tr
                %td= image_tag(category.category_img.url(:thumb))
                %td= category.name
                %td= show_boolean(category.published)
                %td
                  = link_to "Visualizar", [:admin, category], :class => "btn btn-default"
                  = link_to "Editar", edit_admin_category_path(category), :class => "btn btn-default"
                  = link_to "Itens", admin_category_items_path(category), :class => "btn btn-default"  if category.show_item
                  = link_to "Normas de Estágio", admin_category_items_path(11), :class => "btn btn-default"  if category.id == 2


