%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Categorias
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Categorias
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @category.name
        .p-4
          %p= "Publicado? #{show_boolean(@category.published)}"
          %p
            ="Imagem:"
            %br
            =image_tag(@category.category_img.url(:original))
        .card-footer
          %p
            = link_to "Editar", edit_admin_category_path(@category), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_categories_path, :class => "btn btn-default" if @category.id != 9
