= form_for [:admin, @schedule] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      %p
        = f.label :name, "Nome"
        %br
        = f.text_field :name, :class => "form-control"
      %p
        = f.label :schedule_date, "Data Início"
        %br
        = f.date_select :schedule_date, :class => "form-control"
        
      %p
        = f.label :schedule_date_end, "Data Fim"
        %br
        = f.date_select :schedule_date_end, :include_blank=> true, :class => "form-control"
      %p
        = f.label :schedule_time, "Hora"
        %br
        = f.time_select :schedule_time, :include_blank=> true, :class => "form-control"
      %p
        = f.label :description, "Descrição"
        %br
        = f.text_field :description, :class => "form-control"
      
      %p  
        = f.label :attach, "Arquivo"
        %br
        = f.file_field :attach, :class => "form-control"
      
      %p
        = f.label :published, "Publicado"
        %br
        = f.check_box :published
      %p
        = f.submit "Salvar", :class =>"btn btn-primary"
