%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark
          Entrada
          =@schedule.name
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Agenda
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @schedule.name
        .p-4
          = render 'form'
        .card-footer
          = link_to "Visualizar todos", admin_schedules_path, :class => "btn btn-default"
          = link_to "Exibir", [:admin, @schedule], :class => "btn btn-default"

