%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Agenda
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Agenda
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header

%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Entradas Cadastradas
      .p-4

        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Nome
              %th Dia
              %th Hora
              %th Published
              %th Ações
          %tbody
            - for schedule in @schedules
              %tr
                %td= schedule.name
                %td
                  #{I18n.localize(schedule.schedule_date, :format=>"%d/%m/%Y")}
                %td
                  -if !schedule.schedule_time.blank?
                    #{I18n.localize(schedule.schedule_time, :format=>"%H:%M")}
                %td= schedule.published
                %td
                  = link_to "Visualizar", [:admin, schedule], :class => "btn btn-default"
                  = link_to "Editar", edit_admin_schedule_path(schedule), :class => "btn btn-default"
                  = link_to "Excluir", [:admin, schedule], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p= link_to "Nova Entrada", new_admin_schedule_path, :class => "btn btn-primary"