%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark
          Entrada
          =@schedule.name
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Agenda
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @schedule.name
        .card-body
          %p
            %strong Nome:
            = @schedule.name
          %p
            %strong Data:
            #{I18n.localize(@schedule.schedule_date, :format=>"%d/%m/%Y")}
          -if !@schedule.schedule_time.blank?
            %p
              %strong Hora:
              #{I18n.localize(@schedule.schedule_time, :format=>"%H:%M")}
          %p
            %strong Descrição:
            = @schedule.description
          %p
            %strong Publicado:
            = @schedule.published

          -if @schedule.attach.file?
            =link_to "Download", @schedule.attach.url

        .card-footer
          %p
            = link_to "Editar", edit_admin_schedule_path(@schedule), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_schedules_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @schedule], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
