= form_for [@transfer] do |f|
  %fieldset
    .row
      .col-md-2
        = f.text_field :name, :placeholder => "Nome", :class => "transfer-input", :required => true
      .col-md-2
        = f.text_field :phone, :placeholder => "Telefone", :class => "transfer-input", :required => true
      .col-md-2
        = f.text_field :email, :placeholder => "Email", :class => "transfer-input", :required => true
      .col-md-2
        = f.text_field :city, :placeholder => "Cidade", :class => "transfer-input", :required => true
      .col-md-3
        = f.collection_select(:curso, @class_categories, :name, :name, {:prompt   => "Curso"}, {:id => 'curso', :class => "select2 transfer-input", :required => true})
      .col-md-1.text-right
        = f.submit ">", :class => "transfer-send", :data => { :disable_with=> "Aguarde..." }
.clearfix