<section class="form-section">
	<div class="bg-section">
		<nav>
			<div class="nav-logo"></div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center">
					<img src="assets/lp/conceito.png" class="img-fluid animated fadeInDown">
				</div>
				<div class="col-md-6 text-center">
					<img src="assets/lp/texto-seta.png" class="img-fluid animated fadeInDown mt-md-5 pt-5">
				</div>
				<div class="container my-5 pt-md-5 px-0">
					<div class="work-form px-5 animated fadeInUp">
						<div class="download-info">Preencha o formulário e faça download do arquivo</div>
	          <%= render 'form'%>
	          <div class="text-center p-relative mt-4">
          	 	<h2 class="text-white animated fadaInd">Saiba mais</h2>
          		<a href="#info" class=""><img src="assets/lp/scroll.png"></a>
	          </div>	         
	        </div>
				</div>		
			</div>
		</div>
	</div>
</section>
<section class="info-section pt-5" id="info">
	<div class="container pt-5">
		<div class="text-center">
			<div class="info-title mb-5">
				<span class="d-block">Veja como é fácil</span>
				<h1 class="d-block">fazer a transferência!</h1>				
			</div>
			<div class="info-box">
				<img src="assets/lp/Infografico.png" class="img-fluid mb-5">
				<br>
				<form action="#">
				    <input class="transfer-btn my-5 p-2" type="submit" value="Fazer transferência" />
				</form>
				<!-- <button class="transfer-btn my-5 p-2">Fazer transferência</button> -->
			</div>
		</div>
	</div>
</section>
<footer class="footer py-5">
	<div class="container py-5">
		<div class="row text-center text-md-left">
			<div class="col-md-4 pt-5">
				<h2 class="text-white"><strong># vem</strong>ser<strong>fesb</strong></h2>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/logo.png">
			</div>
			<div class="col-md-4 pt-5">
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-2 col-4">
						<a href="https://www.facebook.com/FESBoficial" target="_blank"><img src="assets/lp/facebook.png"></a>
					</div>
					<div class="col-md-2 col-4">
						<a href="#" ><img src="assets/lp/youtube.png"></a>
					</div>
					<div class="col-md-2 col-4">
						<a href="http://instagram.com/escolhafesb" target="_blank"><img src="assets/lp/instagram.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>