-content_for :footer do
  = tinymce
  
= form_for [:admin, @warning] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body
    .form-group
      = f.label :type_warning_id, "Tipo de Aviso"
       
      = f.select :type_warning_id, @type_warnings,{ :prompt=>"Selecione um Tipo"}, {:class => "form-control"}
    .form-group
      = f.label :name, "Nome"
      
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :short_description, "Descrição Breve"
       
      = f.text_field :short_description, :class => "form-control"
    .form-group
      = f.label :description, "Descrição"
       
      = f.text_area :description, :class => "form-control tinymce"
    .form-group
      = f.label :published, "Publicado"      
      = f.check_box :published 
    .form-group
      = f.label :show_home, "Mostrar na Home?"      
      = f.check_box :show_home
      
    .form-group
      %label Imagens da Galeria
      %input{:multiple => "multiple", :name => "warning[attachments_array][]", :type => "file"}/
      
      
    .form-group
      = f.label :warning_image, "Imagem de Destaque na Home"       
      = f.file_field :warning_image, :class => "form-control"
    .form-group
      = f.label :warning_file, "Arquivo para Download"       
      = f.file_field :warning_file, :class => "form-control"    

    = f.submit "Salvar", :class =>"btn btn-primary"    
