%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Avisos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Avisos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Itens Cadastrados
      .card-body.table-responsive.no-padding
        %table.table.table-hover.dataTable
          %thead
            %tr
              %th Tipo de Aviso
              %th Nome
              %th Publicado
              %th Aparece na Home
              %th Criado em
              %th Ações
          %tbody
            - for warning in @warnings
              %tr
                %td= warning.type_warning.name
                %td= warning.name
                %td= show_boolean(warning.published)
                %td= show_boolean(warning.show_home)
                %td= warning.created_at.strftime("%d/%m/%Y")
                %td
                  = link_to "Visualizar", [:admin, warning], :class => "btn btn-default"
                  = link_to "Editar", edit_admin_warning_path(warning), :class => "btn btn-default"
                  = link_to "Excluir", [:admin, warning], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
                  = link_to 'Galeria de Imagens', admin_warning_warning_images_path(warning), :class => "btn btn-default"
      .card-footer
        %p= link_to "Criar Aviso", new_admin_warning_path, :class => "btn btn-primary"
