%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Avisos
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Avisos
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @warning.name

        .card-body
          %p
            %strong Tipo de Aviso:
            = @warning.type_warning.name
          %p
            %strong Descrição Breve:
            = @warning.short_description
          %p
            %strong Descrição:
            = raw(@warning.description)
          %p
            %strong Publicado:
            = show_boolean(@warning.published)
        .card-footer
          %p
            = link_to "Editar", edit_admin_warning_path(@warning), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_warnings_path, :class => "btn btn-default"
            = link_to "Excluir", [:admin, @warning], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"

