html{
	font-size: 100%;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors .tagsinput, .field_with_errors select
{
  border:1px solid red;
}
.date-label-form{
	display:block;
}
.date-select-form{
	width:32%;
	display:inline-block;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#ShowSubscribes{
	padding-right:45px;
}
#registration_scheduling{
	background-color:#fff;
	cursor:pointer;
}
.DTTT_container{
	width:100%;
}

.buttons-copy {color: white !important;font-weight: bold !important;background: #3c8dbc !important;border-color: #367fa9 !important;}
.buttons-excel{color: white !important;font-weight: bold !important;background: #2d723b !important;border-color: #2d723b !important;}
.buttons-pdf{color: white !important;font-weight: bold !important;background: #da271c !important;border-color: #da271c !important;}

#overlay {
	position: absolute;
	width: 88.9%;
	bottom: 0;
	top: 0;
	z-index: 9999;
	background-repeat: no-repeat;
	background-color: #ffffffb8;
	background-image: url(/assets/loading.gif);
	background-position: 45% 0%;
}

#sendloader {position: absolute;height: 100%;width: 100%;background: #ffffff4d;z-index: 99;background-image: url(/assets/sending.gif);background-repeat: no-repeat;background-position: 40% 10%;display: none;}

.p-absolute{position: absolute !important}
.l-50{left: 50% !important}
.font-size-75{font-size: 75%;}
.p-initial{position: initial !important}

.select2{width: 100% !important}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0586ff !important;
    border: 1px solid #3b4249 !important;
}