/*.navbar-collapse.in {
  overflow: none;
}*/
html,
body {
  font-size: 14px;
  font-family: 'Century Gothic';
  color: #6d6d6d;
}
a {
  color: #002f5a;
}
a:hover {
  text-decoration: underline;
}
#topo {
  height: 90px;
  z-index:2000!important;
}
#topo .logo a {
  background: url("imgs/sprite.png") no-repeat;
  background-position: 0px 0px;
  width: 102px;
  height: 38px;
  display: block;
  text-indent: -1000000px;
  margin-top: 10px;
  margin-left: 50px;
}
@media (max-width: 980px) {
  #topo .logo a {
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  #topo .logo a {
    margin: 10px auto;
  }
}
@media (max-width: 480px) {
  #topo .logo a {
    margin: 10px auto;
  }
}
@media (max-width: 640px) {
  #topo .logo a {
    margin: 10px auto;
  }
}
#topo .menu-topo {
  color: #fff;
  height: 29px;
  background-color: #002f5a;
  max-height: 29px;
}
@media (max-width: 360px) {
  #topo .menu-topo {
    height: auto;
    max-height: none;
  }
}
@media (max-width: 480px) {
  #topo .menu-topo {
    height: auto;
    max-height: none;
  }
}
@media (max-width: 640px) {
  #topo .menu-topo {
    height: auto;
    max-height: none;
  }
}
#topo .menu-topo .navbar {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#topo .menu-topo .navbar-header button.navbar-toggle {
  width: 100%;
}
#topo .menu-topo .nav {
  /*float: right;*/
  border: 0px;
}
@media (max-width: 360px) {
  #topo .menu-topo .nav {
    float: none;
  }
}
@media (max-width: 480px) {
  #topo .menu-topo .nav {
    float: none;
  }
}
@media (max-width: 640px) {
  #topo .menu-topo .nav {
    float: none;
  }
}
#topo .menu-topo ul li a {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  padding-top: 5px;
  padding-bottom: 3px;
}
@media (max-width: 1024px) {
  #topo .menu-topo ul li a {
    font-size: 10px;
    font-weight: normal;
    padding-left: 4px;
    padding-right: 5px;
  }
}


#topo .menu-topo ul li a:hover {
  background-color: #004687;
  color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#topo .menu-principal-bg {
  background-color: #004687;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#topo .menu-principal-bg .navbar {
  margin-top: -1px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 0px;
}
#topo .menu-principal-bg .navbar-toggle {
  margin: 0px auto;
  color: #fff;
  float: none;
  text-align: center;
  width: 100%;
  background-color: #002f5a;
}
@media (max-width: 980px) {
  #topo .menu-principal-bg .col-sm-10.col-xs-12 {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  #topo .menu-principal-bg .col-sm-10.col-xs-12 {
    padding: 0 15px;
  }
}
@media (max-width: 980px) {
  #topo .menu-principal-bg .container-fluid {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  #topo .menu-principal-bg .container-fluid {
    padding: 0 15px;
  }
}
#topo .menu-principal-bg #menu-principal {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media (min-width: 361px) and (max-width: 980px) {
  #topo .menu-principal-bg #menu-principal {
    padding: 0px;
  }
}
#topo .menu-principal-bg #menu-principal ul li {
  position: relative;
}
#topo .menu-principal-bg #menu-principal ul li.active a {
  background-color: #002f5a;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#topo .menu-principal-bg #menu-principal ul li a {
  padding: 20px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
@media (min-width: 360px) and (max-width: 1024px) {
  #topo .menu-principal-bg #menu-principal ul li a {
    padding: 20px 6px;
    font-weight: normal;
    font-size: 11px;
  }
}
@media (max-width: 360px) {
  #topo .menu-principal-bg #menu-principal ul li a {
    padding: 6px 15px;
  }
}
@media (max-width: 480px) {
  #topo .menu-principal-bg #menu-principal ul li a {
    padding: 6px 15px;
  }
}
@media (max-width: 640px) {
  #topo .menu-principal-bg #menu-principal ul li a {
    padding: 6px 15px;
  }
}
#topo .menu-principal-bg #menu-principal ul li a.vestibular {
  padding: 20px 4px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

#topo .menu-principal-bg #menu-principal ul li a.vestibular span {
  background-color: #3184d0;
  padding: 5px 8px;
  border-radius: 3px;
}

#topo .menu-principal-bg #menu-principal ul li.active a.vestibular span {
  color: #fff;
  background-color: #002f5a;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#topo .menu-principal-bg #menu-principal ul li ul {
  position: absolute;
  top: 60px;
  z-index: 10000;
  background-color: #002f5a;
  margin: 0px;
  padding: 0px;
  left: 0px;
  display: none;
}
@media (max-width: 980px) {
  #topo .menu-principal-bg #menu-principal ul li ul {
    top: 40px;
  }
}
@media (max-width: 360px) {
  #topo .menu-principal-bg #menu-principal ul li ul {
    top: 32px;
  }
}
#topo .menu-principal-bg #menu-principal ul li ul li {
  padding: 0px;
  display: block;
  list-style: none;
  margin: 0px;
  width: 300px;
}
#topo .menu-principal-bg #menu-principal ul li ul li a {
  font-weight: normal;
  padding: 5px 10px;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#topo .menu-principal-bg #menu-principal ul li ul li a:hover {
  background-color: #fff;
  color: #002f5a;
  padding-left: 30px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  text-decoration: none;
}
.slide-container {
  padding: 0px;
  width: 100%;
  position: relative;
}
@media (max-width: 360px) {
  .slide-container {
    margin-top: 70px;
  }
}
@media (max-width: 480px) {
  .slide-container {
    margin-top: 70px;
  }
}
@media (max-width: 640px) {
  .slide-container {
    margin-top: 70px;
  }
}
.slide-container #slide {
  max-height: 535px;
  background-color: #002f5a;
  overflow: hidden;
}
.slide-container .cycle-pager {
  position: relative;
  margin: -40px auto 0px;
  z-index: 200;
  top: 0px;
  text-align: center;
}
.slide-container .cycle-pager a {
  width: 13px;
  height: 13px;
  margin: 10px 5px;
  display: inline-block;
  border-radius: 100px;
  text-indent: -10000px;
  background-color: #002f5a;
}
.slide-container .cycle-pager a.cycle-pager-active,
.slide-container .cycle-pager span:hover {
  background-color: #004687;
}
.imagem-interna {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  height: 163px;
}
@media (max-width: 360px) {
  .imagem-interna {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .imagem-interna {
    margin-top: 50px;
  }
}
@media (max-width: 640px) {
  .imagem-interna {
    margin-top: 50px;
  }
}
#interno {
  padding-bottom: 50px;
}
#interno .published {
  margin: 15px 0px 0px;
}
#interno .galeria {
  padding-left: 0px;
  margin-left: 0px;
}
#interno .galeria li {
  list-style: none;
  padding-left: 0px;
  margin: 12px 0px;
}
#interno .lista-lateral {
  padding-left: 0px;
}
#interno .lista-lateral li {
  list-style: none;
}
#interno .lista-lateral li a {
  color: #fff;
  display: block;
  font-size: 16px;
  background-color: #0e4279;
  padding: 10px 15px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#interno .lista-lateral li a .qtd {
  border-radius: 100px;
  padding: 0px 10px;
  background-color: #fff;
  color: #002f5a;
  float: right;
}
#interno .lista-lateral li a:hover,
#interno .lista-lateral li a:active {
  padding-left: 20px;
  text-decoration: none;
  background-color: #3184d0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#interno .cursos {
  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
}
#interno .cursos li {
  padding: 15px;
  margin: 15px 10px;
  display: inline-block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  max-width: 400px
}
#interno .cursos li .icon {
  margin: 10px auto;
  /*background: url("imgs/sprite.png") no-repeat;*/
  background-position: 0px -65px;
  width: 96px;
  height: 109px;
  display: block;
  /*text-indent: -1000000px;*/
}
#interno .cursos li .p_icon {
  color: #6d6d6d;
  font-size: 16px;
}
#interno .cursos li .icon.ciencias {
  background-position: -96px -65px;
  width: 92px;
}
#interno .cursos li .icon.edartes {
  background-position: -183px -65px;
  width: 88px;
}
#interno .cursos li .icon.edfisica {
  background-position: -293px -65px;
}
#interno .cursos li .icon.geografia {
  background-position: -388px -76px;
  width: 106px;
}
#interno .cursos li .icon.historia {
  background-position: -495px -63px;
}
#interno .cursos li .icon.letras {
  background-position: 0px -191px;
  width: 109px;
}
#interno .cursos li .icon.matematica {
  background-position: -105px -191px;
  width: 102px;
}
#interno .cursos li .icon.nutricao {
  background-position: -206px -184px;
  width: 116px;
}
#interno .cursos li .icon.pedagogia {
  background-position: -322px -184px;
}
#interno .cursos li .icon.quimica {
  background-position: -418px -184px;
  width: 122px;
  height: 119px;
}
#interno .cursos li .icon.servicosocial {
  background-position: 0px -304px;
  width: 124px;
  height: 116px;
}
#interno .cursos li .icon.veterinaria {
  background-position: -128px -304px;
  height: 136px;
}
#interno .cursos li a {
  margin: 10px 0px;
  display: block;
  font-size: 16px;
}
#interno .cursos li a:hover {
  text-decoration: none;
}
#interno .cursos li:hover {
  background-color: #f1f1f1;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#interno .nav-tabs {
  border: none;
}
#interno .nav-tabs > li.active > a,
#interno .nav-tabs > li.active > a:hover,
#interno .nav-tabs > li.active > a:focus {
  border-radius: 0px;
  color: #002f5a;
}
#interno .nav-tabs li a {
  border-left: 2px solid #002f5a;
  border-radius: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 5px 50px;
  color: #6d6d6d;
}
#interno .nav-tabs a:first-child {
  border-left: 0px;
}
#interno .breadcrumb {
  margin: 10px 0px;
  padding: 0px;
  color: #002f5a;
  background-color: transparent;
}
#interno .breadcrumb li:first-child:before {
  margin-right: 3px;
  content: '>';
}
#interno .breadcrumb li + li:before {
  color: #002f5a;
}
#interno .breadcrumb a {
  font-size: 12px;
}
#interno .espiao {
  font-weight: normal;
}
#interno .espiao ul li a {
  font-size: 12px;
  color: #6d6d6d;
}
#interno .espiao ul li.active a {
  color: #3184d0;
}
#interno form.inscricao {
  color: #002f5a;
}
#interno form.inscricao .form-group {
  margin-right: 30px;
}
#interno form.inscricao .form-group .col-sm-12.col-xs-12 {
  padding-top: 20px;
}
#interno form.inscricao #login,
#interno form.inscricao #pessoais {
  padding-top: 130px;
  margin-top: -130px;
}
#interno form.inscricao h2 {
  margin-top: 40px;
}
#interno form.vestibular {
  width: 70%;
  margin: 0 auto;
  color: #002f5a;
}
#myModal{
	top:30%;
}
#interno form.vestibular label {
  color: #002f5a;
}
#interno form .skip {
  margin-top: 90px;
}
@media (max-width: 360px) {
  #interno form .skip {
    margin: 0px;
  }
}
@media (max-width: 480) {
  #interno form .skip {
    margin: 0px;
  }
}
@media (max-width: 640px) {
  #interno form .skip {
    margin: 0px;
  }
}
#interno form label {
  font-weight: normal;
}
#interno form label .azul {
  color: #0e4279;
}
#interno form .big-text {
  height: 255px;
}
#interno form .big-text2 {
  height: 285px;
}
#interno form .enviar {
  display: block;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
  padding: 5px 25px;
  background-color: #002f5a;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#interno form .enviar:hover {
  background-color: #004687;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#interno h1 {
  color: #0e4279;
  font-size: 30px;
  margin-bottom: 40px;
}
#interno h2 {
  color: #0e4279;
  font-weight: normal;
  font-size: 21px;
}
#interno h3 {
  color: #0e4279;
}
#interno img.pull-left {
  margin-right: 20px;
}
#interno img.pull-left {
  margin-left: 20px;
}
#interno .pagination {
  margin: 0 auto;
  display: block;
}
#interno .pagination li.active a,
#interno .pagination li:hover a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #fff;
  background-color: #002f5a;
  border-color: transparent;
}
#interno .professor {
  clear: both;
}
#interno .professor img.pull-left {
  margin-right: 10px;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 0px;
}
#interno .professor h2 {
  font-size: 16px;
  color: #353535;
}
#interno .professor a {
  color: #6d6d6d;
  text-decoration: underline;
}
#interno .professor a:hover {
  text-decoration: none;
}
#interno article {
  clear: both;
  display: block;
  margin-bottom: 20px;
}
#interno article img {
  float: left;
  margin-right: 15px;
  margin-bottom: 30px;
}
#interno article .published + h2 {
  margin-top: 0px;
  padding-top: 0px;
}
#interno article.canaldoaluno h2 {
  color: #353535;
}
#interno article.canaldoaluno .label {
  font-size: 12px;
  font-weight: normal;
  padding: 3px 20px;
}
#interno article.canaldoaluno .label.label-primary {
  background-color: #31ced0;
}
#interno article.canaldoaluno .label.label-danger {
  background-color: #d03131;
}
#interno article.canaldoaluno .label.label-success {
  background-color: #47d031;
}
#interno article.canaldoaluno .label.label-success {
  background-color: #47d031;
}
#interno article.canaldoaluno .label.label-warning {
  background-color: #d08031;
}
#interno span.title {
  color: #353535;
}
#interno .t16 {
  font-size: 16px;
}
#interno .table th {
  color: #0e4279;
}
#interno .table .downloadProjetos {
  margin: 0 auto;
  background: url("imgs/sprite.png") no-repeat;
  background-position: -323px 0px;
  width: 26px;
  height: 32px;
  display: block;
  text-indent: -1000000px;
}
#interno .table-striped > tbody > tr:nth-child(2n+1) > td,
#interno .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f2f8fe;
}
#interno .btn.btn-azul {
  background-color: #002f5a;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#interno .btn.btn-azul:hover {
  background-color: #004687;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#interno .passos {
  list-style: none;
  clear: both;
  margin-bottom: 10px;
}
#interno .passos ul li {
  font-size: 12px;
  display: inline-block;
  list-style: none;
  color: #6d6d6d;
  background: url("imgs/sprite.png") no-repeat -250px -306px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-right: 25px;
}
#interno .passos ul li:nth-child(n+1) {
  margin-left: -15px;
}
@media (max-width: 360px) {
  #interno .passos ul li {
    clear: both;
    display: block;
    width: 100%;
    margin: 10px 0px;
  }
}
@media (max-width: 480px) {
  #interno .passos ul li {
    clear: both;
    display: block;
    width: 100%;
    margin: 10px 0px;
  }
}
@media (max-width: 640px) {
  #interno .passos ul li {
    clear: both;
    display: block;
    width: 100%;
    margin: 10px 0px;
  }
}
#interno .passos ul li span {
  margin-right: 16px;
  padding-left: 13px;
}
#interno .passos ul li.active {
  color: #002f5a;
  background-position: -250px -336px;
}
#interno .virtual_library{
  margin: 10px 0px;
}
#interno .virtual_library h2{
  font-size: 18px;
}
#interno .virtual_library p{
  font-size: 14px;
}
#home-content {
  padding: 20px 0px;
}
#home-content .line {
  border-bottom: 1px solid #002f5a;
  margin: 40px 15px 0px;
  display: block;
}
#home-content .agendaLinks {
  padding-left: 0px;
  margin-bottom: 5px;
}
#home-content .agendaLinks li {
  list-style: none;
  display: block;
  clear: both;
  padding: 15px 5px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#home-content .agendaLinks li a {
  display: block;
}
#home-content .agendaLinks li a .date {
  float: left;
  border-right: 3px solid #002f5a;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 5px;
}
#home-content .agendaLinks li a .date .dia {
  font-size: 18px;
  display: block;
  clear: both;
}
#home-content .agendaLinks li a .date .hora {
  display: block;
  clear: both;
}
#home-content .agendaLinks li a span {
  float: left;
  display: inline-block;
  width: 100%;
  max-width:250px;
}
#home-content .agendaLinks li a span.title {
  background: none;
  text-align: left;
}
#home-content .agendaLinks li a span.title h3 {
  font-size: 16px;
  color: #0e4279;
  margin: 0px;
}
#home-content .agendaLinks li a span.title p {
  color: #6d6d6d;
  margin: 0px;
  font-size: 13px;
}
#home-content .agendaLinks li:hover {
  background-color: #eee;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#home-content .title h2 {
  font-style: 24px;
  font-weight: normal;
  color: #002f5a;
  padding-bottom: 5px;
}
#home-content .canaldoaluno article {
  clear: both;
  display: block;
  padding: 15px 35px 15px 0px;
}
@media (max-width: 360px) {
  #home-content .canaldoaluno article {
    margin: 10px auto;
    padding: 10px;
  }
}
#home-content .canaldoaluno article h3 {
  color: #0e4279;
  font-size: 16px;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 90px;
}
@media (max-width: 360px) {
  #home-content .canaldoaluno article h3 {
    margin: 0px;
    padding-right: 0px;
    clear: both;
  }
}
#home-content .canaldoaluno article img.pull-left {
  margin-right: 15px;
}
@media (max-width: 360px) {
  #home-content .canaldoaluno article img.pull-left {
    margin: 0 auto 10px;
    text-align: center;
    float: none !important;
    display: block;
  }
}
#home-content .canaldoaluno article a {
  color: #0e4279;
  text-decoration: underline;
}
#home-content .canaldoaluno article a:hover {
  text-decoration: none;
}
#home-content .banner {
  padding: 0px;
  background: url("imgs/bg-banner.jpg") no-repeat center top;
  max-height: 290px;
  margin: 20px auto;
}
@media (max-width: 360px) {
  #home-content .banner {
    padding: 20px 0px 0px;
  }
}

#home-content .banner img {
  margin: 0 auto;
}
#home-content .itens {
  text-align: center;
  margin-top: 12%;
}
#home-content .itens h2 {
  font-size: 20px;
  color: #0e4279;
}
#home-content .itens > div {
  padding: 10px 30px;
  font-size: 13px;
}
#home-content .itens img {
  margin: 20px auto;
}
#home-content .show_campus p{
  color: #6d6d6d;
  font-size: 13px;
}
#rodape {
  background-color: #004687;
  padding: 10px 0px 0px;
}
#rodape .menu-rodape {
  color: #fff;
  margin-top: 20px;
  padding-bottom: 20px;
}
#rodape .menu-rodape h2 {
  font-size: 16px;
  font-weight: normal;
}
#rodape .menu-rodape .icon {
  float: left;
  margin: 10px 30px;
  background: url("imgs/sprite.png") no-repeat;
  background-position: -134px 0px;
  width: 46px;
  height: 39px;
  display: block;
  text-indent: -1000000px;
}
#rodape .menu-rodape .icon.pibid {
  background-position: -182px 0px;
  width: 41px;
}
#rodape .menu-rodape .icon.braganca {
  background-position: -225px 0px;
  width: 25px;
}
#rodape .menu-rodape .icon.escolafamilia {
  background-position: -255px 0px;
}
#rodape .menu-rodape .btn-azul {
  background-color: #3184d0;
  color: #fff;
  text-align: left;
  width: 180px;
  height: 35px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#rodape .menu-rodape .btn-azul .ead {
  float: left;
  height: 20px;
  width: 30px;
  margin-top: 0px;
  background-position: -104px -10px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#rodape .menu-rodape .btn-azul:hover {
  background-color: #004687;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#rodape .menu-rodape ul {
  margin-left: 0px;
  padding-left: 0px;
}
#rodape .menu-rodape ul li {
  padding-left: 10px;
  list-style: none;
  background: url("imgs/icon-list.png") no-repeat left 8px;
}
#rodape .menu-rodape ul li a {
  color: #fff;
  font-size: 11px;
}
#rodape .address {
  padding: 10px 10px 15px;
  background-color: #004687;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
#rodape .address p {
  padding-top: 5px;
}
#rodape .address address {
  font-style: normal;
  margin: 0px;
}
#rodape .maps {
  padding: 0px;
  min-height: 290px;
}
#rodape .copyrights {
  background-color: #002f5a;
  color: #fff;
  padding: 10px;
  font-size: 12px;
}
#rodape .copyrights .text {
  padding-top: 15px;
}
#rodape .copyrights .text .logo {
  float: left;
  background: url("imgs/sprite.png") no-repeat;
  background-position: -111px -39px;
  width: 69px;
  height: 26px;
  display: block;
  text-indent: -1000000px;
  margin-right: 15px;
  margin-top: -3px;
}
#rodape .copyrights ul {
  padding-left: 0px;
}
#rodape .copyrights ul li {
  list-style: none;
  display: block;
  float: left;
  margin: 10px;
}
#rodape .copyrights ul li .icon {
  background: url("imgs/sprite.png") no-repeat;
  background-position: 0px -39px;
  width: 26px;
  height: 26px;
  display: block;
  text-indent: -1000000px;
}
#rodape .copyrights ul li .icon.youtube {
  width: 33px;
}
#rodape .copyrights ul li .icon.facebook {
  background-position: -33px -39px;
}
#rodape .copyrights ul li .icon.instagram {
  background-position: -60px -39px;
}
#rodape .copyrights ul li .icon.linkedin {
  background-position: -86px -39px;
}

#search{
  width: 0;
  padding-top: 4px;
  padding-left: 5px;
}

#search button{
  background: transparent;
  position: absolute;
  border: none;
  margin-left: 80px;
  padding-top: 2px;
}

#search input{
  width: 80px;
  height: 20px;
  color: black;
}

.simple_captcha{
  float: right;
}