/*BASE*/

a:hover{
  text-decoration: none !important;
}

.text-dark{
  color: #000 !important;
}

.mt-exams{
  margin-top: 122px;
}

.font-weight-light{
  font-weight: lighter;
}

.rotate-180{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.subscribe-footer-div{
  background: url(/assets/exams/bg-footer.jpg);
}

.footer-subscribe-btn{
  border: solid 1px white;
  padding: 15px 90px;
}

.border-btn{
  border: 2px solid white;
}

.form-control select,
.form-control {
  border-radius: 0;
  padding: 20px 15px;
  border-width: 2px;
  font-weight: 100;
}

.secondary-btn{
  background: url(/assets/exams/btn-gray.jpg);
  border-radius: 0px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #bdbdbd;
}

.bg-gray{
  background: #f1f1f1;
}

.custom-td{
  border: solid 2px lightgrey;
  background: #c5c5c5;
}

.table td, .table th{
  vertical-align: middle;
}

.table-button{
  height: 63px;
}

.custom-select {
  border-radius: 0px;
  font-weight: 100;
  height: 63px;
  padding: 20px 15px;
  border-width: 2px;
  width: 100%;
}

.border-top{
  border-top: solid 2px #cecece;
}

.information-section{
  background-color: #fafafa;
}

.border-top-none{
  border-top: none !important;
}

.border-bottom-none{
  border-bottom: none !important;
}

#sendloader {position: absolute;height: 100%;width: 100%;background: #ffffff4d;z-index: 99;background-image: url(/assets/sending.gif);background-repeat: no-repeat;background-position: 50% 40%;display: none;}

.custom-date-select select {
  border-radius: 0;
  background: transparent;
  width: 30%;
  border-color: #dedede;
  padding: 10px 14px;
  border-width: 2px;
}

/*END BASE*/

/*HEADER*/

.site-navbar {
  background: #284884;
}

.primary-menu{
  border-top: 1px solid white;
  border-bottom: 10px solid #1a2b49;
}

@media (min-width: 1200px){
  .vestibular-logo{
    width: 245px !important;
  }
}

@media (min-width: 380px) and (max-width: 1200px){
  .vestibular-logo{
    width: 200px !important;
  }
}

.vestibular-logo{
  position: absolute;
  top: 0;
  left: 130px;
  width: 140px;
  z-index: 99;
}

.logo {
  background: url(/assets/logo.png) -11px -17px no-repeat;
  width: 109px;
  height: 47px;
  background-size: 135px;
}

.nav-subscribe-btn{
  border: solid 1px;
  background: url(/assets/exams/bg-footer.jpg);
}

/*END HEADER*/

/*FOOTER*/

.footer{
  background: url(/assets/exams/footer-bg.jpg);
}

.vem-ser-fesb{
  font-size: 28px;
}

.copyright-container {
  background: #05325678;
}

/*END FOOTER*/

/*HOME*/

.exams{
  background: url(/assets/exams/bg-ingressar.jpg);
  position: relative;  
}   
.exams-container{
  left: 0;
  right: 0;
}

@media (min-width: 992px){
  .exams-container{
    position: absolute;
    top: -100px;
  }
}

@media (min-width: 769px){
  .exams{
    height: 245px;
  }
}

@media (max-width: 991px){  
  .exams{       
    padding: 15px 15px;
  }
}

.subscribe-box span,
.scholarship-box span,
.info-box span,
.transfer-box span{
  transition: 0.5s;
}

.subscribe-box:hover span,
.scholarship-box:hover span,
.info-box:hover span,
.transfer-box:hover span{
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);  
}

.subscribe-box{
  background-position: center;
  background: url(/assets/exams/bg-inscrevase.jpg) no-repeat;
  height: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scholarship-box{
  background-position: center;
  background: url(/assets/exams/bg-bolsas.jpg) no-repeat;
  height: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box{
  background-position: center;
  background: url(/assets/exams/bg-info.jpg) no-repeat;
  height: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px){
  .transfer-box{
    background: url(/assets/exams/bg-transfer.jpg) no-repeat;  
    max-width: 253px;
    height: 100%;
  }
}

@media (max-width: 991px){
  .transfer-box{
    background: url(/assets/exams/bg-transfer-mobile.jpg) no-repeat;  
    height: 253px;    
  }

  .transfer-box{
    margin-top: 25px;
  }
}

@media (max-width: 465px){
  .transfer-box{
    background-position: right !important;  
  }
}

@media (max-width: 575px){

  .scholarship-box{
    background: url(/assets/exams/bg-bolsas-mobile.jpg) no-repeat !important;
  }

  .info-box{
    margin-top: 25px;
  }
}

.transfer-box{
  background-position: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

/*END HOME*/

/*INFORMATIONS*/

.banner-container{
  background: url(/assets/exams/conteudo-bg.jpg); 
  background-size: cover;
}

.content-info-box{
  padding: 60px 10px;
}

.content-info-box-especial{
  padding: 48px 10px;
}

.content-info-box-especial,
.content-info-box{
  border: solid 1px;  
  height: 144px;
  max-width: 255px;
}

.collapsible {
    color: #a9a9a9;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 2px #a9a9a9;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active_c.collapsible{
  color: black;
  font-weight: bolder;
}

.collapsible:after {
    content: '\002B';
    color: #a9a9a9;
    /*font-weight: bold;*/
    float: right;
    margin-left: 5px;
}

.active_c:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
    border: solid 2px #a9a9a9;
}

/*END INFORMATIONS*/

/*ANIMATION BASE*/

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 2.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInDown2 {
  -webkit-animation-name: fadeInDown2;
  animation-name: fadeInDown2;
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInDown3 {
  -webkit-animation-name: fadeInDown3;
  animation-name: fadeInDown3;
  -webkit-animation-duration: 1s;
  animation-duration: 3.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInDown4 {
  -webkit-animation-name: fadeInDown4;
  animation-name: fadeInDown4;
  -webkit-animation-duration: 1s;
  animation-duration: 3.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 

.pulse-hover:hover,
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} 

/*END ANIMATION BASE*/


@media (min-width: 992px){
  .borded-left-item {
    border-left: solid 1px #fff;
  }
  .borded-sides-item {
    border: 1px solid #fff;
    border-bottom: none;
    border-top: none;
  }
}

/*EDITAIS*/

.edital-btn {
  border: solid #1c3153;
  padding: 40px 25px;
  width: 150px;
  height: 110px;
  color: white;
  font-weight: 600;
  background: #f0410d;
}
