#ficha_catalografica{
	width:210mm;
	height:297mm;
	background-color:#f6f6f6;
	padding:23mm 30mm;
	font-family: "Times New Roman", Times, serif;
	padding-top:350px;
	left: 50%;
	position: relative;
	margin-left: -105mm;
	margin-bottom: 50px;
}
	.titulo{
		text-align: center;		
		font-size:14.0pt;
		text-transform:uppercase;
	}
	.responsavel{
		text-align: center;
		font-size:8.0pt;
		margin-bottom:0px;
	}
	#ficha_catalografica hr{
		border-top: 1px solid black;
	}
	#ficha_catalografica .hr_responsavel{
		margin-top:0px;
	}
	.content_ficha{
		margin-left:10mm;
	}
		.pha{
			margin-left:-10mm;
		}
		#code_name{
			margin-left: -10mm;
		}
	.cod_show{
		margin-left:-10mm;	
	}
	.titulo_desc{
		margin-left:12mm;
	}
	.descricao{
		font-size:11.0pt;
	}
	.data{
		margin-left:10mm;	
	}
	.codigocdd{
		margin-left:80mm;
	}