body {
font: 8px Georgia, "Times New Roman", Times, serif;
color: #000;
}
table{
	border:1px !important;
	margin:none;
}
.even{
background-color:none !important;	
}
#ShowReport_info{
	display:none !important;
}

