* {
background:transparent !important;
color:#000 !important;
text-shadow:none !important;
filter:none !important;
-ms-filter:none !important;
}
 
body {
margin:0;
padding:0;
line-height: 1.4em;
}

@page {
margin: 0.5cm;
}

nav, footer, video, audio, object, embed { 
display:none; 
}
.header{
	display:none;
}
.header{
	display:none;
}
.left-side{
	display:none;
}
.right-side{ 
width: 100%; 
margin: 0; 
float: none !important; 
}
body {
font: 12pt Georgia, "Times New Roman", Times, serif;
color: #000;
}
 
h1 {
font-size: 24pt;
}
 
h2 {
font-size: 18pt;
}
 
h3 {
font-size: 14pt;
}
table{
	border:none;
	margin:none;
}
a:link:after, a:visited:after {
content: " (" attr(href) ") ";
}
a:after, a[href^="javascript:"]:after, a[href^="#"]:after { 
content: ""; 
}
p a {
word-wrap: break-word;
}
p {
widows: 3;
}
p {
orphans: 3;
}
.page-break { 
page-break-before: always; 
}
.even{
background-color:#ccc !important;	
}
.dataTables_paginate{
	display:none;
}
.content-header{
	display:none;	
}
.dataTables_length{
	display:none;	
}
.dataTables_filter	{
	display:none;	
}
.no-print{
	display:none;		
}
.attendance_list table{
	width:100% !important;
	font: 10pt Georgia, "Times New Roman", Times, serif !important;
	page-break-after: always;
	border:0px;
}
	.attendance_list #name{	
		width:40% !important;	
	}
	.attendance_list #first_option{
		width:25% !important;
	}
	.attendance_list #rg{
		width:15% !important;
	}
	.attendance_list #attended{
		width:20% !important;
	}
	td.presence_line{
		border-bottom: 1px solid black;
	}
	
.room_door_list table{
	width:100% !important;
	font: 10pt Georgia, "Times New Roman", Times, serif !important;
	page-break-after: always;
	border:0px;
}
	.room_door_list #name{	
		width:40% !important;	
	}
	.room_door_list #first_option{
		width:25% !important;
	}
	.room_door_list #rg{
		width:20% !important;
		text-align:center !important;
	}
	.room_door_list #room{
		width:15% !important;
		text-align:center !important;
	}
.approved_list table{
	width:100% !important;
	font: 10pt Georgia, "Times New Roman", Times, serif !important;
	page-break-after: always;
	border:0px;
}
	.approved_list #name{	
		width:50% !important;	
	}
	.approved_list #first_option{
		width:25% !important;
	}
	.approved_list #endnote{
		width:25% !important;
	}
.special_need_list table{
	width:100% !important;
	font: 10pt Georgia, "Times New Roman", Times, serif !important;
	page-break-after: always;
	border:0px;
}
	.special_need_list #name{	
		width:40% !important;	
	}
	.special_need_list #first_option{
		width:20% !important;
	}
	.special_need_list #special_needs{
		width:10% !important;
	}
	.special_need_list #special_needs_visual{
		width:10% !important;
	}
	.special_need_list #special_needs_phisics{
		width:10% !important;
	}
	.special_need_list #special_needs_hearing{
		width:10% !important;
	}
#Report_Class_Names table{
	width:100%  !important;
	margin-top:100px!important;
}	
	#Report_Class_Names h3{
		text-align:center;
		font-size:28px;
	}
	#Report_Class_Names .name{
		width:40%  !important;
		text-align:left;
	}
	#Report_Class_Names .paid_true{
		width:20%  !important;
		text-align: center;
	}
	#Report_Class_Names .paid_false{
		width:20% !important;
		text-align: center;
	}
	#Report_Class_Names .sum_all{
		width:20% !important;
		text-align: center;
	}

	
	
	
	