/*------COLORS-------*/

/*BLUES*/
$primary-blue: #014687;
$blue1: #00386b;
$blue2: #0177e5;
$blue3: #0172dc;
$blue4: #0084ff;
$blue5: #31ced0;

/*GRAYS*/
$gray1: #ececec;
$gray2: #7c7c7c;
$gray3: #e5e5e5;
$gray4: #cecece;

/*YELLOWS*/
$yellow1: #f19903;
$yellow2: #dec72c;

/*ORANGENS*/
$orange1: #dc3900;

/*GREENS*/
$green1: #3fa01d;
$green2: #aaca3b;

/*REDS*/
$red1: #d03131;

/*BROWNS*/
$brown1: #8c6238;

/*PURPLES*/
$purple1: #855fa8;

/*------END COLORS------*/

/*------BASE-------*/

html,
body {
  font-size: 14px;
  color: #6d6d6d;
}
body{
  margin-top: 103px;
  @media (min-width: 992px){
    margin-top: 35px;
  }
}

em.current {
  padding: 1px 9px;
  cursor: pointer;
  color: transparent;
  background: $primary-blue;
  margin: 0 10px;
}

.form-group label{
  color: $blue2;
  padding-left: 3rem;
  font-weight: bold;
}

.form-control,
#sheet_keywords_tagsinput,
#sheet_ra_tagsinput,
#sheet_email_tagsinput,
#sheet_name_tagsinput {
  border: none;
  border-radius: 15px;
}

.pagination{
  display: inherit !important;
  text-align: center;
}

.pagination a.next_page,
.pagination .next_page .translation_missing{
  background: url(/assets/icons/next.png);
}

.pagination a.previous_page,
.pagination .previous_page .translation_missing{
  background: url(/assets/icons/prev.png);
}

.pagination .translation_missing,
.pagination a.previous_page,
.pagination a.next_page{
  padding: 3px 12px;
  background-repeat: no-repeat;
}

.pagination .gap {
  padding: 1px 9px;
  cursor: pointer;
  color: transparent;
  background: rgba(126, 127, 128, 0.5);
  margin: 0 10px;
}

.pagination a {
  padding: 1px 9px;
  cursor: pointer;
  color: transparent;
  background: rgba(1, 70, 135, 0.5);
  margin: 0 10px;
}

.warning-type-1{
  background-color: $blue5;
}

.warning-type-2{
  background-color: $red1;
}

.warning-type-4{
  background-color: $blue3;
}

.warning-type-6{
  background-color: $blue3;
}

.warning-type-9{
  background-color: $gray2;
}

.warning-type-10{
  background-color: $green1;
}

.warning-type-11{
  background-color: $yellow2;
}

.warning-type-12{
  background-color: $green2;
}

.warning-type-13{
  background-color: $brown1;
}

.warning-type-14{
  background-color: $primary-blue;
}

.warning-type-20{
  background-color: $purple1;
}

.border-right-solid{
  border-right: solid 2px;
}

.hidden{
  display: none !important;
}

.line{
  border-top: solid 2px $gray3;
}

.d-flex{
  display: flex !important;
}

.breadcrumb{
  background: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: $primary-blue;
  content: ">";
}

.responsive-video iframe, .responsive-video object, .responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.5%;
  overflow: hidden;
}

.page-intern-margin{
  margin-top: 120px;
}

.banner-curso{
  position: relative;
  display: inline-block;
  .text-banner {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
  }
  .text-banner:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    font-size: 2.5rem;
    @media (min-width: 576px){
      font-size: 4.5rem;
    }
    @media (min-width: 991px){
      font-size: 6rem;
    }
    font-weight: 100;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.py-custom-1{
  padding-bottom: 36px !important;
  padding-top: 2.5rem !important;
}

.py-custom-2{
  padding-bottom: 33px !important;
  padding-top: 25px !important;
}

.tabs-custom .nav-link {
  width: 135px;
  line-height: 13px;
}

.canaldoaluno .badge {
  font-size: 12px;
  border-radius: 0px;
}

.canaldoaluno .badge.badge-primary {
  background-color: #31ced0;
}
.canaldoaluno .badge.badge-danger {
  background-color: #d03131;
}
.canaldoaluno .badge.badge-success {
  background-color: #47d031;
}
.canaldoaluno .badge.badge-warning {
  background-color: #d08031;
}

.align-items-center{
  align-items: center;
}

.primary-font-color{
  color: $primary-blue;
}

.blue2-font-color{
  color: $blue2;
}

.raw-primary-font-color{
  span,
  p,
  li{
    color: $primary-blue !important;
  }
}

.primary-background-color{
  background-color: $primary-blue;
}

.primary-button{
  width: 250px;
  transition: all 1s;
}

.font-small{
  font-size: 11px;
}

.footer{
  background: $primary-blue;
}

.border-top-social-footer{
  border-top:solid 1px $blue2;
}

.no-border{
  border: none !important;
}

.dotted-border{
  border-right: dotted 1px #fff;
  height: 25px;
  margin-top: 4px;
}

.no-style-link{
  :hover {
    text-decoration: none !important;
  }
}

.gray1-background{
  background: $gray1;
}

.gray3-background{
  background: $gray3;
}

.blue2-background{
  background: $blue2;
}

.blue3-background{
  background: $blue3;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors .tagsinput, .field_with_errors select
{
  border:1px solid red;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $gray4;
}

.primary-button:hover{
  background: $blue4;
  text-decoration: none;
}

/*-------END BASE------*/


/*------NAVBAR------*/

.navbar{
  background:transparent;
}

.social-icons{
  font-size: 20px;
}

.primary-menu{
  background: $primary-blue;
  @media (min-width: 992px){
    background: rgba(0, 56, 107, 0.90);
  }
}

.logo-mobile{
  background: url(imgs/sprite.png) no-repeat;
  background-position: -112px -32px;
  width: 69px;
  height: 38px;
}

.logo,
.logo-footer{
  background: url(/assets/logo.png) no-repeat;
  background-position: -11px -17px;
  width: 109px;
  height: 47px;
  background-size: 135px;
}

.copyright-div{
  background: $blue2;
}

.site-navbar{
  border-top:solid 5px $blue2;
}

.link-menu-section{
  background: $primary-blue;
  font-size: 12px;
}

.nav-search-input{
  background: url(/assets/icons/magnifier.png) no-repeat transparent;
  border: none;
  color: #fff;
  height: 30px;
}
.nav-search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #fff;
}
.nav-search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  1;
}
.nav-search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  1;
}
.nav-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #fff;
}
.nav-search-input::-ms-input-placeholder { /* Microsoft Edge */
  color:    #fff;
}

.contact-nav-button {
  background: url(/assets/icons/headset.png)transparent;
  border: none;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 30% 4px;
  @media (min-width: 992px){
    background-position: 20px 8px;
  }
}


.search-contact-div{
  background-color: $blue1;
  @media (min-width: 1187px){
    width: 25%;
  }
  @media (min-width: 992px) and (max-width: 1186px){
    width: 20%;
  }
  @media (min-width: 992px){
    padding-top: 0.3rem;
    padding-bottom: 0.35rem;
  }
}

.link-menu-section .nav-item:hover,
.link-menu-section .nav-item:focus,
.social-icons .nav-link:focus,
.social-icons .nav-link:hover{
  background: rgba(0, 52, 101, 0.7);
}

.primary-menu .nav-item:hover,
.primary-menu .nav-item:focus{
  background: rgba(0, 81, 154, 0.81);
}

@media (min-width: 992px){

  .borded-sides-item {
    border: solid 1px #fff;
    border-bottom: none;
    border-top: none;
  }

  .borded-left-item {
    border-left: solid 1px #fff;
  }

  .border-dotted-right{
    border-right: dotted 1px #fff;
  }

}

/*------END NAVBAR------*/

/*------HOME------*/

.carousel-indicators li{
  max-width: 10px;
  height: 10px;
}

.carousel-indicators .active{
  background: rgba(0, 56, 107, 0.9);
}

.news-div .slick-dots li.slick-active {
  background: $primary-blue;
}

.news-div .slick-dots li{
  height: 15px;
  width: 15px;
  background: rgba(0, 56, 107, 0.5);
  margin-bottom: 5px;
}

.news-div .slick-dots li button:before,
.news-div .slick-dots li.slick-active button:before {
  color: transparent;
}

.news-div .new-slide-item{
  span{
    font-size: 12px;
  }
  p{
    font-size: 11px;
  }
}

.integrafesb-div{
  @media (min-width: 576px){
    background: url(/assets/integrafesb/Integrafesb.jpg) no-repeat;
    background-size: 100% 100%;
  }
  background: $gray1;
  .integrafesb-item{
    position: relative;
    img{
      width: 100%;
    }
  }
  small{
    opacity: 1;
    transition: all 1s linear;
  }
  .integrafesb-content-vertical-top,
  .integrafesb-content-vertical-bottom,
  .integrafesb-content-horizontal-right,
  .integrafesb-content-horizontal-left{
    position: absolute;
    transition: 1s;
    text-decoration: none;
    h3{
      font-size: 20px;
    }
    a{
      text-decoration: underline;
    }
    a,
    span{
      font-size: 1px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 1s, opacity 3.5s, font 1s linear;
    }
  }
  .integrafesb-content-vertical-bottom{
    bottom: 0;
    width: 100%;
    height: 15%;
    @media (min-width: 576px) and (max-width: 991px){
      height: 25%;
    }
    @media (max-width: 400px){
      height: 24%;
    }
  }

  .integrafesb-content-vertical-top{
    top: 0;
    width: 100%;
    height: 15%;
    @media (min-width: 576px) and (max-width: 991px){
      height: 25%;
    }
    @media (max-width: 400px){
      height: 24%;
    }
  }

  .integrafesb-content-horizontal-right {
    top: 0;
    right: 0;
    width: 18%;
    height: 100%;
    @media (min-width: 576px) and (max-width: 991px){
      width: 25%;
    }
    @media (max-width: 400px){
      width: 24%;
    }
  }

  .integrafesb-content-horizontal-left {
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    @media (min-width: 576px) and (max-width: 991px){
      width: 25%;
    }
    @media (max-width: 400px){
      width: 24%;
    }
  }
  .coral-content{
    background: $orange1;
  }
  .nafe-content{
    background: $yellow1;
  }
  .hvet-content{
    background: $blue3;
  }
  .ceef-content{
    background: $gray2;
  }
  .nutri-content{
    background: $green1;
  }
  .ggd-content{
    background: $yellow2;
  }
}

.integrafesb-item:hover{
  small{
    visibility: hidden;
    opacity: 0;
    font-size: 1px;
  }
  .integrafesb-content-vertical-bottom,
  .integrafesb-content-vertical-top{
    height: 80%;
  }
  .integrafesb-content-horizontal-right,
  .integrafesb-content-horizontal-left{
    width: 80%;
  }
  a,
  span{
    font-size: 12px;
    visibility: visible;
    opacity: 1;
  }
}

.schedule-item{
  list-style-type: none;
}

.schedule-date{
  background: $blue3;
  border-radius: 50%;
  position: relative;
  max-width: 80px;
  min-width: 80px;
  height: 80px;
  .schedule-day{
    line-height: 13px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.schedule-content{
  @media (min-width: 992px){
    border-right: solid 1px #cecece;
  }
}

/*------END HOME------*/

/*------CLASSES------*/

.class-background-image{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all 1s;
}

.class-item p {
  word-break: break-word;
}

.class-tabs .nav-tabs .nav-item .active {
  color: $primary-blue;
  background-color: $gray1;
  font-weight: bold;
}

.class-tabs .nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
}

.lateral-class-info{
  background-color: $blue2;
  border-top: solid 15px $primary-blue;
  border-bottom: solid 15px $primary-blue;
  max-width: 250px;
  margin: 0 auto;
}

.lateral-intitution-info{
  background-color: $blue2;
  border-top: solid 15px $primary-blue;
  border-bottom: solid 15px $primary-blue;
}

.title-class{
  text-align: right;
  background: $blue2;
  @media (min-width: 992px){
    width: 45%;
  }
}

.class-tabs .nav-tabs{
  border: none;
}

.class-tabs .nav-tabs .nav-item:hover,
.class-tabs .nav-tabs .nav-link:hover {
  color: $primary-blue !important;
  background-color: $gray1;
  font-weight: bold;
}

.class-item:hover{
  a{
    text-decoration: none;
  }
  .blue3-background{
    background-color: $blue4;
  }
  .class-background-image{
    background-size: 125%;
  }
}

/*------END CLASSES------*/
/*------LIBRARY------*/

.library-terms p strong{
  color: $blue2;
}

/*------END LIBRARY------*/