@media (min-width: 768px){
	.download-info{
		position: absolute;
		right: 10%;
	  top: -38px;
  }

	.form-section{	
		background: rgb(1, 79, 148);
		background: -moz-linear-gradient(left, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgb(1, 79, 148)), color-stop(50%, rgb(5, 141, 255)), color-stop(50%, rgba(255,179,0,1)), color-stop(100%, rgba(255,179,0,1)));
		background: -webkit-linear-gradient(left, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: -o-linear-gradient(left, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: -ms-linear-gradient(left, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: linear-gradient(to right, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216da3', endColorstr='#ffb300', GradientType=1 );
	}
}

@media (max-width: 767px){
	.form-section{
		background: rgb(1, 79, 148);
		background: -moz-linear-gradient(right, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: -webkit-gradient(right top, right top, color-stop(0%, rgb(1, 79, 148)), color-stop(50%, rgb(5, 141, 255)), color-stop(50%, rgba(255,179,0,1)), color-stop(100%, rgba(255,179,0,1)));
		background: -webkit-linear-gradient(right, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: -o-linear-gradient(right, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: -ms-linear-gradient(right, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		background: linear-gradient(to left, rgb(1, 79, 148) 0%, rgb(5, 141, 255) 50%, rgba(255,179,0,1) 50%, rgba(255,179,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216da3', endColorstr='#ffb300', GradientType=1 );
	}
}

.select2-container {
  padding: 6px;
  max-width: 100% !important;
}

span.select2-selection.select2-selection--single {
  background: transparent;
  border: none;
  border-bottom: solid #02599d;
  padding: 0px 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #0263a6 transparent transparent transparent !important;
}

span#select2-curso-container {
  color: #02599d;
}

.footer{
	background: #014f94;
}

.p-relative{
	position: relative !important;
}

.bg-section{
	background: url(lp/abstract.png);
}

.nav-logo{
	background: url(lp/logo.png);
    height: 182px;
    background-position: center;
    background-position-y: top;
}

.download-info{
	background: #ffffffc4;
	padding: 10px 30px;
	border-radius: 10px 10px 0px 0px;
	color: #014f94;
	font-size: 12px;
	font-weight: 500;
}

.info-title{
	color: #ebae23;
}

.info-title span{
	font-size: 25px;
}

.info-title h1{
	font-size: 45px;
  font-weight: bolder;
}

.transfer-btn {
  border-radius: 25px;
  color: white;
  background: #294886;
  width: 280px;
  border: none;
  border-bottom: #233451 solid 5px;
  cursor: pointer;
}

.transfer-btn:focus{
	border-bottom: none !important;
	border-top: #233451 solid 5px;
}

.info-section {
  background: url(lp/bginfo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.new_transfer {
  background: #f0c44c;
  border-radius: 10px;
  padding: 20px 30px;
}

.transfer-input{
	background: transparent;
  color: #014f94;
  border: none;
  border-bottom: solid 3px;
  width: 100%;
  padding: 4px 10px;
}

.transfer-send{
	background: white;
  border: none;
  border-radius: 10px;
  color: #014f94;
  padding: 7px 14px;
}
.transfer-send:hover{
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #014f94;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #014f94;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #014f94;
}