%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Inscritos vestibular inverno
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Inscritos vestibular inverno
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @redacao.name
        .p-4
          .box-body
            %strong Protocolo:
            = @redacao.id
          .box-body
            %strong Email:
            = @redacao.email
          .box-body
            %strong CPF:
            = @redacao.cpf
          .box-body
            %strong Celular:
            = @redacao.cell
          .box-body
            %strong PDF da redação:
            %a{:href => "/#{@redacao.name}_redacao_#{@redacao.id}.pdf", :target => '_blank'}
              Baixar

          %br
          .box-body.text-center
            %strong Redação
            .card.p-5.mt-4.text-left
              = simple_format(@redacao.essay)
        .card-footer
          %p
            = link_to "Visualizar Todos", admin_redacaos_path, :class => "btn btn-default"

