= form_for [:admin, @user] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body    
    .form-group 
      = f.label :name, "Nome"
      = f.text_field :name, :class => "form-control", :placeholder => "Preencha o nome"
    .form-group 
      = f.label :email, "E-mail"
      = f.text_field :email, :class => "form-control"
    .form-group 
      = f.label :password, "Senha"
      = f.password_field :password, :class => "form-control"
      
    .form-group 
      = f.label :password_confirmation, "Confirme a senha"
      = f.password_field :password_confirmation, :class => "form-control"

    .form-group
      Permissões de Acesso:
      %br 
      = f.radio_button :role, :administrator
      Administrador de Sistema
      = f.radio_button :role, :marketing
      Marketing
      = f.radio_button :role, :library
      Biblioteca
      = f.radio_button :role, :management
      Administração Faculdade
      
    = f.submit "Salvar", :class =>"btn btn-primary"
