
- content_for :footer do
 
  :javascript
    $(function() {
      $('#ShowReport').dataTable({
        //"bJQueryUI": true,
        //"bPaginate": false,
        //"bFilter": false,
        "iDisplayLength": 50,
        "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
        "oLanguage": {
          "sProcessing": "Processando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "Não foram encontrados resultados",
          "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
          "sInfoFiltered": "",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "oPaginate": {
            "sFirst": "Primeiro",
            "sPrevious": "Anterior",
            "sNext": "Seguinte",
            "sLast": "Último"
          }
        }
      })
    });

%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Usuários
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Usuários
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Usuários Cadastrados
      .card-body.table-responsive.no-padding
        /%table.table.table-hover.dataTable#ShowReport
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Nome
              %th.no-print Ações
          %tbody
            - for user in @users
              %tr
                %td=user.name.titleize
                %td
                  =link_to("Editar", edit_admin_user_path(user), :class=>"btn btn-primary no-print")
                  =link_to 'Excluir', [:admin, user], :confirm => 'Tem certeza?', :method => :delete, :class => "btn btn-default"

          %tfoot.no-print
            %tr
              %th Nome
              %th Ações
      .card-footer
        %p
          = link_to "Novo usuário", new_admin_user_path, :class => "btn btn-primary"

