= form_for [:admin, @scientific_initiation] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      %p
        = f.label :name, "Nome"
        %br
        = f.text_field :name, :class => "form-control"
      %p
        = f.label :published, "Publicado"
        %br
        = f.check_box :published
      %p
        =f.label :file, "Arquivo"
        %br
        =f.file_field :file, :class => "form-control"
      %p
        = f.submit "Salvar", :class =>"btn btn-primary"
