%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Iniciação Científica
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Iniciação Científica
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary
      .card-header
        %h3.card-title
          Editar
          = @scientific_initiation.name
      .card-body

        = render 'form'
      .card-footer
        = link_to "Visualizar todos", admin_scientific_initiations_path, :class => "btn btn-default"
        = link_to "Exibir", [:admin, @scientific_initiation], :class => "btn btn-default"

