%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Iniciação Científica
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Iniciação Científica
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title Projetos Cadastrados
      .card-body.table-responsive.no-padding

        %table.table.table-hover
          %tr
            %th Name
            %th Published
            %th Ações
          - for scientific_initiation in @scientific_initiations
            %tr
              %td= scientific_initiation.name
              %td= show_boolean(scientific_initiation.published)
              %td
                = link_to "Visualizar", [:admin, scientific_initiation], :class => "btn btn-default"
                = link_to "Editar", edit_admin_scientific_initiation_path(scientific_initiation), :class => "btn btn-default"
                = link_to "Excluir", [:admin, scientific_initiation], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
      .card-footer
        %p= link_to "Novo Projeto", new_admin_scientific_initiation_path, :class => "btn btn-primary"
