%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Iniciação Científica
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Iniciação Científica
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary
      .card-header
        %h3.card-title

          = @scientific_initiation.name
      .card-body
        %p
          %strong Publicado:
          = show_boolean(@scientific_initiation.published)
      .card-footer
        %p
          = link_to "Editar", edit_admin_scientific_initiation_path(@scientific_initiation), :class => "btn btn-default"
          = link_to "Visualizar Todos", admin_scientific_initiations_path, :class => "btn btn-default"
          = link_to "Excluir", [:admin, @scientific_initiation], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
