= form_for ([:admin, @exam, @exam_date]) do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  = f.error_messages
  .box-body
    .form-group
      = f.label :exam_date, "Data do Exame"
      = f.datetime_select :exam_date, :class => "form-control"

    .form-group
      = f.label :exam_city, "Cidade do Exame"
      = f.collection_select(:itinerant_exam_id, ItinerantExam.all, :id, :city, {}, {:class => "form-control select2"})
      / = f.select :exam_city, [['Bragança'], ['Bom Jesus dos Perdões'], ['Piracaia'], ['Vargem'], [ 'Joanópolis'], ["Itapeva"], ["Cambui"], ["MUNHOZ"], ["BOM REPOUSO"], ["TOLEDO"], ["PEDRA BELA"], ["PINHALZINHO"], ["MORUNGABA"], ["ATIBAIA"], ["LINDÓIA"], ["MONTE SIÃO"], ["SERRA NEGRA"], ["CAMANDUCAIA"]]

    .form-group
      = f.label :published, "Publicado"
      = f.check_box :published, :class => "form-control"

    .form-group
      = f.label :view_notes, "Exibir Resultado do Vestibular"
      = f.check_box :view_notes, :class => "form-control"

  .box-footer
    = f.submit "Salvar", :class =>"btn btn-primary"
