%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibulares
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
          %li.breadcrumb-item.active Datas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .card.card-primary.card-outline
    .card-header
      %h3.card-title Datas Cadastradas
    .p-4
      %table.table.table-hover
        %tr
          %th Data
          %th Exame
          %th Cidade
          %th Publicado
          %th Exibe Resultado
          %th Ações
        - for exam_date in @exam_dates
          %tr
            %td= I18n.localize(exam_date.exam_date, :format => :date_default)
            %td= exam_date.exam.name
            %td= exam_date.itinerant_exam.city
            %td= show_boolean(exam_date.published)
            %td= show_boolean(exam_date.view_notes)
            %td
              =link_to 'Visualizar', [:admin, @exam, exam_date ], :class => "btn btn-default"
              =link_to 'Editar', edit_admin_exam_exam_date_path(@exam,exam_date), :class => "btn btn-default"
              =link_to 'Excluir', [:admin, @exam, exam_date], :confirm => 'Está Certo Disto?', :method => :delete, :class => "btn btn-default"
              =link_to 'Inscritos', report_admin_exam_exam_date_path(@exam,exam_date), :class => "btn btn-primary"

    .card-footer
      %p
        = link_to "Cadastrar Data", new_admin_exam_exam_date_path(@exam), :class => "btn btn-primary"



