%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark=@exam.name
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
          %li.breadcrumb-item.active Datas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title="Lançamento de Notas do Aluno: #{@subscribe.user.name} no vestibular do dia #{I18n.localize(@subscribe.exam_date.exam_date, :format => :date_default)}"
        .p-4
          = form_for @subscribe, :url => processing_note_admin_exam_exam_date_path(@exam, @subscribe) do |f|
            -if f.error_messages
              .alert.alert-danger.alert-dismissable
                %i.fa.fa-ban
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                %b Alert!
                Confira os campos marcados em vermelho.
            = f.error_messages
            .box-body
              .form-group
                = f.label :copywriting_note, "Nota da Redação"

                = f.text_field :copywriting_note, :class => "form-control"

              .form-group
                = f.label :note_issues, "Nota das Alternativas"

                = f.text_field :note_issues, :class => "form-control"

            .box-footer
              %p
                = f.submit "Salvar", :class =>"btn btn-primary"

                = link_to "Visualizar Todos", report_admin_exam_exam_date_path(@exam,@subscribe.exam_date_id), :class => "btn btn-default"