- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
- content_for :footer do
  = javascript_include_tag "plugins/datatables/jquery.dataTables.js"
  = javascript_include_tag "plugins/datatables/dataTables.bootstrap.js"
  :javascript
    $(function() {
      $('#ShowReport').dataTable({
        //"bJQueryUI": true,
        //"bPaginate": false,
        //"bFilter": false,
        "iDisplayLength": 50,
        "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
        "oLanguage": {
          "sProcessing": "Processando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "Não foram encontrados resultados",
          "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
          "sInfoFiltered": "",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "oPaginate": {
            "sFirst": "Primeiro",
            "sPrevious": "Anterior",
            "sNext": "Seguinte",
            "sLast": "Último"
          }
        }
      })
    });
  :javascript
    $("#redacao_selecionado").click(function() {
      $("#print_type_").val("fol_redacao");
      $("#subscribes_send").submit();
    });
    $("#redacao_todos").click(function() {
      $("#print_type_").val("fol_redacao_all");
      $("#subscribes_send").submit();
    });
    $("#gabarito_selecionado").click(function() {
      $("#print_type_").val("gabarito");
      $("#subscribes_send").submit();
    });
    $("#gabarito_todos").click(function() {
      $("#print_type_").val("gabarito_all");
      $("#subscribes_send").submit();
    });


%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibulares
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        -if @exam_date
          %h3.card-title #{@exam.name} - #{@exam_date.itinerant_exam.city} - #{I18n.localize(@exam_date.exam_date, :format => :date_default)}
        -else
          %h3.card-title #{@exam.name}
      .p-4
        /%table.table.table-hover.dataTable#ShowReport
        = form_tag(print_selected_admin_exams_path(:format=>:pdf),:method=>"put", :target => "_blank", :id=>"subscribes_send") do
          .print-buttom.no-print
            -params[:exam_id].blank? ? data_show = 0 : data_show = @exam_date.id
            =hidden_field(:print_type, nil)
            =hidden_field(:subscribe, nil, :value =>@exam.id)
            =hidden_field(:subscribe_date, nil, :value => data_show)
            =button_tag "Folha de Redação dos Selecionados", :type=> 'button',:class => "btn btn-success no-print", :id=>"redacao_selecionado"
            =button_tag "Gabarito dos Selecionados", :type=> 'button', :class => "btn btn-warning no-print", :id=>"gabarito_selecionado"
            =button_tag "Folha de Redação de Todos", :type=> 'button',:class => "btn btn-success no-print", :id=>"redacao_todos"
            =button_tag "Gabarito de todos", :type=> 'button', :class => "btn btn-warning no-print", :id=>"gabarito_todos"


          %table.table.table-bordered.table-striped#ShowReport
            %thead
              %tr
                %th.no-print Seleciona
                %th Nome
                %th Primeira Opção
                %th Segunda Opção
                %th Pago
                - if @exam.exam_type_id ==  2
                  %th Data da Prova
                %th.no-print Ações
            %tbody
              - for report in @reports
                %tr
                  %td.no-print.text-center=check_box_tag 'subscrib_ids[]', report.id if report.paid
                  %td=report.user.name.titleize if report.user
                  %td=report.first_option_class.name if report.first_option_class
                  %td=report.second_option_class.name if report.second_option_class
                  %td=show_boolean(report.paid)
                  - if @exam.exam_type_id ==  2
                    %td=I18n.localize(report.exam_date.exam_date, :format => :date_default)
                  %td
                    -if report.paid
                      =link_to("Lançar Nota",launch_note_admin_exam_exam_date_path(@exam, report.id), :class=>"btn btn-primary no-print")
                      =link_to("Folha de Redação",print_selected_admin_exams_path(:print_type =>"user_fol_redacao",:user_id =>report.id, :format=> :pdf), :method=> :put, :target => "_blank", :class=>"btn btn-success no-print")
                      =link_to("Gabarito",print_selected_admin_exams_path(:print_type =>"user_gabarito",:user_id =>report.id, :format=> :pdf), :method=> :put, :target => "_blank", :class=>"btn btn-warning no-print")

            %tfoot.no-print
              %tr
                %th.no-print Seleciona
                %th Nome
                %th Primeira Opção
                %th Segunda Opção
                %th Pago
                - if @exam.exam_type_id ==  2
                  %th Data da Prova
                %th.no-print Ações

