- content_for :head do
  = stylesheet_link_tag "datatables/dataTables.bootstrap.css"
  = stylesheet_link_tag "print_result.css", :media => "print"
  %style{:media => "print", :type => "text/css"}
    @page { size: landscape; }
- content_for :footer do
  = javascript_include_tag "plugins/datatables/jquery.dataTables.js"
  = javascript_include_tag "plugins/datatables/dataTables.bootstrap.js"
  :javascript
    $(function() {
      $('#ShowReport').dataTable({
        //"bJQueryUI": true,
        "bPaginate": false,
        "bFilter": false,
        "iDisplayLength": 50,
        "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
        "oLanguage": {
          "sProcessing": "Processando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "Não foram encontrados resultados",
          "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
          "sInfoFiltered": "",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "oPaginate": {
            "sFirst": "Primeiro",
            "sPrevious": "Anterior",
            "sNext": "Seguinte",
            "sLast": "Último"
          }
        }
      })
    });

%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Vestibulares
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .col-xs-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title #{@exam.name}
      .p-4
        /%table.table.table-hover.dataTable#ShowReport
        %table.table.table-bordered.table-striped#ShowReport
          %thead
            %tr
              %th NOME
              %th DATA REALIZAÇÃO VESTIBULAR
              %th PRIMEIRA OPÇÃO
              %th SEGUNDA OPÇÃO
              %th REDAÇÃO (0-100 pontos) PESO 2
              %th PESO 2
              %th ALTERNATIVAS (0-34 pontos) PESO 1
              %th PESO 1
              %th NOTA FINAL
          %tbody
            - for report in @reports
              %tr
                %td=report.user.name.titleize
                %td=I18n.localize(report.exam_date.exam_date, :format => :date_default)
                %td=report.first_option_class.name
                %td=report.second_option_class.name
                %td=report.copywriting_note
                %td=report.copywriting_weight
                %td=report.note_issues
                %td=report.weight_issues
                %td=report.endnote
          %tfoot.no-print
            %tr
              %th NOME
              %th DATA REALIZAÇÃO VESTIBULAR
              %th PRIMEIRA OPÇÃO
              %th SEGUNDA OPÇÃO
              %th REDAÇÃO (0-100 pontos) PESO 2
              %th PESO 2
              %th ALTERNATIVAS (0-34 pontos) PESO 1
              %th PESO 1
              %th NOTA FINAL
