%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark=@exam.name
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => admin_root_path} Home
          %li.breadcrumb-item.active Vestibulares
          %li.breadcrumb-item.active Datas
        / /.col
      / /.row
    / /.container-fluid
  / /.content-header
%section.content
  .row
    .col-md-12
      .card.card-primary
        .card-header
          %h3.card-title= @exam.name
        .p-4
          %p
            %strong Data:
            #{I18n.localize(@exam_date.exam_date, :format=>:long)}
          %p
            %strong Publicado:
            = show_boolean(@exam_date.published)
          %p
            %strong Cidade:
            = @exam_date.itinerant_exam.city

        .card-footer
          %p
            = link_to "Editar", edit_admin_exam_exam_date_path(@exam, @exam_date), :class => "btn btn-default"
            = link_to "Visualizar Todos", admin_exam_exam_dates_path(@exam), :class => "btn btn-default"
            = link_to "Excluir", [:admin, @exam, @exam_date], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
