<div class="container pb-5">
  <div class="row">
    <p class="col-12 text-center my-5 text-muted font-weight-light">Escolha o curso que deseja simular o valor</p>
    <%= select_tag "class", options_for_select(@class_categories), :prompt => "Curso", :class => "custom-select"%>
    <br>
    <ul class="dropmenu custom-select mt-3 list-unstyled" id="priceTab" style="display: none">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark p-0" data-toggle="dropdown"href="#" role="button" aria-haspopup="true" aria-expanded="true">Parcelas</a>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link" data-toggle="tab" href="#seis">6x</a>
          <a class="dropdown-item nav-link" data-toggle="tab" href="#oito">8x</a>
          <a class="dropdown-item nav-link" data-toggle="tab" href="#dez">10x</a>
        </div>
      </li>
    </ul>
    <div class="content-price w-100" style="display: none">
      
    </div>
  </div>	
</div>

<% content_for :footer do %>
  <script>    
    $(document).ready(function() {
      $('#class').change(function() {
        $.ajax({
          url: "<%= update_prices_exams_path %>",
          data: {
            id : $('#class').val()
          },
          dataType: "script"
        });
      });

      $(function(){

        $(".dropmenu").on('click', 'li a', function(){
          $(".text-dark:first-child").text($(this).text());
          $(".text-dark:first-child").val($(this).text());
        });

      });
    });
  </script>
<% end %>