<section class="subscribe-section my-5 py-5">
  <div class="container text-center mt-2">    
    <img src="/assets/exams/progresso.png" class="img-fluid">
  </div>
  <div class="container mt-5 mb-3 pt-5 text-center">
    <form action="/socioeconomics/new" class="vestibular" method="get" role="form">
      <p class="font-weight-light mb-5">Escolha a data do vestibular:</p>
      <div class="row">
        <div class="form-group col-12">
          <div class="row">
            <select class="custom-select col-md-6 d-none" id="exam_select" name="[exam_id]">
            	<option selected="selected" value="<%= @exam_id.id%>"></option>
            </select>
            <div class="col-md-3"></div>
            <%= collection_select(nil, :exam_date_id, @exam_dates, :id, :exam_date, {:prompt   => "Escolha a data"}, {:id => 'exam_date_select', :class => "custom-select col-md-6"}) %>
            <div class="col-md-3"></div>
          </div>          
        </div>
        <div class="form-group col-12">
          <div class="text-center">
            <%= image_tag("fancybox_loading.gif", :class => "loading", :style => "display: none") %>
          </div>
          <div class="text-center">
            <%= submit_tag "Avançar", :class =>"nav-subscribe-btn px-5 py-3 text-white", :id => "examButton" %>
          </div>
        </div>
      </div>
    </form>
  </div>  
</section>


<% content_for :footer do %>
  <script>    
    $(document).ready(function() {
        $.ajax({
          url: "<%= update_dates_exams_path %>",
          data: {
            id : $('#exam_select').val()
          },
          dataType: "script"
        });
    });
  </script>
<% end %>