<section class=" my-5 py-5">
	<div class="container my-5 py-5 text-center">
		<div class="row my-4 py-3">
			<div class="col-sm-4 mt-5">
				<a href="/EDITAL-Vestibular-2019.pdf" target="_blank">
					<div class="edital-btn m-auto">
						EDITAL
					</div>
				</a>
			</div>
			<div class="col-sm-4 mt-5">
				<a href="/EDITAL Vestibular - Retificacao 27 de agosto 2018 ok.pdf" target="_blank">
					<div class="edital-btn m-auto align-items-center d-flex">		
						<div>EDITAL RETIFICADO</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 mt-5">
				<a href="/EDITAL Vestibular 01-retificação.pdf" target="_blank">
					<div class="edital-btn m-auto align-items-center d-flex">				
						<div>RETIFICAÇÃO</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 mt-5">
				<a href="/EDITAL_BACHARELADO_EM_CIENCIAS_BIOLOGICAS.pdf" target="_blank">
					<div class="edital-btn m-auto align-items-center d-flex p-0">				
						<div>EDITAL BACHARELADO EM CIÊNCIAS BIOLÓGICAS</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 mt-5">
				<a href="/EDITAL_REMANESCENTES_2019.pdf" target="_blank">
					<div class="edital-btn m-auto align-items-center d-flex p-0">				
						<div>EDITAL REMANESCENTES 2019</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 mt-5">
				<a href="/EDITAL_ENEM_JANEIRO.pdf" target="_blank">
					<div class="edital-btn m-auto align-items-center d-flex p-0">				
						<div>EDITAL ENEM JANEIRO</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4 mt-5">
				<a href="/EDITAL_Vestibular_04_.2019_-_Vagas_Remanescentes_-_Retificacao.pdf" target="_blank">
					<div class="edital-btn m-auto align-items-center d-flex p-0">				
						<div>EDITAL REMANESCENTES 2019 RETIFICADO</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>