<section class="exams-section">
	<div class="container-fluid p-0">
		<div class="banner">
			<img src="/assets/exams/Banner.jpg" class="img-fluid">
		</div>
		<div class="exams text-center">
			<div class="container exams-container">
				<div class="row">
					<div class="col-sm-6 fadeInDown">
						<a href="/vagas-remanescentes" target="_blank"><img class="pulse-hover img-fluid mb-3 mb-md-0" src="/assets/vagas.png"></a>						
					</div>
					<!-- <div class="col-md-3 col-sm-6 fadeInDown2">
						<a href="/vestibular/inscricao"><img class="pulse-hover img-fluid mb-3 mb-md-0" src="/assets/exams/Simuladao.jpg"></a>
					</div> -->
					<!-- <div class="col-sm-6 fadeInDown3">
						<a href="/vestibular/agendado"><img class="pulse-hover img-fluid mb-3 mb-sm-0" src="/assets/exams/VestibularAgendado.jpg"></a>
					</div> -->
					<div class="col-md-6 col-sm-6 fadeInDown4">
						<a href="/vestibular/enem"><img class="pulse-hover img-fluid mb-3 mb-sm-0" src="/assets/exams/Enem.jpg"></a>
					</div>
					<div class="col-12 text-center mt-1">						
						<img class="rotate-180" src="/assets/lp/scroll.png" width="35">
					</div>
					<br>
					<h3 class="text-white mx-auto font-weight-light">Como ingressar na <strong>FESB</strong></h3>
				</div>
			</div>
		</div>
		<div class="exams-content container my-5">
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-12 pb-4">
							<a href="/vestibular/inscricao" class="subscribe-box">
								<span class="border-btn text-white px-5 py-3 m-auto" >Inscreva-se</span>
							</a>
						</div>
						<div class="col-sm-4">
							<a href="/vestibular/informacoes#bolsas" class="scholarship-box">
								<span class="border-btn text-white m-auto px-4 py-3" >Bolsas</span>
							</a>
						</div>
						<div class="col-sm-8">
							<a href="/vestibular/informacoes" class="info-box">
								<span class="border-btn text-white px-5 py-3 m-auto" >Informações</span>
							</a>
						</div>
					</div>					
				</div>
				<div class="col-lg-3">
					<a href="/transfers" class="transfer-box" target="_blank">
						<span class="border-btn text-white m-auto px-4 py-3" >Transferência</span>
					</a>
				</div>
			</div>
		</div>
		<div class="subscribe-footer-div py-5 text-center">
			<a class="footer-subscribe-btn text-white" href="/vestibular/inscricao"> Inscreva-se</a>
		</div>
	</div>	
</section>