<section class="information-section mt-5 pt-5">
  <div class="container text-center mt-2">    
    <img src="/assets/exams/info-title.png" class="img-fluid">
  </div>
  <div class="container general-info-container my-5 py-5 text-center">
  	<div class="row">
  		<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-4 mb-4"><img class="img-fluid" src="/assets/exams/Data.jpg"></div>
  		<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-4 mb-4"><img class="img-fluid" src="/assets/exams/Documentos.jpg"></div>
  		<div class="col-lg-3 col-sm-6 mb-sm-0 mb-4"><img class="img-fluid" src="/assets/exams/Duracao.jpg"></div>
  		<div class="col-lg-3 col-sm-6 mb-sm-0 mb-4"><img class="img-fluid" src="/assets/exams/Tipo.jpg"></div>
  	</div>
  </div>
  <div class="container-fluid banner-container px-0 py-5 text-white">
	  <div class="container text-center pt-2">
	  	<strong>Conteúdo das provas</strong>
	  	<p class="font-weight-light">As provas exigem conhecimento ao nível do ensino médio, abrangendo as áreas de:</p>
	  	<div class="row pt-5">
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box-especial pulse-hover">Comunicação e<br> Expressão</p>
			 	</div>
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box pulse-hover">Matemática</p>
			 	</div>
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box pulse-hover">Física</p>
			 	</div>
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box pulse-hover">Química</p>
			 	</div>
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box pulse-hover">História</p>
			 	</div>
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box pulse-hover">Geografia</p>
			 	</div>
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box pulse-hover">Inglês</p>
			 	</div>
			 	<div class="col-lg-3 col-sm-6 mb-4">
			 		<p class="font-weight-light mx-auto content-info-box pulse-hover">Atualidades</p>
			 	</div>
	  	</div>
	  </div>
  </div>  
  <div class="container infos-collapse-container py-5" id="bolsas">
  	<button class="collapsible border-bottom-none">Comparecimento</button>
  	<div class="content border-top-none">
  	  <p class="text-muted">O candidato deverá comparecer ao local da prova com, no mínimo, 30 (trinta) minutos de antecedência. 
			A utilização de aparelhos eletrônicos é proibida (calculadora, celular, tablet, etc.)
			Será eliminado qualquer candidato que usar de meios fraudulentos na inscrição ou na realização da prova, ou também que tiver atitude de indisciplina, independentemente de sanções legais.
			</p>
  	</div>
  	<button class="collapsible border-top-none border-bottom-none">Bolsas e Descontos</button>
  	<div class="content border-top-none">
	  	 	<p class="text-muted">• Simuladão: concorrerão a bolsas o(s) melhor(es) classificado(s) na 2ª fase;</p>

				<p class="text-muted">• Vestibular tradicional e agendado: verificar no informativo que será disponibilizado no site: fesb.br.</p>
  	</div>
  	<button class="collapsible border-top-none border-bottom-none">Matrículas</button>
  	<div class="content border-top-none">
  	  <p class="text-muted">O agendamento para as matrículas dos classificados deverá ser realizado pela internet, porém só serão efetivadas presencialmente no campus da Instituição.
			Os aprovados nas modalidades Simuladão, Agendado e ENEM deverão efetuar a matrícula até 9 de novembro. Aqueles que não a efetuarem poderão perder este direito. 
			Os aprovados nas modalidades Simuladão e ENEM concorrerão a bolsas de 10% até 80%.
			</p>
  	</div>
  	<button class="collapsible border-top-none border-bottom-none">Documentos necessários</button>
  	<div class="content border-top-none">
  		<p class="text-muted">•	02 vias (fotocópia) do certificado de conclusão ou diploma do Ensino Médio (2º grau) ou equivalente;</p>
  		<p class="text-muted">•	02 vias (fotocópia) do Histórico Escolar do Ensino Médio (2º grau) ou equivalente;</p>
  		<p class="text-muted">•	02 vias (fotocópia) do certificado de reservista;</p>
  		<p class="text-muted">•	02 vias (fotocópia) do título de eleitor, inclusive comprovante de votação;</p>
  		<p class="text-muted">•	02 vias (fotocópia) da cédula de identidade;</p>
  		<p class="text-muted">•	02 vias (fotocópia) do CPF;</p>
  		<p class="text-muted">•	02 vias (fotocópia) da certidão de nascimento ou casamento;</p>
  		<p class="text-muted">•	02 vias (fotocópia) do comprovante de residência recente;</p>
  		<p class="text-muted">•	Atestado médico comprovando capacidade para exercícios físicos (somente para os cursos de Educação Física, Medicina Veterinária e Nutrição);</p>
  		<p class="text-muted">•	Candidato graduado em curso superior deverá apresentar 02 vias (fotocópia) do diploma devidamente registrado e o histórico escolar em substituição aos documentos do Ensino Médio.</p>
  		<p class="text-muted">•	Em caso de entrada via ENEM apresentar documento que comprove a nota do ENEM informada quando feita a inscrição no processo seletivo.</p>
  		<p><strong>Obs.: A matrícula só será efetuada se o candidato apresentar a prova de escolaridade referente ao ensino médio ou equivalente.</strong></p>
  		<br>

  	</div>
  </div>
</section>

<% content_for :footer do %>
	<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
	    this.classList.toggle("active_c");
	    var content = this.nextElementSibling;
	    if (content.style.maxHeight){
	      content.style.maxHeight = null;
	    } else {
	      content.style.maxHeight = content.scrollHeight + "px";
	    } 
	  });
	}
	</script>
<% end %>
