<div class="container py-5">
  <% if !current_user %>

    <%= form_for @user_session do |f| %>

      <div class="row login-form my-5">
        <% if flash[:error] %>
          <div class="alert alert-danger alert-dismissable col-12">
            <i class="fa fa-ban"></i>
            <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
            <b>Alert!</b>
            Usuário e/ou senha inválidos.
          </div>
        <% end %>
        <p class="col-12 text-center my-5 text-muted font-weight-light">Faça seu login</p>
        <div class="form-group col-md-3 offset-md-3">
          <%= f.text_field :email, :placeholder => "E-mail", :class => "form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= f.password_field :password, :placeholder => "Senha", :class => "form-control" %>
        </div>
        <div class="col-md-3"></div>
        <div class="text-center col-12 my-2">
          <small><%= link_to("Esqueci minha senha", new_password_reset_path(), :class => "pr-3 text-muted font-weight-light") %></small>
          <small><%= link_to("Esqueci meu e-mail", my_email_exams_path(), :class => "text-muted font-weight-light") %></small>
        </div>
        <div class="text-center col-12 my-2">
          <%= f.submit "Entrar", :class => "nav-subscribe-btn px-5 py-3 text-white" %>
        </div>
      </div>

    <% end %>

  <% else %>
    <% if @subscribes.count > 0 %>
      <div class="row w-100 p-5 bg-gray mb-5" id="ShowSubscribes">
        <p class="col-12 text-center mb-5 text-muted font-weight-light">Inscrição</p>
        <table class="table table-borderless table-responsive p-0">
          <thead>
            <tr>
              <th class="font-weight-light text-muted">Vestibular Inscrito</th>
              <th></th>
              <th class="font-weight-light text-muted">Situação</th>
              <th></th>
              <% if @subscribes.select{ |subscribe| subscribe.exam_date }.count > 0 %>
                <th class="font-weight-light text-muted">Local do exame</th>
                <th></th>
              <% end %>
              <% if @subscribes.select{ |subscribe| subscribe.registrationshow == true }.count > 0 %>
                <th class="font-weight-light text-muted">Pré-Matricula</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @subscribes.each do |subscribe| %>
              <% if subscribe.exam_id != "18" %>
                <% if subscribe.exam.exam_type_id == 1 && subscribe.exam.view_notes %>
                  <% show_result_note = true %>
                <% else %>
                  <% if subscribe.exam.exam_type_id == 2 && subscribe.exam.view_notes && subscribe.exam_date.view_notes %>
                    <% show_result_note = true %>
                  <% else %>
                    <% show_result_note = false %>
                  <% end %>
                <% end %>
                <tr>
                  <td class="custom-td">
                    <%= subscribe.exam.name.titleize %>
                    <%= " - " + I18n.localize(subscribe.exam_date.exam_date, :format => :date_default).to_s if subscribe.exam.exam_type_id == "2" %>
                    <%= " - " + subscribe.exam_date.itinerant_exam.city if subscribe.exam.exam_type_id == "2" %>
                  </td>
                  <td></td>
                  <td class="custom-td">
                    <% if !subscribe.paid && subscribe.exam.exam_type_id != 3 %>
                      Aguardando Pagamento,
                      <%= link_to(" emitir 2a via", subscribe.ticket_link, :target=>"_blank") %>
                    <% elsif subscribe.exam.exam_type_id == 3%>
                      <% if subscribe.registrations.all.blank?%>
                        Preencha sua pré-matricula!
                      <% else %>
                        <%= "Compareça na secretaria da FESB no dia agendado (#{subscribe.registrations.first.scheduling})"%>
                      <% end %>
                    <% elsif subscribe.exam.exam_type_id == 4%>
                      Sua inscrição foi concluída com sucesso. Obrigado e boa prova!!
                    <% else %>
                      <% if subscribe.endnote.blank? && subscribe.exam.exam_type_id != 3 %>
                        Boa Prova!
                      <% else %>
                        <% if subscribe.exam.exam_type_id == 1 && subscribe.exam.view_notes %>
                          <%= raw(subscribe.subscribe_message) %>
                        <% else %>
                          <% if subscribe.exam.exam_type_id == 2 && subscribe.exam.view_notes && subscribe.exam_date.view_notes %>
                            <%= "#{raw(subscribe.subscribe_message)}" %>
                          <% else %>
                            <% if subscribe.exam.exam_type_id != 3 %>
                              Aguarde a Libera  o dos Resultados
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td></td>
                  <td class="p-0">
                    <% if subscribe.exam.exam_type_id == 2 %>
                      <!-- Button trigger modal
                      -->
                      <button class="btn secondary-btn text-white font-weight-light table-button" data-target="#exampleModal3" data-toggle="modal" type="button">
                        Ver local do Exame
                      </button>
                      <!-- Modal
                      -->
                      <div aria-hidden="true" aria-labelledby="exampleModal3Label" class="modal fade" id="exampleModal3" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">x</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <% if subscribe.exam_date.itinerant_exam %>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>
                                      Horário:
                                    </label>
                                    <span>
                                      <%= subscribe.exam_date.exam_date.strftime('%H:%M') %>
                                    </span>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>
                                      Data:
                                    </label>
                                    <span>
                                      <%= subscribe.exam_date.exam_date.strftime('%d/%m/%y') %>
                                    </span>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>
                                      Telefone:
                                    </label>
                                    <span>
                                      <%= subscribe.exam_date.itinerant_exam.phone if subscribe.exam_date.itinerant_exam.phone %>
                                    </span>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>
                                      Tipo do Vestibular:
                                    </label>
                                    <span>
                                      Agendado
                                    </span>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>
                                      Local:
                                    </label>
                                    <span>
                                      <%= subscribe.exam_date.itinerant_exam.address %>
                                      <br/>
                                      <%= subscribe.exam_date.itinerant_exam.city %>
                                    </span>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </td>
                  <td></td>
                  <% if (subscribe.registrationshow && show_result_note || subscribe.exam.exam_type_id == 3) %>
                    <td class="p-0">
                      <%= link_to("Preencha sua pré -matricula", new_subscribe_registration_path(subscribe), :class => "btn secondary-btn text-white font-weight-light table-button") %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              <% if subscribe.exam.exam_type_id == 4 %>        
                <a class="text-white p-3 nav-subscribe-btn mr-sm-3" href="http://fesb.br/system/highlight_files/121/original/APROVADOS_1%C2%AA_FASE.pdf?1536076625" target="_blank" >Simuladão 1ª Fase</a>
                <a class="text-white p-3 nav-subscribe-btn" href="http://fesb.br/1535997576_Gabaritosimulado.pdf" target="_blank" >Gabarito Simuladão</a>
              <% end %>
            <% end %>
          </tbody>
        </table>
        
      </div>
    <% end %>
    <div class="row w-100">
      <form class="inscricao" method="post" role="form">
        <div class="row p-5 bg-gray w-100 m-0">
          <p class="col-12 text-center mb-5 text-muted font-weight-light">Dados de login</p>
          <div class="form-group col-sm-6">
            <label for="nome">Nome</label>
            <input class="form-control" type="text" value="<%= @user.name %>" disabled="disabled">
              <div class="clearfix"></div>
            </input>
          </div>
          <div class="form-group col-sm-6">
            <label>E-mail</label>
            <input class="form-control" type="text" value="<%= @user.email %>" disabled="disabled">
              <div class="clearfix"></div>
            </input>
          </div>
          <div class="form-group col-sm-6">
            <label for="telefone">Telefone</label>
            <input class="form-control" type="text" value="<%= @user.phone %>" disabled="disabled">
              <div class="clearfix"></div>
            </input>
          </div>
          <div class="form-group col-sm-6">
            <label for="telefone">Celular</label>
            <input class="form-control" type="text" value="<%= @user.cell_phone %>" disabled="disabled">
              <div class="clearfix"></div>
            </input>
          </div>
          <div class="form-group col-sm-6">
            <label for="nome">CPF</label>
            <input class="form-control" type="text" value="<%= @user.cpf %>" disabled="disabled">
              <div class="clearfix"></div>
            </input>
          </div>
          <div class="col-sm-6 text-center pt-4">
            <%= link_to("Sair", logout_path, :class => "btn mt-3 nav-subscribe-btn px-5 py-3 w-50 text-white") if current_user %>
          </div>
        </div>
      </form>
    </div>    
  <% end %>

</div>
