- if @exam.exam_type_id == 2
  $('#examButton').fadeOut();
  $('.loading').delay(800).fadeIn();
  $('.exam_date').fadeIn();
  $('#exam_date_select').fadeIn();
  $('#exam_date_select').html("#{escape_javascript(options_for_select(@exam_dates))}");
  $('.loading').delay(1000).fadeOut();
  $('#examButton').delay(2500).fadeIn();
-else
  $('#exam_date_select').fadeOut();
  $('.exam_date').fadeOut();
