.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to("Galeria de Presidentes", president_galleries_path) 
      %li
        =link_to(@warning.name, edict_path(@warning.id))
    %h1 Galeria de Presidentes
    .col-sm-3.col-xs-12
      %ul.lista-lateral
        -@type_warnings.each do |type_warning|
          %li
            =link_to(raw("#{type_warning.name}<span class='qtd'>#{type_warning.warnings(:conditions => ["published =  true and active = true"]).count}</span>"), channel_student_path(type_warning.url_slug))

    .col-sm-9.col-xs-12
      .row
        .col-xs-12
          %article.canaldoaluno
            =raw("<div class='label #{show_type_color(@warning.type_warning_id)}'>#{@warning.type_warning.name}</div>")
            .label.label-primary
            .published=I18n.localize(@warning.created_at, :format => :date_default) 
            %h2=@warning.name
            %p= raw(@warning.description) 
          
          -if @warning.warning_images.count > 0
            %h2 Fotos
            %ul.galeria
              - @warning.warning_images.each do |item_image|
                -if  (item_image.active == true && item_image.published == true) 
                  %li.col-xs-12.col-sm-3
                    =link_to(image_tag(item_image.warning_images.url("thumb_show"), :alt => item_image.name), item_image.warning_images.url("original"), :class => "fancybox", :rel => "ïmagens", :title=> item_image.name)