.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li=link_to(@class_category.name, class_category_path(@class_category.url_slug))
    %h1=@class_category.name

    -if (class_names = @class_category.class_names.all_published("name ASC")).count > 0
      %ul.cursos
        -class_names.each do |class_name|
          -if (class_name.active == true && class_name.published == true && class_name.father_id.blank?)
            %li
              %a{:href => "#{class_name_path(class_name.url_slug)}"}
                .icon
                  =image_tag(class_name.class_icon.url) if class_name.class_icon.file?
                %p.p_icon=class_name.name
    -else
      %p.text-center
        ="Aguarde! Em breve mais informações sobre os cursos de #{@class_category.name} da FESB"

    .row
      .col-xs-12.data-curso