.col-sm-3.col-xs-12
  %ul.lista-lateral
    /-@category.items.each do | category_item|
    /  - if  (category_item.active == true && category_item.published == true)
    /    %li=link_to(category_item.name, class_category_path(category_item.url_slug)) 
    -if @category.items.count > 0 
      %li=link_to("Normas de Estágio", virtual_library_libraries_path()) 
