.container-fluid.imagem-interna{:style => "background-image:url('#{@category.category_img.url(:original)}')"}
#interno
  .container
    %ul.breadcrumb
      %li
        =link_to(@category.name, innership_standard_class_categories_path())
    %h1=@category.name 
    = render :file => "class_categories/_menu" 
    .col-sm-9.col-xs-12
      -@category.items.each do | category_item|  
        - if  (category_item.active == true && category_item.published == true) 
          %h2=category_item.name
          .published
            =I18n.localize(category_item.created_at, :format => :date_default)
          %p
            = raw(category_item.description)
          -if category_item.item_file?
            =link_to("Download", category_item.item_file.url(:original, false), :target=>"_blank")  
        /- break if count == 1

