<section class="class-section page-intern-margin">
  <div class="gray3-background py-3">
    <div class="container">
      <ul class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="primary-font-color" href="<%= root_path%>">HOME</a></li>
        <li class="breadcrumb-item"><a class="primary-font-color text-uppercase" href="<%= class_category_path(@class_category.url_slug) %>"><%= @class_category.name %></a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid banner-curso p-0 w-100">
    <div class="text-banner">
      <h1 class="mx-auto text-center text-white">
        <% case @class_category.id%>
        <% when 1 %>
          Nossos <span class="font-weight-bold">Cursos</span>
        <% when 2 %>
          Nossas <span class="font-weight-bold hidden-md-down">Pós-Graduações</span><span class="font-weight-bold hidden-lg-up d-block">Pós-Graduações</span>
        <% when 3 %>
          Cursos <span class="font-weight-bold">de Extensão</span>
        <% when 4 %>
          Cursos <span class="font-weight-bold">Técnicos</span>
        <% end %>
      </h1>
    </div>
    <img class="img-fluid w-100" src="/assets/class/class-<%= @class_category.id%>.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">        
        <h1 class="text-uppercase font-weight-bold primary-font-color py-4"><%= @class_category.name %></h1>
      </div>
      <div class="col-md-6 align-items-center d-flex">
        <% if @class_category.id == 3 %>
          <span>É professor e quer oferecer um curso? <a href="https://forms.gle/Kr9Bfdy2JkLhbp5w5" target="_blank"> Clique aqui!</a></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="class-div gray1-background">
    <div class="container">
      <div class="class-content">
        <% if (class_names = @class_category.class_names.all_published("name ASC")).count > 0 %>
          <div class="row p-5">
            <% class_names.each do |class_name| %>
              <% if (class_name.active == true && class_name.published == true && class_name.father_id.blank?) %>
                <div class="col-lg-3 col-md-4 col-sm-6 class-item text-center pb-4" data-toggle="tooltip" data-placement="bottom" title="<%= class_name.name %>">
                  <div class="class-background-image blue3-background px-5 py-3 h-100" style="background-image: url(/assets/class/back-<%= class_name.id%>.png);">
                    <a href="<%= class_name_path(class_name.url_slug) %>" >
                      <div class="icon">
                        <img src="/assets/class/icon-<%= class_name.id%>.png">
                      </div>
                      <p class="p_icon text-white text-uppercase m-0 pt-3">
                        <%= truncate(raw(class_name.name), :length => 50) %>
                      </p>
                    </a>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="gray3-background py-5 text-center">
    <% if @class_category.id == 1%>
      <% if !@exams.empty? %>
        <a type="button" class="primary-button text-uppercase py-3 px-5 primary-background-color text-white" href="<%= exams_path %>"> inscreva-se para o vestibular</a>
      <% end %>
    <% end %>
  </div>
</section>