- content_for :footer do
  :javascript

    new Morris.Area({
      // ID of the element in which to draw the chart.
      element: 'myfirstchart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
        #{@subscribes.map{|subscribe| "\{dia: '#{subscribe.date_created}',inscritos:#{subscribe.amount}\},"}}
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'dia',
      //xLabelFormat: "DD. MM. YYYY",
      // A list of names of data record attributes that contain y-values.
      ykeys: ['inscritos'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Inscritos'],
      xLabelFormat: function(d) {
        return d.getDate()+'/'+(d.getMonth()+1)+'/'+d.getFullYear();
      },
      dateFormat: function(date) {
          d = new Date(date);
          return d.getDate()+'/'+(d.getMonth()+1)+'/'+d.getFullYear();
          },
    });
    new Morris.Donut({
      element: 'donutchart',
      data: [
        {value: #{number_with_precision(@subscribes_all.select{ |s| s.paid == true}.count.to_f / @subscribes_all.count.to_f * 100.0, :precision => 0)}, label: 'Pagos'},
        {value: #{number_with_precision(@subscribes_all.select{ |s| s.paid == false and s.exam.exam_type_id != 3}.count.to_f / @subscribes_all.count.to_f * 100.0, :precision => 0)}, label: 'Em Aberto'},
        {value: #{number_with_precision(@registrations.count.to_f / @subscribes_all.count.to_f * 100.0, :precision => 0)}, label: 'Pré-Matrículas'},
        {value: #{number_with_precision(@subscribes_all.select{ |s| s.exam.exam_type_id == 3}.count.to_f / @subscribes_all.count.to_f * 100.0, :precision => 0)}, label: 'Enem'},
      ],
      colors: [
        '#45a745',
        '#dc3545',
        '#46a2b8',
        '#ffc107'
      ],
      formatter: function (x) { return x + "%"}

    });

.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Informações sobre o vestibular #{CURRENT_YEAR_EXAM}
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item.active Home
      / /.col
    / /.row
  / /.container-fluid
/ /.content-header


/ Main content
%section.content
  .container-fluid
    .row
      .col-12.col-sm-6.col-lg-3
        .info-box
          %span.info-box-icon.bg-info.elevation-1
            %i.fa.fa-users
          .info-box-content
            %span.info-box-text Inscritos
            %span.info-box-number
              =@subscribes_all.count
          / /.info-box-content
        / /.info-box
      / ./col
      .col-12.col-sm-6.col-lg-3
        .info-box.mb-3
          %span.info-box-icon.bg-warning.elevation-1
            %i.fa.fa-pencil-square-o.text-white
          .info-box-content
            %span.info-box-text Provas feitas
            %span.info-box-number
              =@subscribes_attended.count
          / /.info-box-content
        / /.info-box
      / /.col
      .col-12.col-sm-6.col-lg-3
        .info-box.mb-3
          %span.info-box-icon.bg-danger.elevation-1
            %i.fa.fa-check-circle-o
          .info-box-content
            %span.info-box-text Alunos aprovados
            %span.info-box-number
              =@subscribes_aproved.count
          / /.info-box-content
        / /.info-box
      / /.col
      .col-12.col-sm-6.col-lg-3
        .info-box
          %span.info-box-icon.bg-success.elevation-1
            %i.fa.fa-archive
          .info-box-content
            %span.info-box-text Pré-Matrículas
            %span.info-box-number
              =@registrations.count
          / /.info-box-content
        / /.info-box
    .row
      .col-xs-12
        .card.card-primary.card-outline
          .card-header
            %h3.card-title
              Gráficos sobre os inscritos
          .row
            .col-md-8
              #myfirstchart
            .col-md-4
              #donutchart
            .col-xs-12
              %br
              %p.text-center
                %strong Objetivos
              .progress-group
                Inscritos
                %span.float-right
                  %b> #{@subscribes_all.count}
                  \/#{@subscribesLastYear.count}
                .progress.progress-md
                  .progress-bar.bg-primary{:style => "width: #{number_with_precision(@subscribes_all.count.to_f / @subscribesLastYear.count.to_f * 100.0, :precision => 0)}%"}
                  %strong.p-absolute.l-50.font-size-75
                    = number_with_precision(@subscribes_all.count.to_f / @subscribesLastYear.count.to_f * 100.0, :precision => 0)
                    = "%"
              .progress-group
                Pagamentos
                %span.float-right
                  %b> #{@subscribes_all.select{ |s| s.paid == true}.count}
                  \/#{@subscribesLastYearPaid.count}
                .progress.progress-md
                  .progress-bar.bg-success{:style => "width: #{number_with_precision(@subscribes_all.select{ |s| s.paid == true}.count.to_f / @subscribesLastYearPaid.count.to_f * 100.0, :precision => 0)}%"}
                  %strong.p-absolute.l-50.font-size-75
                    = number_with_precision(@subscribes_all.select{ |s| s.paid == true}.count.to_f / @subscribesLastYearPaid.count.to_f * 100.0, :precision => 0)
                    = "%"
              .progress-group
                Enem
                %span.float-right
                  %b> #{@subscribes_all.select{ |s| s.exam.exam_type_id == 3}.count}
                  \/#{@subscribesLastYearEnem.count}
                .progress.progress-md
                  .progress-bar.bg-warning{:style => "width: #{number_with_precision(@subscribes_all.select{ |s| s.exam.exam_type_id == 3}.count.to_f / @subscribesLastYearEnem.count.to_f * 100.0, :precision => 0)}%"}
                  %strong.p-absolute.l-50.font-size-75
                    =number_with_precision(@subscribes_all.select{ |s| s.exam.exam_type_id == 3}.count.to_f / @subscribesLastYearEnem.count.to_f * 100.0, :precision => 0)
                    = "%"
              .progress-group
                Pré-matrículas
                %span.float-right
                  %b> #{@registrations.count}
                  \/#{@lasts_registrations.count}
                .progress.progress-md
                  .progress-bar.bg-danger{:style => "width: #{number_with_precision(@registrations.count.to_f / @lasts_registrations.count.to_f * 100.0, :precision => 0)}%"}
                  %strong.p-absolute.l-50.font-size-75
                    =number_with_precision(@registrations.count.to_f / @lasts_registrations.count.to_f * 100.0, :precision => 0)
                    = "%"


    .row.w-100
      .col-md-8
        .card.card-primary.card-outline
          .card-header
            %h3.card-title
              Controle de Cursos

          %table.table.table-bordered.table-striped#classTable
            %thead
              %tr
                %th.col-md-4.name
                  Nome do Curso
                %th.col-md-2.paid_true
                  ENEM
                %th.col-md-2.paid_true
                  Pago
                %th.col-md-2.paid_false
                  Em Aberto
                %th.col-md-2.sum_all
                  Total
            %tbody
              -@courses.each do |course|
                %tr
                  %th.col-md-4.name
                    =course.first_option_class.name
                  %th.col-md-2.paid_true
                    =@subscribes_all.select{ |s| s.first_option_id == course.first_option_id && (s.exam.exam_type_id == 3 )}.count
                  %th.col-md-2.paid_true
                    =@subscribes_all.select{ |s| s.first_option_id == course.first_option_id && (s.paid == true)}.count
                  %th.col-md-2.paid_false
                    =@subscribes_all.select{ |s| s.first_option_id == course.first_option_id && (s.paid == false and s.exam.exam_type_id != 3)}.count
                  %th.col-md-2.sum_all
                    =@subscribes_all.select{ |s| s.first_option_id == course.first_option_id}.count
            / %tfoot
            /   %tr
            /     %th.col-md-4.name
            /       Total
            /     %th.col-md-2.paid_true
            /       =@subscribes_all.select{ |s| s.exam.exam_type_id == 3}.count
            /     %th.col-md-2.paid_true
            /       =@subscribes_all.select{ |s| s.paid == true}.count
            /     %th.col-md-2.paid_false
            /       =@subscribes_all.select{ |s| s.paid == false}.count
            /     %th.col-md-2.sum_all
            /       =@subscribes_all.count
      .col-md-4
        / Info Boxes Style 2
        .info-box.mb-3.bg-warning
          %span.info-box-icon
            %i.fa.fa-file
          .info-box-content
            %span.info-box-text Enem
            %span.info-box-number
              =@subscribes_all.select{ |s| s.exam.exam_type_id == 3}.count
          / /.info-box-content
        / /.info-box
        .info-box.mb-3.bg-success
          %span.info-box-icon
            %i.fa.fa-money
          .info-box-content
            %span.info-box-text Pagos
            %span.info-box-number
              =@subscribes_all.select{ |s| s.paid == true}.count
          / /.info-box-content
        / /.info-box
        .info-box.mb-3.bg-danger
          %span.info-box-icon
            %i.fa.fa-dollar
          .info-box-content
            %span.info-box-text Em Aberto
            %span.info-box-number
              =@subscribes_all.select{ |s| s.paid == false and s.exam.exam_type_id != 3}.count
          / /.info-box-content
        / /.info-box
        .info-box.mb-3.bg-info
          %span.info-box-icon
            %i.fa.fa-users
          .info-box-content
            %span.info-box-text Total
            %span.info-box-number
              =@subscribes_all.count
          / /.info-box-content
        / /.info-box