<%= form_for @user_session do |f| %>

  <div class="row login-form my-5">
    <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissable col-12">
        <i class="fa fa-ban"></i>
        <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
        <b>Alert!</b>
        Usuário e/ou senha inválidos.
      </div>
    <% end %>
    <p class="col-12 text-center my-5 text-muted font-weight-light">Faça seu login</p>
    <div class="form-group col-md-3 offset-md-3">
      <%= f.text_field :email, :placeholder => "E-mail", :class => "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.password_field :password, :placeholder => "Senha", :class => "form-control" %>
    </div>
    <div class="col-md-3"></div>
    <div class="text-center col-12 my-2">
      <small><%= link_to("Esqueci minha senha", new_password_reset_path(), :class => "pr-3 text-muted font-weight-light") %></small>
      <small><%= link_to("Esqueci meu e-mail", my_email_exams_path(), :class => "text-muted font-weight-light") %></small>
    </div>
    <div class="text-center col-12 my-2">
      <%= f.submit "Entrar", :class => "nav-subscribe-btn px-5 py-3 text-white" %>
    </div>
  </div>
  
<% end %>