.login-box
  .login-logo
    %a{:href => root_path}
      %b> FESB
  = render "form"
  -#.margin.text-center
  -#  %span Sign in using social networks
  -#  %br/
  -#  %button.btn.bg-light-blue.btn-circle
  -#    %i.fa.fa-facebook
  -#  %button.btn.bg-aqua.btn-circle
  -#    %i.fa.fa-twitter
  -#  %button.btn.bg-red.btn-circle
  -#    %i.fa.fa-google-plus
