!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name") 
    / <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "font-awesome.min.css"
    = stylesheet_link_tag "estilos.css" 
    = stylesheet_link_tag "custom.sato7.css" 
    = stylesheet_link_tag "jquery.fancybox.css" 
    = yield(:head)
  %body
    =render :file => "layouts/_header" 
    =yield 
    =render :file => "layouts/_footer" 
    / JavaScripts
    = javascript_include_tag :application 
    = javascript_include_tag "bootstrap.min"
    = javascript_include_tag "jquery.cycle2.min"
    = javascript_include_tag "jquery.mask"
    = javascript_include_tag "jquery-scrolltofixed-min"
    = javascript_include_tag "jquery.fancybox"
    = javascript_include_tag "applications"
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-25811568-16', 'auto');
      ga('send', 'pageview');
    = yield(:footer)