<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded p-0 site-navbar fixed-top">
  <div class="menu-content w-100">
  	<div class="container py-2">
  		<a href="/vestibular"><img class="vestibular-logo " src="/assets/exams/Vestibular-2019.png"></a>
  	</div>
    <div class="primary-menu py-4">
      <div class="container pr-2 hidden-lg-up">
      	<a class="navbar-brand logo" href="/vestibular"></a>
	    	<button class="navbar-toggler ml-5 float-right" type="button" data-toggle="collapse" data-target="#primary-menu" aria-controls="primary-menu" aria-expanded="false" aria-label="Toggle navigation">
	      	<span class="navbar-toggler-icon"></span>
	      </button>
      </div>
      <div class="container pt-3 pt-md-0">
        <div class="collapse navbar-collapse text-center align-items-center" id="primary-menu">
          <a class="navbar-brand logo hidden-md-down float-left" href="/vestibular"></a>
          <ul class="navbar-nav pl-lg-5 ml-lg-auto mr-lg-auto mt-2 mt-lg-0 font-weight-light">
            <li class="nav-item active px-2">
              <a class="nav-link" href="/vestibular/login">Login</a>
            </li>
            <li class="nav-item active borded-left-item px-2">
              <%=link_to("Editais", "/vestibular/editais", :class => "nav-link")%>
            </li>
            <li class="nav-item active borded-left-item px-2">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#Simulator">Simulador</a>
            </li>
            <li class="nav-item active borded-sides-item px-2">
              <a class="nav-link" href="/vestibular/informacoes">Informações</a>
            </li>
            <li class="nav-item active pl-3">
              <a class="nav-link px-3 nav-subscribe-btn pulse" href="/vagas-remanescentes">Vestibular Inverno</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>