<footer class="footer pt-5">
	<div class="container py-5">
		<div class="row text-center text-md-left">
			<div class="col-md-4 pt-4 text-white">
				<strong class="d-block">011 4035-7800</strong>
				<span class="font-weight-light">Avenida Francisco Samuel Lucchesi <br>Filho, 770 - Bairro da Penha.</span>
			</div>
			<div class="col-md-4 text-center">
				<img src="/assets/logo.png">
			</div>
			<div class="col-md-4 pt-4 text-md-right">
				<span class="text-white font-weight-light vem-ser-fesb"><strong># vem</strong>ser<strong>fesb</strong></span>
				<div class="row mt-1">
					<div class="col-md-6"></div>
					<div class="col-md-2 col-4">
						<a href="https://www.facebook.com/FESBoficial" target="_blank"><img src="/assets/lp/facebook.png"></a>
					</div>
					<div class="col-md-2 col-4">
						<a href="#" ><img src="/assets/lp/youtube.png"></a>
					</div>
					<div class="col-md-2 col-4">
						<a href="http://instagram.com/escolhafesb" target="_blank"><img src="/assets/lp/instagram.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid p-0 copyright-container text-center py-2 text-white font-weight-light">
		<span>© Copyright 2018 - Todos os direitos reservados.</span>
	</div>
</footer>