%footer#rodape.container-fluid
  .container.text-center
    %object#FlashID{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "90", :width => "728"}
      %param{:name => "movie", :value => "/Banner_novo.swf"}/
      %param{:name => "quality", :value => "high"}/
      %param{:name => "wmode", :value => "opaque"}/
      %param{:name => "swfversion", :value => "9.0.45.0"}/
      / This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you donâ€™t want users to see the prompt.
      %param{:name => "expressinstall", :value => "Scripts/expressInstall.swf"}/
      / Next object tag is for non-IE browsers. So hide it from IE using IECC.
      / [if !IE]>
      %object{:data => "/Banner_novo.swf", :height => "90", :type => "application/x-shockwave-flash", :width => "728"}
        / <![endif]
        %param{:name => "quality", :value => "high"}/
        %param{:name => "wmode", :value => "opaque"}/
        %param{:name => "swfversion", :value => "9.0.45.0"}/
        %param{:name => "expressinstall", :value => "Scripts/expressInstall.swf"}/
        / The browser displays the following alternative content for users with Flash Player 6.0 and older.
        %div
          %h4 Content on this page requires a newer version of Adobe Flash Player.
          %p
            %a{:href => "http://www.adobe.com/go/getflashplayer"}
              %img{:alt => "Get Adobe Flash player", :src => "http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"}/
        / [if !IE]>
      / <![endif]

    
  .container.menu-rodape
    - @class_categories.each do |class_category|
      -if class_category.id == 1 || class_category.id == 2 || class_category.id == 4
        .col-sm-3.col-xs-12
          %h2=class_category.name
          %ul
            - class_category.class_names.where("published = 1 and active = 1 and father_id is null").order("name ASC").each do |class_name|
              -if (class_name.published == true && class_name.active == true)
                %li
                  = link_to(class_name.name, class_name_path(class_name.url_slug)) 
          -if class_category.id == 2
            %h2=@category3.name
            %ul
              - @category3.class_names.where("published = 1 and active = 1 and father_id is null").order("name ASC").each do |class_name|
                -if (class_name.published == true && class_name.active == true)
                  %li
                    = link_to(class_name.name, class_name_path(class_name.url_slug)) 
          -if class_category.id == 4
            %h2 Canal do Aluno
            %ul
              -@type_warnings.each do |type_warning|
                - if type_warning.id != 7
                  %li
                    =link_to(type_warning.name, channel_student_path(type_warning.url_slug)) 
              
              
    .col-sm-3.col-xs-12
      %h2 Institucional
      %ul
        %li
          =link_to("Conheça a FESB", institutions_path())
        %li
          =link_to("Ação Social ", social_actions_path())  
        %li
          =link_to("Entre em contato", new_contact_path()) 
        %li
          =link_to("Editais", edicts_path())
      %h2 Convênios
      .row 
        %a{:href => "http://sisfiesportal.mec.gov.br", :target => "_blank"}
          %span.icon.fies FIES
        %a{:href => "http://www.capes.gov.br", :target => "_blank"}
          %span.icon.pibid PBID
        %a{:href => "http://www.braganca.sp.gov.br", :target => "_blank"}
          %span.icon.braganca Prefeitura de Bragança Paulista
        %a{:href => "http://escoladafamilia.fde.sp.gov.br/v2/default.html", :target => "_blank"}
          %span.icon.escolafamilia Programa Escola da Família
      %ul
        %li
          %a{:href => "http://www.ceesp.sp.gov.br", :target => "_blank"} Conselho Estadual de Educação
      %a.btn.btn-block.btn-azul{:href => "http://www.fesb.edu.br/moodle/"}
        %span.icon.ead
        EAD
        %span.clearfix
    .clearfix
  .container-fluid.maps
    %iframe{:frameborder => "0", :height => "290", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3674.120850154286!2d-46.526453363001814!3d-22.945776005342033!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x943b93d13ec41b56!2sFunda%C3%A7%C3%A3o+Municipal+de+Ensino+Superior+de+Bragan%C3%A7a+Paulista!5e0!3m2!1spt-BR!2sbr!4v1409357945371", :style => "border:0", :width => "100%"}
  .container-fluid.address
    %p FESB - Fundação Municipal de Ensino Superior de Bragança Paulista
    %address Avenida Francisco Samuel Lucchesi Filho, 770 - Penha - Bragança Paulista - CEP 12929-600 / Fone: (11) 4035-7800
  .container-fluid.copyrights
    .container
      .row
        .col-sm-8.text
          %p
            %span.logo FESB
            \&copy; FESB. Todos os direitos reservados. Desenvolvido por SATO7
        .col-sm-4
          %ul.midias
            //%li
            //  %a.icon.youtube{:href => "#"} Youtube
            %li
              %a.icon.facebook{:href => "https://www.facebook.com/FESBoficial"} Facebook
            %li
              %a.icon.instagram{:href => "http://instagram.com/escolhafesb"} Instagram
            //%li
            //  %a.icon.linkedin{:href => "#"} Linkedin
          .clearfix
