%section#footer
  .google-maps
    %iframe{:frameborder => "0", :width=>"100%", :height => "215", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src=>"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3670.111686927166!2d-46.9486365!3d-23.093007!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf2e64d98fbead%3A0x9f6f310b1c99aed7!2sRua+Silv%C3%A9rio+Finamore%2C+1215+-+Jardim+Vera+Cruz!5e0!3m2!1spt-BR!2s!4v1396360565797"}

  .content-center
    .menu-footer
      %ul
        %li.endereco
          %address
            #{t("footer.adress")}
            %br>/
            #{t("footer.zipCode")}
            %br>/
            #{t("footer.city")} / #{t("footer.state")}
        %li=link_to("mielle@miellebrinquedos.com.br", "mailto:mielle@miellebrinquedos.com.br")    
        %li #{t("footer.phone")}
      .clear
  #copyright
    =link_to("Desenvolvimento Sato7", "http://www.sato7.com.br/", :target => "_blank") 
