%header#topo
  .container-fluid.menu-topo
    .container
      %nav.navbar{:role => "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#menu-topo", "data-toggle" => "collapse", :type => "button"}
              %span
                %i.fa.fa-list
                Links
          #menu-topo.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                = link_to("Institucional",institutions_path)
              %li
                = link_to("Comissões",commissions_path)
              %li
                = link_to("Canal do aluno", channel_students_path)
              %li
                =link_to("Ex-Aluno", new_ex_aluno_path)
              %li
                =link_to("Ações sociais", social_actions_path)
              %li
                =link_to("Premiações", awards_path)
              %li
                =link_to("Contato", new_contact_path)
              %li
                =link_to("Trabalhe conosco", new_work_path)
              %li.portalEducacional
                =link_to(raw("<span class='icone'></span>"+"Portal Educacional"), "http://portal.fesb.edu.br/Corpore.Net/Login.aspx?DefaultAlias=CorporeRM", :target => "_blank")
              %li
                #search
                  = form_tag(search_homes_path, :method => :get, :id=> "search_form") do
                    %button.fa.fa-search{:for => "keywords"}
                    =text_field_tag 'search', nil, :id=>"keywords"
          / /.navbar-collapse
        / /.container-fluid
  .container-fluid.menu-principal-bg
    .container
      .row
        .logo.col-sm-2.col-xs-12
          =link_to("FESB", root_path())
        .col-sm-10.col-xs-12
          %nav.navbar{:role => "navigation"}
            .container-fluid
              .navbar-header
                %button.navbar-toggle{"data-target" => "#menu-principal", "data-toggle" => "collapse", :type => "button"}
                  %span
                    %i.fa.fa-list
                    Menu principal
              #menu-principal.collapse.navbar-collapse
                %ul.nav.navbar-nav
                  - @class_categories.each do |class_category|
                    %li
                      -if class_category.id == 2
                        =link_to(raw(class_category.name+"<span class='caret'></span>"), "http://www.workshop.fesb.br/", :target => "_blank")
                      -else
                        =link_to(raw(class_category.name+"<span class='caret'></span>"), class_category_path(class_category.url_slug()))
                      %ul
                        - class_category.class_names.where("published = 1 and active = 1 and father_id is null").order("name ASC").each do |class_name|
                          -if (class_name.published == true && class_name.active == true)
                            %li
                              = link_to(class_name.name, class_name_path(class_name.url_slug))
                        - if class_category.id == 4
                          %li


                  %li
                    = link_to("Biblioteca", libraries_path())
                  / - if (!@exams.empty? or @view_notes.count > 0)
                  %li
                    %a.vestibular{:href => "#{exams_path}"}
                      %span
                        Vestibular
                  %li
                    %a.vestibular{:href => "http://horas.fesb.br"}
                      %span
                        Portal de Certificados

              / /.navbar-collapse
            / /.container-fluid
