/ Brand Logo
%a.brand-link{:href => admin_root_path}
  %img.brand-image.img-circle.elevation-3.float-none.mr-0{:alt => "AdminLTE Logo", :src => "/assets/AdminLTELogo.png", :style => "opacity: .8"}/
  %strong.brand-text.font-weight-light DMIN FESB
/ Sidebar
.sidebar
  / Sidebar user panel (optional)
  .user-panel.mt-3.pb-3.mb-3.d-flex
    .image
      %img.img-circle.elevation-2{:alt => "User Image", :src => "/assets/avatar3.png"}/
    .info
      %a.d-block
        =t("greeting") + current_user.name
      =link_to("Sair", logout_path(), :class=>"glyphicon glyphicon-off")
  / Sidebar Menu
  %nav.mt-2
    %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
      /
        Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library
      - if (User.find(current_user.id).has_role? :administrator) || (User.find(current_user.id).has_role? :marketing)
        %li.nav-item.has-treeview
          %a.nav-link{:href => "#"}
            %i.nav-icon.fa.fa-dashboard
            %p
              Gerenciar Site
              %i.right.fa.fa-angle-left.right
          %ul.nav.nav-treeview
            - if User.find(current_user.id).has_role? :administrator
              %li.nav-item
                %a.nav-link{:href => "#{admin_users_path}"}
                  %i.fa.fa-circle-o.nav-icon
                  %p Usuários
            %li.nav-item
              %a.nav-link{:href => "#{admin_categories_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Categorias
            %li.nav-item
              %a.nav-link{:href => "#{admin_highlights_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Destaques
            %li.nav-item
              %a.nav-link{:href => "#{admin_recipes_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Receitas
            %li.nav-item
              %a.nav-link{:href => "#{admin_schedules_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Agenda
        %li.nav-item
          %a.nav-link{:href => "#{admin_departments_path}"}
            %i.fa.fa-building
            %p Departamentos
        %li.nav-item
          %a.nav-link{:href => "#{admin_contacts_path}"}
            %i.fa.fa-envelope
            %p Contatos
        %li.nav-item
          %a.nav-link{:href => "#{admin_ex_alunos_path}"}
            %i.fa.fa-envelope
            %p Ex-Alunos
        %li.nav-item
          %a.nav-link{:href => "#{admin_teachers_path}"}
            %i.fa.fa-group
            %p Professores
        %li.nav-item
          %a.nav-link{:href => "#{admin_works_path}"}
            %i.fa.fa-suitcase
            %p Trabalhe Conosco
        %li.nav-item.has-treeview
          %a.nav-link{:href => "#"}
            %i.fa.fa-tags
            %p
              Gerenciar Avisos
              %i.right.fa.fa-angle-left.right
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#{admin_warnings_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Avisos
            %li.nav-item
              %a.nav-link{:href => "#{admin_type_warnings_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Tipos de Avisos
        %li.nav-item
          %a.nav-link{:href => "#{admin_itinerant_exams_path}"}
            %i.fa.fa-building
            %p Cidades Itinerantes
        %li.nav-item.has-treeview
          %a.nav-link{:href => "#"}
            %i.fa.fa-flask
            %p
              Pesquisas
              %i.right.fa.fa-angle-left.right
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#{admin_scientific_initiations_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Iniciação Científica
            %li.nav-item
              %a.nav-link{:href => "#{admin_awards_path}"}
                %i.fa.fa-circle-o.nav-icon
                  %p Premiações
      - if (User.find(current_user.id).has_role? :administrator) || (User.find(current_user.id).has_role? :marketing)  || (User.find(current_user.id).has_role? :library)
        %li.nav-item.has-treeview
          %a.nav-link{:href => "#"}
            %i.fa.fa-flask
            %p
              Gerenciar Cursos
              %i.right.fa.fa-angle-left.right
          %ul.nav.nav-treeview
            - if (User.find(current_user.id).has_role? :administrator) || (User.find(current_user.id).has_role? :marketing)
              %li.nav-item
                %a.nav-link{:href => "#{admin_class_categories_path}"}
                  %i.fa.fa-circle-o.nav-icon
                  %p Modalidades de Cursos
            %li.nav-item
              %a.nav-link{:href => "#{admin_class_names_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Cursos
            - if (User.find(current_user.id).has_role? :administrator) || (User.find(current_user.id).has_role? :marketing)
              %li.nav-item
                %a.nav-link{:href => "#{admin_class_styles_path}"}
                  %i.fa.fa-circle-o.nav-icon
                  %p Área
        %li.nav-item.has-treeview
          %a.nav-link{:href => "#"}
            %i.fa.fa-tree
            %p
              Gerenciar Biblioteca
              %i.right.fa.fa-angle-left.right
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#{admin_category_path(9)}"}
                %i.fa.fa-circle-o.nav-icon
                %p Visualizar
            %li.nav-item
              %a.nav-link{:href => "#{edit_admin_category_path(9)}"}
                %i.fa.fa-circle-o.nav-icon
                %p Editar
            %li.nav-item
              %a.nav-link{:href => "#{admin_category_items_path(9)}"}
                %i.fa.fa-circle-o.nav-icon
                %p Itens
            %li.nav-item
              %a.nav-link{:href => "#{admin_category_items_path(10)}"}
                %i.fa.fa-circle-o.nav-icon
                %p
                  = LibrarieTabName.find(2).name
            %li.nav-item
              %a.nav-link{:href => "#{admin_category_items_path(12)}"}
                %i.fa.fa-circle-o.nav-icon
                %p
                  = LibrarieTabName.find(5).name
            %li.nav-item
              %a.nav-link{:href => "#{admin_sheets_path()}"}
                %i.fa.fa-circle-o.nav-icon
                %p
                  = LibrarieTabName.find(4).name
            %li.nav-item
              %a.nav-link{:href => "#{admin_category_items_path(13)}"}
                %i.fa.fa-circle-o.nav-icon
                %p
                  = LibrarieTabName.find(3).name
            %li.nav-item
              %a.nav-link{:href => "#{admin_category_items_path(14)}"}
                %i.fa.fa-circle-o.nav-icon
                %p
                  = LibrarieTabName.find(6).name
            %li.nav-item
              %a{:href => "#{admin_librarie_tab_names_path}"}
                %i.fa.fa-circle-o.nav-icon
                %p Abas da Biblioteca
        %li.nav-item
          %a.nav-link{:href => "#{admin_pre_subscribes_path}"}
            %i.fa.fa-mortar-board
            %p Pré-Matrículas Cursos
      - if (User.find(current_user.id).has_role? :administrator) || (User.find(current_user.id).has_role? :marketing) || (User.find(current_user.id).has_role? :management)
        %li.nav-item.treeview
          %a.nav-link{:href => "#"}
            %i.fa.fa-file-text-o
            %p
              Vestibular
              %i.right.fa.fa-angle-left.right
          %ul.nav.nav-treeview
            %li.nav-item
              %a.nav-link{:href => "#{admin_exams_path}"}
                %i.fa.fa-file-text-o
                %p Vestibulares
            / %li
            /   %a{:href => "/admin/subscribes/confirmeds"}
            /     %i.fa.fa-file-text-o
            /     %p Inscritos Confirmados
            / %li
            /   %a{:href => "/admin/subscribes/notconfirmeds"}
            /     %i.fa.fa-file-text-o
            /     %p Inscritos Não Confirmados
            %li.nav-item
              %a.nav-link{:href => "#{admin_enems_path}"}
                %i.fa.fa-file-text-o
                %p ENEM vestibular inverno
            %li.nav-item
              %a.nav-link{:href => "#{admin_redacaos_path}"}
                %i.fa.fa-file-text-o
                %p Vestibular Inverno
            %li.nav-item
              %a.nav-link{:href => "#{admin_subscribes_path}"}
                %i.fa.fa-file-text-o
                %p Inscritos

            %li.nav-item
              %a.nav-link{:href => "/admin/subscribes/simuladao"}
                %i.fa.fa-file-text-o
                %p Inscritos Simuladão

            %li.nav-item
              %a.nav-link{:href => "#{pne_subscribes_admin_subscribes_path}"}
                %i.fa.fa-file-text-o
                %p Inscritos PNE

            %li.nav-item
              %a.nav-link{:href => "#{socieconomic_report_admin_subscribes_path}"}
                %i.fa.fa-file-text-o
                %p Relatório Questionário

            %li.nav-item
              %a.nav-link{:href => "#{management_report_admin_subscribes_path}"}
                %i.fa.fa-file-text-o
                %p Relatório Gerencial Geral

            %li.nav-item
              %a.nav-link{:href => "#{management_porta_admin_subscribes_path}"}
                %i.fa.fa-file-text-o
                %p Criar Lista Porta de Sala

            %li.nav-item
              %a.nav-link{:href => "#{management_class_room_admin_subscribes_path}"}
                %i.fa.fa-file-text-o
                %p Lista Porta de Sala

            %li.nav-item
              %a.nav-link{:href => "#{management_presenca_admin_subscribes_path}"}
                %i.fa.fa-file-text-o
                %p Lista de Presença
            %li.nav-item
              %a.nav-link{:href => "#{admin_file_imports_path}"}
                %i.fa.fa-file-text-o
                %p Importação
            %li.nav-item
              %a.nav-link{:href => "#{admin_registrations_path}"}
                %i.fa.fa-file-text-o
                %p Cadastro de Pré Matricula
  / /.sidebar-menu
/ /.sidebar