<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded p-0 site-navbar fixed-top">
  <div class="menu-content w-100">
    <div class="link-menu-section">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#link-menu" aria-controls="link-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span><span>LINKS</span>
      </button>
      <a class="navbar-brand logo float-right hidden-lg-up mt-1" href="<%= root_path %>" style="
    background-size: 95%;
"></a>
      <div class="collapse navbar-collapse text-center align-items-center" id="link-menu">
        <div class="search-contact-div text-lg-right">
          <%= form_tag(search_homes_path, :method => :get, :id=> "search_form") do %>
            <!-- <button class="fa fa-search" for="keywords"></button> -->
            <%= text_field_tag 'search', nil, :id=>"keywords", :class => "nav-search-input text-center", :placeholder => "BUSCAR" %>
          <% end %>
        </div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link border-dotted-right" href="<%= institutions_path%>">INSTITUCIONAL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link border-dotted-right" href="<%= libraries_path %>">BIBLIOTECA</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link border-dotted-right" href="http://portal.fesb.edu.br/Corpore.Net/Login.aspx?DefaultAlias=CorporeRM" target="_blank">PORTAL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link border-dotted-right" href="http://www.fesb.edu.br/moodle/">EAD</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link border-dotted-right" href="http://horas.fesb.br" target="_blank">CERTIFICADOS</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link border-dotted-right" href="/tourvirtual">TOUR VIRTUAL</a>
          </li>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="/sae">SAE</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/channel_students">CANAL DO ALUNO</a>
          </li> -->
        </ul>
        <div class="social-icons">
          <a class="nav-link fa fa-facebook no-style-link text-white" href="https://www.facebook.com/FESBoficial" target="_blank"></a>
          <a class="nav-link fa fa-instagram no-style-link text-white" href="http://instagram.com/escolhafesb" target="_blank"></a>
          <!-- <a class="nav-link fa fa-youtube no-style-link text-white" href="#"></a> -->
        </div>
        <div class="search-contact-div contact-nav-button text-lg-left">
          <a class="nav-link ml-lg-5 no-style-link text-white" href="<%= new_contact_path %>">CONTATO</a>
        </div>
      </div>
    </div>
    <div class="primary-menu py-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-menu" aria-controls="primary-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span><span>MENU PRINCIPAL</span>
      </button>
      <div class="container">
        <div class="collapse navbar-collapse text-center align-items-center" id="primary-menu">
          <a class="navbar-brand logo hidden-md-down float-left ml-5" href="<%= root_path %>"></a>
          <ul class="navbar-nav ml-lg-auto mr-lg-auto mt-2 mt-lg-0 d-flex align-items-center">
            <li class="nav-item active borded-left-item px-2">
              <a class="nav-link" href="/class_categories/1-graduacao">GRADUAÇÃO</a>
            </li>
            <li class="nav-item active borded-left-item px-2">
              <a class="nav-link" href="/class_categories/2-pos-graduacao">PÓS GRADUAÇÃO</a>
            </li>
            <li class="nav-item active borded-left-item px-2">
              <a class="nav-link" href="/class_categories/3-extensao">EXTENSÃO</a>
            </li>
            <li class="nav-item active borded-left-item px-2">
              <a class="nav-link" href="/class_categories/4-cursos-tecnicos">TÉCNICO</a>
            </li>
            <li class="nav-item active borded-left-item px-2">
              <a class="nav-link" href="/channel_students">CANAL DO ALUNO</a>
            </li>
            <li class="nav-item active borded-sides-item px-2">
              <a class="nav-link text-uppercase" href="http://fesb.br/transfers" target="_blank">TRANSFERÊNCIA</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>