<footer class="footer">
  <div class="container px-5 pt-5">
    <div class="row pb-3">
      <div class="col-md-4 text-center mb-4 mb-sm-0">
        <div class="row">
          <div class="col-12">          
            <a href="<%= root_path %>" class="navbar-brand logo-footer float-md-right mr-0"></a>
          </div>        
        </div>
      </div>
      <div class="col-md-8 pt-sm-4 pt-md-0 text-center text-sm-left px-md-5">
        <div class="row">
          <div class="col-sm-4">
            <nav class="nav flex-column">
              <a class="nav-link text-white" href="<%= institutions_path%>">INSTITUCIONAL</a>
              <a class="nav-link text-white" href="<%= libraries_path %>">BIBLIOTECA</a>
              <a class="nav-link text-white" href="http://portal.fesb.edu.br/Corpore.Net/Login.aspx?DefaultAlias=CorporeRM" target="_blank">PORTAL</a>
              <a class="nav-link text-white" href="http://www.fesb.edu.br/moodle/">EAD</a>
              <a class="nav-link text-white" href="http://horas.fesb.br" target="_blank">CERTIFICADOS</a>
            </nav>
          </div>
          <div class="col-sm-4">
            <nav class="nav flex-column">
              <a class="nav-link text-white" href="/class_categories/1-graduacao">GRADUAÇÃO</a>
              <a class="nav-link text-white" href="/class_categories/2-pos-graduacao">PÓS GRADUAÇÃO</a>
              <a class="nav-link text-white" href="/class_categories/3-extensao">EXTENSÃO</a>
              <a class="nav-link text-white" href="/class_categories/4-cursos-tecnicos">TÉCNICO</a>
              <a class="nav-link text-white" href="<%= exams_path %>">VESTIBULAR</a>
            </nav>
          </div>
          <div class="col-sm-4">
            <nav class="nav flex-column">
              <a class="nav-link text-white" href="/channel_students/1-noticias">NOTÍCIAS</a>
              <a class="nav-link text-white" href="<%= social_actions_path%>">INTEGRAFESB</a>
              <!-- <a class="nav-link text-white" href="#">AGENDA</a> -->
              <a class="nav-link text-white" href="/channel_students">CANAL DO ALUNO</a>
              <a class="nav-link text-white" href="<%= new_contact_path %>">CONTATO</a>
              <a class="nav-link text-white" href="/institutions?editais=">EDITAIS</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row border-top-social-footer">
      <div class="social-icons footer-social-icons mr-auto ml-auto py-3">
        <a class="nav-link fa fa-facebook no-style-link text-white" href="https://www.facebook.com/FESBoficial" target="_blank"></a>
        <a class="nav-link fa fa-instagram no-style-link text-white" href="http://instagram.com/escolhafesb" target="_blank"></a>
        <a class="nav-link fa fa-youtube no-style-link text-white" href="#"></a>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="copyright-div text-center text-white p-2">
      <span class="font-small mr-2">Fone: (11) 4035 7800</span>
      <span class="font-small mr-2"> Endereço da Sede: Avenida Francisco Samuel Lucchesi Filho, 770 - Bairro da Penha.</span>
      <span class="font-small">© COPYRIGHT 2017 - TODOS OS DIREITOS RESERVADOS.</span>
    </div>
  </div>
</footer>