<nav class="navbar  navbar-inverse bg-faded p-0 site-navbar fixed-top">
  <div class="menu-content w-100">
    <div class="primary-menu py-3">
      <div class="container">
        <div class="navbar text-center align-items-center" id="primary-menu">
          <a class="navbar-brand logo" href="<%= root_path %>"></a>
        </div>
      </div>
    </div>
  </div>
</nav>