<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded p-0 site-navbar">
  <div class="menu-content w-100">
    <div class="primary-menu py-2">
      <div class="container pr-2 text-center">
      	<a class="navbar-brand logo" href="#!"></a>
      </div>
    </div>
  </div>
</nav>