!!!
%html
  %head
    %meta{:charset => "UTF-8"}
      %title
        = content_for?(:title) ? t("admin_site_name") + " - " + yield(:title) : t("admin_site_name")
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "font-awesome.min.css"
    = stylesheet_link_tag "ionicons.min.css"
    = stylesheet_link_tag "morris/morris.css"
    = stylesheet_link_tag "jvectormap/jquery-jvectormap-1.2.2.css"
    = stylesheet_link_tag "fullcalendar/fullcalendar.css"
    = stylesheet_link_tag "daterangepicker/daterangepicker-bs3.css"
    = stylesheet_link_tag "bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"
    = stylesheet_link_tag "adminLTE/adminlte.css"
    = stylesheet_link_tag "custom.sato7.css"
    = stylesheet_link_tag "print.css", :media => "print"
    = stylesheet_link_tag "select2/select2.min.css"
    %link{:href => "https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700", :rel => "stylesheet"}/

    = yield(:head)
  %body.hold-transition.sidebar-mini
    .wrapper
      / Navbar
      %nav.main-header.navbar.navbar-expand.bg-white.navbar-light.border-bottom.mb-0
        / Left navbar links
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{"data-widget" => "pushmenu", :href => "#"}
              %i.fa.fa-bars
          %li.nav-item.d-none.d-sm-inline-block
            %a.nav-link{:href =>  admin_root_path()} Home
      / Left side column. contains the logo and sidebar
      %aside.main-sidebar.sidebar-dark-primary.elevation-4
        =render :file => "layouts/_menu_admin.html.haml"
      / Right side column. Contains the navbar and content of the page
      .content-wrapper
        #sendloader
        #overlay
        =yield
        / Content Header (Page header)
        / /.content
      / /.right-side
    / ./wrapper
    / add new calendar event modal
    / jQuery include
    = javascript_include_tag "application"
    = javascript_include_tag "jquery-ui-1.10.3.min.js"
    = javascript_include_tag "bootstrap.min.js"
    = javascript_include_tag "raphael-min.js"
    = javascript_include_tag "plugins/morris/morris.min.js"
    = javascript_include_tag "plugins/sparkline/jquery.sparkline.min.js"
    = javascript_include_tag "plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"
    = javascript_include_tag "plugins/jvectormap/jquery-jvectormap-world-mill-en.js"
    = javascript_include_tag "plugins/fullcalendar/fullcalendar.min.js"
    = javascript_include_tag "plugins/jqueryKnob/jquery.knob.js"
    = javascript_include_tag "plugins/daterangepicker/daterangepicker.js"
    = javascript_include_tag "plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"
    = javascript_include_tag "plugins/iCheck/icheck.min.js"
    = javascript_include_tag "AdminLTE/adminlte.js"
    = javascript_include_tag "select2/select2.min.js"
    / Bootstrap
    = javascript_include_tag "AdminLTE/bootstrap/js/bootstrap.bundle.min.js"
    / OPTIONAL SCRIPTS
    = javascript_include_tag "AdminLTE/demo.js"
    / PAGE PLUGINS
    / SparkLine
    = javascript_include_tag "AdminLTE/sparkline/jquery.sparkline.min.js"
    / jVectorMap
    = javascript_include_tag "AdminLTE/jvectormap/jquery-jvectormap-1.2.2.min.js"
    = javascript_include_tag "AdminLTE/jvectormap/jquery-jvectormap-world-mill-en.js"
    / SlimScroll 1.3.0
    = javascript_include_tag "AdminLTE/slimScroll/jquery.slimscroll.min.js"
    / ChartJS 1.0.2
    = javascript_include_tag "AdminLTE/chartjs-old/Chart.min.js"
    / PAGE SCRIPTS
    / = javascript_include_tag "AdminLTE/pages/dashboard2.js"
    = javascript_include_tag "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"
    = javascript_include_tag "https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"
    = javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"
    = javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.12/sorting/date-eu.js"
    = tinymce_assets
    = yield(:footer)
