<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M3WJFX3');</script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1937705156524894'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=1937705156524894&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>
      <%= content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")  %>
    </title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    -->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "vendor/bootstrap.min.css" %>
    <%= stylesheet_link_tag "font-awesome.min.css" %>
    <%= stylesheet_link_tag "styles.min.css" %>
    <%= stylesheet_link_tag "vendor/sweetalert.css"%>
    <%= stylesheet_link_tag "vendor/slick.css" %>
    <%= stylesheet_link_tag "vendor/slick-theme.css" %>
    <%= stylesheet_link_tag "jquery.fancybox.css"  %>
    <%= stylesheet_link_tag "select2/select2.min.css"%>
    <%= yield(:head) %>
  </head>
  <body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3WJFX3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render :file => "layouts/_new_header"  %>
    <div id="sendloader"></div>
    <!-- <div id="overlay"></div> -->
    <%= yield  %>
    <%= render :file => "layouts/_new_footer"  %>
    <!-- JavaScripts
    -->
    <%= javascript_include_tag :application  %>
    <%= javascript_include_tag "//code.jquery.com/jquery-migrate-1.2.1.min.js" %>
    <%= javascript_include_tag "vendor/slick.js" %>
    <%= javascript_include_tag "vendor/tether.min" %>
    <%= javascript_include_tag "vendor/bootstrap.js" %>
    <%= javascript_include_tag "jquery.mask" %>
    <%= javascript_include_tag "jquery-scrolltofixed-min" %>
    <%= javascript_include_tag "jquery.fancybox" %>
    <%= javascript_include_tag "applications" %>
    <%= javascript_include_tag "vendor/sweetalert.min.js" %>
    <%= javascript_include_tag "select2/select2.min.js"%>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"%>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"%>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"%>
    <%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"%>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25811568-16"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-25811568-16');
    </script>
    <%= yield(:footer) %>
  </body>
</html>
