<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>   
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-25811568-16', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 974711487 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-974711487"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-974711487'); </script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1937705156524894'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=1937705156524894&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>
      Vestibular FESB
    </title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    -->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "vendor/bootstrap.min.css" %>
    <%= stylesheet_link_tag "font-awesome.min.css" %>
    <%= stylesheet_link_tag "exams.css" %>
    <%= stylesheet_link_tag "vendor/sweetalert.css"%>
    <%= stylesheet_link_tag "select2/select2.min.css"%>
    <%= stylesheet_link_tag "bootstrap-datepicker33.min.css"%>
    <%= yield(:head) %>

  </head>
  <body class="overflowhiden mt-exams">

    <%= render :file => "layouts/_exam_header"  %>

    <div id="sendloader"></div>
    <!-- Modal -->
    <div class="modal fade" id="Simulator" role="dialog" aria-labelledby="SimulatorLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-muted" id="SimulatorLabel">Simulação de valores</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% @class_categories = ClassName.find(:all, :conditions=>["published = true and active = true and class_category_id = 1 and father_id is null"], :order => :name).collect {|c| [c.name, c.id]}%>
            <%= render 'exams/simulador'%>
            <small>*financiamento em número limitado.</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <%= yield  %>

    <%= render :file => "layouts/_exam_footer"  %>
    <!-- JavaScripts-->
    <%= javascript_include_tag :application  %>
    <%= javascript_include_tag "//code.jquery.com/jquery-migrate-1.2.1.min.js" %>
    <%= javascript_include_tag "vendor/slick.js" %>
    <%= javascript_include_tag "vendor/tether.min" %>
    <%= javascript_include_tag "vendor/bootstrap.js" %>
    <%= javascript_include_tag "jquery.mask" %>    
    <%= javascript_include_tag "jquery.fancybox" %>
    <%= javascript_include_tag "jquery-scrolltofixed-min" %>
    <%= javascript_include_tag "applications" %>
    <%= javascript_include_tag "vendor/sweetalert.min.js" %>
    <%= javascript_include_tag "select2/select2.min.js"%>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"%>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"%>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"%>
    <%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"%>
    <%= javascript_include_tag "bootstrap-datepicker3.min.js"%>
    <%= javascript_include_tag "locales/bootstrap-datepicker.pt-BR.min"%>
    <%= javascript_include_tag "vendor/bootstrap-filestyle.js"%>
    <%= tinymce_assets%>
    <%= yield(:footer) %>

  </body>
</html>
