!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %meta{:charset => "UTF-8"}/
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
      %title
        = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
      / <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
      = stylesheet_link_tag "vendor/bootstrap.css"
      = stylesheet_link_tag "font-awesome.min.css"
      = stylesheet_link_tag "styles.scss"
      = yield(:head)
  %body.gray1-background
    =render :file => "layouts/_simulated_header.html"
    =yield
    / JavaScripts
    = javascript_include_tag :application
    = javascript_include_tag "//code.jquery.com/jquery-migrate-1.2.1.min.js"
    = javascript_include_tag "jquery.mask"
    / = javascript_include_tag "vendor/bootstrap.js"
    = yield(:footer)
