!!!
%html
  %head
    %meta{:charset => "UTF-8"}
      %title FESB | Log in
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}

        / bootstrap 3.0.2
        = stylesheet_link_tag "bootstrap.min.css"
        / font Awesome
        = stylesheet_link_tag "font-awesome.min.css"
        / Theme style
        = stylesheet_link_tag "adminLTE/adminlte.css"
        = stylesheet_link_tag "custom.sato7.css"
        %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
        / Ionicons
        %link{:href => "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet"}/
        %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700", :rel => "stylesheet"}/
        / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        / WARNING: Respond.js doesn't work if you view the page via file://
        /[if lt IE 9]
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body.hold-transition.login-page

    = yield
    / jQuery 2.0.2
    /%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    = javascript_include_tag "application"
    / Bootstrap
    = javascript_include_tag "bootstrap.min.js"