!!!
%html{:lang => "en"}
  %head
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M3WJFX3');</script>
    <!-- End Google Tag Manager -->
    %meta{:charset => "UTF-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    / <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "font-awesome.min.css"
    = stylesheet_link_tag "estilos.css"
    = stylesheet_link_tag "custom.sato7.css"
    = stylesheet_link_tag "jquery.fancybox.css"
    = yield(:head)
  %body
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3WJFX3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    =render :file => "layouts/_header"
    =yield
    =render :file => "layouts/_footer"
    / JavaScripts
    = javascript_include_tag :application
    = javascript_include_tag "bootstrap.min"
    = javascript_include_tag "jquery.cycle2.min"
    = javascript_include_tag "jquery.mask"
    = javascript_include_tag "jquery-scrolltofixed-min"
    = javascript_include_tag "jquery.fancybox"
    = javascript_include_tag "applications"
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-25811568-16', 'auto');
      ga('send', 'pageview');
    = yield(:footer)