!!!
%html{:lang => "en"}
  %head
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M3WJFX3');</script>
    <!-- End Google Tag Manager -->
    %meta{:charset => "UTF-8"}
      %title
        = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name") 
      / <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
      = csrf_meta_tag
      = stylesheet_link_tag "bootstrap.min.css"
      = stylesheet_link_tag "font-awesome.min.css"
      = stylesheet_link_tag "estilos.min.css" 
      = yield(:head)
  %body
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3WJFX3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    %header#topo
      .container-fluid.menu-topo
        .container
          %nav.navbar{:role => "navigation"}
            .container-fluid
              .navbar-header
                %button.navbar-toggle{"data-target" => "#menu-topo", "data-toggle" => "collapse", :type => "button"}
                  %span
                    %i.fa.fa-list
                    Links
              #menu-topo.collapse.navbar-collapse
                %ul.nav.navbar-nav
                  %li
                    %a{:href => "#"} Institucional
                  %li
                    %a{:href => "#"} Comissões
                  %li
                    %a{:href => "#"} Canal do aluno
                  %li
                    %a{:href => "#"} Acões sociais
                  %li
                    %a{:href => "#"} Pesquisas
                  %li
                    %a{:href => "#"} Contato
                  %li
                    %a{:href => "#"} Trabalhe conosco
                  %li
                    %a{:href => "#"} Institucional
                  %li.portalEducacional
                    %a{:href => "#"}
                      %span.icone
                      Portal Educacional
              / /.navbar-collapse
            / /.container-fluid
      .container-fluid.menu-principal-bg
        .container
          .row
            .logo.col-sm-2.col-xs-12
              %a{:href => "#"} FESB
            .col-sm-10.col-xs-12
              %nav.navbar{:role => "navigation"}
                .container-fluid
                  .navbar-header
                    %button.navbar-toggle{"data-target" => "#menu-principal", "data-toggle" => "collapse", :type => "button"}
                      %span
                        %i.fa.fa-list
                        Menu principal
                  #menu-principal.collapse.navbar-collapse
                    %ul.nav.navbar-nav
                      %li
                        %a{:href => "#"}
                          Graduação
                          %span.caret
                        %ul
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                      %li
                        %a{:href => "#"}
                          Pós-Graduação
                          %span.caret
                        %ul
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                      %li
                        %a{:href => "#"}
                          Extensão
                          %span.caret
                        %ul
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                      %li
                        %a{:href => "#"}
                          Cursos Técnicos
                          %span.caret
                        %ul
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                      %li
                        %a{:href => "#"}
                          Biblioteca
                          %span.caret
                        %ul
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                          %li
                            %a{:href => "#"} Submenu
                      %li
                        %a.vestibular{:href => "#"} Vestibular 2015
                  / /.navbar-collapse
                / /.container-fluid
    .container-fluid.slide-container
      #slide.cycle-slideshow
        .cycle-pager.hidden-xs
        %img.img-responsive{:alt => "", :src => "/img/CanaldoAluno.jpg"}
          %img.img-responsive{:alt => "", :src => "/img/HVET.jpg"}
            %img.img-responsive{:alt => "", :src => "/img/CanaldoAluno.jpg"}
              %img.img-responsive{:alt => "", :src => "/img/HVET.jpg"}
      .clearfix
    %section#home-content
      .container
        .row
          .canaldoaluno.col-sm-8.col-xs-12
            .title.text-center
              %h2 Canal do Aluno
            %article
              %img.pull-left{:alt => "", :src => "/img/article.jpg"}
                %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"} ...leia mais
            %article
              %img.pull-left{:alt => "", :src => "/img/article.jpg"}
                %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"} ...leia mais
            %article
              %img.pull-left{:alt => "", :src => "/img/article.jpg"}
                %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  %a{:href => "#"} ...leia mais
            .clearfix
            .line
          .col-sm-4.col-xs-12
            .title.text-center
              %h2 Agenda
            %ul.agendaLinks
              %li
                %a{:href => "#"}
                  %span.title
                    .date
                      %span.dia 31/07
                      %span.hora 08:00
                    %h3 Início das Aulas
                    %p Lorem ipsum dolor sit amet, consectetur
                .clearfix
              %li
                %a{:href => "#"}
                  %span.title
                    .date
                      %span.dia 31/07
                      %span.hora 08:00
                    %h3 Início das Aulas
                    %p Lorem ipsum dolor sit amet, consectetur
                .clearfix
              %li
                %a{:href => "#"}
                  %span.title
                    .date
                      %span.dia 31/07
                      %span.hora 08:00
                    %h3 Início das Aulas
                    %p Lorem ipsum dolor sit amet, consectetur
                .clearfix
              %li
                %a{:href => "#"}
                  %span.title
                    .date
                      %span.dia 31/07
                      %span.hora 08:00
                    %h3 Início das Aulas
                    %p Lorem ipsum dolor sit amet, consectetur
                .clearfix
              %li
                %a{:href => "#"}
                  %span.title
                    .date
                      %span.dia 31/07
                      %span.hora 08:00
                    %h3 Início das Aulas
                    %p Lorem ipsum dolor sit amet, consectetur
                .clearfix
            .clearfix
            .line
      .container-fluid.banner.text-center
        %img.img-responsive{:alt => "", :src => "/img/banner-nafe.png"}
      .container.itens
        .col-sm-4.col-xs-12
          %h2 Conheça o Campus
          %img.img-responsive{:alt => "", :src => "/img/img-1.jpg"}
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsa modi provident, quaerat, veritatis dolor quos.
        .col-sm-4.col-xs-12
          %h2
            HVET
            %br Hospital Veterinário da FESB
          %img.img-responsive{:alt => "", :src => "/img/img-2.jpg"}
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsa modi provident, quaerat, veritatis dolor quos.
        .col-sm-4.col-xs-12
          %h2 Convênios
          %img.img-responsive{:alt => "", :src => "/img/img-3.jpg"}
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsa modi provident, quaerat, veritatis dolor quos.
    %footer#rodape.container-fluid
      .container.menu-rodape
        .col-sm-3.col-xs-12
          %h2 Graduação
          %ul
            %li
              %a{:href => "#"} Ciências Biológicas
            %li
              %a{:href => "#"} Educação Artística
            %li
              %a{:href => "#"} Educação Física Bacharelado
            %li
              %a{:href => "#"} Educação Física Licenciatura
            %li
              %a{:href => "#"} Geografia
            %li
              %a{:href => "#"} História
            %li
              %a{:href => "#"} Letras
            %li
              %a{:href => "#"} Matemática
            %li
              %a{:href => "#"} Medicina Veterinária
            %li
              %a{:href => "#"} Nutrição
            %li
              %a{:href => "#"} Pedagocia
            %li
              %a{:href => "#"} Química
        .col-sm-3.col-xs-12
          %h2 Pós-Graduação
          %ul
            %li
              %a{:href => "#"} Ecologia e Educação Ambiental
            %li
              %a{:href => "#"} Educação Inclusiva
            %li
              %a{:href => "#"} Histórica Sócio-Cultural
            %li
              %a{:href => "#"} Musculação e Personal Training
            %li
              %a{:href => "#"} História
            %li
              %a{:href => "#"} Letras
            %li
              %a{:href => "#"} Matemática
            %li
              %a{:href => "#"} Medicina Veterinária
            %li
              %a{:href => "#"} Nutrição Clínica
            %li
              %a{:href => "#"} Pedagocia
            %li
              %a{:href => "#"} Teoria Literária e Ensino de Literatura
          %h2 Extensão
          %ul
            %li
              %a{:href => "#"} Sensibilização Musical e Educação Musical II
            %li
              %a{:href => "#"} Fundamentos e Práticas em Educação Especial e inclusiva I
        .col-sm-3.col-xs-12
          %h2 Cursos Técnicos
          %ul
            %li
              %a{:href => "#"} Ciências Biológicas
            %li
              %a{:href => "#"} Educação Artística
            %li
              %a{:href => "#"} Educação Física Bacharelado
            %li
              %a{:href => "#"} Educação Física Licenciatura
            %li
              %a{:href => "#"} Geografia
            %li
              %a{:href => "#"} História
            %li
              %a{:href => "#"} Letras
            %li
              %a{:href => "#"} Matemática
            %li
              %a{:href => "#"} Medicina Veterinária
            %li
              %a{:href => "#"} Nutrição
            %li
              %a{:href => "#"} Pedagocia
            %li
              %a{:href => "#"} Química
          %h2 Canal do Aluno
          %ul
            %li
              %a{:href => "#"} Notícias
            %li
              %a{:href => "#"} Eventos
            %li
              %a{:href => "#"} Galeria de Fotos
            %li
              %a{:href => "#"} Premiações
            %li
              %a{:href => "#"} Ponto de encontro
        .col-sm-3.col-xs-12
          %h2 Institucional
          %ul
            %li
              %a{:href => "#"} Conheça a FESB
            %li
              %a{:href => "#"} Ação Social
            %li
              %a{:href => "#"} Parceiros
            %li
              %a{:href => "#"} Entre em contato
          %h2 Convênios
          .row
            %span.icon.fies FIES
            %span.icon.pibid PBID
            %span.icon.braganca Prefeitura de Bragança Paulista
            %span.icon.escolafamilia Programa Escola da Família
          %ul
            %li
              %a{:href => "#"} Conselho Estadual de Educação
          %a.btn.btn-block.btn-azul{:href => "#"}
            %span.icon.ead
            EAD
            %span.clearfix
        .clearfix
      .container-fluid.maps
      .container-fluid.address
        %p FESB - Fundação Municipal de Ensino Superior de Bragança Paulista
        %address Avenida Francisco Samuel Lucchesi Filho, 770 - Penha - Bragança Paulista - CEP 12929-600 / Fone: (11) 4035-7800
      .container-fluid.copyrights
        .container
          .row
            .col-sm-8.text
              %p
                %span.logo FESB
                \&copy; FESB. Todos os direitos reservados. Desenvolvido por SATO7
            .col-sm-4
              %ul.midias
                %li
                  %a.icon.youtube{:href => "#"} Youtube
                %li
                  %a.icon.facebook{:href => "#"} Facebook
                %li
                  %a.icon.instagram{:href => "#"} Instagram
                %li
                  %a.icon.linkedin{:href => "#"} Linkedin
              .clearfix
    %script{:src => "/js/jquery.js", :type => "text/javascript"}
    %script{:src => "/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.cycle2.min.js", :type => "text/javascript"}
    %script{:src => "/js/less-1.7.0.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-scrolltofixed-min.js", :type => "text/javascript"}
    %script{:src => "/js/application.js", :type => "text/javascript"}
    :javascript
      less.watch();