<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>
      <%= content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")  %>
    </title>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1937705156524894'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=1937705156524894&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    
    <!-- <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    -->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "transfer.css" %>
    <%= stylesheet_link_tag "animated.css" %>
    <%= stylesheet_link_tag "vendor/bootstrap.min.css" %>
    <%= stylesheet_link_tag "font-awesome.min.css" %>
    <%= stylesheet_link_tag "select2/select2.min.css"%>
    <%= yield(:head) %>
  </head>
  <body>
    <%= yield  %>
    <!-- JavaScripts-->
    <%= javascript_include_tag :application  %>
    <%= javascript_include_tag "//code.jquery.com/jquery-migrate-1.2.1.min.js" %>
    <%= javascript_include_tag "vendor/tether.min" %>
    <%= javascript_include_tag "vendor/bootstrap.js" %>
    <%= javascript_include_tag "jquery.mask" %>
    <%= javascript_include_tag "applications" %>
    <%= javascript_include_tag "select2/select2.min.js"%>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"%>
    
    <%= yield(:footer) %>
  </body>
</html>
