-content_for :footer do
  = tinymce

= form_for [:admin, @award] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.
  .box-body
    .form-group
      = f.label :name, "Nome"
       
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label :description, "Descrição"
       
      = f.text_area :description, :class => "form-control tinymce"
    .form-group
      = f.label :published, "Publicado"
       
      = f.check_box :published
    .form-group
      =f.label :award_image, "Imagem"
      
      =f.file_field :award_image, :class => "form-control"
  
    = f.submit "Salvar", :class =>"btn btn-primary" 
