%section.content-header
  %h1
    Premiações
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Premiações
  
%section.content
  .col-xs-12    
    .box
      .box-header
        %h3.box-title
          Editar
          = @award.name
          
      .box-body   

        = render 'form'
      .box-footer
        %p
          = link_to "Visualizar todos", admin_awards_path, :class => "btn btn-default"
          = link_to "Exibir", [:admin, @award], :class => "btn btn-default"
          = link_to "Excluir", [:admin, @award], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"

