%section.content-header
  %h1
    Premiações
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Premiações
  
%section.content
  .col-xs-12
    %p= link_to "Nova Premiação", new_admin_award_path, :class => "btn btn-primary" 
    
    .box
      .box-header
        %h3.box-title Premiações
      .box-body.table-responsive.no-padding

        %table.table.table-hover
          %tr
            %th Image
            %th Nome
            %th Publicado
            %th Ações
          - for award in @awards
            %tr
              %td= image_tag(award.award_image.url(:thumb))
              %td= award.name
              %td= show_boolean(award.published)
              %td
                = link_to "Visualizar", [:admin, award], :class => "btn btn-default"
                = link_to "Editar", edit_admin_award_path(award), :class => "btn btn-default"
                = link_to "Excluir", [:admin, award], :confirm => 'Deseja Excluir?', :method => :delete, :class => "btn btn-default"
                = link_to 'Galeria de Imagens', admin_award_award_galleries_path(award), :class => "btn btn-primary"
             
%section.content
  .col-xs-12
    %p= link_to "Nova Premiação", new_admin_award_path, :class => "btn btn-primary" 

