%section.content-header
  %h1
    Premiações
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Premiações
  
%section.content
  .col-xs-12    
    .box
      .box-header
        %h3.box-title Nova Premiação
      .box-body
        = render 'form'

      %p.box-footer= link_to "Visualizar Todos", admin_awards_path, :class => "btn btn-default"
