%section.content-header
  %h1
    Premiações
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Premiações
  
%section.content
  .col-xs-12    
    .box
      .box-header
        %h3.box-title= @award.name
      .box-body         
        %p
          %strong Description:
          = raw(@award.description)
        %p
          %strong Published:
          = show_boolean(@award.published)
        %p
          %strong Imagem:
          = image_tag(@award.award_image.url)
      .box-footer 
        %p
          = link_to "Editar", edit_admin_award_path(@award), :class => "btn btn-default"
          = link_to "Visualizar Todos", admin_awards_path, :class => "btn btn-default"
          = link_to "Excluir", [:admin, @award], :confirm => 'Está certo disto?', :method => :delete, :class => "btn btn-default"
          %br 
          %br
          = link_to 'Galeria de Imagens', admin_award_award_galleries_path(@award), :class => "btn btn-primary"
