.exam-section.my-5.py-5
  .container.text-center.mt-2
    %h1= "Parabéns #{@enem.name}!"
    %h4 Sua nota foi aprovada! Confira seu e-mail com a documentação necessária para efetivação da matrícula! ;)